[2022-07-17 13:53] ggallon opened #5455 "Dead codes to Action Export"
Hi,

The actionExportWithDarkMode function is never used in the code base, nor exported.

https://github.com/excalidraw/excalidraw/blob/a7153d9d1d550f71bd8b1218f6e8245f043bc539/src/actions/actionExport.tsx#L260-L287

https://github.com/excalidraw/excalidraw/blob/a7153d9d1d550f71bd8b1218f6e8245f043bc539/src/actions/index.ts#L35-L41

Does it have any use?

[2022-07-17 14:31] ggallon commented on #5455
Another one that is not used, nor exported: `actionChangeExportScale`

https://github.com/excalidraw/excalidraw/blob/a7153d9d1d550f71bd8b1218f6e8245f043bc539/src/actions/actionExport.tsx#L41-L88

https://github.com/excalidraw/excalidraw/blob/a7153d9d1d550f71bd8b1218f6e8245f043bc539/src/actions/index.ts#L35-L41

[2022-07-17 14:54] #5455 closed

[2022-07-17 22:33] MxMossy opened #5457 "Feature Request: Line tool without curves for creating polygons"
Currently the line tool adds a curve to move from point to point but I think it would be nice to have the option to have just straight lines to create arbitrary filled polygons like in most CAD software. The shape on the left is created with the line tool but the shape on the right can only be made with the square tool.
![image](https://user-images.githubusercontent.com/11238512/179426844-38c657c9

[2022-07-18 01:10] Zhomart opened #5458 "Right sidebar (Excalidraw Library) doesn't scroll vertically"
Tested on `Google Chrome Version 103.0.5060.114 (Official Build) (arm64)`.

Screen capture
[excalidraw-sidebar-does-not-scroll.webm](https://user-images.githubusercontent.com/830536/179432660-d2cd1c02-bbf1-4c99-80cc-9954048987cb.webm)

[2022-07-18 09:09] #5458 closed

[2022-07-18 10:31] javiavid opened #5460 "Time based grouping option"
I would like to be able to use excalidraw to write some ideas with the pencil and then move or organize them.
The problem with writing them in pencil instead of with a keyboard is that you have to select each drawn word or idea and group it so that it is easy to move it later.

It would be interesting to have a button or option that is easy to activate/deactivate in the interface so that when some

[2022-07-18 16:39] DanielJGeiger commented on #5457
@MxMossy You can achieve this currently by setting "Edges" to be "Sharp" instead of "Round".  (As a side note, my PR #5311 lets you type the formulas in your second screenshot as Latex.)

@dwelle @ad1992 Making this choosable by default would be another use-case for the `ExcalidrawElement` subtype system I use to implement the MathJax plugin in the `@excalidraw/plugins` package I proposed.

[2022-07-18 17:18] DanielJGeiger opened #5461 "[Discussion Space] Support LaTeX and AsciiMath via MathJax on excalidraw.com"
Even #5311 is starting to get cluttered with Vercel deployments left over after periodic force-pushes.  So, I'm opening this issue as a tidier place for discussion related to MathJax support in Excalidraw.

For those who have requested LaTeX support in Excalidraw, the plan is for that to go in `@excalidraw/plugins` once we create that package.  (That will take a bit of time.)

@baptiste @jcezarms

[2022-07-18 17:27] MxMossy commented on #5457
Oh I completely missed this! Thanks, will close this issue.

[2022-07-18 17:27] #5457 closed

[2022-07-19 01:24] 7flash opened #5462 "SDK Library"
Allow external tools to create and edit .excalidraw documents

[2022-07-19 13:44] #5418 closed

[2022-07-19 18:00] albertobissacco opened #5466 "Feature Request: start drawing by pressing a key/button"
drawing by clicking and drag with the trackpad of a laptop it's a little bit uncomfortable.
Would be easier if i start drawing by keep pressing, for example, <kbd>ctrl</kbd> and draw with more precision with the trackpad the line i want and when i finish i just release the key.

[2022-07-21 06:26] ad1992 commented on #5466
@albertobissacco we have shortcut for each drawing tool, did you try with that ?

[2022-07-21 07:15] riekusr commented on #3660
Would also love to self-host this. Does that also means we get the ability to save to folders (online)?

[2022-07-21 08:44] amdkam commented on #4988
Update:
In my case it's caused by the Windows Ink setting in the Wacom Tablet Properties. I don't use windows ink by default, but had to turn it on a while back, forgot about it, and tried excalidraw again, where to my amazement everything worked as it should. I switched off the 'use Windows Ink' setting and it froze again after 1 action. It still puzzles me why this is firefox specific and both e

[2022-07-21 12:34] #3732 closed

[2022-07-23 15:45] with-heart commented on #5431
@LePenseur13 Since this functionality is driven by finger taps on the Pencil itself and not taps in the browser, I don't think this can be implemented at the current time.

The only real information I could find related to implementing double taps is the official Apple docs [Handling double taps from Apple Pencil](https://developer.apple.com/documentation/uikit/pencil_interactions/handling_double_

[2022-07-23 15:49] with-heart commented on #4988
Nice catch! I don't have a way to test this myself but I see a number of similar issues reported by Firefox users on reddit and found this Firefox bug that seems to be related: https://bugzilla.mozilla.org/show_bug.cgi?id=1699824

Appears this may not be an Excalidraw issue.

[2022-07-24 09:09] dwelle commented on #5438
I'm also getting a lot of false positives when randomly changing viewport dimensions, though mostly in dev. But still.

![image](https://user-images.githubusercontent.com/5153846/180640284-77a37e83-65a0-4bb9-b85d-fb2820bb54b3.png)

[2022-07-25 12:54] d0verenny commented on #3660
Still no documentation... Can somebody explain how to run Docker and Docker-Room to make them work for collaboration?

[2022-07-26 02:09] Servinjesus1 opened #5484 "[FR] Identical Drag/Click Behavior (straight lines)"
# Match Behavior Across Drag and By-Click Modes of Drawing

I am a by-click drawer, meaning when I want to place a graphical object (be it line, circle, et cetera), I click once at the starting point (starting vertex, circle center), then again at drawing end. Excalidraw tries to offer an optimized multi-function approach to this: whereas most tools are drag-only, one can drag or by-click place li

[2022-07-26 02:11] Servinjesus1 commented on #5255
@DaSh-More This does not seem to be a feature yet. I have added a Feature Request (FR) that includes solving this issue. If adding this feature would solve your issue, feel free to mark your issue resolved.

[2022-07-26 11:02] ad1992 commented on #5163
fixed via https://github.com/excalidraw/excalidraw/pull/5468 so it should work now. Please reopen if it still persists.

[2022-07-26 11:06] Rabjerg commented on #5163
This issue is in regards to building with the supplied Dockerfile and not the image supplied in any registry.

Said Dockerfile is still unchanged and reference node v.14
https://github.com/excalidraw/excalidraw/blob/2b049b4a65bd498fbb1f23bbc9715261a43626f2/Dockerfile#L1

[2022-07-26 12:00] ad1992 commented on #4925
closing this via https://github.com/excalidraw/excalidraw/pull/5468, the docker build is fixed and published.
For tagging we can have a separate issue which is already taken care by the above PR.

[2022-07-26 12:00] #4925 closed

[2022-07-26 12:09] ad1992 commented on #5163
Oops closed the wrong issue by mistake :/

[2022-07-26 13:10] dwelle commented on #5484
Interesting. What should happen when you on the 2nd click, finish the shape on `pointerup` (mouse up)? Whereas while hold-dragging it'd allow you to change the size still?

[2022-07-26 13:14] dwelle commented on #5255
We should fix/implement these cases specifically:

- holding shift when creating multi-point lines
- holding shift when editing a single point of a line (multi-point or otherwise) when in the line editor
- holding shift while adding a new point in the line editor (via holding option/alt)

Can be done in a single PR or split into multiple.

[2022-07-26 14:31] sojusnik commented on #5255
BTW, this happens not only with the line tool, but with the arrow tool as well.

[2022-07-26 15:10] 7flash opened #5488 "prebuild fails (missing service-worker)"
[code]

[2022-07-26 16:17] annyanich opened #5489 "feat: Show connection status in the UI if the websocket connection fails"
I have noticed that there are no status indicators in the GUI to indicate when the websocket connection to the collab server has an error.  This is confusing sometimes.

**Steps to reproduce:**
1. Open excalidraw.com
2. Start collaboration
3. Open the link in another tab/browser
4. Disconnect your wifi

**Expectation:** I would expect to see some indication somewhere in the UI that the websocket c

[2022-07-26 17:58] dwelle commented on #5255
Yes, arrow/line is basically the same thing so it'll fix both.

[2022-07-27 06:31] tysb7 opened #5491 "docker excalidraw/excalidraw cannot upload own asset packs"
docker excalidraw/excalidraw cannot upload own asset packs

[2022-07-27 09:04] ryan-di commented on #5255
Looking at it now : )

[2022-07-27 09:31] grnat opened #5493 "Is it possible to permanently turn off the zoom pop-up?"
I'm getting pretty over being told about my browser's zoom.

![image](https://user-images.githubusercontent.com/12093361/181213749-0e6810c6-1d89-43fa-9ae0-6e0a79100113.png)

[2022-07-27 10:02] ad1992 commented on #5493
Hi @grnat 👋🏻
There is no way to turn off this popup as of now. But can you tell what is triggering the zoom popup ? And we can try looking in to fixing that.

[2022-07-27 11:02] 7flash opened #5494 "Elements with fixed position"
I would like to have some "sticky notes" which remain on top while zooming and scrolling around..

[2022-07-27 13:35] lokhmakov commented on #5010
+1

[2022-07-27 14:05] dwelle commented on #5010
We'll be working in this very soon!

[2022-07-27 14:07] dwelle commented on #5493
I think we should unship this until we can come up with something safer (tracking in https://github.com/excalidraw/excalidraw/issues/5438).

[2022-07-27 15:20] ad1992 commented on #5493
closing via https://github.com/excalidraw/excalidraw/pull/5495, we have removed the browsers' zoom popup

[2022-07-27 15:20] #5493 closed

[2022-07-27 15:21] ad1992 commented on #5438
closing via https://github.com/excalidraw/excalidraw/pull/5495, we have removed the browsers' zoom popup

[2022-07-27 15:21] #5438 closed

[2022-07-27 17:55] abramdawson opened #5496 "Display scene name before "Excalidraw Plus" in page title"
When I have multiple scenes open in Excalidraw Plus, I'm unable to see which scene corresponds to which tab since "Excalidraw Plus" is displayed before the scene name. This makes selecting the right tab difficult, and is particularly problematic if multiple scenes start with the same letters/words.

<img width="569" alt="image" src="https://user-images.githubusercontent.com/2624720/181327726-5687d

[2022-07-27 20:47] navakelvin opened #5497 "Allow text boxes"
Text boxes allow for better manipulation of information as you can define the limits at which you want the text to make a line break.

![image](https://user-images.githubusercontent.com/77164639/181369482-8f25d3ef-8797-4336-b3c8-0c5eb343402d.png)

For text size manipulation an idea could be contextual buttons that pop up when you select the whole box.

[2022-07-27 21:16] dwelle commented on #5497
On the roadmap #4267 and we'll get to it soon!

[2022-07-27 21:16] #5497 closed

[2022-07-27 21:30] dwelle commented on #5496
Good point!

Personally I do not notice this because my tabs end up looking like this pretty fast:

![image](https://user-images.githubusercontent.com/5153846/181374979-3e3ea3b3-5a6d-4f7f-9824-8520a7e83f91.png)

Now fixed!

[2022-07-27 21:30] #5496 closed

[2022-07-27 21:45] dwelle commented on #5489
For sure, happy to accept a PR! :).

For now, we can add the `wsConnectionState` (though let's call it `wsConnectionStatus`) to the `appState` as you suggest. Later, once we factor all the collab-related UI out of the editor, we can remove it (it may take a while).

Note that the docs you linked to point to v3, while we're still on v2 (we should upgrade). The events should still work though.

As f

[2022-07-27 21:51] dwelle commented on #5488
I assume this is a path resolution problem rather than the file actually missing, though the error isn't helping much. I've raised a PR to hopefully fix this: https://github.com/excalidraw/excalidraw/pull/5498

[2022-07-27 22:21] Servinjesus1 commented on #5484
@dwelle Just so we're clear, I meant "first" and "second" click, not single click and double click (changed my wording in post).

Also, I realized what I want as far as circles/diamonds go is just flipping the Alt behavior with the non-Alt behavior :) It's more intuitive for me, since I usually center these tools about things.

[2022-07-28 01:22] dicerollaaaaaaa opened #5499 "excalidraw incompatible with Samsung S6 Lite?"
![Screenshot_20220727-201751_Obsidian](https://user-images.githubusercontent.com/49166476/181399860-1f9df941-a234-4271-b92b-fbca6dd4f827.jpg)
I'd just bought this Samsung S6 Lite to take notes through Excalidraw only to be prompted with this message when creating a file. I don't know what else to make of this message.

[2022-07-28 15:58] ummcheng opened #5502 "Deleted elements preventing persistence"
Hi all, we've forked the Excalidraw client over at https://github.com/peoplerenaissance/excalidraw and have been loving it so far.

Changes in our fork include swapping the backend from Firebase to an HTTP REST API that supports the same persistence operations (among other UI adjustments for our product's use case), and we've had many successful collaborative drawing sessions so far.

Unfortunatel

[2022-07-28 19:34] jimkberry commented on #5416
It used to work to open the tabs/windows as "private", at least in Brave - tho I'm pretty sure in Chrome, too. I wonder when that stopped working, and why?

I haven't used excalidraw in a while and am about to need it again and this will be a real problem if I can't find another workaround,

[2022-07-28 20:58] jimkberry commented on #5416
Ok, I see what has happened - longer ago that I thought! :-)

Anyway, I also have seen the discussions regarding the consequences of separate tabs having separate local storage keys and why folks aren't comfortable making tab states atomic. I think I see a way to make everyone happy, tho - or at least to make it do what I (and the OP, I presume) want without breaking the expected tab/drawing sync

[2022-07-29 00:16] DanielJGeiger commented on #5502
@ummcheng I opened #5108 because over the course of a semester, the boards I taught on stopped saving to Firebase due to deleted elements filling up storage.  It sounds like you're seeing similar symptoms, if for different reasons.  CC @dwelle on the recurrence of scenes failing to save.

[2022-07-29 00:23] DanielJGeiger opened #5503 "React 18 breaks dev-build chart creation"
Was the upgrade to React 18 bumpier than believed?  While fixing a charts bug I previously found, I discovered chart creation is broken in development builds (ie `yarn start`), but not in production builds.  Line 58 of `src/components/PasteChartDialog.tsx` throws an error because `svg` is `undefined`.  Reverting to commit 958ebea makes chart creation work again in development builds.

[2022-07-29 05:03] zsviczian opened #5504 "The shortcut menu "Copy" is only available in View mode and Cmd+C does not work in any mode."
Tested on iOS 15.5 with Safari and Edge browsers.

![C083352C-844B-432B-ABD3-8EF19AF9E7E9](https://user-images.githubusercontent.com/14358394/181686069-8b18e540-fd9b-4d0b-a58a-ea20cfdd5fff.jpeg)

![4890FD54-3B6C-493A-8B06-865F86EDFD6A](https://user-images.githubusercontent.com/14358394/181686070-6b97eb56-b155-4ef1-9a95-e2b9cccc9352.jpeg)

[2022-07-29 05:39] ad1992 commented on #5502
@ummcheng could you share little more context on why filtering out deleted elements is an issue ? We don't save the elements which are deleted and is not updated in last 24 hours.  Are you seeing some inconsistency due to this ?

[2022-07-29 05:54] ad1992 commented on #5503
@DanielJGeiger you mean `yarn start` is was broken for you after upgrading to `React  18` ? That shouldn't happen and its working fine. Did you miss running `yarn install` by any chance ?

[2022-07-29 08:03] sandorex opened #5506 "Panning on android draws"
I don't know if android is actually supported or not but whenever i pan with two fingers it draws a line between them if i am using the line tool or the pen
It makes it hard to use as i cannot pan the canvas or even zoom without drawing

[2022-07-29 11:56] ad1992 commented on #5503
closed via #5505

[2022-07-29 11:56] #5503 closed

[2022-07-29 16:12] ummcheng commented on #5502
Appreciate the prompt attention and help from both of you.

Yes, it seems like somehow the drawing we have saved in storage has deleted elements that have not been updated in the last 24 hours. On the initial load, all of the elements are included in the calculated scene version, which in this case is `7977`. Then when other changes are made, the scene version calculation excludes those deleted el

[2022-07-29 21:16] nickfreemandesign commented on #4233
Yes, also experiencing this issue. Additionally, login with the manual link will route the user away from Notion, into their email, and then back into the browser. So that strategy falls short for any embedded widgets such as in Notion.

We love what you do, Excalidraw!

[2022-07-29 21:16] cjaguilera opened #5509 "Handwriting"
Hi, I am loving the plug in and it helps me with the way I take notes, but handwriting on iPad feels weird and when writing it keep cutting and jumping around…is there something wrong or do I need som extra script? Thanks!

[2022-07-29 21:18] fpdude opened #5510 "Feature request: Snap to shape"
Hi, sorry if this was requested before, I searched through the issues but could not find anything related.

Basically, the feature request is this: https://youtu.be/lmusL9pg9cI?t=28

And what it will potentially allow in my opinion is to simplify Excalidraw even more. While drawing, instead of switching shapes all the time (which I find very tiring), user could just casually **free draw** the exis

[2022-07-29 21:29] zadam commented on #5100
Save to PNG/SVG doesn't work on MacOS 12.5 / Electron 19:

Interestingly, "Save to disk" works fine. Is there a major difference between the two?

Excalidraw 0.12.0

[2022-07-30 13:20] theabhayprajapati opened #5512 "Same command for different work. `Alt + 'k'`"
## Alt + k has two different works. 😔
<img width="243" alt="image" src="https://user-images.githubusercontent.com/88815641/181916096-8068d343-6ee5-44bc-9500-8cde6122c31e.png">

- Alt works properly for **selecting post method**.
- but not for navigating to the **profile page**.

## How can be fixed 👷
Updating the command for any one of the functions can resolve the issue, mostly updating the comma

[2022-07-30 13:21] dwelle commented on #5509
Hi! Are we talking about excalidraw.com or the Obsidian plugin?

Can you record a video (probably using a phone) to show what is happening exactly?

[2022-07-30 13:28] dwelle commented on #5512
This doesn't look like it relates to Excalidraw — what product are we talking about?

[2022-07-30 13:29] #5255 closed

[2022-07-30 13:52] theabhayprajapati commented on #5512
sorry, I was making an issue with hoppscotch I by mistake sent it here.

[2022-07-30 13:52] #5512 closed

[2022-07-30 13:52] dwelle commented on #5510
Hi! We have considered this and may end up doing it, but it's potentially not super simple, especially in conjunction with our current freedraw tool.

[2022-07-30 14:15] dwelle commented on #5502
It does sound plausible, and is most like what you're seeing in your project.

This specific problem shouldn't affect excalidraw.com, because we're filtering out the "dead" elements on load before we cache the version:

https://github.com/excalidraw/excalidraw/blob/3d5356cb8edc043a721a5e66167b2814b191ebc2/src/excalidraw-app/data/firebase.ts#L290-L296

Whereas in your project you're not doing so:

[2022-07-30 14:44] dwelle opened #5513 "improve shape<->cursor alignment for proportional resize / angle clamping"
We should improve how we fit/align lines/shapes to the cursor position when creating shapes while holding shift to maintain aspect ratio, or clamp angles.

In the examples below, we want to behave in a way that Figma does (but it applies to most other apps out there).

### rectangles (squares)

Here's excalidraw when creating a square by holding a shift:

![excal_proportional_resize_square](https:

[2022-07-30 14:59] dwelle commented on #4233
Oops, missed to original request.

Yes, support for better sharing / embedding of scenes will come soon. We will have read-only links with the most minimal panache: no live collaboration, UI or similar. Though it will still be interactive so you can pan/zoom.

Unclear what you mean about the email step?

[2022-07-30 15:41] ummcheng commented on #5502
Oh wow, thanks so much for digging in our fork and discovering that! We did remove the encryption functionality and I must have totally missed using `getSyncableElements()` on the initial load.

Thanks again for the help even though this doesn't affect upstream Excalidraw! Will close this issue 🎉

[2022-07-30 15:41] #5502 closed

[2022-07-30 19:56] #5488 closed

[2022-07-30 20:01] dwelle commented on #5504
I believe it was left there by mistake as we were removing the copy/paste items from contextmenu due to insufficient support. I don't recall the exact specifics of that. Should either be removed as well from view mode, or reviewed whether we can reintroduce.

Are we talking about an external keyboard connected to the iPhone device? I'm not sure if it's supposed to work.

[2022-07-30 20:47] dwelle commented on #5100
@zadam I assume it works on excalidraw.com? Probably something to do with Electron, but hard to say what. Can you post the error stack trace?

[2022-07-30 21:13] zadam commented on #5100
It works on excalidraw.com in browser, but not in electron (i.e. I load the excalidraw.com within electron). So yes, it is probably specific to electron. Here's the stacktrace (exlicadraw.com from within electron):

<img width="550" alt="image" src="https://user-images.githubusercontent.com/617641/181996371-f10d4d2c-e518-4bc5-ba2d-0a034f5092ad.png">

[2022-07-31 01:09] mmdfl commented on #3276
I have the same issue because my scenes are too big ... I would like to move more efficiently among different regions. One possible way of implementing this jump feature, using the already existing hyperlink tool, would be if I could get the excalidraw link pointing to the exact position or object id (example: https://app.excalidraw.com/s/94sMb/gwKiL/**posic_x=123&posic_y=456**). If I had this, it

[2022-07-31 03:59] sandorex commented on #5506
This is actually a duplicate of https://github.com/excalidraw/excalidraw/issues/966 any few other issues mention it so i will close it

[2022-07-31 03:59] #5506 closed

[2022-07-31 09:44] dwelle commented on #5506
Yeah. I believe someone from the community wanted to work on this. We'll need to check how it's going.

[2022-08-01 01:08] cjaguilera commented on #5509
Hi, it’s the obsidian plug-in. I’m attaching a video but I don’t thinks it shows what I mean.

https://user-images.githubusercontent.com/70978930/182054187-0fb09d00-f8b9-43bd-839e-ee0527c73e49.MOV

[2022-08-01 05:26] ryan-di commented on #5513
Here's the cursor alignment fix non-linear generic elements: https://github.com/excalidraw/excalidraw/pull/5516

Working on linear elements cursor alignment next.

[2022-08-01 11:24] #5513 closed

[2022-08-01 15:04] TorbenMau commented on #3957
This would be a very useful feature! Some whiteboard tools such as Miro provide the option "Hiding collaborators' cursors" See also https://help.miro.com/hc/en-us/articles/4403828924306-How-to-make-your-Miro-boards-more-accessible

[2022-08-01 15:09] nickfreemandesign commented on #4233
@dwelle Heres the troublesome flow:

1. Open Notion (or wherever you are about to embed Excalidraw)
2. Create your embed by pasting an Excalidraw+ private link
3. The embed asks you to sign in.
4a. Click signin via Google, and you will get the flow that @eob describes. Google auth popup appears in your browser, and after selecting your account, the screen stays in a perpetual loading state
4b. Cli

[2022-08-01 18:02] zsviczian opened #5519 "PR #4030 broke context menu positioning when Excalidraw canvas has offsets"
@SavvyShah see preview for #4030: https://excalidraw-package-example-git-fork-savvyshah-a7ed47-excalidraw.vercel.app/
Also not scrollable in this scenario.

![image](https://user-images.githubusercontent.com/14358394/182212685-ea420d22-587f-4c0f-a372-ded116fdeb46.png)

[2022-08-02 06:08] #5519 closed

[2022-08-02 08:31] jguddas opened #5522 "Replace KeyboardEvent.code with KeyboardEvent.key"
I just tried out excalidraw and noticed that I can't copy and paste due to not using a QWERTY keyboard layout.

https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code

[2022-08-02 12:02] ferminrp opened #5524 "Feature Request - Comments"
It would be great to have a way to pin comment bubbles on the canvas. So if a team member does something we can leave feedback for him in the form of these pins.

I'm sorry if there's already an issue for this. I couldn't find any.

[2022-08-02 15:26] dwelle opened #5526 "escape should deselect elements"
to align with other editors

[2022-08-02 19:28] alexforster opened #5528 "Resizing shapes distorts them"
![excalidraw](https://user-images.githubusercontent.com/104311/182457390-9122d7d9-c207-44ae-a28e-d9010dd7c23f.gif)

Sorry, I don't know how to describe this – please update the issue title/description as appropriate.

[2022-08-02 19:52] zsviczian opened #5529 "flash of white when initializing with initialData: {appState: {theme: "dark"}}"
to avoid the flash of white, appState should be applied during app initialization before loading scene.

https://user-images.githubusercontent.com/14358394/182461211-550603e3-840a-48f6-805c-9b92ae25e5e9.mp4

[2022-08-02 20:26] zsviczian commented on #5529
You can achieve the desired effect by passing the `theme` property, but in that case, the theme toggle button is not shown on the canvas. For this, the showThemeBtn logic needs to be modified.

The issue stems from accepting a promise on initial data and resolving it only once the componentDidMount.

I wonder if the self-evident behavior is really that passing the `theme` property should hide the

[2022-08-02 23:15] Servinjesus1 commented on #5484
Closing as redundant to #5255. For centered shapes, hold `Alt`.

[2022-08-02 23:15] #5484 closed

[2022-08-03 08:09] dxkrs commented on #2842
Greate! Hope to see that quickly!

[2022-08-03 13:53] ShravanSunder opened #5531 "How do you input text in a object on the iPad?"
On a desktop, when you create a shape, you can press `enter` and have text in the center of the shape.  This is the `press enter to add text` interaction. The advantage is that the text is immediately grouped with the shape and its much more pleasurable and easier to use excalidraw.

On a touch screen, when you create a shape, i'm unable to input the interaction that would let me enter text in the

[2022-08-03 14:18] ferminrp commented on #5524
Launched
![unnamed](https://user-images.githubusercontent.com/21282919/182631460-2a0a2783-c49b-4b18-bb15-4dc0a0686d18.gif)

[2022-08-03 14:18] #5524 closed

[2022-08-03 15:03] 7flash opened #5532 "Run external commands"
I would like to have ability to attach external commands to be executed by double-click on target element/image. Then I would be able to use excalidraw document instead of desktop/launched with icons to run my programs,- but in better organized way.

[2022-08-04 08:46] zsviczian opened #5535 "How do you rotate linear elements? Since the linear elements redesign (#5501) I am not able to rotate arrows and lines"
https://user-images.githubusercontent.com/14358394/182805730-1ad74bca-da46-4383-b03b-6d89f2a68ae8.mp4

[2022-08-04 08:46] zsviczian opened #5536 "Flip horizontal does not work on linear elements since the redesign (#5501). Flip vertical works."
https://user-images.githubusercontent.com/14358394/182805730-1ad74bca-da46-4383-b03b-6d89f2a68ae8.mp4

[2022-08-04 08:55] zsviczian commented on #5536
@ad1992: FYA

[2022-08-04 08:56] zsviczian commented on #5535
@ad1992: FYA

[2022-08-04 09:15] zsviczian commented on #5532
You can implement this and much-much more for yourself with Excalidraw in Obsidian using ExcalidrawAutomate with the onLinkClickHook.

https://github.com/zsviczian/obsidian-excalidraw-plugin/blob/cc9d7828c7ee7755c1ef942519c43df32eae249f/src/ExcalidrawAutomate.ts#L1434-L1440

See more about Excalidraw-Obsidian here: https://youtu.be/o0exK-xFP3k

[2022-08-04 09:16] zsviczian commented on #5531
double tap the center of the object and start typing.

[2022-08-04 09:46] dwelle commented on #5535
Yes, this is the unfortunate side effect of the redesign, and I agree that rotation is still useful enough to be considered for reintroduction in some form.

I'm seeing to options:

1. show the rotate button at the start/end of the arrow (because for multi-point arrows it'd be hard to place it), and maybe change how to rotate button looks in the process to make it more obvious (though we'd then ha

[2022-08-04 10:14] karandwivedi42 opened #5537 "Shift + drag to resize line in constrained axis not working since the linear elements redesign (#5501)"
A side effect of #5501 is that I am not able to resize the line while keeping it constrained horizontally. In the new mode, shift + drag is the same as drag and does not keep the motion constrained.

[2022-08-04 11:06] zsviczian commented on #5535
I grouped the linear element with a transparent other element for the purpose of the demonstration. This approach would work for me - and it already works if the selection box is displayed.

Why did you decide to not display the selection box for linear elements?

https://user-images.githubusercontent.com/14358394/182831666-ea9e7b88-041e-4321-a4c9-64d7beb235d3.mp4

[2022-08-04 11:33] ad1992 commented on #5535
@zsviczian since we are now showing the points on arrow itself which helps in better user experience when updating arrows as compared to bounding box hence we decided to remove the bounding box.
As per rotation we are exploring the options and will be reintroducing rotation soon.

[2022-08-04 11:45] zsviczian commented on #5535
...and what is against showing both the bounding box and the points in parallel?

[2022-08-04 12:10] dwelle commented on #5537
Is it fixed for you here? https://excalidraw-git-fork-ryan-di-line-edit-clamp-excalidraw.vercel.app/ (https://github.com/excalidraw/excalidraw/pull/5527)

[2022-08-04 12:18] ShravanSunder commented on #5531
perfect @zsviczian  thank you!

[2022-08-04 12:18] #5531 closed

[2022-08-04 13:11] #5536 closed

[2022-08-04 16:01] dwelle opened #5539 "moving line points holding shift deselects element on pointerup"
steps:

1. select arrow
2. hold down shift and move a point
3. on `pointerup` the arrow gets deselected

[2022-08-04 17:20] pikatwinky commented on #5141
I have a similar problem in mobile, i am learning how to use this tool and I locked several items. It seems to me its not possible to revert that situation in a phone/tablet

[2022-08-04 17:57] karandwivedi42 commented on #5537
Yes 🎉

[2022-08-04 18:31] #5539 closed

[2022-08-04 19:27] dwelle opened #5541 "`selectedLinearEditor` is uninteractive upon refresh"
steps:

1. select an arrow
2. refresh
3. the `selectedLinearEditor` state is persisted (correct), but the points are uninteractive.

[2022-08-04 22:42] #5537 closed

[2022-08-04 22:46] dwelle commented on #4230
A bit late reply. This was by design, though I agree it's inconsistent. The reason being that when resizing an image in most cases you want to retain proportions, and a lot of people wouldn't know that you can do it via Shift.

[2022-08-05 10:06] zsviczian commented on #5535
I just ran into a use case where I wanted to resize a linear element. Resizing both with and without locking aspect ratio is important also for linear elements. It all worked nicely before :(

for reference, this is the element I wanted to resize to match the amount of text...

![image](https://user-images.githubusercontent.com/14358394/183054629-d44066f7-709d-4dca-872a-6eab5b8e0459.png)

[2022-08-05 10:18] ad1992 commented on #5535
This is actually a good use case. Should we start showing bounding boxes for linear elements with multiple elements / loop ?
cc/ @dwelle

[2022-08-05 22:57] dwelle opened #5545 "importing from shareable link not working some of the time"
(via @TonyForTheNguyen via Discord)

[2022-08-05 22:58] dwelle opened #5546 "shareable link not replacing content, but merging"
(via @TonyForTheNguyen via Discord)

[2022-08-06 09:37] LePenseur13 commented on #5431
@with-heart Aren’t there ways one can access native features even in electron?

I found these posts:
- https://bountify.co/electron-call-macos-requestreview-api (Executing native code in Electron app: with an example)
- https://stackoverflow.com/questions/34670514/can-i-use-osx-native-apis-in-electron

Couldn’t in that direction a solution found?
I’m not an expert here, so sorry if I missed someth

[2022-08-06 09:50] LePenseur13 commented on #5431
@with-heart you’re right sorry made mistake. Posted to the wrong Repo. In Obsidian there is an awesome excalidraw plugin, and since there it is running in electron, maybe there it is possible.

[2022-08-06 16:26] TonyForTheNguyen commented on #5546
_Sometimes_ a blank canvas loads when a user clicks the excalidraw JSON link.

### Steps to repro (sometimes):
1. Draw something on excalidraw
2. Click a JSON Excalidraw link such as https://excalidraw.com/#json=AO0CWeSUQb6WD5U4oaqMs,3MJOeSqi6WEpbwULEmLbJA
3. You will be prompted with a dialog `Loading external drawing will replace your existing content. Do you wish to continue?`
4. Click Yes
5. E

[2022-08-06 16:33] TonyForTheNguyen commented on #5545
_Sometimes_ a blank canvas loads when a user clicks the excalidraw JSON link.

I've heard this happen with the latest version of Chrome, FireFox, and Brave Browser. I haven't be able to test if opening in Incognito solves this problem.

### Steps to repro (sometimes):
1. Click a JSON Excalidraw link such as https://excalidraw.com/#json=AO0CWeSUQb6WD5U4oaqMs,3MJOeSqi6WEpbwULEmLbJA
5. Expectation: T

[2022-08-06 18:55] dwelle opened #5548 "tab-sync can be triggered before initial init"
Not sure whether to consider this a bug, but the tab syncing handler can get triggered before the initial scene init is done, which could result in bugs down the line. It certainly wasn't build with that in mind way so I _would_ consider it a bug.

Steps:

1. open a shareable link which prompts for confirmation
2. upon confirming the modal, the `visibilitychange` is triggered, which syncs state an

[2022-08-06 21:20] DDay987 commented on #5528
I have also noticed this.
It seems to affect library and user created icons/groupings.

![Example with user created](https://user-images.githubusercontent.com/36208309/183266365-816bcd64-4aac-4ad7-b04c-4bac110ababc.gif)
![Example with library imported](https://user-images.githubusercontent.com/36208309/183266367-7a823124-d0d7-4e45-95a2-3d0dce825f13.gif)

[2022-08-06 21:47] dwelle commented on #5431
Yes, I was looking into before and as @with-heart says it's not possible to do handle this in browser at the moment. If Apple implements this, we'll add support on our side!

[2022-08-06 21:47] #5431 closed

[2022-08-06 22:33] dwelle commented on #5528
It was happening before, though not with a lot of elements — but it may may have gotten worse. I'll try to take a look soon.

Closing in favor of https://github.com/excalidraw/excalidraw/issues/4001

[2022-08-06 22:36] dwelle commented on #4001
Reproduces only for non-0 `roughness` line elements (not freedraw). Shift-locking makes it much worse.

![excal-line-element-shift-resize-bug](https://user-images.githubusercontent.com/5153846/183267994-ecb917a8-c788-4e8e-96a6-ea78fc60d1f3.gif)

[2022-08-06 23:10] dai-shi commented on #4001
I'm not sure how much code is changed since when I was working on, but it looks like the issue of calculating bounding box.

(I can only reproduce with either #2896 or pressing on and off SHIFT _while_ dragging.)

[2022-08-07 03:20] alexforster commented on #4001
Anecdata: I'm a pretty frequent Excalidraw user and many of the library shapes I regularly use have only recently started doing this.

[2022-08-07 03:21] #5528 closed

[2022-08-07 03:49] aej11a commented on #5535
I like the redesign of the points but I don't see why you can't have the bounding box too - it's still helpful for resizing, rotating, etc

[2022-08-07 10:48] dumbdreamed opened #5549 "the space between lines wont perserved when viewd in mobile"
hi, really thanks for your fantastic plug-in
I have a problem that when I want to see a text on my mobile the space between lines won't preserve as shown and they are missaligned
![2022-08-07_15-13-55](https://user-images.githubusercontent.com/64626106/183287127-ce3cae08-6c9e-4271-a820-c6fdf8885f79.png)
![1659869047249](https://user-images.githubusercontent.com/64626106/183287132-4edc731f-6a6b-44b

[2022-08-07 11:02] dwelle commented on #5549
Hi. I'm not seeing it. Can you zoom in or highlight the problematic parts?

[2022-08-07 11:04] dwelle commented on #2710
Forgot to update — comments launched last week https://twitter.com/excalidrawPlus/status/1552670831402225664!

[2022-08-07 11:04] #2710 closed

[2022-08-07 11:23] dumbdreamed commented on #5549
hi, thanks for answering.
as you  can see in the yellow box, the text is PC version is ok, what when I sync it in mobile version and I want to see it there the text won't retain its format
the first picture is the PC version and the second is the mobile version.
![pc](https://user-images.githubusercontent.com/64626106/183288102-109d6e9d-098f-46f2-9071-1ab22b461e79.png)
![mobile](https://user-image

[2022-08-07 12:58] dwelle commented on #5549
Can you reproduce this on excalidraw.com, and if so, can you create a shareable link for it so we can debug?

/cc @zsviczian possibly related to Obsidian only?

[2022-08-07 13:26] dwelle commented on #5535
I agree we should definitely reintroduce not just rotation, but resizing as well as commented above.

Since resizing is also needed, the other non-bounding-box options from https://github.com/excalidraw/excalidraw/issues/5535#issuecomment-1205020168 will not solve this.

Question remains, when do we want to show the bounding box? For me I'd do so _at most_ from 3 points and up.

[2022-08-07 13:29] dwelle commented on #5535
But even for 3-point lines it may be premature, especially for arrows, because we'll end up with:

![image](https://user-images.githubusercontent.com/5153846/183293126-391a9028-e3e4-473a-a69e-be76eec4bc91.png)

Which means the arrow points will often "collide" with the bounding box handles (though we'd likely make them have preferential hitboxes).

[2022-08-07 13:37] aej11a commented on #5535
@dwelle I think 3 points has the first valid use-case for resizing - the only other way to resize would be to move each of the endpoints individually.

Maybe a very small padding could be added to the bounding box? About equal to the radius of the pt handles?

[2022-08-07 15:53] quartzar commented on #2110
Please add this. The default grid size is far too tiny on my Samsung Galaxy Tab S8+ (using the Obsidian plugin). It needs to be about 5-10 times larger for my preference. Unfortunately is a bit of a deal breaker for more general university note taking as I really need the properly sized grid.

[2022-08-07 16:09] dumbdreamed commented on #5549
hi here is a mega link containing both mobile and PC versions of the drawing that I have problem with.
https://mega.nz/folder/mwonUL7K#gd62vU0WrxErdBuATqCJrg

[2022-08-08 15:01] #5541 closed

[2022-08-08 15:51] #5546 closed

[2022-08-08 17:18] zsviczian opened #5551 "React 18 ContextMenu render - error use createRoot instead"
I migrated the Obsidian plugin to React 18.
I changed ReactDOM.render to createRoot - that works ok. I am getting this error when I open the context menu. Interestingly the same error is not thrown on excalidraw.com. Any idea where I should look for the root cause? Or should the ContextMenu render be migrated to createRoot?

![image](https://user-images.githubusercontent.com/14358394/183475562-b23

[2022-08-08 17:39] zsviczian commented on #5551
ok. so it is not showing on Excalidraw.com because it is a production build... This function should be upgraded to React 18

[2022-08-08 17:49] ad1992 commented on #5551
yep there are few other places as well eg tests where this warning is shown. But since the app we still want to keep it compatible with React 17 hence we can't remove it from the editor. Though I will fix it in the test.

[2022-08-10 09:26] dwelle commented on #5551
We don't need to use `React.render` even in v17.

[2022-08-10 09:29] dwelle opened #5556 "hide line points when there's too many of them"
In many cases when the shape is very complex, showing the points outside of line editor makes it almost impossible to move around.

I'd either 1) not show points when there are too many of them, or 2) when they're too close to each other.

![image](https://user-images.githubusercontent.com/5153846/183867118-6c696cc3-30d8-475b-82cf-c0565ccaf465.png)

[2022-08-10 11:28] raspberriesonmyprofilepic opened #5558 "Can we have auto completion of text in Excalidraw?"
Suppose I am obsidian and use the double bracket linkining thingy [[]] then if I type some text inside, it will give me a set of options of notes I have whose titles complete the text. However, this doesn't happen when I use excalidraw. Could this be added? Thanks.

![image](https://user-images.githubusercontent.com/8075975/183890221-5e4e4be0-858e-4682-90a5-d7c623ed276e.png)

Like this sort of eff

[2022-08-10 11:54] dwelle commented on #5535
You can leave feedback on https://github.com/excalidraw/excalidraw/pull/5554#issuecomment-1210552320 in the PR.

[2022-08-10 12:44] ad1992 commented on #5551
You are right!. Will need some rewrite. Will fix.

[2022-08-10 17:12] ad1992 commented on #5535
closing this via #5554

[2022-08-10 17:12] #5535 closed

[2022-08-11 01:25] abs4l opened #5559 "Scenes not being auto-saved..."
On multiple occasions (at least 6-8) I have lost all my work when navigating within Excalidraw to another scene to reference some information. **The last saved status, shows on my active scene (where the work is lost) to have been saved minutes to hours ago.** This is resulting in a significant amount of work and detail (sometimes up to an hours worth) being lost, and needing to be manually recrea

[2022-08-11 15:47] DanielJGeiger opened #5562 "[React 18] Chart shading broken in production builds"
While making some recent commits to #2993, I noticed the random-color shading of chart backgrounds appears to be broken on production builds (including excalidraw.com), but not on development builds.  I suspect this is a React 18 upgrade regression, similar to #5503.  The following images demonstrate the issue.

From my local machine:
![image](https://user-images.githubusercontent.com/1852529/1841

[2022-08-11 16:02] DanielJGeiger commented on #5383
I have a new data point for this issue: text can be blurry on-screen but non-blurry in PNG exports.  Also, the same can be true for linear elements.

Compare the following screenshot and the corresponding exported PNG from #5562:
![image](https://user-images.githubusercontent.com/1852529/184177002-293ff6ef-3778-4076-bc82-7f4bd0c0bc7e.png)
and
![image](https://user-images.githubusercontent.com/1852

[2022-08-11 20:27] AndreKR commented on #521
FYI, this uses `event.ctrlKey && event.keyCode==222`, which is <kbd>Ctrl</kbd>+<kbd>Ä</kbd> on a German keyboard.

[2022-08-12 06:44] ad1992 commented on #5562
@DanielJGeiger could you share a scene link for this drawing which we can check in production ?

[2022-08-12 08:44] DaSh-More opened #5563 "Bag: When copying an object with Alt pressed, it changes its location"
If an object is not bound to it when the grid is turned on, when copying with Alt pressed, it changes its location

https://user-images.githubusercontent.com/52647986/184318047-79249f32-9598-4793-90b2-3b64e5045173.mp4

[2022-08-12 08:54] dwelle commented on #5563
The root cause is most likely different, but fixing this will may require fixing this also https://github.com/excalidraw/excalidraw/issues/2109

[2022-08-12 08:55] DaSh-More opened #5565 "Feature request: Binding the center of an object to a grid"
I would like to be able to snap an object to a grid relative to its center

![12-08-2022_115534_vivaldi](https://user-images.githubusercontent.com/52647986/184320669-ea04bf65-c59c-4f29-91df-b2ec7be7d144.png)

[2022-08-12 09:36] DaSh-More opened #5566 "Feature request: Flip groups of objects"
It would be great to be able to reflect vertically or horizontally not only one object, but also several

![12-08-2022_123510_vivaldi](https://user-images.githubusercontent.com/52647986/184327679-3a97bda6-9b60-4850-ac14-e0f487f14292.png)

![12-08-2022_123540_vivaldi](https://user-images.githubusercontent.com/52647986/184327594-a3b26bfd-89fc-45d2-9a07-6224e0541384.png)

[2022-08-13 02:00] DanielJGeiger commented on #5562
@ad1992 The issue arises when creating charts by pasting CSV contents from the clipboard.  So, I think a scene link might not help.  Here is what I pasted to generate the charts in this issue:
[code]

Both MathJax and the "Crisp" subtype were active in the [Vercel preview](https://excalidraw-git-fork-danieljgeiger-asciimath-mode-excalidraw.vercel.app/).

[2022-08-13 03:01] pikatwinky opened #5567 "Having problems with the Context menu on mobile"
I'd like to know if there is a simple workaround to this issue (maybe).

When i use excalidraw on mobile i have problems regularly with the context menu, i want to access to the **lock button** located almost to the botton of the bar, but in my devices the bar most of the times overflows to the bottom of the screen, only in certain occasions the context menu is shown properly like in the next vide

[2022-08-13 05:43] alswl commented on #1772
@JannikStreek Maybe using cherry-pick mode is easier to maintain than rebase mode? I see that the upstream CHANGELOG.md describes a lot of new content, and there are no relevant changes in your repository yet.

[2022-08-13 06:01] anatoliibakhtin commented on #5176
Gays, @nxboo, @yin-zhang, what are you waiting for ? Can you create a PR or is this no longer an issue for you ?

[2022-08-13 17:53] #2896 closed

[2022-08-13 17:53] #3989 closed

[2022-08-13 17:53] #4001 closed

[2022-08-14 08:38] SHADYKIMBUM opened #5568 "Yt"

[2022-08-14 08:47] #5568 closed

[2022-08-14 17:51] zsviczian opened #5569 "Can't unlock element on Android"
This is recorded on a Samsung Galaxy Note 8. I am able to select the action to unlock, but the element does not unlock. Unlock works as expected on my iPad and Windows desktop. I am using Chrome as my web view on Android.

https://user-images.githubusercontent.com/14358394/184548841-511db255-fc4b-4469-9e2e-1a9ad3efe70f.mp4

[2022-08-14 18:22] zsviczian opened #5570 "context menu scrolling not working consistently on Android"
I received an issue for Obsidian Excalidraw reporting problems with the context menu positioning and scrolling [#742](https://github.com/zsviczian/obsidian-excalidraw-plugin/issues/742).

I did my own testing as well:
- ok on Samsung Note 8
- NOT OK on Pixel 4A
- ok on iPhone 5SE

Interestingly on both the Samsung Note 8 and the Pixel 4A the browser was the same Chrome version: 104.0.5112.69

Acco

[2022-08-14 18:24] zsviczian commented on #5569
I also tested locking and unlocking on an iPhone 5SE. The feature works without issues.

[2022-08-14 20:17] biggybafe23 opened #5571 "ExcaliDeck - Theme bug/dark mode?"
Love this idea-- but noticed when I switch the them by using alt+shift+d and then leave the slide it changes the background back to white instead of keeping in dark mode

[2022-08-14 20:18] biggybafe23 commented on #5571
Also maybe add a present mode so I don't see the slides on the right hand side

[2022-08-14 20:23] #5571 closed

[2022-08-14 22:46] pikatwinky commented on #5570
I'm sorry, i'm not a very technical person, but i did a trivial test about this in my Xiaomi Redmi Note 8 pro (MIUI12 ->Android 10) using the browsers: Brave Browser, Chrome, Firefox and my phone's default MI Browser .
In a new canvas i draw a basic figure near the bottom of the screen and tried to access to it's context menu clicking about the same area 10 times, then _counting the ratio of the t

[2022-08-15 03:00] imshenshen opened #5572 "Excalidraw+ with custom font"
need this feature in Excalidraw+, not self-hosted version

[2022-08-15 06:37] ad1992 commented on #5559
cc @maielo

[2022-08-15 12:31] dwelle commented on #5559
Hello @abs4l. We've reached to you over email. If you haven't received it, feel free to post back to this issue!

That said. There are hacks to "force save", e.g. to refresh the tab, and if it asks for confirmation before leaving, cancel the dialog (stay on page) — that will trigger the autosave immediately. But, autosaving should happen with 1-2 seconds after update, and switching between scenes

[2022-08-16 11:57] dwelle opened #5576 "[regression] box-selecting from editor moves line when hitting on bounding box"
Below, I'm trying to box-select multiple points, but when I start to drag it drags the whole element. That shouldn't happen unless you're dragging the line itself.

Regressed in https://github.com/excalidraw/excalidraw/pull/5554

![excal-bug-box-selecting-within-editor](https://user-images.githubusercontent.com/5153846/184873708-4d73ba68-0a39-447d-9b3c-0aa64c1bf19a.gif)

[2022-08-16 12:13] dwelle opened #5577 "[regression] clicking inside linear element bounding box should deselected"
outside line editor, when clicking inside the line's bounding box, but not on the line itself, should deselect it.

regressed in #5554

Below, it means clicking on the red X spot:

![image](https://user-images.githubusercontent.com/5153846/184876732-537a5147-c302-4d7f-9a12-1cd668dcd273.png)

[2022-08-16 17:35] #5577 closed

[2022-08-16 19:06] zsviczian opened #5580 "FR: drag and drop multiple .excalidrawlib from OS file explorer should import all files, not only one"
Drag and drop multiple .excalidrawlib files from the OS file explorer into excalidraw. Only one of the libraries will get imported.
It would be nice if all the libraries would get imported.

see the related issue raised on the obsidian-excalidraw issue list: [#744](https://github.com/zsviczian/obsidian-excalidraw-plugin/issues/744)

[2022-08-17 06:31] luutuankiet commented on #4904
+1 for the functionality for my use case which I think might be common - I am configuring my excalidraw extension on obsidian to be a simultaneous hand & typed note-taker as onenote.
If you handwrite-annotate something on your typed note and need to erase only the annotation then the eraser tool assumes that you are erasing the whole object, which is both the annotation and typed note.

[2022-08-17 07:41] ralphilius commented on #4051
@pomdtr It's great! Can you put a guide to install libraries as well?

[2022-08-17 08:41] pomdtr commented on #4051
How I didn't thought about that. I don't think GitHub.dev support it right now. You can install the libraries from the desktop app, they should be available in GitHub.dev if you enable settings sync.

[2022-08-17 08:59] dwelle commented on #4051
Or just download the library and install manually:

![image](https://user-images.githubusercontent.com/5153846/185078827-c720092a-2016-4cea-a513-5be0275e2005.png)

[2022-08-17 13:05] cydoniansky opened #5582 "FR: Hex color Picker"
Hi Guys,

I miss nothing - except a hex color picker ;)
otherwise, Excalidraw is absurdly awesome for wireframing!

![Screenshot 2022-08-17 at 14 59 29](https://user-images.githubusercontent.com/58465429/185140787-601762a9-ef85-42a3-91eb-ab01aaacdb4c.png)

[2022-08-17 15:15] alex-kim-dev opened #5584 "round linear elements shift their bounds on resize/flip"
- when resizing multiple elements: round curves change their size and this may influence an element's bounds
- when flipping: only points are flipped, not taking into account the size of a curve

resizing a single element works fine

![Peek 2022-08-17 20-05](https://user-images.githubusercontent.com/45559664/185175303-8e8b8ebd-23f5-4d07-80d9-75204d301e1a.gif)

Shapes:
[code]

[2022-08-17 15:23] alex-kim-dev opened #5585 "round edges of linear elements disappear"
At the end of the video all points are aligned to the grid:

https://user-images.githubusercontent.com/45559664/185178466-31bcae4b-782f-458c-a6bd-81680a3bacfa.mp4

Shapes:
[code]

[2022-08-17 20:58] vjeux opened #5587 "Hyperlink isn't clickable when on a text grouped with a rectangle with a background"
Repro:
- Open https://excalidraw.com/#json=AF4yj43GemDoGVAQzpT26,NO2nOneqfOhIeUZtQ95-yQ
- Click the link icon
- It selects the group

Expected behavior:
- It opens the link

If you change the background of the rectangle to transparent, it opens the link properly.

[2022-08-17 22:44] dwelle opened #5588 "panning on trackpad on chrome tends to trigger history bf behavior"
Panning canvas (two fingers) on touchpad works fine (no back/forward history behavior triggered), until you hover over a non-canvas DOM element (which we likely don't prevent in various ways we do with canvas), which triggers browser bf behavior. That's fine.

But in chrome (at least on MacOS), if you cancel the bf change (or it doesn't leave the app domain and you go back to canvas, e.g. in case

[2022-08-18 08:10] #5587 closed

[2022-08-18 10:43] ad1992 opened #5590 "Support metadata in element"
This will help package consumers to add their own metadata to individual elements and they can use these attributes to identify the drawings in better way, add their own customisations and many more.

[2022-08-18 12:02] #5590 closed

[2022-08-18 13:37] #5576 closed

[2022-08-18 16:22] thibaultmol opened #5595 "FR: Adding multiple images at once"
Hi, It would be nice if we could either trough drag-drop or trough the upload dialog, insert multiple images at once.

[2022-08-18 16:31] zsviczian commented on #5595
did you try it? if my memory is not failing me it should work when you drag and drop images from your Obsidian file explorer.

[2022-08-18 16:34] thibaultmol commented on #5595
Can you even select multiple files in the obbsidian file explorer at once?

I tried both the obsidian plugin and excalidraw.com to drag a file from my file explorer to both excalidraws. neither showed more than one image

[2022-08-18 16:45] zsviczian commented on #5595
sure you need to hold down alt or ctrl or similar and maybe right click... sorry I am on a mobile currently and can't check these things...

[2022-08-19 04:05] bobbydigitales commented on #5334
I found this too when importing larger images!

[2022-08-19 08:04] anatoliibakhtin commented on #5595
Hi @thibaultmol ! You need to press the shift when the files are above the canvas:

https://user-images.githubusercontent.com/71871141/185572310-4c848a56-32f4-441e-bfbf-b8517dbfd19d.mp4

[2022-08-19 21:52] sedghi opened #5597 "feature request: automatically insert the element on the start of the arrow to the end"
For diagrams, there is a pretty common use case that when drawing arrows, I would like to insert the same element that is at the start of the arrow to the end too and continue in that direction. I was thinking maybe holding shift + arrow can map to this behaviour but you have already used it for something else (which I do believe is less common, maybe I'm wrong)

![image](https://user-images.githu

[2022-08-20 14:32] pikatwinky commented on #5582
i think this is a must to have

[2022-08-20 22:55] LeonMaa opened #5600 "iPad 12.9 2022 lag only during full-screen"
Excalidraw only lags if im not in Split-Screen.
Is there anything i can do about it?

https://user-images.githubusercontent.com/111665153/185768599-4f38ec53-30eb-418d-b266-ebeecdbab26c.MOV

[2022-08-21 02:50] 810123 opened #5601 "Can't sign-in using github account"
I tired both google and github, neither can sign-in

![image](https://user-images.githubusercontent.com/9276574/185773194-ce972359-17bf-4042-9141-d4b4c4bb2c7f.png)
![image](https://user-images.githubusercontent.com/9276574/185773196-31f0c92e-51bf-45ee-8358-c7def8c1e894.png)

[2022-08-21 08:53] dwelle commented on #5601
Hi! It looks like it's one of the cases of Firebase being blocked for you for one reason or another, and there's likely not much we can do — apart from migrating to a different host, which is on the roadmap.

If you're behind a company firewall/VPN, then maybe you can do something on your end. If not, then waiting a few days has helped in some cases. 🤷‍♂️

Feel free to contact us at `support @ exc

[2022-08-21 08:53] #5601 closed

[2022-08-21 10:12] pomdtr opened #5602 "[NPM Package] Crash when adding a new point in the line editor"
I use the alt shortcut to add the new point, then release the alt-key without clicking. Here is a demo on the latest master commit:

https://user-images.githubusercontent.com/17577332/185786184-dc689cd2-40c6-4408-9eb0-886549ef0c9e.mov

[code]

[2022-08-21 10:30] zsviczian opened #5603 "Downgraded from React 18 back to 17 due to stability issues and problems with .updateScene calls."
Coinciding with the upgrade of Obsidian-Excalidraw to React 18 and migrating to `ReactDOM.createRoot` for creating the Excalidraw component I've been experiencing various random issues. Two in particular
1. Excalidraw and/or Obsidian screen going blank on certain operations. One example is this bug: [#738](https://github.com/zsviczian/obsidian-excalidraw-plugin/issues/738).
2. Executing multiple `

[2022-08-21 10:48] zsviczian commented on #5603
on face value #5602 is very similar to [#738](https://github.com/zsviczian/obsidian-excalidraw-plugin/issues/738).

[2022-08-21 10:50] zsviczian commented on #5602
@pomdtr I am debugging #5604 Are you using Excalidraw with React 18 or 17?

[2022-08-21 10:56] pomdtr commented on #5602
@zsviczian I'm using react 17, see https://github.com/excalidraw/excalidraw-vscode/blob/master/webview/package.json

[2022-08-21 11:13] dwelle commented on #5603
This reproduces only on React 18? Which update is being dropped, the first one or the second one?

[2022-08-21 12:05] 810123 commented on #5601
Thanks, I tried on my mobile, and my personal laptop, the same problem ... crying...

[2022-08-21 12:21] zsviczian commented on #5603
Only (and consistently) with React 18.
I will need to revert to an earlier version to do some more testing, but as far as I remember it was the second one that was missed.

[2022-08-21 12:25] zsviczian commented on #5603
I was only able to reproduce the error from code calling `updateScene()` from external to the Excalidraw package (i.e. from the Obsidian plugin). When debugging the code with the developer console I could not reproduce the issue... I guess somehow frames are issued while I press F8 to step through the process (?). Anyway, requestAnimationFrame seems to have solved the problem, but I am afraid that

[2022-08-21 16:33] selpolselpol opened #5605 "Bug - Images in a note.excalidraw doesn't appear"
Last version of Excalidraw and Obsidian (1.7 and 0.15.9 respectively)

Images in a note with Excalidraw does not appear, but they are still in their folders in Obsidian.

https://user-images.githubusercontent.com/55896022/185801276-43e7bd2d-48a9-44c7-9a34-37ede209cbfe.mp4

[obsidian.md-1661094174551.log](https://github.com/excalidraw/excalidraw/files/9389562/obsidian.md-1661094174551.log)
 -
[obsi

[2022-08-21 18:51] zsviczian commented on #5602
![image](https://user-images.githubusercontent.com/14358394/185806483-ace3cc36-194d-4e4d-a980-bae2f8c4e18a.png)

[2022-08-21 19:39] zsviczian commented on #5603
#5606 seems to have solved point 1.
Point 2. is still relevant.

[2022-08-22 01:01] mangele opened #5607 "I lost all my data | fedora google chrone | no session"
I have been working on excalidraw. But I never created a session or such; I only used to enter here: https://excalidraw.com/ .  Today when I restarted my linux fedora computer, it upgraded google chrome as well, and all my diagrams are gone! Please do you know if there is anywhere on my computer I should look into? Also,I have the desktop app.

Btw sorry for bringing this here, but this data is re

[2022-08-22 03:35] lanadelreysummer opened #5608 "Disappearing Drawings"
Whenever I draw in Free Draw 2, sometimes a piece of a drawing that was newly made disappears. Does it seem like I can be doing it too fast for it not to disappear? But this issue affects my pictures greatly, so I hope it can get fixed. Thank you

[2022-08-22 05:03] ad1992 commented on #5608
@lanadelreysummer can you record a video ?
What browser and OS are you using ?

[2022-08-22 05:09] #5602 closed

[2022-08-22 05:47] ad1992 commented on #5600
@LeonMaa its expected to work irrespective of your screen dimensions. Are you using Obsidian excalidraw plugin ?

[2022-08-22 05:48] ad1992 commented on #5605
cc @zsviczian

[2022-08-22 05:57] ad1992 commented on #5607
Hey so sorry for your loss! Were you using incognito by any chance ? All the data is saved to browser local storage so as long as thats not cleared / you are using incognito mode the data will persist in the browser.

[2022-08-22 06:03] mangele commented on #5607
Hey, thanks for getting back to me so quickly. No, I wasn't. I think when I restarted my computer, my fedora laptop updated some processes, including google chrome. I realised that because I had to log in again. But when I opened Excalidraw, everything was gone. Is there any path on Linux I can have a look at?
Thanks a lot for your time.

[2022-08-22 06:36] ad1992 commented on #5607
Since the data is lost, there is no way we can recover it since its stored in browser local storage :(.
By any chance do you have the below setting turned on under Chrome settings -> Privacy and Security -> Cookies and other site data
<img width="689" alt="Screenshot 2022-08-22 at 12 00 59 PM" src="https://user-images.githubusercontent.com/11256141/185854678-0efe1d77-84e9-4567-8a2f-c4f3616497a4.pn

[2022-08-22 07:06] mangele commented on #5607
I see :(. No, I don't have turned on this option. I guess when my computer updated chrome, my cookies gone together with my excalidraw diagrams, right? So, what is the most secure way to use Excalidraw? besides the paid option?

[2022-08-22 10:38] ad1992 commented on #5607
Yes it looks like all your browser data and site data was removed when updating chrome.
To avoid in future you can save a copy of your drawings in local
![image](https://user-images.githubusercontent.com/11256141/185901362-6888b147-ddc1-4713-a421-30ea4a783765.png)
![image](https://user-images.githubusercontent.com/11256141/185901419-3b380405-7491-4a1e-9f5c-fe74ee9c3053.png)

Also you can use share

[2022-08-22 10:56] Cal369 commented on #3233
Anyone looking at this today, there is a switch within the Excalidraw plugin that sets all imports to include background or make transparent. So cancel whatever extra plugins or workarounds you're currently doing.

This is amazing for designing SVG's on the fly!!

[2022-08-23 08:16] ryan-di commented on #5585
When we have points perfectly lined up, the mathematically computed bounds will be too "perfect", which can happen in grid mode. By introducing tiny random offset in the bounds computation in `getMinMaxXYFromCurvePathOps`, we can fix this issue. Does seem kinda hacky though. #5615

[2022-08-23 13:01] dwelle commented on #5605
@zsviczian also check if those images don't just have a bad `status` (non-`saved`).

[2022-08-23 13:36] ryan-di opened #5617 "Align curve bounds with how rough.js generates curve"
With #5615 we can fix the issue #5585 but it's kinda hacky. What we would like is to align the calculated bounds with how rough.js generates curve and avoid the hack fix or fix the problem in a more reasonable way.

[2022-08-23 13:52] #5585 closed

[2022-08-24 06:03] raghav-khanna commented on #3762
Hey @prabin-acharya, are you working on this?
If yes, then tell me if I can help.
If no, then I could work on this but would love to have some initial help from you

[2022-08-24 06:45] #5617 closed

[2022-08-24 11:27] prabin-acharya commented on #3762
Hi, @raghav-khanna. No, I am not working on this right now. Here are some of the resources that may help you:
https://blog.excalidraw.com/tell-your-story-with-charts/
Go through this blog and the pull requests mentioned at the end. It should give a good idea on how to start.

[2022-08-24 19:28] nikitapozdeev opened #5621 "Disconnected users don't disappear from the board in collab mode"
Hello! Thanks for the awesome project.

I've noticed some issues when users leave the collaborative mode.
They continue to be in the list of connected users and their cursors do not disappear until a new user connects, after which the state is updated.
![excalidraw-collab-bug-1](https://user-images.githubusercontent.com/6034438/186505451-7acf1e19-0818-4b7b-b781-6823e45d84f8.png)

Also, sometimes t

[2022-08-24 20:15] nikitapozdeev opened #5622 "Theme settings are reset after turning a collaboration session on and off"
Hi!

I ran into some problem. I chose the "dark" theme, but sometimes after turning the collaboration session on and off, the theme resets to "light".

### Steps to reproduce
1. Clear localStorage and refresh the page.
2. Choose "dark" theme. In localStorage theme also switches to "dark".
3. Start collab session.
4. Refresh the page. Here the theme automatically switches to "light" and that's stra

[2022-08-24 22:07] dwelle commented on #3762
I've assigned the issue to you @raghav-khanna! ❤️

[2022-08-25 06:47] Maxim-Filimonov commented on #4656
@dlfdyd96 do you happen to have vim plugin installed? I found that my Vimium conflicted with shortcuts on excalidraw for me.

[2022-08-25 12:15] dlfdyd96 commented on #4656
@Maxim-Filimonov  Oh, that's right. I think it's the same problem. So I registered as an exception page for that plug-in.

[2022-08-26 02:10] vim-usds commented on #4797
Love excalidraw! Thank you for an awesome product!

+100 points for everything awesome. -10 for auto-snapping. Looking forwarding to any solution that allows it to not happen.

[2022-08-26 15:07] acsamson opened #5627 "when to addPage Template and Size"

[2022-08-26 16:27] xuanswe opened #5628 "[Proposal] Support native desktop version to draw directly over the screens"
Excalidraw is the best drawing tool online. But sometimes, we want to draw directly over the monitor screens.
It would be nice if Excalidraw could support a native desktop version (Windows, Mac) similar to https://github.com/antfu/live-draw.

[2022-08-26 17:09] raghav-khanna commented on #3762
Thanks! I'll start working on it

[2022-08-27 18:12] guocf20 opened #5630 "help icon disappear ?"
i'm not good at frontend.  my temp solution
src/components/Footer.tsx

      <div
      className={clsx(
          "layer-ui__wrapper__footer-right zen-mode-transition",
           {
            "transition-right disable-pointerEvents": appState.zenModeEnabled,
          },
        )}

      {actionManager.renderAction("toggleShortcuts")}
    </div>

[2022-08-27 21:02] #5630 closed

[2022-08-27 21:02] dwelle commented on #5630
Oops, fixed!

[2022-08-28 12:23] mabdullahadeel commented on #5622
It looks like it's a bug 🐛.
I was able to reproduce it on my end.

### System
Windows 10 (21H2)
Chrome Version 104.0.5112.81 (Official Build) (64-bit)

## I am working on the potential fix

[2022-08-28 14:00] 7flash opened #5632 "handle text elements w/ width/height missing"
currently, when text elements in initialData has null width/height, it would render like below, but would be better to calculate width/height from the font size and render element properly

it's important for the case when excalidraw documents are generated by external tools

![image](https://user-images.githubusercontent.com/4569866/187077637-3439b638-dd25-4fd1-8cd1-a4a5e9de66c6.png)

[2022-08-28 15:52] yhacohen opened #5633 "Support Hebrew hand written font"
The Virgil font is does not support non-latin unicode characters. Can it be possible to add [Gveret Levin font](https://alefalefalef.co.il/en/resources/%D7%A4%D7%95%D7%A0%D7%98%D7%99%D7%9D-%D7%91%D7%97%D7%99%D7%A0%D7%9D/) to support the Hebrew unicode range which is free or eneable some custom fonts feature?

Maybe as a wider effort also arabic characters will be supported with another font?

[2022-08-28 23:55] r4z4 opened #5634 "One"

[2022-08-29 00:05] r4z4 commented on #5634
Hey everyone.  I have come to love the product and enjoy using it, and it has really met the need for me after looking around and finding so many awful solutions. One thing I do continue to run into though is issue with saving, and I have it on several machines and I seem to have the ability to one click save (with a little Disk Icon made available) in the upper left, but cannot get it in other ve

[2022-08-29 01:32] r4z4 opened #5635 "Format Painter Option"
Hello again.  I figured I might as well get all my issues out of the way while I am here.  Similar to the other issue I posed about the one click save, I was just wondering if anyone could educate me on the history of requests or if there is one for a feature similar to the format painter options in Microsoft Word. Say you have a specific color, style, shape etc.. just save all of that (Header #2

[2022-08-29 13:04] shivam1410 opened #5637 "Not able to click on Browe library section"
![image](https://user-images.githubusercontent.com/33784139/187207612-afda9320-e590-447e-b575-e9d0e3b2a8ea.png)

[2022-08-29 13:11] ThisIsMyGithubRepo commented on #5637
For me, clicking in the library panel just dismisses it - which means I can't even add an item to the canvas once it's in the library.

Reproduction Steps:
1. Go to Excalidraw library: https://libraries.excalidraw.com/?theme=light&sort=default
2. Pick several libraries and click add to Excalidraw for each of them. You want a lot of icons so that the library panel needs to scroll.
3. Go back to exc

[2022-08-29 13:22] d1onys1us commented on #5637
yes i am having the exact same issue. +1

[2022-08-29 13:33] YuiiraX commented on #5637
https://github.com/excalidraw/excalidraw/pull/5636
seems to have been caused by this PR

[2022-08-29 13:56] #5637 closed

[2022-08-29 13:56] ad1992 commented on #5637
This should be fixed now. Thanks for reporting this.

[2022-08-29 15:03] jimkberry commented on #5416
Yeah, ok, so not surprisingly I've gotten tied up with other stuff and haven't done anything code-wise for this.

However: I *did* find a workaround which allows you to have multiple simultaneous discrete sessions: just create yourself 3 or 4 browser "profiles" - in Brave anyway setting them up is pretty trivial, as is switching between them and even saving a desktop shortcuts to start a new brows

[2022-08-29 16:31] ThisIsMyGithubRepo commented on #5637
Confirmed working for me.
Thanks!

[2022-08-29 19:35] shivam1410 commented on #5637
Working for me, thanks

[2022-08-29 23:06] gastonlrossy commented on #2310
It would be very usefull, I always lose my diagrams in excalidraw and it's extremely difficult to find them...

[2022-08-30 05:18] tisonkun commented on #1972
+1 macos + chrome + docusaurus cannot display the font properl.

[2022-08-30 09:56] desk7 commented on #5265
I support this!

[2022-08-30 17:51] nickfreemandesign commented on #4233
@dwelle any status here? Looking to make much more use of excalidraw+ by using it within notion

[2022-08-30 18:49] DanielJGeiger commented on #5265
Review of #2993 is underway.  Eg, PR #5449 which @ad1992 just merged was part of #2993.  Next up is #5620.

MathJax support *per se* is stable.  Now, I have done a lot of underlying structural work so Excalidraw can properly support such extensions.  The review of that underlying work is an ongoing process.  Once that concludes, the idea is for MathJax support to live on subdomains of excalidraw.c

[2022-08-31 11:02] anatoliibakhtin opened #5642 "3. 🐞jumping text"
Hello dear developer ! my problem:

3. Jumping text - I didn't see a pattern after which number of clicks or on which part of the block, it starts jumping to the upper left part of the canvas if you've just created the canvas:

https://user-images.githubusercontent.com/71871141/187664032-2a4b3f07-208f-41db-8236-648572bdbd0c.mp4

Cool if the font doesn't bounce when editing :)

Thank you for your a

[2022-08-31 11:02] anatoliibakhtin opened #5643 "4. 🐞 self-changing tools"
Hello dear developer ! my problem:

4. tool changes independently - when you move objects, it switches from the cursor to enter text.

https://user-images.githubusercontent.com/71871141/187638435-4d476374-bad6-49fc-9e97-82589c945f74.mp4

It's cool if "enter text" will show up when I need it, not at random moments, disrupting movements.

Thank you for your attention !🍍

[2022-08-31 11:02] anatoliibakhtin opened #5644 "5. 🌟too much action to change the color"
Hello dear developer ! my problem:

5. too many actions to change the color - step 4 can be removed: the menu closes after clicking on the desired color

https://user-images.githubusercontent.com/71871141/187638500-0e22ba59-ac27-431c-a974-b9ef56cf2627.mp4

There will be more intuitive controls with the interface!

 Thank you for your attention !💐

[2022-08-31 11:03] anatoliibakhtin opened #5645 "6. 🌟set of preconfigured tools"
Hello, dear developer! my problem:
6. add a set of ready-made tools - with colors, boldness, transparency, which can be selected by clicking on the tool 2 times

https://user-images.githubusercontent.com/71871141/187638697-ea4547af-01f5-4234-9b7b-4ba193b316f1.mp4

You can make marks with ready-made tools without being distracted by color selection. For now it feels like I'm a one-armed artist/writ

[2022-08-31 11:03] anatoliibakhtin opened #5646 "7. 🌟group several elements with the button"
Hello dear developer ! my problem:

7. of several elements is more convenient to group - if this button will be next to selection frame.

https://user-images.githubusercontent.com/71871141/187638781-8e98904f-f366-4233-90dd-bb27feaf1201.mp4

or something like the [miro](https://miro.com/app) pop-up menu
![chrome_cZhIx5YtEc](https://user-images.githubusercontent.com/71871141/187653053-9d9103f2-a365-

[2022-08-31 11:03] anatoliibakhtin opened #5647 "8. 🐞the buttons are bouncing"
Hello dear developer ! my problem:

8. Buttons bounce - I almost never missed hitting the "undo/redo" buttons, it just seems weird, funny that they're bouncing.

https://user-images.githubusercontent.com/71871141/187638904-13e83cd2-5aa0-4fbb-87ff-9a2db2d6d88d.mp4

![Obsidian_I0NYcjZVkE](https://user-images.githubusercontent.com/71871141/188131396-a5d59533-88ba-4079-8266-e4855b800102.jpg)

It is ex

[2022-08-31 11:03] anatoliibakhtin opened #5648 "9. 🌟Switching between viewing modes via the button"
Hello dear developer ! my problem:

9. Switching between **V**iew, edit modes more convenient, faster, with a button rather than a context menu

![button view mode](https://user-images.githubusercontent.com/71871141/187639069-eaff74e6-a57a-470a-9067-91f595d7ba02.jpg)

is relevant to the phone, as there are no hotkeys.

Thank you for your attention !🌹

[2022-08-31 11:03] anatoliibakhtin opened #5649 "10. 🌟it is difficult to unlock a locked element"
10. It is difficult to unlock a locked element - the context menu pops up right under the cursor, deselecting.
It would be much more convenient to lock and unlock items if the menu was a little farther from the cursor

https://user-images.githubusercontent.com/71871141/187657572-1b2a6688-3e7a-4024-a938-c876cdc049bb.mp4

or replace the list context menu with a popup menu or pie :

Thank you for you

[2022-08-31 11:03] anatoliibakhtin opened #5650 "feat: consider multiple locked elements as a single group when unlocking"
Hello dear ! My problem:

11. Several locked elements are very difficult and long to unlock, if there are more than 1.

 There is need "fake auto-grouping" of elements, before locking/unlock all instead of clicking on each of the 100 little elements. Double quick click on item - will highlight only one item to unlock.

https://user-images.githubusercontent.com/71871141/187657401-b1d17430-e161-4d7f

[2022-08-31 11:03] anatoliibakhtin opened #5651 "12. 🌟instead of the context menu"
Hello dear developer ! my problem:

11. the context menu in the mobile version takes up half the screen, I would prefer:

an auto-popup menu like [Miro](https://miro.com/app):
![chrome_ocBWggw9TM](https://user-images.githubusercontent.com/71871141/187653570-1f35d81c-a2f3-49b4-916d-e3b01604c090.jpg)

or Pie (I like it better.):
![pie instead of a list](https://user-images.githubusercontent.com/7187

[2022-08-31 11:11] anatoliibakhtin opened #5652 "🐔form twitter "If you've answered "not using on mobile", is it because:"
Hello dear developers ! [About Twitter voting ](https://twitter.com/excalidraw/status/1563209735431528448) increasingly reluctant to use the mobile version because of several reasons, below I've ranked them in priority of importance, from most to least, 🐞(bug) 🌟(FR):

1. 🐞inconvenient to use drawing - it is necessary to change the tool "selection" to navigate and switch back to the drawing tool to

[2022-08-31 12:01] ad1992 commented on #5652
Hey @anatoliibakhtin thank you for the detailed feedback ❤️
We will soon look into it

[2022-08-31 21:58] DallasCarraher commented on #5064
For me, images stopped persisting and I started getting CORS errors from the api.

[2022-08-31 22:08] ixnet commented on #4888
Really appreciate your work on this amazing plugin, and would love to have fixed that issue as a proud lefty 😇

[2022-09-01 07:51] ad1992 commented on #5064
Is this on [excalidraw.com](https://excalidraw.com) ?

[2022-09-01 08:21] javiavid opened #5654 "Partial Selection Mode"
In some design programs it is possible to change the mode of the selection tool to make selections faster and easier.
There are usually 2 modes, full selection of the object (the current mode in excalidraw) and partial selection.

The partial selection allows that if an area of ​​the object is selected, the object is activated as selected without the need to select the object completely.

I think

[2022-09-01 10:11] #5622 closed

[2022-09-01 12:58] mqu commented on #3660
this full stack docker-compose may help you : https://gitlab.open-mind.space/pandel/excalidraw-docker

[2022-09-01 14:27] riekusr commented on #3660
@mqu Getting SSL error, opened it up before on my phone and looked awesome, what features are not there that are available with pro version?

[2022-09-01 20:26] mqu commented on #3660
WIP for me : Excalidraw is working fine ; I have change configuration because  I need to setup this stack behind an apache reverse-proxy. Persistant room qtill not working now.

[2022-09-01 21:25] DallasCarraher commented on #5064
no, I haven't tested that. I've been using plus. There's no special network setup either; it just looks like the service layer isn't open to taking requests from the domain. Here's a screenshot:

![image](https://user-images.githubusercontent.com/4131693/188015749-40c4c4aa-9253-430c-b5e7-cf871d71842b.png)

[2022-09-02 01:50] pikatwinky commented on #5652
It could be such a shame if this Twitter voting would stop all future development and improvements of the mobile version.
As the things are now I think the combination Obsidian + Excalidraw is the most powerful tool created to date ( for thinking, taking notes, knowledge management, visual representation of ideas, studying, sketching in general).  I mean, you have all the power of such a tools ide

[2022-09-02 07:49] ad1992 commented on #5652
Hey @pikatwinky glad to know you are using Excalidraw!
Be assured that we are never going to stop the improvements for mobile experience!. This tweet is just to understand the usage so it can help us prioritise better.
Our ultimate goal is to have best user experience when using Excalidraw irrespective of screen dimensions / devices.

[2022-09-02 09:32] ShadiestGoat opened #5657 "Support for arcs"
Hello, I love excalidraw, but I am so frustrated by how I can't just create an arc. I would love for me to be able to create 'partial circles', and I personally think the best way to implement them for the end user is like how inkscpae does it. Double click on it to enter edit mode, like what happens when you double click lines, and there is a little dot on the top of a circle that can be dragged.

[2022-09-02 16:18] qodesmith commented on #4797
Is there currently a way to "unbind" an arrow?

[2022-09-02 17:49] theol0403 commented on #4797
The only way is to cut and paste. Sucks that this issue has not yet been resolved.

[2022-09-03 21:23] dwelle opened #5661 "linear element's hitbox interweaved with holes"
![excal-linear-hitbox-bug](https://user-images.githubusercontent.com/5153846/188288076-136c23bd-e289-498a-be6f-05b30d4973b6.gif)

https://excalidraw.com/#json=seAp8lS2iGYAV2FtuLFT-,PA6KsAwSEYmLiZ8Y-vF1yg

[2022-09-04 04:22] JJPro opened #5662 "[bug] Browse Libraries link is broken in current build"

[2022-09-04 12:17] dampodraza commented on #5010
are there any news about this feature?

[2022-09-04 21:57] dwelle commented on #5010
We're looking into starting to work on it during this week!

[2022-09-04 22:21] dwelle commented on #5662
Hi! Do you mean excalidraw.com or the npm package?

[2022-09-04 22:27] dwelle commented on #4797
I feel everyone in this thread. I wonder what to do short of 1) disabling arrow-text binding altogether 2) make it opt-in/opt-out. As suggested somewhere above, (2) will be likely the way to go, but it's not really a solution as the default behavior (which will likely remain to be bind-by-default) will still not work properly.

[2022-09-05 00:41] 7flash commented on #1126
Currently my workflow to manually cut out the word from the text element, apply color to it, lock the original element and try to keep position of new element same as before. I wish I could drag&drop a word out of text element and it would create a new text element automatically adding empty space in the original element and placing a new one above.

[2022-09-05 05:08] JJPro commented on #5662
I'm using self-hosting in docker. Tried official image on docker hub and `docker build` with this repo, the Browse Libraries link is broken in both scenarios.
Here is what I got: `http://192.168.0.201:4000/undefined?target=_excalidraw&referrer=http://192.168.0.201:4000/&useHash=true&token=SURIS0iEvcHjo6TwlzZPi&theme=light&version=2`

[2022-09-05 05:56] ad1992 commented on #5647
This should be fixed by https://github.com/excalidraw/excalidraw/pull/5658

[2022-09-05 08:20] anatoliibakhtin commented on #5647
very cool, multiplayer development !🌎

[2022-09-05 08:20] #5647 closed

[2022-09-05 09:22] baldurh commented on #4797
@smyrman wrote:

I know your comment is pretty old and it seems the behaviour has changed a bit. But I don’t remember ever having this particular problem. What you’re basically doing is unbinding and rebinding the arrow when you attempt to move the right endpoint and then rebinding the left endpoint. This way you’re doing an unnecessary extra step. Here’s how it looks for me right now.

![excalidr

[2022-09-05 11:56] beiming-org opened #5665 "Hope Support Chinese Font Thanks~"
Hope Support Chinese Font Thanks~

[2022-09-05 13:23] baldurh commented on #4797
Could the solution be one of the following?
A) Add a configuration. Enable/disable binding? Any arrow added/moved with this disabled would not bind to anything.
B) Add a configuration. Something like ‘Break binding when moving objects’ so that if you want to move something and ignore all bindings, this is something you could turn on.
C) Add a hotkey. Holding down some key while moving an object wo

[2022-09-06 07:46] pavelpower opened #5666 "Bug: when resize shape with associated text element, font size changes very much"
https://github.com/excalidraw/excalidraw/blob/ad0c4c4c78f4e87e8eae96184a909bc9fec6e1ba/src/element/resizeElements.ts#L510-L511

Solveing: change size of a text element by difference old size and new size of a associated container with this text element

https://user-images.githubusercontent.com/301646/188576833-7af41864-9619-4cec-9f2d-66f9f1912a1b.mov

[2022-09-06 07:53] pavelpower commented on #5666
https://github.com/excalidraw/excalidraw/pull/5667 - solving

[2022-09-07 00:17] AlexisBallo2 commented on #1786
I think this can be closed.
<img width="450" alt="image" src="https://user-images.githubusercontent.com/41343138/188761804-56a4b3f0-f5c2-45fa-8603-6119870620a1.png">

[2022-09-07 03:26] PapaKryptic opened #5668 "Latency when using a Wacom drawing tablet (CTL-4100WL)"
There is latency and what appears to be speed ramping when using a Wacom drawing tablet in Windows Ink mode.
This does not happen on the Excalidraw website (At least on Microsoft Edge), and it does not happen in the Excalidraw plugin when Windows Ink is turned off for Obsidian.

It would be quite difficult to capture a video in a way that would be meaningful (it just feels very off), but I would b

[2022-09-07 08:01] 7flash opened #5669 "cache rendered text elements"
When I am zooming-in and out often, I can notice a delay when text re-rendered with new resolution.. perhaps caching can help to make it more smooth..

[2022-09-07 08:08] dwelle commented on #5669
The reason for that actually is because we're rendering from a cache, and we invalidate the cache a bit after you stop scrolling.

[2022-09-07 08:12] dwelle opened #5670 "create bound container from text element"
Same as we allow binding text to a container via contextmenu, we can allow create a text container from text alone.

https://user-images.githubusercontent.com/5153846/188826284-62147351-1502-497f-abf0-dcd2b57b3243.mov

(requested on Discord)

[2022-09-07 08:17] dwelle commented on #5668
HI!

Where does it happen, Excalidraw Plus?

[2022-09-07 08:18] #1786 closed

[2022-09-07 14:47] dwelle opened #5671 "improve text wrapping inside diamond/circle"
![image](https://user-images.githubusercontent.com/5153846/188908265-5e1992e9-a4e6-4bd7-89c4-bb32fb182fed.png)

We should make the text bounding box in which it wraps work something like this:

![image](https://user-images.githubusercontent.com/5153846/188908219-7c1f98eb-bbc7-46df-8029-0d049d05f24c.png)

[code]

[2022-09-07 17:22] khandragon commented on #5334
Can confirm experienced a similar issue with large images

[2022-09-08 08:38] dwelle opened #5672 "prevent deleting whole line when inside the line editor"
there's a lot of false positives when trying to delete a point instead. You rarely want to delete the whole line when in the editor.

[2022-09-08 09:01] EzzatOmar commented on #4827
@dwelle Any updates in decoupling the editor?

[2022-09-08 09:12] ad1992 commented on #5661
Looking into it turns out that `isHittingElementNotConsideringBoundingBox` is returning false due to which this is happening

[2022-09-08 09:19] ad1992 commented on #5672
@dwelle could you share a drawing/recording for the same ?

[2022-09-08 16:59] yuvrajchaudhari03 opened #5674 "In the library section library should show list wise or say images should appear with respect to the library name"
I'm using the npm package, basically integrating it and I want to use the libraries section such as below:

currently, I think it shows all library images combine.
let's suppose I'm importing **library A and library B**

so I want to differentiate it in the library section such as users will know that this **image is from library A** and **this is from library B** .....like this

how to do it?

[2022-09-08 18:00] erlingal opened #5675 "Crash: 'exit zen mode' button"
Somewhat unpleasant if you accidentally hit the keyboard shorcut and can't leave :-)

helpers.ts:111 Uncaught TypeError: Cannot read properties of undefined (reading 'getElementsIncludingDeleted')
    at value (manager.tsx:126:27)
    at onClick (Actions.tsx:299:20)
    at Object.Ae (react-dom.production.min.js:54:317)
    at Be (react-dom.production.min.js:54:471)
    ...

[2022-09-08 18:26] ad1992 commented on #5675
@erlingal possible to share the steps to reproduce this ?

[2022-09-08 22:00] dwelle opened #5678 "removing line points doesn't properly sync to remote clients"
likely related to https://github.com/excalidraw/excalidraw/pull/5677, but that PR doesn't fix this case for some reason

![excal-line-edit-syncing-bug](https://user-images.githubusercontent.com/5153846/189233390-d84e916d-9dab-4b2e-9728-8f330e2d8d7f.gif)

[2022-09-08 22:18] docmars commented on #5650
To add, it would be super nice to have an **Unlock All** keyboard shortcut and/or a button somewhere to do this.

[2022-09-09 05:58] sdw-m-watanabe opened #5679 "When zoomed in, the drawing content is not displayed."
/Users/sdw/Desktop/画面収録 2022-09-09 14.55.08.mov

Appears to occur in safari on all devices
Error message
[code]

[2022-09-09 07:11] sdw-m-watanabe commented on #5679
https://user-images.githubusercontent.com/39362033/189292527-444dd3b4-7810-4c44-af59-45b28050812c.mov

[2022-09-09 08:03] dwelle commented on #5679
What's your OS + Browser (version) + device?

[2022-09-09 08:10] josephp27 opened #5680 "__SECRET_INTERNALS_DO_NOT_USE_OR_YOU_WILL_BE_FIRED"
Hi, I seem to be getting this weird error when I attempt to embed excalidraw as a component in my app:

[code]

[2022-09-09 08:20] dwelle commented on #5218
Actually, multiple things can be going on here. I think we still have a problem with detecting whether a zoomed-in element is visible. But your video is more likely caused by RAM/canvas size because all the elements disappear.

Can you share a diagram that manifests the above so I can test?

[2022-09-09 08:56] sdw-m-watanabe commented on #5679
it was `width:2940px height: 832`

The upper memory limit of the canvas in safari is 384MB.(https://pqina.nl/blog/total-canvas-memory-use-exceeds-the-maximum-limit/)
When zoomed in, the canvas zooms in and waits for the memory limit to be exceeded.

I guess it is the same thing that happens when you zoom in on a small diagram.

I have solved this problem before by developing with canvas.

I can't

[2022-09-09 11:39] dwelle commented on #5679
What we're doing is we have one main canvas which size is always the `viewport_size * devicePixelRatio`, so on low-dpi-screens where dPR=1, the canvas is always at most the size of your viewport. This is fine.

Where the problem lies is we also create one canvas per each element on the scene as a perf optimization, where we don't rerender the element canvases unless we modify the element or zoom t

[2022-09-09 11:44] dwelle commented on #5680
Hi. How are you embedding the Excalidraw (can you show code, including imports)? Are you using the npm (which version)?

Alternatively, can you create a [CodeSandbox](https://react.new/) example that reproduces this error? This would be best.

[2022-09-09 11:53] dwelle commented on #5675
No need for repro steps, the zen mode exit button simply doesn't work :)

[2022-09-09 11:53] #5675 closed

[2022-09-09 11:54] dwelle commented on #5674
We will be improving the library and likely add sections or similar.

[2022-09-09 12:40] ad1992 commented on #5675
Good catch David! Thanks for fixing it 🚀

[2022-09-09 14:12] Extellion opened #5683 "Double tap + hold on mobile make the shape behave weirdly"
https://user-images.githubusercontent.com/13915148/189313631-e777c742-cfa3-44d8-a7b5-247e50c7b849.mp4

**Browser**: Android Google Chrome v 105.0

**Reproduction steps**:

1. Launch excalidraw on mobile
2. Create a shape
3. Move it anywhere
4. Double tap + hold the second tap
5. You are in text insertion mode + you are moving the shape

**Expected behaviour**:

1. Double tap + hold the second tap

[2022-09-09 14:30] 7flash commented on #5334
Perhaps both full-resolution picture and thumbnail can be saved.. switching between them when zooming close enough..

[2022-09-09 14:37] 7flash opened #5684 "Proposal: Meta-Elements"
I need to have elements on my canvas which are synced to external sources.. i.e. Image Element linked to weather API showing weather updated daily automatically..

[2022-09-09 14:46] 7flash commented on #5684
The proposal to add optional "metatag" to Element.. then user can edit this field and connect elements to external providers..

![image](https://user-images.githubusercontent.com/4569866/189377758-88294124-c9fb-4d9a-ba4b-fabdd9674149.png)

[2022-09-09 14:48] 7flash commented on #5684
These meta-elements can be saved as separate rows in public database.. then provider can filter through metatag and update their content..

[2022-09-09 22:23] mathewdegauven opened #5685 "Request: Link to Internal Object"
Having an infinite canvas is great, but it's easy to get lost sometimes. If we could use the link menu to add an anchor to a shape, then we could create a link that moves the view to that shape.

This could be useful for navigating presentations, as well as navigating wide drawings.

[2022-09-10 03:12] josephp27 commented on #5680
Hi, thanks for the help!

So I'm using yarn version 1.22.19

[code]

I could not replicate on codesandbox

[2022-09-10 10:19] dwelle commented on #5680
Looks fine to me.

Also sorry, I meant to say "Are you using the npm [excalidraw package], and which version". I assume stable (`yarn add @excalidraw/excalidraw`)?

And what about React version?

[2022-09-11 08:02] dwelle commented on #5685
This is part of https://github.com/excalidraw/excalidraw/issues/3276 — it's been laying quite dormant but we still intend to implement this and depending on time constraints, it shouldn't take that long.

(Closing as duplicate.)

[2022-09-11 08:02] #5685 closed

[2022-09-12 08:13] #5680 closed

[2022-09-12 10:11] 7flash opened #5688 "Feature: Record Audio Notes"

[2022-09-12 10:11] 7flash opened #5689 "Feature: Attach Camera Photos (Mobile)"

[2022-09-12 10:12] 7flash opened #5690 "Feature: Drag&Drop Links"

[2022-09-12 10:13] 7flash commented on #5690
![nine-twelve-first](https://user-images.githubusercontent.com/4569866/189629241-6f993551-4744-4f79-8fec-a039eb4ef137.gif)

[2022-09-12 14:59] PapaKryptic commented on #5668
I am going to close the issue. I accidently posted this to the main repo when I meant to post it to a fork.

[2022-09-12 14:59] #5668 closed

[2022-09-12 16:53] hyunar commented on #5570
I tried to replicate this on a Pixel 6 Pro, Chrome 105.0.5195.79, and found that the behavior of points on a line are inconsistent. Sometimes the context menu moves, and sometimes it does not.

[2022-09-12 23:24] greddyatpt opened #5691 "Feature: Excalidraw as a Web Component"
Is Excalidraw available or in the works as a Web Component?  For example,
[code]
Optionally, tool palette as a micro frontend:
[code]

[2022-09-13 14:58] dwelle commented on #5691
No. That would require decoupling from React, first — which is on the roadmap!

[2022-09-13 15:00] dwelle commented on #5570
when you say points on a line, what do you mean exactly (in relation to context menu)?

[2022-09-13 15:02] dwelle commented on #5690
We can probably support this (I also wanted to do this when pasting links).

[2022-09-13 15:02] dwelle commented on #5689
can you elaborate? Doesn't it already work by importing an image? Is the idea that you take a photo directly into Excalidraw?

[2022-09-13 15:03] dwelle commented on #5688
is this meant as a speech-to-text feature, or recording an audio and attaching it to the canvas as a file?

[2022-09-13 15:08] hyunar commented on #5570
Sorry for being unclear; I added a recording to my earlier report.

[2022-09-13 15:16] dwelle commented on #5570
Oh, I see. Thanks! We'll need to figure this one out for sure...

[2022-09-13 15:28] dwelle commented on #5684
If we consider just the use case you show above, is it an image whose source is coming from outside and thus updates on each load?

For more generic use cases, this is a case for custom, non-canvas-based elements, which is something we want to flesh out more — we're already using this in Excalidraw+ for comment elements.

Or is the requirement for this to be rendered on canvas so you can draw over

[2022-09-13 15:29] dwelle commented on #5440
this is now done

[2022-09-13 15:29] #5440 closed

[2022-09-13 15:45] 7flash opened #5694 "Proposal: StretchText Elements"
The concept of StretchText has been invented by Theodor Nelson (the same person who invented the concept of HyperText)

My proposal is adding a new field to elements "fineness" which specifies at which level of zooming the element should appear. It can be a range slider in UI with optional checkbox "show /hide at current level"

![image](https://user-images.githubusercontent.com/4569866/189944932-

[2022-09-13 15:53] 7flash commented on #5684
More practically, I am thinking in the context of codebase, - how to keep track over changes in github repository. I would like to paste links to files and have an always up-to-date representation. Here is a first step towards implementation, and the next I want to insert syntax-highlighted images instead of plain text, and then sync those images.

https://github.com/zsviczian/obsidian-excalidraw-

[2022-09-13 15:55] 7flash commented on #5688
I meant recording an audio first, and then transcribing audio later somewhere along OCR

[2022-09-13 15:55] 7flash commented on #5688
https://github.com/excalidraw/excalidraw/issues/4257

https://github.com/excalidraw/excalidraw/issues/5379

[2022-09-13 15:57] 7flash commented on #5689
Take a photo. Native-like dropdown "choose from gallery"/"open camera"

[2022-09-13 15:58] dwelle commented on #4233
Hey @nickfreemandesign — apologies for the late reply. Improved workflow will be shipping within a week!

[2022-09-13 21:04] dwelle commented on #5684
how do you imagine that to work in the context of excalidraw?

[2022-09-14 04:28] sholms opened #5696 "I'm hosting locally, but I have a 2mb limit per file, is there any way to change the import limit?"

[2022-09-14 09:51] 7flash commented on #3276
Alternatively, we can introduce a new element "Arrow Link" which can snap two elements together and have smooth transition from one to another

I am actually currently using this approach of connecting elements with lines but then following the trajectory of line manually to find it's end connection

![image](https://user-images.githubusercontent.com/4569866/190122371-1024a9f6-1210-4167-b632-6ab6d

[2022-09-14 16:02] 7flash commented on #3276
After going through suggested approaches, I am coming up with solution of "Pinned Anchors"
--

The idea to add another action "Pin element" which would be very similar to "Create link" but instead of URL it prompts to enter custom label/alias text

All pinned anchors are visible as a floating list in Island container

Single click on the anchor triggers "select element" action

Double click on the

[2022-09-14 20:45] dwelle opened #5697 "svg generation outside of browser contexts"
generating svg from excalidraw source outside the browser

related: https://github.com/excalidraw/excalidraw/issues/1261

[2022-09-16 11:55] anatoliibakhtin commented on #5176
@nxboo @yin-zhang ?

[2022-09-16 14:29] timcolson commented on #2035
TIL that I can overlap the first and last points to "close" a shape. Yay!!! 😄
...300 ms later...
Wait, I can't move them as one or make them smooth/round? 😢
But, but, but, how do all those custom shapes do it?
...4.2 min later...
<finds this issue>
<reads it>
<checks last update date...>
Bummer. 😭

[2022-09-16 17:40] zsviczian commented on #5603
@dwelle, I just bumped into #5508
Could this issue have the same root cause?
What would happen if we move updateScene() to use flushSync?

[2022-09-16 17:43] zsviczian opened #5703 "When editing linear element and selecting a tool on the toolbar it jumps back to the selection tool"
@ad1992 - I think this is one for you. I've been at it for 2 hours now, but I can't (yet) figure out the root cause. The issue does not affect excalidraw.com, but can be reproduced in the Visual Studio component and in Obsidian as well.

This issue only happens when `appState.editingLinearElement !== null` before clicking a tool icon on the toolbar.

Effectively what happens is the tool the user c

[2022-09-17 04:36] zsviczian commented on #5689
This is what I see when I click add image on my iPad. Seems to be exactly what you are looking for.

On Android the experience seems to differ depending on the browser. In some cases you can only select images from the library in others you also have the option to take a photo with the camera.

![D07C3445-9462-41CB-8AD3-9543E70BC91F](https://user-images.githubusercontent.com/14358394/190840459-c31

[2022-09-17 07:56] dwelle commented on #5689
Yes, on my clean Android it works like that as well.

Ultimately I don't think there's even a browser API for this, and if there was and we added our own dropdown, it'd mean that on platforms like iOS pictured above, adding an image would mean going through 2 more or less identical dropdowns.

[2022-09-17 07:56] #5689 closed

[2022-09-17 14:29] JuanPedroPontVerges commented on #4833
Isnt this closed? https://github.com/excalidraw/excalidraw/pull/5384

[2022-09-17 17:03] MattKleinsmith commented on #4616
Hi, just chiming in here. What I'd like from a Exalidraw dark mode:

1. Dark UI
2. Dark canvas

And on the negative side:

1. Please don't change my images. That's my responsibility. Currently, I avoid using images in Excalidraw, because it inverts them.
2. Please don't make the hex values wrong. "000000" should mean black, not white.

My plan for now is to use light mode (i.e. accurate mode), and

[2022-09-17 17:34] MattKleinsmith commented on #4616
@dwelle

The dilemma is real. Excalidraw must sacrifice something. Currently, Excalidraw is sacrificing the accurate-dark-mode use case. The other options of sacrifice are:

1. The inversion use case
2. Simplicity of code

I recommend sacrificing simplicity of code, instead of sacrificing an important use case. In other words, I recommend sacrificing the developer's wants (_"I don't want to keep t

[2022-09-17 17:38] dwelle commented on #4616
Hi!

Not something we do by choice, but due to how our dark mode work right now.

I assume you're using Safari? On other browsers that support canvas filters we selectively invert the images back (the double invert isn't 100% accurate, but for now it seems serviceable).

Isn't that the point of canvas-application dark mode? If we didn't, and only inverted the canvas background, then all your black

[2022-09-17 17:54] MattKleinsmith commented on #4616
Hi David,

Thanks for your reply!

No, I use light-colored shapes on dark backgrounds. I don't need Excalidraw to modify my colors (please don't). I just need the canvas background to be dark, same with the UI. Currently, unfortunately, I can't achieve a dark canvas background and dark UI in Excalidraw without having incorrect hex colors and inverted image colors.

No, and just to clarify, I'm onl

[2022-09-17 18:13] mabdullahadeel commented on #5690
I am working on this.
@dwelle

[2022-09-17 20:36] Mobuos commented on #4616
Maybe the change between dark/light mode should only map colors to the new palette. You could even map the colors used for shapes using the inversion currently used... That would solve the accuracy of hex codes while avoiding messing up any use-cases right?

For example, red is #FA5252, when switching to dark mode all that is needed to do is map that color to #F86769... Ideally the palette of colo

[2022-09-17 21:02] #4850 closed

[2022-09-17 21:24] #5703 closed

[2022-09-17 21:28] dwelle commented on #2035
@timcolson how do you feel about https://github.com/excalidraw/excalidraw/issues/4359?

[2022-09-17 21:48] MattKleinsmith commented on #4616
This is a great idea. It solves part 3: "A hand-chosen default color palette that goes well with the dark canvas".

Unfortunately, there are two conflicting use cases:

---

### **Toggling** between light and dark at a moment's notice, even in the middle of project:

The best solution for this that I know of is **global inversion**, at the expense of color-code accuracy.

---

### Choosing light o

[2022-09-18 07:54] josephbuchma commented on #4093
I have a rough [implementation of this feature](https://github.com/excalidraw/excalidraw/compare/master...josephbuchma:excalidraw:fixed-canvas-size?expand=1). It's tailored for my specific use-case, which is: a fixed-size canvas that fills parent container, while maintaining proper aspect ratio, without panning or zooming available.

The UI/UX part is sub-optimal for the excalidraw-app, which shou

[2022-09-18 14:19] mmmd-am commented on #4093
Awesome @josephbuchma -

Are you saying you disabled panning and zooming?
Or it's not available with this solution.

Panning and zooming would still be important to my use case; as would having a background image that pans and zooms with it..

[2022-09-18 14:58] falsethesis opened #5706 ""Backlink" á la Obsidian/Logseq disappears after coming back to it"
Hi everybody,

today I tried to implement backlinks to sort of connect multiple excalidraw boards. The way I did it was by simply writing and adding a link to a textblock on (let's call it) **"board 1"**. This link is essentially an exported excalidraw board - let's call that board **"board 2"**. Now after clicking on the link, it takes me to the destined **board 2**, great! I do the same now on b

[2022-09-18 18:27] josephbuchma commented on #4093
Yes, if the scene has a fixed canvas size, panning and zooming are not available.
This solution can be extended to support panning and zooming, although will require a bit more work. I didn't bother since I don't need it. But maybe I'm missing something, it's still a work in progress.

[2022-09-19 07:12] danielbeutner opened #5707 "When a filled library is open the app is very slow"
If I open my library the scrolling and dragging is very slow.

See:

https://user-images.githubusercontent.com/531853/190966411-c4a64c49-0850-4be1-adde-69212d18efae.mov

If you need more info just drop me a line.

[2022-09-20 06:28] YIRU69 commented on #4802
I have the same issue. God, please solve it. @dwelle

[2022-09-20 11:19] qifeikeji commented on #5019
can you share code.
i want test video local

[2022-09-21 01:56] timcolson commented on #2035
#4359 is intriguing! Essentially it is "closing" a shape, if fill color is set.
(FYI - Acorn appears to take this approach too. But it also can truly "close" the last points
<img width="1198" alt="acorn_screen" src="https://user-images.githubusercontent.com/1376728/191396476-6d043b70-4feb-49a1-a95a-e5ed8a9e0f6d.png">

Today, I realized how two "rounded" edges in Excalidraw, placed super close, for

[2022-09-21 03:09] qifeikeji commented on #4931
cool!!!! plus

[2022-09-21 09:59] raspberriesonmyprofilepic opened #5709 "Opening excalidraw in new folder breaks obsidian"

[2022-09-21 16:38] Ipsquiggle opened #5711 "Feature Request: Notification button in drawing view"
I believe that currently two things are true:
1. The only way to figure out if someone has replied to your comment is by checking your notifications.
2. The only way to see your notifications is from the Dashboard view.

This makes drawings with more than a half dozen comments extremely awkward to communicate on. If I'm wrong about either of those please let me know!

The best solution is probably

[2022-09-22 05:39] josephbuchma commented on #4093
@mmmd-am I found some shortcomings in my original approach and updated how fixed-size canvas is rendered on the screen - it's more generic, and now it's possible to have pan & zoom if you like:
[code]
The UI for setting canvas size is still not there, and UX with fixed canvas and unlocked pan & zoom still need to be polished:
- It's still possible to draw outside of the fixed canvas, although when

[2022-09-22 13:38] mmmd-am commented on #4093
@josephbuchma Awesome work. If you are available to discuss privately, please let me know.

[2022-09-23 12:30] denislutz commented on #5033
Hi, Is this feature implemented? I love the tool and this is the one missing part. Thanks in advance....

[2022-09-23 12:47] ad1992 commented on #5033
Coming soon 🙂

[2022-09-25 09:37] zsviczian opened #5714 "FR: Gestures to undo and redo"
This FR was raised on the Obsidian-Excalidraw issue list, however, I think it belongs here instead.

The original FR is here: [#818](https://github.com/zsviczian/obsidian-excalidraw-plugin/issues/818)

I am thinking that a two-finger double tap to undo, and a three-finger double tap redo would be a possible solution.

[2022-09-25 12:17] manuelmorales opened #5715 "Double-tap to create a new text item closes the on-screen keyboard"
If you are editing a text item and double tap to create a new one, it will close the on-screen keyboard on Android. This is not a blocker but it's slows down the flow of adding multiple text items. As every time you want to add a new one you have to first un-select the previous one.

Steps to reproduce the behavior (see recording below):
- Edit or add a text item.
- While the item is still in edit

[2022-09-25 12:20] manuelmorales opened #5716 "Text jumps when double-tapped to edit on Android"
Sometimes text items will jump when double-tapped to edit them. See video attached. I'm using a Samsung Galaxy Tab S7+ with the on-screen floating Samsung keyboard.

Steps to reproduce the behavior:
1. Double tap to add a text item.
2. Tap outside to un-select it.
3. Double tap the item again to edit it.
4. Observe how the text moves top a different place.

Seems to happen randomly.  Please repeat

[2022-09-25 13:23] YIRU69 opened #5717 "[Bug] Backtracking creates dots on end of lines"
https://github.com/steveruizok/perfect-freehand/issues/57#issue-1378892825

Look at the above gif. The backtracking still creates dots on the end of lines.

![191184612-1892192e-014c-4019-9eb6-26d331f88d37](https://user-images.githubusercontent.com/48148292/192145836-175b2774-6e9f-48ea-907d-a92d89d74c4d.gif)

[2022-09-26 00:14] SH5H opened #5718 "Excalidraw icon on MAC dock looks weird"
![image](https://user-images.githubusercontent.com/25437192/192171695-71bc0070-18ed-4f9c-9ed2-52b245ba65ff.png)

Only the Exacalidraw PWA icon looks strange.

I guess masking the Exacalidraw Icon with a rounded rectangle would be better.

[2022-09-26 16:56] zsviczian opened #5720 "Text positioning in sticky notes does not honor Text Alignment when resizing the container"
@ad1992 checking previous preview builds I can see this issue was introduced in #5710

https://user-images.githubusercontent.com/14358394/192335957-d30953bf-f17d-4a3e-9820-99203071b51b.mp4

[2022-09-27 08:24] apat183 opened #5722 "Feature Request: Show Grid count on objects"
Hi,

Big user of excalidraw and it's awesome! One thing I do a lot is use the grids for drawing real life measurements. E.g. one grid square as a cm or metre etc.

So when I do a large square I have to manually zoom in and count every square. An awesome feature would be to be able to toggle on a grid count indicator (as I could imagine a lot of people wont need this). It just shows a small indicat

[2022-09-27 11:14] #5720 closed

[2022-09-28 06:47] mangele commented on #4028
Having video would be out of this work. I know that isn't planned, but I can't wait until it happens.

[2022-09-28 16:07] rockssk commented on #5034
Hi @dwelle

 Just checking in to see if there is any progress on this item, Community will hugely benefit from adding images to the library, we have tools that can generate line drawn version of an icon, but publishing it as Excalidraw library is still an issue.

[2022-09-29 00:35] glandre commented on #2343
I'm not sure if that's what @robz meant, but for me, I experienced a scenario similar to this:

1. Let's say a draw was used in the first iteration of design elicitation (let's say a low-fidelity screen design)
2. Then that is used to produce some work (a spike or Proof of Concept)
3. Then, after a showcase, the team receives feedback and updates that low-fidelity design

I can see several benefit

[2022-09-29 15:16] kannes commented on #1581
Commenting on this because I ended up here when googling if I could hide the GUI: On a QWERTZ layout, the shortcut is Alt+Y.

[2022-09-29 15:41] huyz commented on #5294
Same here with Node.js v18.9.0.
Also after running `yarn upgrade`, then `yarn start` works.

[2022-09-29 17:22] deadlyicon commented on #4687
Any grid you could snap to to make sizing and position object a bit cleaner would be awesome!

[2022-09-30 10:39] topheman commented on #5351
I would really like this feature 👍

[2022-09-30 17:58] artemanufrij opened #5724 "fr: Nextcloud integration"
Hey Devs, have you plans to integrate Excalidraw into Nextcloud like Draw.io? In my opinion it would be very helpful.

[2022-09-30 18:13] artemanufrij opened #5725 "fr: disable description area"
Hello Devs,
could you make an opt in/out for this area:
![image](https://user-images.githubusercontent.com/16517095/193331408-8bd87300-e284-49f0-b4a2-c5e97f8beae5.png)

In my opinion for advanced user it's not necessary.

[2022-10-01 12:21] dmahajan980 commented on #2910
Hi @lipis, I would like to work on this ticket if the above PR is stale.

[2022-10-01 15:21] RAJEEV2510 opened #5729 "set by default slopiness first one"

[2022-10-01 20:49] artemanufrij commented on #5696
Did you checked your upload limit on Apache/Nginx?

[2022-10-01 23:45] breadream opened #5730 "Can't attach images on Chrome"
Hi,
I'm not able to upload/attach images (Function 9) on Chrome but it works on Safari though.

<img width="1478" alt="Screen Shot 2022-10-01 at 16 43 47" src="https://user-images.githubusercontent.com/8691841/193432121-b1a80f51-2e3f-41f0-a8fc-6ff882a327f2.png">

<img width="1334" alt="Screen Shot 2022-10-01 at 16 44 08" src="https://user-images.githubusercontent.com/8691841/193432119-1c2895d0-7fc

[2022-10-02 08:30] dwelle commented on #5729
Hi! This is actually by design, as excalidraw is meant to be handdrawn and we want people to find that out right from the start. The 0 sloppiness is actually just a bonus :).

[2022-10-02 08:30] #5729 closed

[2022-10-02 08:32] dwelle commented on #5730
Hi! Can you check whether there are any messages/errors (red) in the developer console (Opt-Cmd-I, make sure you switch to the console tab)?

[2022-10-02 08:41] tomjamesallen commented on #517
+1 for this - I'd love to be able to click on an object and set it's dimensions based on grid based unit. I've been using excalidraw for DIY project planning.

[2022-10-02 09:13] RAJEEV2510 commented on #5729
It's okay But I think ,it would be better if start from Zero

[2022-10-02 12:21] anatoliibakhtin commented on #5716
https://github.com/excalidraw/excalidraw/issues/5642

[2022-10-02 16:31] dwelle opened #5732 "rethinking the defaults"
I think it's a good idea to review whether our default settings and values are the most useful.

I think we should especially review `text align` & `stroke width`.

# generic elements

| setting          | current default | ok/proposal |
|------------------|-----------------|:-----------:|
| stroke color     | black           |      ✅      |
| background color | transparent     |    ✅?       |
| f

[2022-10-02 20:37] zensayyy commented on #5722
you can enable `stats for nerds` (right click) and look at the Height and Width of the selected element. That's not the size in squares but if you divide by 20, than you get the size in squares.

[2022-10-02 20:43] apat183 commented on #5722
Cool thanks, I was actually going to suggest it could go in that area as it's bit of a small use case and makes sense for stats type information. Since it's / 20 rule, wondering if it's valuable to have under the width and height something like below:

Width: 200
Width (grids): 10
Height: 100
Height (grids): 5

This would actually be valuable for when you turn grid off and on and want to know like

[2022-10-03 00:04] breadream commented on #5730
<img width="560" alt="Screen Shot 2022-10-02 at 17 03 31" src="https://user-images.githubusercontent.com/8691841/193482315-c5cffc73-c505-4560-8d90-667e52481a11.png">
Seems like I need to enable Javascript

[2022-10-03 00:06] breadream commented on #5730
<img width="556" alt="Screen Shot 2022-10-02 at 17 06 27" src="https://user-images.githubusercontent.com/8691841/193482430-b6741884-f5e4-4770-97b5-b75192277635.png">
I guess this caused the issue..?

[2022-10-03 08:28] nawed2611 commented on #2009
Is this issue still open to work on?

[2022-10-03 08:33] mauriceLC92 commented on #2009
@nawed2611 you welcome to work on it if it is. It's completely dropped off my radar.

[2022-10-03 10:47] artemanufrij commented on #3831
Hello @ad1992 , it would be helpful for big boards to have this feature. Have you plans to implement it?

Best regards

[2022-10-03 11:05] keul opened #5734 "Translation issue even if translation is corrent on crowdin.com"
This is the italian translation rendered by Excalidraw for

![Schermata 2022-10-03 alle 13 00 35](https://user-images.githubusercontent.com/284924/193561952-b3840b55-5b0f-445b-b427-5806f69ca7fe.png)

On crowdin, the translation if OK (and this is a very old translation, not changed recently):

I _think_ that the issue is about the `del` word. It's like that Excalidraw is trying to translate the tr

[2022-10-03 16:02] RedHeadphone commented on #5730
maybe it's because of any of your chrome extension?

[2022-10-03 23:41] breadream commented on #5730
probably, now it's working after upgrading my chrome to the latest version [ Version 106.0.5249.91 (Official Build) (arm64)  ]

[2022-10-03 23:41] #5730 closed

[2022-10-04 03:52] anuzk13 commented on #5301
Would find this helpful too~

[2022-10-04 09:58] ChrisOwen101 opened #5736 "Swipe-to-go-back Gesture Clashing"
I'm on a Macbook and I use the "Swipe-to-go-back" gesture (that is system-wide) in order to swipe to go back through pages in Chrome.

It appears that Excalidraw is passing back the gesture to the OS to eagerly as it will pass up the gesture whenever I swipe

https://user-images.githubusercontent.com/5181870/193791137-5c6030de-33ac-4c83-a25e-e5f6912de121.mov

[2022-10-04 15:50] louis030195 opened #5737 "[feature request] Sharing collection publicly"
<img width="460" alt="image" src="https://user-images.githubusercontent.com/25003283/193866146-2d259de3-9ba4-4f3f-a91e-dafe436e5a98.png">

This sharing but for collections would be great 🚀

[2022-10-05 20:42] aziham opened #5739 "Keyboard shortcuts are not working on non Qwerty layouts"
**Describe the bug**
I'm using Dvorak keyboard layout and the keyboard shortcuts aren't working.

**To Reproduce**
Switch to Dvorak and try the keyboard shortcuts.

**Expected behavior**
The shortcuts should work as I type the equivalent characters using Dvorak.

[2022-10-06 07:17] sagi-melio opened #5741 "Content overridden by shared content"
Hi, I opened a shareable Excalidraw link that overrides my previous content without warning.
Is there any chance that I/ you can help with retrieving my previous board? it would mean the world to me.

Thank you very much,
Sagi Elfassi

[2022-10-06 11:08] artemanufrij commented on #5382
In my opinion it make sense to put it into tool bar.

[2022-10-07 03:35] urmilparikh opened #5743 "bug report: Moving / dragging gets sticky, cannot stop it"
Please try moving/dragging blue rectangle with mouse. It gets sticky and doesn't stop even after releasing the mouse button.
Only way to stop is to refresh the page.
https://excalidraw.com/#json=6_m1MFKUwO8m9OGrTWUSG,IWPU_E2i_mVTXGm9LO_KBA

https://user-images.githubusercontent.com/10322815/194462469-cc371675-b1e1-433d-b1e8-67f959fb54d5.mp4

[2022-10-07 10:13] solomonshalom opened #5744 "Toolbar hide/Unhide"

[2022-10-07 10:13] #5744 closed

[2022-10-07 10:45] solomonshalom opened #5745 "Feature Request - Toolbar Hide/Unhide"
I would love if somebody could make a PR for this feature where a user can hide the toolbar or un-hide -
![image](https://user-images.githubusercontent.com/71135230/194535743-3d8cf265-3654-4178-bde2-1e247991eba1.png)
Most preferably, if it can be made a drop-down button, would be cool, maybe here -
![image](https://user-images.githubusercontent.com/71135230/194535887-5187df48-16a6-413b-baa4-074d87

[2022-10-07 13:40] DennisFaucher commented on #5100
Interesting, Export file picker works in Safari but not Edge (Chrome) on MacOS. Also, that Chrome download image test also fails in Edge, so it is a Chrome/Edge issue.

[2022-10-07 13:44] tomayac commented on #5100
Any messages in the console? Do you have the exact version numbers of Chrome and the OS at hand? Is it an enterprise policy, as in https://github.com/excalidraw/excalidraw/issues/5100#issuecomment-1113995395?

[2022-10-07 14:05] DennisFaucher commented on #5100
Thanks @tomayac
Chrome (Edge): Version 105.0.1343.53 (Official build) (arm64) (Mac M1 Mini)
OS: 12.6 (M1)
No Enterprise Policy blocking file editing
![Screen Shot 2022-10-07 at 10 04 54 AM](https://user-images.githubusercontent.com/9034190/194572504-93a24505-ec6d-4c65-818b-9e511c580703.png)

[2022-10-07 14:07] tomayac commented on #5100
Alright. Console messages?

[2022-10-07 14:10] DennisFaucher commented on #5100
I'm using excalidraw.com but I will try running locally to see console messages

[2022-10-07 15:02] DennisFaucher commented on #5100
I think you meant Chrome Console not OS console. I installed locally anyway, started, clicked "Save to File" and the Chrome (Edge) console gave this error about FilePicker
![Screen Shot 2022-10-07 at 11 00 59 AM](https://user-images.githubusercontent.com/9034190/194585140-661ee1c8-fee3-4010-ba7b-4418587a0e87.png)

[2022-10-07 15:12] tomayac commented on #5100
Yes, I was talking about the DevTools console indeed. Could you try the steps outlined in https://github.com/excalidraw/excalidraw/issues/5100#issuecomment-1114008081 and report here, please?

[2022-10-07 15:15] tomayac commented on #5100
FWIW, doesn't reproduce locally, nor on BrowserStack: `https://live.browserstack.com/dashboard#os=OS+X&os_version=Monterey&browser=Chrome&browser_version=105.0&zoom_to_fit=true&full_screen=true&url=https%3A%2F%2Fexcalidraw.com%2F&speed=1`

[2022-10-07 15:22] DennisFaucher commented on #5100
example.com with the console code does not present a File Save dialog. Maybe I am doing something wrong.
![Screen Shot 2022-10-07 at 11 21 34 AM](https://user-images.githubusercontent.com/9034190/194590199-84bb3e98-a141-482b-ab02-e84f30ae8f65.png)

[2022-10-07 15:23] tomayac commented on #5100
(At the risk of pointing out the obvious: did you click somewhere in the page?)

[2022-10-07 15:24] DennisFaucher commented on #5100
Yes, the only hot item is the "More information..."

[2022-10-07 15:24] DennisFaucher commented on #5100
If this works for everyone else, I can just not use Chrome/Edge for Excelidraw

[2022-10-07 15:26] tomayac commented on #5100
Can you open a guest profile in Chrome and try again? A guest profile has no extensions whatsoever installed.

[2022-10-07 15:42] DennisFaucher commented on #5100
Edge InPrivate window did not respond to clicks after adding console code
![Screen Shot 2022-10-07 at 11 41 50 AM](https://user-images.githubusercontent.com/9034190/194593917-2d3483bd-8292-476f-9af0-d3f42f636efd.png)

[2022-10-07 15:48] tomayac commented on #5100
Extensions can still be configured to run in private/incognito mode. Maybe actually try running in a guest profile. And again, just to make sure: you're clicking the page, not the DevTools area. right!?

[2022-10-07 15:50] DennisFaucher commented on #5100
Oh, it is Brave. Chrome works out of the box. Version 106.0.5249.103 (Official Build) (arm64)
![Screen Shot 2022-10-07 at 11 50 24 AM](https://user-images.githubusercontent.com/9034190/194595599-86549424-aa60-4b1b-84c0-303d7935c917.png)

[2022-10-07 15:55] DennisFaucher commented on #5100
Guest mode is also not working but the console is telling me this which I will look into:

Tracking Prevention blocked access to storage for https://stats.g.doubleclick.net/j/collect?t=dc&aip=1&_r=3&v=1&_v=j98&tid=UA-387204-13&cid=494702610.1665157883&jid=286577239&gjid=959989043&_gid=590909874.1665157883&_u=SACAAUABAAAAACAAI~&z=1142065368.

[2022-10-07 15:56] DennisFaucher commented on #5100
Guest mode is also not working but the console is telling me this which I will look into

Tracking Prevention blocked access to storage for https://stats.g.doubleclick.net/j/collect?t=dc&aip=1&_r=3&v=1&_v=j98&tid=UA-387204-13&cid=494702610.1665157883&jid=286577239&gjid=959989043&_gid=590909874.1665157883&_u=SACAAUABAAAAACAAI~&z=1142065368.

[2022-10-07 15:57] tomayac commented on #5100
*Sigh*. Yes, Brave has decided to not expose this API: https://github.com/brave/brave-browser/issues/11407. You could have saved us some time by telling us you were using Brave, not Edge or Chrome.

[2022-10-07 16:02] DennisFaucher commented on #5100
Guest mode is also not working but the console is telling me this which I will look into

Tracking Prevention blocked access to storage for https://stats.g.doubleclick.net/j/collect?t=dc&aip=1&_r=3&v=1&_v=j98&tid=UA-387204-13&cid=494702610.1665157883&jid=286577239&gjid=959989043&_gid=590909874.1665157883&_u=SACAAUABAAAAACAAI~&z=1142065368.

[2022-10-07 16:03] DennisFaucher commented on #5100
I mistyped and fixed. Edge, not Brave. Sorry about that.

[2022-10-07 16:11] rolias4031 opened #5746 "Offer more and better text colors?"
There's 4 shades of salmon that you can hardly distinguish, but no yellows which would undoubtedly pair well with dark mode. Same goes for magenta and lime green. Seems like there's a lack of cool-bright colors entirely, in favor of... pink.

[2022-10-07 16:24] tomayac commented on #5100
In this case, it seems like the Edge team needs to take care of this. You can send them feedback:

![Screenshot 2022-10-07 at 18 24 03](https://user-images.githubusercontent.com/145676/194601694-af8827fd-fbcf-40d3-9406-e2db3eaeeca8.png)

[2022-10-07 16:55] DennisFaucher commented on #5100
Fair enough

[2022-10-08 11:03] solomonshalom commented on #5746
Hey Man! I love the request and was facing the same problem, some features that are heavily needed aren't coming in excalidraw so I ended up forking it, to make a better version of it. Check it out here - https://skyflow.vercel.app

It has multiple features including a color palette ;)

[2022-10-08 15:52] addbuye opened #5747 "Feature request - Alignment"
Hey!
It would be wonderful if it showed guidelines to align all components when moving around the pieces

[2022-10-09 09:55] chenaski commented on #5746
Don't you think the pull request is a better option?

[2022-10-09 12:13] zsviczian commented on #5739
Do shortcuts work if instead of the equivalent character you press the key at the equivalent location?

[2022-10-09 20:52] artemanufrij commented on #5696
I tested my local instance with files > 3 mb. I'm sure it's your local configuration.

[2022-10-09 21:05] dwelle opened #5750 "flipping freedraw elements upscales it"
flipping freedraw elements on x/y axes upscales them. Not sure when it refressed, but it doesn't look like it's related to the version bump (https://github.com/excalidraw/excalidraw/commit/3298aaf0c710b02632442890ea53f481bfaf4f9e).

![excal-bug-flip-freedraw-upscale](https://user-images.githubusercontent.com/5153846/194779419-341e5f9f-70f6-4908-8bd4-b857c7989ebb.gif)

[code]

[2022-10-10 07:19] alshdavid commented on #5745
Agreed! I use Excalidraw with an iPad and stylus pen and this would give me a lot more room to work with.

Currently the toolbar occupies a large portion of the working area encouraging me to draw in lower right corner

<img width="639" alt="Screen Shot 2022-10-10 at 6 16 26 pm" src="https://user-images.githubusercontent.com/12656294/194815111-80d01ef1-9d61-44dd-89b6-f099c365db19.png">

[2022-10-10 09:21] solomonshalom commented on #5745
Well, hope they add it as a feature!

[2022-10-10 09:28] dwelle commented on #5745
There's the zen-mode (via context menu or Alt/Opt-Z), but it's not very usable because you won't be able to customize the shape properties.

[2022-10-10 14:08] #5180 closed

[2022-10-10 14:45] solomonshalom commented on #5745
It's a great feature but I still want to access everything, while having the option to unhide or hide the toolbar

[2022-10-10 14:50] dwelle commented on #5745
By toolbar, do you mean (2) or (1) as well? In your original post you mention both.

![image](https://user-images.githubusercontent.com/5153846/194894135-8ebc3b74-8ef8-4cd8-827b-99ffcb917347.png)

[2022-10-10 15:40] adarkforce commented on #5750
Hi @dwelle, I wanted to start contributing to the project and I've started with this issue. I've noticed that even if the previous code passed all the tests, and the width and height values at the end of the ``` flipElement ``` function where allright,  it didn't trigger the ```mutateElement``` at line 169 correctly. The values changed but the drawing wasn't updating.

After the flip if you tried

[2022-10-10 15:44] dhfherna commented on #5745
I can work on it, Can do you assign me?

[2022-10-10 19:40] cre8tiveGray commented on #3502
It’s that tricky part that’s annoying. I find that for some reason the text tool deselects itself randomly while I’m writing in scribble. I would love to use text, but it’s just not there… would love to be able to lock the text tool on.

[2022-10-10 19:52] dwelle commented on #5745
@dhfherna what had you in mind? Things like this must be well thought through in terms of UI and UX. We are also very mindful of adding new features to keep our app simple.

Wwe are also in the process of tweaking the UI, so changes like these would have to wait for that effort to finish first.

But we're happy to discuss this further, and we will consider it, for sure.

[2022-10-11 05:31] raghav-khanna commented on #3762
@dwelle I did get busy but after going through the PRs and related blog, I'm still a bit confused. Is there any documentation regarding the functions/components as it is quite overwhelming for me as a beginner ?!

[2022-10-11 08:29] 7flash opened #5753 "feature proposal: render web page on the canvas"
can be done using https://github.com/vercel/satori

[2022-10-11 14:53] khimaros opened #5755 "option to zoom with scroll wheel"
coming from other creative tools like miro, cad, blender, etc. and even consumer products like maps, it's common to have scroll wheel zoom without needing to hold ctrl.

maybe changing this default now is more harm than good, but it would be nice to have an **option to change the mouse behavior** to this. i don't often need to scroll up/down on the canvas when i can middle-mouse drag.

[2022-10-11 16:22] PritamSangani commented on #5662
It seems like the environment variable: `REACT_APP_LIBRARY_URL` is undefined in the docker build

[2022-10-11 16:54] Helaxious commented on #3810
+1 on that, I really like that this tool has tablet support, implementing even basic sliders to control a pressure/opacity curve for the freehand tool would do wonders to its drawing capabilities.

[2022-10-11 18:43] leighmcculloch opened #5756 "Color blindness simulator / views"
Sometimes when I've created Excalidraw diagrams with color I've received feedback that they are insensitive to folks who live with different degrees or types of color blindness.

I sometimes use a color blindness simulator to view what it might look like to create more inclusive diagrams. For example https://www.color-blindness.com/coblis-color-blindness-simulator/.

It would be awesome, and would

[2022-10-11 18:46] leighmcculloch commented on #5756
Similar to this, it would be awesome if Excalidraw support alternative color pallets to switch between.

There are some examples here: https://www.tableau.com/about/blog/examining-data-viz-rules-dont-use-red-green-together#:~:text=Use%20a%20colorblind%2Dfriendly%20palette%20when%20appropriate&text=For%20example%2C%20blue%2Forange%20is,blue%20to%20someone%20with%20CVD.

[2022-10-12 00:32] davincios commented on #5299
@7flash I get your point, but what has this todo with Excalidraw?

[2022-10-12 06:05] aziham commented on #5739
Yes. They do work.

[2022-10-12 11:44] momer commented on #4837
Another work-around is to use [Firefox Containers](https://addons.mozilla.org/en-US/firefox/addon/multi-account-containers/) (rather than incognito/private browsing).

[2022-10-12 14:13] solomonshalom commented on #5745
Hey, Man! I am working on another project based on excalidraw, it's called Skyflow. It's basically the clone with more features, as excalidraw was taking way too much time merging PRs. So, why don't you open up a PR regarding it and I will be merging it @ https://skyflow.vercel.app

@dhfherna :D

[2022-10-12 14:13] solomonshalom commented on #5745
Just One, second is needed. The idea being if I were to close it, I can re-open it back on 2

[2022-10-12 16:51] adarkforce commented on #5678
Can I work on it?

[2022-10-12 20:37] dumbdreamed opened #5757 "be able to add audio and video files into the excalidraw files"
hi, thanks for your great add-on and and the efforts for the community
I think it would be amazing if we can add video and audio files into the excalidraw files.
thanks in advance and best regards.

[2022-10-12 21:00] artemanufrij commented on #5696
@sholms some feedback? :smile:

[2022-10-13 01:15] DanielJGeiger opened #5759 "[Discussion] Excalidraw accessibility"
I concur with @leighmcculloch in #5756 about increasing accessibility in color-spaces.  Another approach might be to add [WCAG](https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG) checkers.

MathJax provides various accessibility features.  I recently updated #2993 to store the MathJax speech-enriched contents in `ExcalidrawMathElement.customData.ariaLabel`.  But Excalid

[2022-10-13 01:31] WilliamVoong opened #5760 "Usualibity improvment - change the keybind of elipse?"
Hey! I'll take a a shot in the dark and don't really expect an answer.

I was suprised that the ellipse key have moved from E to O and I feel like it have made the user experience worse.
I think one of the strength of excalidraw was having common shortcuts mapped to accessible keys allowing for quick prototyping.
And the simple learning curve for beginners.

Previosly when eclipse was bounded to E

[2022-10-13 04:34] 7flash commented on #5299
well.. that would be impossible without excalidraw.. here I recorded example how I use it..

https://www.youtube.com/watch?v=28j51trtJMk&t=22s

[2022-10-13 09:28] 1sm23 opened #5761 "PWA icon size doesn't fit macOS"
<img width="203" alt="image" src="https://user-images.githubusercontent.com/31946591/195559294-e619a07b-5437-48ae-b7aa-96b5f362fd45.png">

[2022-10-13 14:47] Hu-Cian opened #5762 "Left Handed Mode doesn't work for me"
When I turn left handed mode the tray doesn't move to the right, even after I restarted several times.

[2022-10-13 15:20] AuboIoT commented on #4847
Yeah, I agree. I really like Excalidraw, but it's necessary a table.

[2022-10-13 16:19] rahulwecp opened #5763 "Sandbox example on integrating excalidraw as a cdn package isn't working"
Was trying to integrate excalidraw in my app.
Used this [example](https://codesandbox.io/s/excalidraw-in-browser-tlqom?fontsize=14&hidenavigation=1&theme=dark&file=/src/index.js) given in the docs as reference but the the buttons fail with an error (Attached error pic for reference)
![Screenshot 2022-10-13 at 9 48 43 PM](https://user-images.githubusercontent.com/105492064/195651301-dc489f58-ab70-4

[2022-10-14 16:17] jcezarms opened #5765 "[Feature Request] Add PageUp & PageDown scroll"
Trying to use excalidraw as a whiteboard is amazing, but also something close to the slide experience can be achieved by enabling PgUp/PgDn keys to be used for a 100% viewable screen size scroll. This is related to #253 in a barebones way.

For those still looking for an alternative in the meantime, theres https://github.com/excalideck/excalideck (I particularly don't like the layout too much, but

[2022-10-14 20:22] TiborSomogyi opened #5766 "feature recommendation: ratio display during shape tranformation"
Ratio display in the middle of shapes during transformation. For example if the rectangle is exactly a square, then 1:1.
It could also be 16:9, 4:3, etc.

[2022-10-15 10:44] chenaski opened #5767 "Elements disappear when duplicating"
I used Cmd-D shortcut, but behavior is the same if I use 'Duplicate' from the context menu.

https://user-images.githubusercontent.com/30154503/195982281-3a7f2f2d-9b72-43d3-aea1-68a530089182.mp4

I tried to reproduce the issue, but haven't got clear results. [Here](https://app.excalidraw.com/l/3r74dmVCrO4/16tKiJoDl9B) when I remove the fourth circle – the two horizontal arrows disappear, but if I

[2022-10-15 19:12] r4z4 opened #5769 "[Feature Request] Redesign the </> format for the pipe operator (|>)"
I am not sure if others run into this, but I like using the code </> format a lot, but I just cannot use it for anything that has pipe operators in it and have to use the 'A' style font. Its not a big deal at all, but it would just be nice to have an option in the code format that was legible.

[2022-10-15 22:43] dionyziz opened #5770 "Flipping an image and exporting doesn't keep the flip"
If I import an image, then flip it horizontallym, then export the result to PNG, the result does no longer contain the flip.

[2022-10-16 12:17] zsviczian opened #5771 "Active shape primary color issue"
@dwelle, this is not impacting excalidraw.com, only the Obsidian build. I am seeking some help to understand what might be in the background. What's stranger yet, is this only happens on Obsidian desktop, not the Obsidian Mobile build.

The first time I click a shape in the toolbar the tool becomes active, however, the background of the label only turns `--color-primary` when I click something els

[2022-10-16 20:35] kurdi-dev opened #5772 "Request to add new language: Kurdish (ckb_IQ)"
Hi,

I would like to help and add the Kurdish language (Central Kurdish) to this fantastic project.
Could you please add it to Crowdin?

[2022-10-16 21:51] artemanufrij commented on #5767
I had same issue if I duplicated some objects

[2022-10-17 03:28] petarkolaric opened #5773 "Cannot save as image/export"
Hi, when I try and save to PNG/SVG, I get the following error. I also get the same when I try and export.

This is using Excalidraw+, but I can confirm I'm also getting it in regular Excalidraw.

[code]

![image](https://user-images.githubusercontent.com/16151065/196082821-58bd95cb-ec4f-427b-8bc2-d5f418a8bece.png)
![image](https://user-images.githubusercontent.com/16151065/196082871-4ecbf933-207a-

[2022-10-17 04:54] HiiGHoVuTi commented on #5166
Was this added? My Samsung S Pen does not erase when I press the button. However the button is detected, because instead of enabling the eraser it acts as a right-click button.
Is there a way to configure it?

[2022-10-17 05:21] ad1992 commented on #5772
Here you go @kurdi-dev  https://crowdin.com/translate/excalidraw/10/en-ku

[2022-10-17 05:31] ad1992 commented on #5773
This looks like related to granting permission for the file so we will need to request permission in case the user hasn't given it. Will look into this

[2022-10-17 11:30] kurdi-dev commented on #5772
Thank you @ad1992  , I have added the translations.

[2022-10-17 15:39] danlandrum opened #5775 "Install/Update Scripts Popup Window won’t scroll on iPad"
The window opens properly after clicking the gear icon, but it won't scroll on my M1 iPad Pro. The links all work, but I can't get it to scroll using arrows, flick, or pencil.

[2022-10-18 03:36] darklight9811 opened #5776 "Using border on last item created"
When I use a box, circle or arrow. If I draw something(`x` or `7`), if I change the width using this tool, it affects the last element created too.

[2022-10-18 05:44] brooksvb commented on #1517
I am dumbstruck that this isn't possible in Excalidraw.

Use Case: I want to make some brown boxes in my sketch. Pretty straightforward, right? Okay, there's no brown option. Okay, where's the color picker? There is none. Okay... What is the hex code for brown??? Who knows that off the top of their head, and how do you expect someone to find a color they want without opening up some kind of websit

[2022-10-18 05:50] brooksvb commented on #1517
I think a color pipette would also be another fine discreet button to add. If I am sketching ideas in Excalidraw (as one does, because it's a great program for rudimentary sketches), there might be a photo that I'm looking at that I like, and I want to grab a color out of it, or a website. I should be able to easily grab eyedrop that color so I can get it in my sketch. Otherwise I would have to op

[2022-10-18 22:03] #5750 closed

[2022-10-18 22:05] dwelle commented on #5770
Hi. What's your browser?

[2022-10-19 08:09] solomonshalom opened #5777 "[Feat] Make the opacity tool more aesthetic"
Yo!

This is not an urgent issue, but -
![image](https://user-images.githubusercontent.com/71135230/196633923-dd0a1dab-549a-4eb3-adff-a381b22fe79d.png)
Does this really look aesthetic :,)

Let's make it better :D

[2022-10-19 09:05] artemanufrij commented on #5777
It looks fine, imo:
![Screenshot_20221019_110514](https://user-images.githubusercontent.com/16517095/196647457-25c199c2-d92c-4c8e-9e95-c6406a7a549e.png)

[2022-10-20 03:41] raghav-khanna commented on #3762
Is there any Slack or Discord channel I need to join to get help? Am I missing something here?

[2022-10-20 06:04] ad1992 commented on #3762
Hi @raghav-khanna 👋🏻
You can start looking into https://github.com/excalidraw/excalidraw/blob/master/src/components/App.tsx#L1487 as an entry point, here is where if the spreadsheet is detected we show the dialog and render as a spreadsheet https://github.com/excalidraw/excalidraw/blob/master/src/components/LayerUI.tsx#L381

Hope this helps. You can join our discord channel too https://discord.com

[2022-10-20 08:16] shrayasr opened #5778 "Copying selection as PNG results in a flicker on all open windows"
Hi folks,

Upfront, thanks to the entire team for all the effort that is poured into making this tool. It has made everything easier and was partially responsible for saving our team a lot of troubles when we were forced to go remote during the pandemic.

---

I'm here today because I seem to be facing a lot of issue in one regard. Before I get there, here is my workflow:

1. Design something on e

[2022-10-20 19:01] #5522 closed

[2022-10-21 12:42] dwelle commented on #5778
Hey @shrayasr, and thanks for your words!

As for the issue, I've not seen this yet. Can't repro myself (I'm on Win 10, you seem to be on Win 11 — /cc @maielo can you check on your end?).

That said, what you're describing is an OS issue, so there's not much we can do here. So the best hope here is to try to reproduce elsewhere, narrow down the issue (specific browser, OS update, ...), and report

[2022-10-21 13:23] maielo commented on #5778
@dwelle just testing it and can not reproduce it. Also was testing it with huge scene & brave.

[2022-10-21 22:47] luigirizzo commented on #2869
i tried the suggested live expression and it does not seem to work anymore.
Has anything changed that broke it?

Regardless, would it be possible to replace the cursor with a dot as suggested? Or some way to configure it?

[2022-10-22 11:21] ShravanSunder opened #5782 "Some Emoji looks very strange in dark mode"
Some emoji have their colors inverted in dark mode.

<img width="1192" alt="2022-10-22 1020 Obsidian p dev dPatron 2022 excal encryption flow for dpatron - shravan-pkm - Obsidian v1 0 2" src="https://user-images.githubusercontent.com/5294949/197336304-f087889b-fac5-47c7-a074-da16a61818e9.png">

this is the copied code for that rectangle
[code]

[2022-10-22 12:55] Alfablos commented on #4993
Hello,
first thing first this project is awesome!
Then, I have the same issue, setting the variable (tried master and v0.12) does not fix the issue. I've tried both using the prebuilt image from the docker hub and building it from the code as per README.

Here's my docker-compose.yml (one of them):
[code]

I checked the logs from the "room" service, nothing gets logged.
However, the logs from the

[2022-10-22 15:47] vjeux opened #5783 "Pasting multi-line as individual text elements"
I'm often in a situation where I want to paste many lines that I would like to treat as individual text element but right now it pastes them as one text element.

Use cases:
* When doing re-orgs, I want to paste a bunch of names collected from somewhere else.
* I'm doing a minecraft challenge to try to get every single item of the game. I want to paste all the remaining items and group them to fig

[2022-10-22 15:54] bl4ise opened #5784 "Bug - Image horizontal/vertical flip action broken"
Hi folks, I just saw this issue in production and made curious enough to clone this repo.

### Problem

The flip action on images is not working. The vertical flip seems to be working, but it's incorrect since it can't perform the horizontal flip it needs.
![excalidraw_flip_image_bug](https://user-images.githubusercontent.com/40394991/197348685-1572fa32-1869-4d42-8d0f-3ae7f1fafab9.gif)

### Cause

[2022-10-22 16:38] dwelle commented on #5783
I think we should be a bit more conservative here and ask the user what they want to do (using a dialog similar to when pasting a chart).

[2022-10-22 17:50] dwelle commented on #5782
Yeah, sadly the limitation of how current dark mode works. Closing as duplicate of https://github.com/excalidraw/excalidraw/issues/4336

[2022-10-22 17:50] #5782 closed

[2022-10-22 17:57] dwelle commented on #5184
Correct, our dark mode currently doesn't invert the colors fully, so you won't get a true black. This is by design as the primary goal isn't to truly invert, but to be easier on the eyes (secondary goal is to look somewhat nice if dark mode exporting is desired). I believe we follow Google styleguide on this, but not 100% sure.

[2022-10-22 17:57] #5184 closed

[2022-10-22 18:30] dwelle commented on #2869
It still works for me, or at least partially (I don't recall how it worked before). Nevertheless it was just a demonstration, not a solution.

We won't be moving to a pointer like this, but we'll soon be moving to an `auto` cursor (except for specific cases):

![image](https://user-images.githubusercontent.com/5153846/197357083-b60c3e8d-7c61-45d7-a9a9-34d31f6538c2.png)

[2022-10-22 18:37] vjeux commented on #5783
We could add the instruction to paste in a single element in the toast message. It’s pretty annoying to have to click on a dialog to paste text imo.

[2022-10-22 21:25] dwelle commented on #5783
Agreed. So let's try it out without the dialog. And perhaps the toast.

[2022-10-22 21:27] dwelle commented on #5783
We might also add `Cmd/Ctrl-Shift-V` to force paste as plaintext, which will also prevent pasting as chart and other things in the future.

[2022-10-23 08:59] dwelle commented on #5777
Hello @solomonshalom, what's your OS and Browser? That looks strange indeed.

[2022-10-23 09:40] shrayasr commented on #5778
Yes it happens on all browsers, @dwelle

I was thinking that it was an OS issue too. And I believe you might be right. Today I copied a selection in photoshop and this happened for me even there.

So I think its some kind of a windows 11, copying an image related issue then 🤔

[2022-10-23 09:42] shrayasr commented on #5778
https://community.adobe.com/t5/photoshop-ecosystem-bugs/p-windows-11-icons-and-menus-quot-flicker-quot-after-copying-a-selection-in-photoshop/idc-p/12958792#M56952

Seems to be the perfect explanation for it right now. Copying an image to the clipboard causes this. When I copy something else (with great difficulty I might add), then the flicker stops. 🤦🏽

[2022-10-23 09:50] shrayasr commented on #5778
OK dug around a bit more and it looks like its some combo of WSL2, Docker and windows 11 that's causing this.

Greenshot (the screenshot tool) also has an issue on this: https://github.com/greenshot/greenshot/issues/348 which they seem to have resolved by using a different way to copy to windows' clipboard. Recap here: https://github.com/greenshot/greenshot/issues/348#issuecomment-1033470769

But

[2022-10-23 10:13] shrayasr commented on #5778
Okkkk. This seems to be fixed now. Just adding the solution here for clarity:

I tried to do a `wsl --update` as advised [here](https://github.com/microsoft/wslg/issues/443#issuecomment-1156128086) but this didn't fix it. Looks like I was on an older version of WSLg (the GUI layer) since as per their instruction `wsl --version` gave me an error.

Then I installed WSL preview from here: https://aka

[2022-10-23 10:13] #5778 closed

[2022-10-23 10:34] adarkforce commented on #5783
May I work on it?
If I understand well the behaviour should be:

- If clipboard has a text with multple lines, inform the user with a toast that the text can be copied as single splitted lines
- ```CmdOrCltr+Shift+V``` the element is copied splitted.

Should the behaviour be also implemented for copy/paste of text element:

- Clipboard has a text element
- After the user copied a text element a to

[2022-10-23 11:48] dwelle commented on #5783
@adarkforce sure thing!

Not quite. We'd split into multiple elements automatically. The toast would only say that to not split into multiple lines, you an either paste into an existing text element (editor), or use `Cmd-Shift-V`.

Refer to the below diagram:

![image](https://user-images.githubusercontent.com/5153846/197390045-7e047f8b-26d1-4f41-9fb9-c3cce29c3f75.png)

No. When coping text elemen

[2022-10-23 13:35] dwelle commented on #5767
Looks like a race condition in rendering, but cannot reproduce anywhere including the diagram you lined to. If it happens again, can you zoom in and out (`cmd-plus/minu` or using the trackpad/cmd-mousewheel)? If the arrows appear again, then it's indeed a rendering issue.

[2022-10-23 13:45] dwelle commented on #5776
You're talking about when the tools are locked, right? Yes, this seems to be a recent regression.

[2022-10-23 15:21] vjeux commented on #5783
Thanks for working on it @adarkforce! Can’t wait to be able to use it <3

[2022-10-23 15:52] adarkforce commented on #5783
Ok @dwelle @vjeux  I've managed to implement the feature #5786 :D, but... when copy/pasting from the clipboard without intercepting the document "paste" event, you need to allow permission to access the clipboard.

Here's a little preview of the feature, also any coding advices are welcome.

https://user-images.githubusercontent.com/50418432/197401924-d432afb7-52e9-462b-a541-86b8ebeec9c0.mov

Also

[2022-10-23 16:11] darklight9811 commented on #5776
@dwelle non lock state

[2022-10-23 21:24] hpr1999 commented on #5166
I'd like to second the question :) I'd love to use Excalidraw for my workflow and erasing makes it much more fluid.

[2022-10-23 22:00] dwelle commented on #5783
I've pushed some tweaks and removed the async clipboard API as it's not needed, see comment https://github.com/excalidraw/excalidraw/pull/5786#issuecomment-1288209760.

What we should decide is how much to space out the text elements, and whether to center them:

![image](https://user-images.githubusercontent.com/5153846/197420151-e643338f-3bfb-4009-92d4-bb80ff71ce4a.png)

(1) is single text, (2)

[2022-10-23 22:30] chenaski commented on #5767
I reproduced this issue several times in different scenes, but I failed to figure out the certain steps that cause it.

https://user-images.githubusercontent.com/30154503/197421207-efd3e320-3739-4f98-8057-89a56822c9b9.mov

[2022-10-23 22:48] chenaski commented on #5767
Network payload seems strange for me. Does `elements` mean an array of all the elements presented in the scene?

<img width="1792" alt="Screenshot 2022-10-24 at 01 36 20" src="https://user-images.githubusercontent.com/30154503/197421658-87f535fc-aa16-4e47-9f19-677ab7572be3.png">

I can share a link with edit permission somewhere.

[2022-10-23 23:35] adarkforce commented on #5783
Playing a little with the feature I haven't experienced any issues selecting the single elements.

But now that you made me think about it I don't think this would be ideal for mobile devices or when the text is very small.

I think that spacing them would be better for accessibility.

The text centering emphasizes the separation so I think that is more beautiful, but it also depends on the use ca

[2022-10-24 00:31] vjeux commented on #5783
For centering, we should use the currently selected setting for text alignment.

[2022-10-24 01:26] sohrab- commented on #5184
It would be awesome if true colours were available, at least for export.

For others that may have the same issue: the transparent background should cover you in most cases (except say Medium where it insists on a white background on image zoom).

[2022-10-24 06:39] artemanufrij commented on #5767
@chenaski can you upload your test file? I could test it also on my site.

[2022-10-24 06:57] solomonshalom commented on #5777
OH, I am using Opera GX with Windows OS @dwelle

[2022-10-24 11:01] dwelle commented on #5783
Interesting idea. I worry that it's not obvious enough and people will wonder why pasting works differently at different times.

Now that I think about it, it's not that hard to align the elements after the fact, no matter the default.

[2022-10-24 11:01] chenaski commented on #5767
Yes, but after reimporting everything works fine.

[duplicate-issue.excalidraw.zip](https://github.com/excalidraw/excalidraw/files/9851120/duplicate-issue.excalidraw.zip)

[2022-10-24 11:04] dwelle commented on #5767
Correct. We also keep deleted elements for now.

So it's a chance that those deleted elements present in your scene may come into play somehow, because exporting to a file removes them before saving.

[2022-10-24 12:08] wokawoka commented on #5166
+1

[2022-10-24 12:25] artemanufrij commented on #5767
Thank you for the file.

Your test file works fine on my local installation. Can't reproduce it... :/

[2022-10-24 13:09] chenaski commented on #5767
To reproduce this behavior, I usually did rough actions, something like:
- I created a lot of elements (circles) and arrows between them
- Added some text and grouped it with elements
- After that, I selected and duplicated everything
- At that point I had a lot of circles grouped with text and arrows between them
- Then I tried to duplicate every circle
- Repeated it until I got the error

Genera

[2022-10-24 13:34] mudasser11 opened #5787 "Is that possible to open multiple canvas for at the same time . like zwibler??"
![image](https://user-images.githubusercontent.com/115888091/197538331-13018c18-bab8-4f0c-97b7-d41bddbecc22.png)

[2022-10-24 13:51] adarkforce commented on #5783
Now the default alignment for text pasting is that of the settings, it doesn't seem counter intuitive to me.

Talking about the toast, what about showing the message only once per session (meaning  ```sessionStorage``` session or App lifetime)?

[2022-10-24 15:28] Edornel10 opened #5788 "program freeze on ipad after loading a lot of free strokes"
Hi,
I just started using excalidraw for taking notes in class. I don't seem to have any mature performance issues. But obsidian seems to freeze when I'm zooming out or loading a document with about 1000 or more free strokes. I don't seem to have this issue when I'm focused only on some strokes in the document. (I guess it's only loading the objects it needs). So everytime I load objects there is a

[2022-10-24 15:50] solomonshalom commented on #5788
Already fixed in my version of Excalidraw, check Skyflow - skyflow.vercel.app :))

[2022-10-24 16:59] Edornel10 commented on #5788
Is there any possiblity to get this fix for excalidraw as a plugin for obsidian?

[2022-10-24 17:00] Edornel10 commented on #5788
Is there any possibilty to get this fix for excalidraw as a plugin for obsidian? (on ios)

[2022-10-24 21:29] dwelle commented on #5777
I see. Yeah, at some point we may make the opacity slider to use a custom component, but for now we'll stay with native.

[2022-10-24 21:29] #5777 closed

[2022-10-24 22:12] dwelle commented on #5767
Alright, I think I know what's happening. Will take a look at tomorrow.

[2022-10-24 22:17] dwelle commented on #5783
Trouble is, there's no relation between text alignment and element alignment — hence the (un)intuitiveness.

Good idea!

[2022-10-25 11:09] zsviczian opened #5789 "Text gets misaligned when (and after) editing a sticky note"
https://user-images.githubusercontent.com/14358394/197757783-01e59b3c-deef-4901-a493-4166a5fd844a.mp4

[2022-10-25 13:12] xuan-nguyen-swe opened #5790 "Proposal: allow to create arrow shape"
Quite often I need to draw an arrow shape similar to below
![image](https://user-images.githubusercontent.com/24372782/197780688-37058a25-ebda-4a10-9c72-6f1b047b9c33.png)

Maybe we could have outline mode for the current arrow tool to convert between normal arrow and arrow shape.

[2022-10-25 16:06] dwelle commented on #5776
Oh, you're right, I missed you also mentioned box/circle which the bug I was fixing doesn't affect. But, can't repro what you mean then!

[2022-10-25 20:21] raghav-khanna commented on #3762
Hello @ad1992
I will start looking into them and will also join the discord.
Thanks!

[2022-10-26 08:49] solomonshalom commented on #5788
Well, I am trying to develop it for obsidian - currently, it's very much under development and I can't release it quickly. Though, I will see what I can do!

[2022-10-26 17:06] xuan-nguyen-swe commented on #5790
Hi, I think this case could be solved with library. Closed.

[2022-10-26 17:06] #5790 closed

[2022-10-26 19:11] xuan-nguyen-swe opened #5792 "Proposal: find shapes in personal and imported libraries should be easier"
Assume each user has 100 shapes in personal library (not count yet imported shapes in Excalidraw library). There are 2 problems when working with this shapes.

1. Currently the shapes in libraries are ordered by insertion. It would be nice if users can drag/drop to rearrange these shapes to logical positions.
2. The sidebar, which contains shapes in libraries should have a search text box. Users c

[2022-10-27 06:41] ad1992 commented on #5789
@zsviczian can you share a link with the above reproducible example?
I am making some fixes to the sticky note in https://github.com/excalidraw/excalidraw/pull/5723 which I might decouple so will fix this along.

[2022-10-27 07:02] ad1992 opened #5794 "Allow binding text to shape by double clicking anywhere in the shape"
Right now we allow binding the text to a shape by pressing "Enter" or by clicking on the approx center of the shape.
If there is some text already bound to the shape then we allow editing the text by clicking anywhere on the shape.

I think we should also allow double-clicking on the shape to bind the text to the shape as that's one the way users would expect to add text when binding.
 Checked a f

[2022-10-27 07:42] zsviczian commented on #5789
https://excalidraw.com/#room=9df57bd225eda40dd006,GWt0m2z0AWLEmK9tubXpzQ

[2022-10-27 08:06] NyaomiDEV commented on #4904
+1 for this; erasing whole lines is not okay enough for really good freedraw experiences.

[2022-10-27 19:37] 2187Nick commented on #4847
Table please

[2022-10-27 21:02] TheodoreHua commented on #3553
This issue still happens for me on Firefox, using the main https://excalidraw.com. Drawing works fine until you try to pan using middle click, then all further actions until a refresh just keeps panning. The vercel version linked in this issue (https://excalidraw-gr0yupojz-excalidraw.vercel.app/) works just fine for me, but the main one doesn't.

[2022-10-28 07:16] ITler commented on #3375
As this issue is 1,5 years old, I am wondering if there is any kind of legal statement around.

[2022-10-28 09:39] filipjnc opened #5796 "Task bar in installed PWA is white despite dark mode"
I installed Excalidraw+ as PWA on Windows and the task bar / title bar is white despite installing it while in dark mode.

[2022-10-28 09:48] lochie154 opened #5797 "Screen goes black when drawing"
Set up excalidraw in obsidian on my iPad Air (2020) yesterday. It now is going black every time I draw anything on the diagrams and the screen returns to normal once I drag to the left or right.

Video attached below.

https://user-images.githubusercontent.com/48538087/198558189-26c035a5-dcd9-46d9-91ad-d9b3a6765529.MP4

[2022-10-28 13:15] kwetter commented on #4802
Whats the status on this regarding the performance of pen drawing in excalidraw?
To add on this I experience a lot of lag when drawing with pen in the Excalidraw Obsidian Plugin. Its better if I reduce the window size and its even more fluid when I use the in-browser excalidraw app, but there's still slight lag, especially when there are many strokes. The perfect freehand browser app shows no or n

[2022-10-28 22:52] atolkachiov opened #5798 "How to add custom share type?"
Hello folks,
Is there any guide on how to add custom shape type with its custom attributes?

I need to allow users to draw rectangular shapes with multiple attributes, and the content will be rendered by my code.

Any guides or examples please.

[2022-10-29 08:27] RiverOnVenus commented on #5294
In the latest version just released, the same problem also occurs (Nodejs 19.0.0), solved using `yarn upgrade`.

[2022-10-29 09:38] ricky11 commented on #19
would love to be able to crop images.

[2022-10-29 10:50] ricky11 commented on #2170
How would i then select a background element that is locked? I cant find an easy way to select something underneath.

[2022-10-29 12:06] solomonshalom opened #5800 "How to change file extension?"
Hi!

I am trying to port excalidraw over to a local setup, but I would love to change the file extension - more of an aesthetic for personal use. So, how do I change the `.excalidraw` file extension without breaking anything?

[2022-10-29 14:37] DanielJGeiger commented on #5798
@atolkachiov You could do this with the `ExcalidrawElement` subtype system I introduce in #2993.  (See that PR for an example involving text elements with MathJax.)

[2022-10-29 15:56] zsviczian commented on #5788
What do you mean fixed? What did you fix and what did you change to fix it? Where do I find the GitHub repository for it?

[2022-10-29 16:28] zsviczian commented on #5788
@dwelle I can reproduce the issue on excalidraw.com. Open this drawing (by @devinat1) and zoom out to 10%. Excalidraw will not crash but will take about a minute on my iPad Pro to be responsive again to a zoom-in action. https://excalidraw.com/#json=CUd_H-r_lUJiktwTPziNR,exPRhG_Hr3B5UlrX7-WMBg

[2022-10-29 19:45] artemanufrij opened #5802 "Open Library button is broken"
On self hosted instance "open library" button is broken:
![Screenshot_20221029_214042](https://user-images.githubusercontent.com/16517095/198849890-bf381955-6b8d-43a7-9400-4fd52acd87c8.png)

In my case it opens:
[code]

![Screenshot_20221029_214310](https://user-images.githubusercontent.com/16517095/198849944-a387ecc7-dce2-4c39-a0a2-5285cb6b4028.png)

if i change the url to:
[code]
then it works a

[2022-10-30 11:27] atolkachiov commented on #5732
It would be awesome to have an option to display transparent background as a grid.

<img width="661" alt="Screenshot 2022-10-30 at 12 25 17" src="https://user-images.githubusercontent.com/6676463/198876049-1b90e469-9c13-4868-b714-8482090d5bbf.png">

[2022-10-31 13:45] PritamSangani commented on #5802
I believe the docker build is ignoring the .env.* files at the root (`.env.development` and `.env.production`). The `.dockerignore` file needs to be updated to not ignore those 2 files as currently only `.env` file is not ignored. I tried it out locally and this fixed the issue. Happy to create a PR if necessary.

[2022-10-31 22:37] artemanufrij commented on #5802
Thanks for feedback. I will try it out tomorrow.

[2022-10-31 22:41] artemanufrij commented on #5802
PS:
this line in docker-compose didn't fix it:
[code]

[2022-11-01 04:55] darklight9811 commented on #5776
@dwelle the bug was actually fixed, don't know if it was you, but thank you for the attention

[2022-11-01 04:55] #5776 closed

[2022-11-01 07:54] zsviczian commented on #5504
Copy paste works well on a desktop, thus I would vote for reintroducing the command to the context menu.

I am using an iPad with an external keyboard. Cmd+C, Cmd+V works with text, i.e. editing a text element, I can use the back arrow key+SHIFT to select text and use Cmd+X, Cmd+V to cut and paste; but it does not work with elements, i.e. I select elements on the canvas and press Cmd+C then Cmd+V

[2022-11-01 08:10] zsviczian commented on #3949
seems similar to #5504

[2022-11-01 09:37] artemanufrij commented on #5802
btw: I don't build the image on my site. I just pull it from dockerhub

this config also doesn't work:
[code]

.env:
[code]

[2022-11-01 09:41] PritamSangani commented on #5802
@artemanufrij That won't work because the docker-compose.yaml uses Dockerfile to build the app and you have to pass the env variables through build args and then reference them in the Dockerfile.

Also you won't be able to set env variables on the image you pull from Dockerfile as excalidraw uses `create-react-app` which builds a static build with env variables baked in, which you can't update.

I

[2022-11-01 10:11] henkealg opened #5810 "[Question] Loading specific translation locally"
I am using Excalidraw as a react component with these imports:
`import React from "react";
import ReactDOM from 'react-dom';
import { Excalidraw } from "@excalidraw/excalidraw";`

I am specifying a translation when loading the component like this:
`React.createElement(
          Excalidraw,
          {
            ref: excalidrawRef,
            initialData: initialData,
            langCode: "sv-

[2022-11-01 12:45] zsviczian commented on #5788
hm... this (again) could be just a Safari thing. I can reproduce the issue on my 5-year-old Samsung Note 8 nor on my super low-powered Lenovo Chromebook Duet 10.1", BUT my iPad pro freezes once I zoom out to full view.

[2022-11-01 14:36] beagle4ce opened #5811 "[BUG]Can't save to file to local by Chrome"
## Environment:

    Chrome Version 107.0.5304.87 (Official Build) (x86_64)

    Macbook pro 2019 Intel, MacOS 12.6.1

    Adblock plus was disabled

## ISSUE Description: Can't save to file to local

## DevTools Console:

[code]

<img width="821" alt="image" src="https://user-images.githubusercontent.com/4271372/199259085-a986ed8a-b803-4e93-a151-25368f656595.png">

<img width="923" alt="image" sr

[2022-11-01 20:14] zsviczian opened #5814 "Editor redesign package issues"
I merged the released redesign into the Obsidian fork and still doing the initial testing and issue resolution. So some of these might be consequences of customizations in my fork, but on the surface, these issues seem like they are inherent to the new package:

- renderTopRightUI in mobile view should be part of the mobile-misc-tools-container in my view

https://github.com/excalidraw/excalidraw/

[2022-11-01 20:28] dwelle commented on #5814
The redesign has some package regressions such as the language picker as you said, and missing customization options. Which is why we haven't even released a `@next` npm version yet. We'll be fixing that over the coming days/weeks (for a stable release we'll want to introduce a rewritten package API).

We can use this issue to discuss what needs to be customizable / hideable.

[2022-11-01 20:39] zsviczian commented on #5814
Shall I start a PR to work on these changes?

[2022-11-02 06:45] kobe651jp opened #5817 "getting gap between cursor pointer and drawing point"
Changing the css base to tailwind creates a gap between the cursor pointer and the drawing point.

Anyone have the same issue?

https://user-images.githubusercontent.com/44263972/199418760-0fff092a-5976-41b7-8c9d-91106f733c84.mp4

[2022-11-02 09:38] dwelle commented on #5811
Closing as duplicate of https://github.com/excalidraw/excalidraw/issues/5773

(this particular case was caused by disabled `file editing` permissions on a browser level)

[2022-11-02 09:38] #5811 closed

[2022-11-02 09:41] dwelle commented on #5773
@petarkolaric can you check if you don't have file editing permissions disabled?

1. go to `chrome://settings/content`
2. expand `additional permissions`
3. click on `file editing`

  ![image](https://user-images.githubusercontent.com/5153846/199456493-f9e3bebd-b6ea-48a3-9e61-fec5671f5f81.png)

4. should be:

  ![image](https://user-images.githubusercontent.com/5153846/199456530-b4ec20ee-b966-4131

[2022-11-02 10:21] Fausto95 opened #5818 "Reset Scene Shortcut"
Before the redesign, we always had the button for deleting the whole scene accessible with one 1 click.

Now that we currently need 2 clicks in order to reach the Reset Scene button, it may be interesting to add a shortcut to do so.
I personally attempted to do it but it's not implemented

I would prefer `Shift+Del`.
I've got a commit ready, will open a PR soon.

[2022-11-02 10:41] artemanufrij commented on #5382
Issue can be closed. Icon was moved into tool bar on the top. :+1:

![Screenshot_20221102_114109](https://user-images.githubusercontent.com/16517095/199469288-375c0e58-372f-42bf-b46f-bebf6b7a4862.png)

[2022-11-02 10:59] maielo commented on #5382
thanks!

[2022-11-02 10:59] #5382 closed

[2022-11-02 13:00] wedsonxse commented on #5382
Fixed

[2022-11-02 13:52] #5672 closed

[2022-11-02 15:52] sojusnik commented on #3276
That sounds like an awesome idea and would be immensely helpful for bigger whiteboards!

[2022-11-02 15:55] zsviczian commented on #5814
@dwelle,

1) I propose two new package props:
- `renderWelcomeScreen: () => JSX | null;`
- `renderMenuLinks: () => JSX | null;`
If provided they override the default display. Do you agree?

2) what is your view regarding the language dropdown? I would vote for including translations in the package and keep the translations dropdown in the package. Maybe we could add to `UIOptions`:
[code]

[2022-11-02 16:00] LydiaTM opened #5820 "Excalidraw Collaboration Websocket connection failed"
I am trying to generate a collaborative whiteboard. I have done the following steps:

- Install [colab server](https://github.com/excalidraw/excalidraw-room) on the same machine.
- Set up both servers, in ports 3000 and 3002
- Install a NGINX server and configuring a proxy_pass

[code]

When I start a collaborative room, I get an error on line 120 of websocketr.js:

`WebSocket connection to 'ws://

[2022-11-02 18:30] zsviczian commented on #5788
@solomonshalom, what exactly did you fix on skyflow.vercel.app? I just tested with the sample drawing and experienced the same freeze.
https://excalidraw.com/#json=CUd_H-r_lUJiktwTPziNR,exPRhG_Hr3B5UlrX7-WMBg

[2022-11-02 22:08] dwelle commented on #5820
Is your nginx serving on `localhost:3002`?

[2022-11-03 07:32] 7flash commented on #3276
Ok will do that

Is it acceptable to include a new field "anchors" next to "elements" and "files", or better just a new field "anchorName" to the element?

[2022-11-03 08:15] henkealg commented on #5763
The current sandbox has an incorrect version dependency for react and react-dom.
This fork contains an quick fix for the issue. I hope it helps someone. 🙂
https://codesandbox.io/s/excalidraw-in-browser-forked-8zd726

[2022-11-03 08:48] HerbertGit opened #5822 "App crashes when all cookies are blocked"
After blocking all cookies, browser doesn't allow javascript to acces local storage. This causes app to crash.

Because it is not possible to run ( in my understanding ) excalidraw without local storage, I think it would be good idea to catch this error and display according message on the screen so the user understands why it is happening and how they can avoid this problem.

[2022-11-03 17:27] LydiaTM commented on #5820
You are right! Thank you so much.

[2022-11-03 17:54] ishar19 commented on #5822
Hi @dwelle , if I understand the problem correctly; the solution might be to show the user a message of "enabling javascript in the browser" on a page and after enabling, the excalidraw should open.
I'd like to work on this if possible.

[2022-11-03 18:48] dwelle commented on #5822
@ishar19 not JS-related. We want to detect localStorage access errors and display a message. But I'm wondering when's the right time to do it — I'm thinking only during init, as we don't want to blow up the app with an error message if the localStorage ever starts to fail mid-editing — though if it's just a toast message or similar, it would be fine.

[2022-11-03 19:11] ishar19 commented on #5822
Sure, during init time would be fine if there's an error regarding localstorage access and show a message
What'd that message be, I am a bit confused upon that, could you provide a suggestion?

[2022-11-04 13:08] mfahlandt opened #5827 "Offlien Mode for Excalidraw+"
As an Excalidraw+ i want to continue working on my drawings when i am offline same as the free users.

[2022-11-05 04:35] swetank15 opened #5830 "Excalidraw drawings are not getting saved."
None of the options on the left of the Drawing area is opening up. Neither the Save option to Local Disk nor the export as png.

Do I need to register with Excalidraw or something else is the issue  ...
<img width="1236" alt="Screenshot 2022-11-05 at 9 58 24 AM" src="https://user-images.githubusercontent.com/117499277/200101226-20dcf473-2eea-4e12-8f23-91508451cade.png">

[2022-11-05 08:48] dwelle commented on #5830
Hi. The message isn't clear (it comes from the browser), but what it means is that the browser thinks you haven't fully interacted with the page so it doesn't allow us to show the file picker (it's a security thing). But that's strange, because you clearly must have interacted with the page by this point.

What's your browser and OS?

[2022-11-05 09:01] zsviczian opened #5831 "embedded image shows broken link when re-opening a collaboration session from a few days ago"
Has there been a change and images get deleted after a time, or is this an error?
I have a drawing that was created using collaboration mode with a number of people over the past couple of days. Yesterday (or maybe on Thursday) all the images were there. Today I only see broken links.
Going back several commits I checked if the collaboration room displays the images, but I haven't been able to fin

[2022-11-05 10:37] dwelle commented on #5831
We're not deleting images. There may be some bug/race condition where the image is marked as `error`ed and as such isn't refetched on future access. I'll make a fix for this.

[2022-11-05 13:49] dwelle commented on #5831
can you try loading the room using this preview? https://excalidraw-git-dwelle-force-refetch-images-excalidraw.vercel.app/

[2022-11-05 14:55] #5831 closed

[2022-11-05 15:05] dwelle commented on #5814
Instead of new props, we plan to introduce a component API similar to `<Sidebar>`. More details soon.

The translations are technically kept in the package (available via `props.languge`), it's just the language picker that is not. We will expose that as a component as well.

[2022-11-05 16:46] DanielJGeiger commented on #5789
@zsviczian @ad1992 While resolving some MathJax-specific sticky-note quirks, I happened to fix this issue as well.  My fix works for text in general (Wysiwyg or not).  See https://excalidraw-git-fork-danieljgeiger-asciimath-mode-excalidraw.vercel.app/#room=9df57bd225eda40dd006,GWt0m2z0AWLEmK9tubXpzQ for a working example.  What could we do to align the two fixes?

[2022-11-05 17:12] zsviczian opened #5834 "BUG: sticky note grows EXTRA large when pasting a longer paragraph of text"
https://user-images.githubusercontent.com/14358394/200132626-10538a7e-c736-410e-8a60-4015a430a758.mp4

[2022-11-05 17:27] zsviczian commented on #5789
@DanielJGeiger there is another sticky note formatting bug (#5834). I just tested it with your preview. Unfortunately, this new bug is not (yet) resolved by your fix.

To align fixes, it would probably be best if you opened a PR for the main product with your proposed fix.

[2022-11-05 19:24] louis030195 commented on #5830
I don't know if it's related but my images are not saved, quite pain in the ass and waste of time...
<img width="402" alt="image" src="https://user-images.githubusercontent.com/25003283/200137438-79e15ef7-2cdc-4e59-a15f-065d4dd38880.png">

Images get broken when leaving tab or changing scene

[2022-11-05 21:41] DanielJGeiger commented on #5834
I can confirm this bug on excalidraw.com.  I believe #5834 is independent of #5789.

[2022-11-05 21:42] DanielJGeiger commented on #5789
@zsviczian @ad1992 I opened #5835 with the fix I propose for #5789.  Could one of you check it out?

(My fix touches several files since it additionally relaxes the Wysiwyg assumption.)

[2022-11-05 21:45] DanielJGeiger commented on #5834
From some testing I did on this bug, I think `text` and/or `originalText` in `updatedTextElement` are empty, causing repeated executions of `updateWysiwygStyle()`.

[2022-11-05 21:51] DanielJGeiger commented on #5834
The empty `text`/`originalText` sets `maxWidth` nearly to `0`.  This causes text wrapping to calculate a height based on single-character widths once `text`/`originalText` are no longer empty.  But I'm not sure why they are initially empty or when they become non-empty.

[2022-11-06 03:31] MattKleinsmith opened #5836 "Typo, profanity"
![image](https://user-images.githubusercontent.com/8968171/200152700-9ba223cf-b703-4f24-85c6-79806558dfc4.png)

This typo might be why the hotkey is not working.

[2022-11-06 03:32] MattKleinsmith commented on #5836
https://github.com/excalidraw/excalidraw/commit/2e5c798c71a2aab9933326c56b5a80bd98555ff2

[2022-11-06 03:32] #5836 closed

[2022-11-06 04:01] swetank15 commented on #5830
I'm using chrome on macOS 13

[2022-11-06 04:04] swetank15 commented on #5830
@dwelle thanks for help ...
I just don't know how ... but its working  now ...

[2022-11-06 14:22] yongdamsh opened #5837 "For languages with last consonant letter, the input is split when the rectangle height increases"
Please refer to the attached Korean input video. I don't know if it's easy to find the cause, but can I go ahead and fix it?

https://user-images.githubusercontent.com/4126644/200176192-5e1118fd-2472-47fc-9d8e-9334782470d6.mov

[2022-11-06 16:23] dwelle commented on #5064
@DallasCarraher I forgot to get back, but this should have been fixed for some time now. If you are still experiencing any issues, please contact us on `support@excalidraw.com`, thanks!

[2022-11-06 16:23] #5064 closed

[2022-11-06 16:46] dwelle commented on #5605
Closing as unactionable.

[2022-11-06 16:46] #5605 closed

[2022-11-06 16:48] dwelle commented on #5239
Forgot to get back, but this should have been fixed for some time now. If you're still experiencing any issues, please contact us on `support@excalidraw.com`!

[2022-11-06 16:48] #5239 closed

[2022-11-06 16:49] dwelle commented on #5194
Closing as stale. If you're still experience any issues, please comment here and we'll reopen.

[2022-11-06 16:49] #5194 closed

[2022-11-06 18:42] dwelle commented on #5830
@swetank15 cool. I'm closing for now.

@louis030195 not fully certain what that's about, but this might fix it (for future sessions that is): https://github.com/excalidraw/excalidraw/pull/5839

[2022-11-06 18:42] #5830 closed

[2022-11-06 18:49] dwelle commented on #5837
Hi. Can you tell us which sequence of latin letters (when Korean keyboard is enabled) reproduces the exact problem?

/cc @ad1992

[2022-11-07 05:42] alpaylan opened #5841 "Feature Request: Align Center"
Right now when I want to align something to center I do horizontal align + vertical align.

I've been checking the code, it feels like it should be rather easy by using the existing components, hence making sure about the correctness of the feature while adding it.

If it's okay, I would like to try to add it.

[2022-11-07 06:50] ad1992 opened #5842 "The scaling looks buggy when bound containers resized with maintaining aspect ratio"
https://user-images.githubusercontent.com/11256141/200243510-dd2d2466-57e7-4a60-b624-a5855d4f97fc.mp4

This happens in single element too when resizing with shift pressed

Solution - We should maintain the same padding of text inside bound containers when scaled

[2022-11-07 08:46] ad1992 commented on #5789
@DanielJGeiger calling `measureText` on every keystroke could significantly affect the perf.
I am working on some refactorings for sticky notes so that the position/alignment no more depends on text coordinates and can be determined from the container element during rendering instead similar to how it is done in #5723 for arrow/lines, I will push the fixes for bound containers so with that hopeful

[2022-11-07 11:11] ad1992 commented on #5820
closing this as its resolved!

[2022-11-07 11:11] #5820 closed

[2022-11-07 11:29] ad1992 commented on #5797
cc @zsviczian

[2022-11-07 11:48] ad1992 commented on #5787
@mudasser11 it's not possible to have multiple canvas in Excalidraw.
In https://plus.excalidraw.com/ you can have multiple scenes each with a separate drawing :)

[2022-11-07 21:00] josephyooo commented on #5281
fix for firefox 106.0.5 on Windows 11 22H2:

[code]

[2022-11-07 21:25] artemanufrij commented on #5802
Thank you for the fix!

[2022-11-08 06:36] ad1992 commented on #5841
@alpaylan the reason we have horizontal and vertical alignment separately is so that users can use any one or both of them when aligning. If you want to always align horizontally and vertically center, you can set it once, and for future drawings, it will set it to center by default since we save the settings to the browser's local storage.

[2022-11-08 06:42] ad1992 commented on #5837
@yongdamsh does this happen only when the width of the rectangle is too small that it doesn't fit a single Korean letter?

[2022-11-08 10:00] 7flash opened #5844 "Feature: Partial File Save / Load Merge Elements"
Currently, export button allows to serialize elements and save into JSON file, but when I open that file later, it will replace all current elements on the canvas. Instead, I would like existing elements on the canvas to remain and elements from imported file to be merged in current canvas. It will be very useful when working with huge canvases, and actually would remove a limitation of its size t

[2022-11-08 10:57] ad1992 commented on #5834
@zsviczian @DanielJGeiger I have pushed a fix for this, could you test it in https://excalidraw-git-aakansha-fix-paste-bound-text-excalidraw.vercel.app/ ?

[2022-11-08 11:12] zsviczian commented on #5834
Thanks. Seems to be fixed!

[2022-11-08 11:30] yongdamsh commented on #5837
@ad1992 It happens even if it's wide enough. As shown in the video below, it seems to be an issue that occurs mainly when the height automatically increases with line breaks.

https://user-images.githubusercontent.com/4126644/200552996-5ee36f7e-9fbf-4566-a91b-4cb4f7c5744d.mov

wrong character (red box):
<img width="162" alt="스크린샷 2022-11-08 오후 8 27 37" src="https://user-images.githubuserco

[2022-11-08 13:37] codingmickey opened #5846 "Site not responding while exporting the diagram as image"
After waiting for a few minutes this pops up... After another few minutes, the site opens the window for exporting as an image. Then clicking as `download as png` again and wait for another few minutes to be ready to download.

Is this issue only with me? I'm using brave and turned off the shields on the site

![image](https://user-images.githubusercontent.com/42518907/200577811-1eab72c3-01b4-4e71

[2022-11-08 14:15] ad1992 commented on #5846
@codingmickey does it happen only on brave? Is it possible to share the drawing if not confidential?

[2022-11-08 15:30] DanielJGeiger opened #5847 "Incorrect line spacing in sticky notes"
Sometimes the line spacing is incorrect:
https://excalidraw.com/#json=hW7V4yRbvJJdwGnlQEeY9,OLdnAsjZvCWgHUXZ2llgwQ

[2022-11-08 15:31] DanielJGeiger commented on #5847
![image](https://user-images.githubusercontent.com/1852529/200607010-ad3ea352-4f6f-4d1a-bd74-989a691ca4b4.png)

[2022-11-08 17:32] dvsshadow opened #5848 "Pasting content from the clipboard on an empty text element is not working"
If I create a text element outside a container, and then try to paste the content on my clipboard, nothing happens.
However, if I create a text element inside of a rectangle, for example, I can succesfuly paste the content.

I tested on Firefox, Edge, and Chrome and the issue can be replicated on all of them.

[2022-11-08 17:47] DanielJGeiger commented on #5848
@dvsshadow I'm pretty sure this was a regression in #5845, which assumed the text was in a container.  I pushed a fix for this to #5835.
cc @ad1992 @dwelle

[2022-11-08 19:50] ad1992 commented on #5848
Yep, this is a regression that got introduced in my PR. @DanielJGeiger since you have pushed a fix for this, can you create a separate PR for this fix with a test as well? I would like to push the fix first as its a regression

[2022-11-08 19:53] ad1992 commented on #5847
@DanielJGeiger how did you reproduce this scenario? I mean was it typing or pasting it ?

[2022-11-09 04:26] kuros opened #5850 "Panel is not visible"
Steps to reproduce:
1. install minimal theme
2. Install Minimal Theme Settings plugin
3. Choose the dark mode schema as Dracula
4. Setting --> Appearance --> Base color scheme = "Dark"
<img width="1147" alt="Screenshot 2022-11-09 at 9 52 43 AM" src="https://user-images.githubusercontent.com/11554554/200738510-12718c67-d61f-4cc4-b0ca-22d48c307b49.png">

[2022-11-09 06:06] ad1992 commented on #5850
@kuros is this Obsidian?

[2022-11-09 06:09] kuros commented on #5850
Yes

[2022-11-09 06:28] ad1992 commented on #5837
@yongdamsh what you are seeing above is due to the CSS styles so it breaks on words instead of characters

[code]
Looks like the issue is due to `white-space` being `pre-wrap`.
 Can you try it here https://codesandbox.io/s/textarea-wrap-iihqbm?
Does removing `pre-wrap` fix it ?

[2022-11-09 06:33] ad1992 commented on #5850
cc @zsviczian

[2022-11-09 06:35] #5850 closed

[2022-11-09 06:36] ad1992 commented on #5797
Closing this, @lochie154  please open this issue in https://github.com/zsviczian/obsidian-excalidraw-plugin as it's related to Obsidian.

[2022-11-09 06:36] #5797 closed

[2022-11-09 06:39] ad1992 commented on #5747
@addbuye could you elaborate more on the feature? How do you want to align the components ?

[2022-11-09 06:39] ad1992 commented on #5772
Thanks, @kurdi-dev!,  closing this

[2022-11-09 06:39] #5772 closed

[2022-11-09 07:12] ad1992 commented on #5763
Oops missed this, the demo has been fixed and updated to use React 18 🚀

[2022-11-09 07:12] #5763 closed

[2022-11-09 07:16] ad1992 commented on #5607
closing this, please feel free to reopen if this occurs again

[2022-11-09 07:16] #5607 closed

[2022-11-09 08:15] ad1992 commented on #5800
You will need to fork the repo and changing the extension in https://github.com/excalidraw/excalidraw/blob/master/src/data/blob.ts#L410 should work

[2022-11-09 12:32] artemanufrij opened #5854 "Arrow auto connect"
If I move a control over an arrow. It connects automatically.

https://user-images.githubusercontent.com/16517095/200831059-43eabe06-ee7f-4fa2-a44c-b4e7515de204.mp4

[2022-11-09 12:37] sojusnik opened #5855 "Pasting in a text field replaces whole text"
After a recent update, the text field started to act weirdly. When you paste something into a text field, then the content of this text field is deleted, showing only the newly pasted content. Because of this, you can't add text to existent text within a text field, which is significant regression.

[2022-11-09 13:28] codingmickey commented on #5846
Only on brave as I tried on chrome and firefox it was laggy but not as slow and unresponsive as Brave.
I cannot share this file sorry about that, maybe this would be because of the large flow diagram?
![image](https://user-images.githubusercontent.com/42518907/200842467-215cf146-ecc1-4770-bdae-90ae1d44ac53.png)
does this qualify as large? idk

[2022-11-09 13:31] DanielJGeiger commented on #5855
I believe this is a regression from #5845.  Another #5845 regression I found: the wrapped line breaks get set in `originalText` as well as `text`.

[2022-11-09 18:09] #5855 closed

[2022-11-09 20:18] dumblob commented on #5783
Shouldn't this whole functionality be rather "split existing text box" (triggered by a button from a menu or the bottom bar) than "paste and immediately split by default"?

To me I expect a pasted text to be somewhat "together" by default (grouping?) and ideally roughly resemble the layout how it looked like when selected at the source (i.e. not just alignment but also e.g. floating around some pi

[2022-11-09 21:52] beedrill commented on #1176
I do think this is one of the most desired feature for me as a customer. I use Excalidraw mainly as a white board for remote technical team meetings, and being able to quickly write formula is a very important feature. There might also be some good ways to render formula as if they are handwritten:
https://tex.stackexchange.com/questions/453429/create-a-handwriting-environment-for-both-text-and-ma

[2022-11-09 22:34] DanielJGeiger commented on #5847
@ad1992 I believe it was actually by manually resizing the container.

[2022-11-09 22:46] baptiste commented on #1176
Conversely, I wonder if one could plug into a [Mathpix](https://mathpix.com/ocr) or [deTexify](https://detexify.kirelabs.org/classify.html) APIs to do character recognition from handwritten maths.

[2022-11-09 23:25] septatrix commented on #3059
It would be really great if keybindings were configurable. Personally I would very much switch the <kbd>Ctrl</kbd> and <kbd>Alt</kbd> keys the majority of programs use Ctrl for drag and copy instead of alt

[2022-11-10 05:05] taufiq-dev opened #5857 "Double rendering of text"
![20221110_125741.jpg](https://user-images.githubusercontent.com/20721306/201004592-891bc5a1-c1b8-4d45-848d-93db9ff9d456.jpg)

I'm on my work laptop and can't send screenshots outside.

Here I'm facing double rendering of text.
One in its fallback font and one in the rendered font.

OS: MacOS Monterey (12.6.1)
Browser: Chrome (107.0.5304.87) x86_64

[2022-11-10 06:02] ad1992 opened #5858 "Rotate text element when pasted on rotated container"
This is not a regression. Earlier paste was buggy (before https://github.com/excalidraw/excalidraw/pull/5845) and now it works but not rotated

https://user-images.githubusercontent.com/11256141/201012448-0fcaddd5-b6bb-45e7-aafb-e65a1996e912.mp4

[2022-11-10 06:04] ad1992 opened #5859 "Fix text element inside container when rotated"
https://user-images.githubusercontent.com/11256141/201013205-d01c8f25-b9d3-41e6-a1bc-b355c6ce5cbf.mp4

[2022-11-10 06:10] ad1992 commented on #5857
Hey are you seeing this in [excalidraw.com](https://excalidraw.com) ? Can you share read-only link with some dummy text ?

[2022-11-10 07:44] ad1992 opened #5860 "Choose the container selected by user when multiple container intersecting"
https://user-images.githubusercontent.com/11256141/201027960-c5062a8f-c52e-4d66-a44a-8101b733052f.mp4

Right now we try to compute which container to choose based on the pointer coords and choose the one with the highest z-index. This often leads to choosing the wrong container especially when containers are intersecting.
Instead, we should always give preference to the container which the user ac

[2022-11-10 09:49] eproxus commented on #3059
Still can't enable the grid. Really wish there was a UI button for it at least...

[2022-11-10 09:54] maielo commented on #3059
You can use mouse `right click` meanwhile:
![image](https://user-images.githubusercontent.com/8983870/201059086-c6c8fd3d-4f88-43e1-ab50-036bd006f6d5.png)

[2022-11-10 11:23] maielo commented on #5860
Yep i agree it should always choose "selected" element.  Current behavior feels buggy.

[2022-11-10 11:36] eproxus commented on #3059
@maielo Brillant, thanks! (I had an extension blocking right-click modifications enabled, which is why I didn't find it in the first place... my bad)

[2022-11-10 11:54] eproxus opened #5863 "Setting stroke to transparent makes text transparent"
When using the grid I find it useful to create transparent box shapes with text in them to align text nicely to the grid:

<img width="315" alt="Screenshot 2022-11-10 at 12 52 34" src="https://user-images.githubusercontent.com/112878/201083752-52cfb245-7d1a-4562-b501-96bbf98da191.png">

However, when selecting a box and making the stroke transparent the text becomes transparent too. One can fix th

[2022-11-10 11:55] eproxus commented on #4842
I'd like this possibility too, is it included yet? I can't find it.

[2022-11-10 19:39] gustavindnq opened #5864 "Feature request: Export image with no background on Obsidian"
Can the option to check or uncheck background be implemented on Obsidian also?
![image](https://user-images.githubusercontent.com/117943225/201190066-6f395e06-a111-409e-8189-d17952c7c1e1.png)

[2022-11-10 21:31] zadeviggers opened #5865 "Improve subscript and superscript characters in text"
The text `2²₂` currently renders like this:
<img width="240" alt="image" src="https://user-images.githubusercontent.com/74938858/201209856-ddbfb766-9543-4c6a-8112-13192cde8132.png">
The superscript character is hard to read, and the subscript character doesn't match the font that everything else is in.

[2022-11-11 07:25] webshared commented on #5798
Btw what is subtype/crisp in your pr supposed to do? I did not notice any visible changes when applying it :)

[2022-11-11 08:57] webmandman commented on #5863
![2022-11-11-005646_445x247_scrot](https://user-images.githubusercontent.com/991677/201303924-c8f7e7cc-0215-499f-a0d4-f05842088709.png)

Why don't I see a transparent option for the box stroke? @eproxus how do you do it?

[2022-11-11 14:01] eproxus commented on #5863
@webmandman I just guessed and it turned out you can manually enter the “hex code” `transparent` 😅

[2022-11-11 15:19] DanielJGeiger commented on #5865
@zadeviggers My PR #2993 addresses this very issue.

[2022-11-11 15:28] DanielJGeiger commented on #5798
@webshared The "Crisp" subtype enforces "Architect" sloppiness for linear elements.  I mainly added it to demonstrate subtypes independently of MathJax.  Once someone reviews #2993, I anticipate removing the "Crisp" subtype before merging.

[2022-11-11 17:13] maielo opened #5866 "BUG: Text is cut at the end of it's box"
Hey,

Text is not shown correctly:

![image](https://user-images.githubusercontent.com/8983870/201393130-655be61a-1fdf-4b16-acb0-28161184e168.png)

tried to copy the element into new scene - there it works
link: https://app.excalidraw.com/l/6rfy1007QOo/98iVvhWxVso

[2022-11-11 18:00] cg433n commented on #5739
I am having the same issue. On Safari 16.1, Dvorak layout. The shortcuts do work if I press the equivalent key in the Qwerty location.

[2022-11-11 23:37] ptrkcsk opened #5867 "pasting text sometimes doesn't work"
to reproduce:

1. enter text mode (<kbd>8</kbd>)
2. click on canvas
3. paste

pasting `abc` works, pasting `123` doesn't work

[2022-11-11 23:43] DanielJGeiger commented on #5867
I can confirm this on excalidraw.com.  My hunch is this is another regression from #5845.

[2022-11-12 00:37] DanielJGeiger commented on #5867
@ptrkcsk This should be fixed by #5868.

@ad1992

[2022-11-12 01:29] DanielJGeiger commented on #1176
For what it's worth, I closed almost all my PRs other than #2993 hoping to make it easier for @excalidraw to review my work.

@baptiste @jcezarms @mcaruel

[2022-11-13 03:14] yongdamsh commented on #5837
The sandbox you provided does not reproduce the issue regardless of the `white-space` style attribute.
<img width="197" alt="스크린샷 2022-11-13 오후 12 11 13" src="https://user-images.githubusercontent.com/4126644/201503864-34a8efe4-ad12-4cfb-95d4-51ac8536ffd2.png">

I think it is caused by initializing the cursor for consonant and vowel connection at the time the box height automatically incre

[2022-11-13 03:24] ad1992 commented on #5837
Sure @yongdamsh , probably you could look at https://github.com/excalidraw/excalidraw/blob/master/src/element/textWysiwyg.tsx#L185 as starting point

[2022-11-13 14:18] cuttwicemeasureonce commented on #3762
Hello, I am new to the platform and interested in contributing — this issue seems interesting and caught my eye.

I believe it could be helpful to have the scope of this task be more explicit. For example, given the following input below, we'd like to have a result similar to the image above.

[code]

Also, unless I'm mistaken, there seems to be no `<Table>` component like it available. If there w

[2022-11-13 17:42] zsviczian opened #5872 "BUG: color picker is misaligned when parent container has the contain:strict rule applied"
The editor redesign (#5780) introduced the use of `position: fixed` layout elements. As a result positioning the color picker based on the BoundingClientRect of the pickerButton results in an offset, because Excalidraw in Obsidian is hosted in a container that has `contain: strict` setting.

![image](https://user-images.githubusercontent.com/14358394/201535938-300846d7-b8c1-484e-b064-e2b9a0e53dda.

[2022-11-13 18:01] dumbdreamed opened #5873 "error in wxporting as svg file"
hi, hope you are doing well, thanks for your efforts on this add-on and for keeping it updated.
my problem is that when I want to export my canvas as a SVG file the alignment of the lines and everything messes up.
this problem happens actually when i typed in Persian  and arabic language.
its the original one:
![image](https://user-images.githubusercontent.com/64626106/201536974-a0252999-0626-40bf

[2022-11-14 07:36] 7flash commented on #4308
Embedded self-updatable dynamic elements can be called "Meta Elements" https://github.com/excalidraw/excalidraw/issues/5684

[2022-11-14 07:46] 7flash commented on #5867
It happens when I am trying to paste raw text that looks like JSON, then canvas is trying to interpret clipboard content as serialized elements

[2022-11-14 07:55] ad1992 commented on #5867
@7flash it should be fixed in https://excalidraw-q4ew6s3nw-excalidraw.vercel.app/, can you try ?

[2022-11-14 08:26] ad1992 commented on #5873
@dumbdreamed could you also export the drawing as a link if its not confidential ?
![image](https://user-images.githubusercontent.com/11256141/201611135-3e22f02f-22c6-4e4a-8763-69337a6eba5a.png)

[2022-11-14 08:30] ad1992 commented on #5866
@maielo I can see the emoji is being cut, do you have the original scene where this is reproducible?
This happens when you try to export the drawing ?

[2022-11-14 08:32] #5867 closed

[2022-11-14 08:33] ad1992 commented on #5867
This should be fixed now. Incase the issue still persists, feel free to reopen this  / create a new issue

[2022-11-14 09:13] phospher1 opened #5875 "images won't load when file is moved"
Hi Zsolt
 As discussed on Youtube the problem with two files I have moved is that the image doesn't load when moved. I have tried to repeat this with a test file but don't seem to be able to get the same result. However it has happened twice before. Please find the two files
[Negative Emotion Diagram.md](https://github.com/excalidraw/excalidraw/files/10001418/Negative.Emotion.Diagram.md)
[Essence