[2020-09-09 19:36] dwelle commented on #2148
If you have it saved in a file (at least some version of it) as you mentioned, but just can't import it at the moment due to the bug, then it'll be fixed and you will be able to restore it. But you won't be able to restore the unsaved work I'm afraid :(.

Yup, np.

[2020-09-09 20:37] aHagouel commented on #2148
kasdfb;asd;flknasdf;lk.... I should have saved wayyyyy earlier. Thx for looking in to this. Btw confirmed the open / save is ok in chrome, I was just using a beta version of edge.

[2020-09-10 06:58] ashiskharel commented on #2137
Thanks @lipis

[2020-09-10 08:10] #2137 closed

[2020-09-10 08:20] dwelle commented on #2148
@tomayac I can confirm on Edge 87.0.635.0 (canary) --- simply clicking on the open-file button throws.

@aHagouel sorry again :(

[2020-09-10 10:00] #2148 closed

[2020-09-10 23:04] carmine opened #2151 "Can't identify saved file as an excalidraw file"
When I save the diagram, I get multiple suffixes (ie ..excalidraw..excalidraw..excalidraw). But that is another problem.

The problem here is, when I try to load that file, my mac doesn't recognize the file. I have to select "all files".

[2020-09-11 14:03] nilsjonsson opened #2153 "Swedish translation"
Hi, I'd like to help translate the project to swedish, since it's my native tongue.

[2020-09-11 15:06] #1656 closed

[2020-09-11 15:22] #1844 closed

[2020-09-11 17:19] dwelle commented on #2151
Can't repro the duplicate `.excalidraw` on save issue (I'm on Windows), but can repro the filepicker issue on open. It seems to be related to latest change from #2149 /cc @tomayac any ideas?

[2020-09-11 17:36] tomayac commented on #2151
What browser is this happening on? I assume it’s Chrome/Edge <86. The change (the API now requiring leading dots in the to-be-accepted file extensions [`.excalidraw` instead of `excalidraw`]) is one of these unfortunate breaking changes during the Origin Trial phase (which is why we have them in the first place). If you use Chrome/Edge >=86 it should work as expected.

[2020-09-11 18:15] carmine commented on #2151
Yep, chrome < 86 (85.0.4183.102), on macos 10.15.6

[2020-09-11 18:33] dwelle commented on #2151
I see. The problem is that the latest spec expects `.excalidraw` but the API shipped in Chrome 85 doesn't. One weird thing it works with `.json` currently (i.e. it lists `.json` files in the file picker in Chrome 85).

That solves the file picker bug.

The duplicate extension seems to be caused by the same problem. I still can't repro it, but it must be because it first saves the file (on Chrome 8

[2020-09-11 20:12] joshuaiz commented on #2151
Having this same issue: Chrome Version 86.0.4240.30 (Official Build) beta (x86_64) on macOS.

Also cannot save files (will file another issue).

[2020-09-11 20:16] joshuaiz opened #2154 "Cannot save or save as from Chrome v86 macOS"
Just tried saving a file in Chrome Version 86.0.4240.30 (Official Build) beta (x86_64) on macOS using both 'Save' and 'Save As' and the operation times out with this error:

![CleanShot 2020-09-11 at 15 10 34@2x](https://user-images.githubusercontent.com/1096738/92968780-5a1b1f80-f441-11ea-8d69-e65681156ecc.jpg)

Also tried with new file in Incognito window and same error:

![CleanShot 2020-09-11

[2020-09-11 20:28] tomayac commented on #2151
I fear the only way to detect this is via UA string parsing.

This would have to happen [here](https://github.com/GoogleChromeLabs/browser-nativefs/blob/a9462d03fab6df41be6504c3190bd7a80fd1d11b/src/nativefs/file-save.mjs#L31) and [here](https://github.com/GoogleChromeLabs/browser-nativefs/blob/a9462d03fab6df41be6504c3190bd7a80fd1d11b/src/nativefs/file-open.mjs#L32). The logic would be: “if Chrome

[2020-09-11 20:31] tomayac commented on #2151
As an “emergency” patch, let’s remove the OT token for now. Doing this now. Note that this is part of the deal with Origin Trials that things break.

[2020-09-11 20:33] tomayac commented on #2151
Someone please merge https://github.com/excalidraw/excalidraw/pull/2155 once tests have run.

[2020-09-11 20:33] tomayac commented on #2154
Temporarily fixed via https://github.com/excalidraw/excalidraw/pull/2155.

[2020-09-11 20:34] dwelle commented on #2154
What's this one caused by? I'm on stable 85, and canary on 87 so can't test. Will try to test on beta channel.

[2020-09-11 20:37] tomayac commented on #2154
I have not seen this error before. Let’s disable the OT for now just to be on the safe side via #2155.

[2020-09-11 20:38] dwelle commented on #2154
Done. I've tested on 86 (Beta channel) and still can't repro the OP. Maybe it's Mac-only.

[2020-09-11 22:34] joshuaiz commented on #2154
@dwelle here's the value (after refresh):

6ea9f2dde46453a6c1cbf073dc8e42bfbbc05d8e

[2020-09-11 22:38] joshuaiz commented on #2154
Can save now...thanks for the quick fix.

[2020-09-12 05:14] jjclxrk opened #2156 "Encounters an error whenever Export is clicked in Firefox 80.0.1 (macOS)"
The scene can be exported when it is loaded in Chrome however.

<img width="756" alt="Screen Shot 2020-09-12 at 3 17 42 pm" src="https://user-images.githubusercontent.com/37681031/92988012-29072180-f50b-11ea-84a2-c8f48af98300.png">

### Scene content
Content is too long. A file is attached.
[week6-solutions.excalidraw.zip](https://github.com/excalidraw/excalidraw/files/5212223/week6-solutions.exca

[2020-09-12 08:18] dwelle commented on #2156
Can't repro on FF 80 Windows. The Sentry Error ID doesn't match anything in our Sentry log, which is super weird.

Is it happening right when you click on this button?

![image](https://user-images.githubusercontent.com/5153846/92990923-59859600-f4e0-11ea-9866-868354ff98f9.png)

If you can still reproduce it, can you copy the error stack trace from the console?

[2020-09-12 11:16] dai-shi commented on #2110
When we developed the grid mode, we discussed about customizing gird size.
Let's keep it open for a while and collect possible use cases that may be convincing.

[2020-09-12 12:55] jjclxrk commented on #2156
Yeah, it happens immediately after clicking that button.

Opening the console, it seems I'm getting a bunch of CORS and ServiceWorker related errors. The following errors occur just opening excalidraw.com:
[code]
But I don't get any of those errors if I open the page in a Private browser. And I get the same error if I try to export the file from the private window, so maybe they are irrelevant?

[

[2020-09-13 09:44] nilsjonsson commented on #2153
...and by opening this issue I would like someone to add Swedish(sv-SE) to the crowdin page.
:)

[2020-09-13 09:46] dwelle commented on #2153
Sorry, it got lost in the translation :). https://crowdin.com/translate/excalidraw/10/en-sv

How do you say "Swedish" in Swedish for the language picker?

[2020-09-13 09:47] nilsjonsson commented on #2153
"Svenska"

Thanks, will begin translating :)

[2020-09-13 17:17] #2103 closed

[2020-09-13 17:30] #2153 closed

[2020-09-13 17:31] lipis commented on #2153
Should be live soon :)

[2020-09-13 17:31] nilsjonsson commented on #2153
Awesome! 👍

[2020-09-13 17:33] lipis commented on #2153
If you notice something is wrong.. you can always update it in Crowdin and we'll get the changes automatically!

[2020-09-13 19:05] salehmoh commented on #2144
Can you check `chrome://apps` to see if excalidraw is still there?

[2020-09-14 07:07] tomayac commented on #2154
I'm closing this issue in favor of the newly created Chrome bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1127773. Please star it to be notified of changes.

[2020-09-14 07:07] #2154 closed

[2020-09-14 08:52] tomayac commented on #2151
There is someone else with the double-dot problem: https://bugs.chromium.org/p/chromium/issues/detail?id=853326#c232.

[2020-09-14 13:31] reymon359 commented on #2136
Hi there! [I submitted a Pull Request to fix it ](https://github.com/excalidraw/excalidraw/pull/2162).

I hope it helps to close this!

[2020-09-14 15:07] ReneCode opened #2163 "resize window does not keep the originX - depends on the zoom factor"
When resizing the window the origin should be fixed on the same screen position. Unfortunately this only works on zoom=100%.

![ezgif-2-14b92f51c590](https://user-images.githubusercontent.com/1595098/93102795-1b3cd200-f6ac-11ea-9ed2-e2b0830959ec.gif)

[2020-09-14 17:23] #2136 closed

[2020-09-14 18:41] mkruisselbrink commented on #2151
You could detect the double-dot issue also by trying without a dot in the extensions, and if that rejects with a TypeError you know you have a version that does require the dot in the extension. But the user agent check should work if all you care about is stable and beta.

[2020-09-15 06:50] tomayac commented on #2154
To the initial poster @joshuaiz: Could you chime in on the [Chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=1127773#c2), please? Not sure if you have seen it. Thank you!

[2020-09-15 19:21] joshuaiz commented on #2154
@tomayac Yep I've seen it - go ahead and close this out. Thanks!

[2020-09-16 00:12] petehunt opened #2165 "Reconciliation algorithm breaks z-order"
The reconciliation algorithm does not sync z-order correctly. Repro by overlaying two shapes with solid fill colors and moving one to the front. You'll see that in collaborative mode both peers may not converge to the same state.

[2020-09-16 08:01] dwelle commented on #2165
duplicate of https://github.com/excalidraw/excalidraw/issues/1376

[2020-09-16 08:01] #2165 closed

[2020-09-16 12:18] Jnforja commented on #940
@dwelle Can I get this assigned to me?

[2020-09-16 20:41] ReneCode commented on #2163
oh, that appState.scrollXY value seems to be sometimes:
* in sceneCoords (used in viewportCoordsToScreeneCoords)
[code]
* in viewportCoords (used in renderScene)
[code]

or do I miss something ?

refactoring - as discussed in issue #940 would fix it.

[2020-09-16 20:46] ReneCode commented on #940
I think **one** transformation matrix for transforming  viewport <-> scene  coords would help.
That matrix would be no big deal, but finding and refactoring all the hard coded translations is a lot of work.

[2020-09-16 21:02] dwelle commented on #2163
It's a mess, I couldn't even tell you if `appState.scrollX/Y` should be in viewport or scene coords (I'm surprised it works if we're mixing the two). If we don't fully enforce the types via TS we should at least rename all coords variables to explicitly contain whether it's in viewport or scene coords. I was doing it here and there, but didn't get to full codebase refactor yet.

[2020-09-16 21:38] Jnforja commented on #940
Thanks for the idea @ReneCode! I'll keep it in mind.

[2020-09-17 09:44] O4epegb opened #2167 "Use classnames package instead of template strings"
Is that a good idea to start using `classnames` package (only 650 bytes minified) or something similar?

I saw some places where classes render in html as `false` or `undefined` (no big downsides but it tickles my OCD), like that:

<img width="350" alt="Screenshot 2020-09-17 at 12 34 31" src="https://user-images.githubusercontent.com/12836237/93453336-3abd4000-f8e2-11ea-945b-67acf44b0b0b.png">

an

[2020-09-17 13:41] lipis commented on #2167
Class name should not have `false` or `undefined`.. :) I think it's a good idea.. what do you think @dwelle?

[2020-09-17 15:34] dwelle commented on #2167
Yeah, why not. There's even a smaller alternative btw: https://bundlephobia.com/result?p=clsx@1.1.1

[2020-09-17 17:21] lipis commented on #2167
@O4epegb go for it!

[2020-09-18 07:28] jen-niii opened #2168 "Share a live-collaboration session - not working"
There's a code error after clicking the "start session" button.

"Unhandled Rejection (TypeError): Cannot read property 'generateKey' of undefined"

[2020-09-18 08:23] dwelle commented on #2168
What's your browser and version? I can't find the error in our Sentry bug tracker. This error usually happens when running in unsafe environment where `window.crypto.subtle` object isn't defined.

[2020-09-19 12:16] pratik9722 opened #2169 "Image upload images"
Ability to upload multiple images ( JPEG,png gif etc) on the canvas then resizing and draw over it.

[2020-09-20 11:46] cherniavskii commented on #1026
Hey guys, sorry for a late reply

@andreadellacorte

Awesome!

No plans for now, will you be willing to contribute?

@jhoogeboom

I'll definitely look into this, seems like nice to have feature

It is not intentional, but I've seen this behavior on iPad Safari. What's your system/browser?
No need to authorize over and over on desktop Chrome though :)

[2020-09-20 12:11] ubitux opened #2170 "Support layers (list)"
Excalidraw currently allows object grouping and layering orders. Going one step further would be to give access to the list of all the objects, and give the ability to (re)name them. This would be similar to the object list tree in Inkscape, where you can rename, reorder, group/ungroup, convert group into layers, etc.

![2020-09-20-141335-eigh8Rie](https://user-images.githubusercontent.com/34467/9

[2020-09-20 12:42] henno commented on #616
What is the current best workaround to get the double sided arrow?

[2020-09-20 12:53] dai-shi commented on #616
![image](https://user-images.githubusercontent.com/490574/93711740-afff6e00-fb8b-11ea-826a-5eb925337656.png)

https://excalidraw.com/#json=5733360995401728,narze4RKoz1UmuXwbmhLyg

[2020-09-20 13:34] dwelle commented on #2169
duplicate of #19

[2020-09-20 13:34] #2169 closed

[2020-09-20 13:38] dwelle commented on #2170
Yea, layers idea was tossed around, but current consensus is (I believe) it doesn't fit into the UI simplicity principle of Excalidraw.

We'll see.

[2020-09-20 14:18] andreadellacorte commented on #1026
My main use case for asking for the code is because it would help with the
security approval at my company :)

And I'm happy to collaborate too!

On Sun, Sep 20, 2020, 2:47 PM Andrew Cherniavskii <notifications@github.com>
wrote:

[2020-09-22 09:27] ThingsTom opened #2180 "Possibility of hexagon shape"
Loving the tool! Can we have support for a hexagonal shape and my life will be complete ;-)

[2020-09-22 10:30] dwelle commented on #2180
Just draw some hexagons, add the to the library, and reuse: https://excalidraw.com/#json=5698362649083904,VEObfBmrJ9kKTyi3W8kUug

Anyway, this is a duplicate of https://github.com/excalidraw/excalidraw/issues/366

[2020-09-22 10:30] #2180 closed

[2020-09-22 20:26] malcolmbastien opened #2183 "Size Option in Export Dialogue Confusing"
(Following up on Twitter request to file an issue)

The three buttons in the export dialogue of "x1", "x2", and "x3" don't clearly indicate that you are changing the size of the export. There is no tooltip, and on a canvas with some objects in it, the export preview doesn't change size either. The confusing part for me personally was that the only effect I saw was the apparent quality of the previ

[2020-09-23 15:20] mikefrancis opened #2184 "Feature request: Minimap"
Firstly, thanks so much for building this awesome tool! ❤️

I've been opening some huge diagrams recently and have to zoom right out to make sure that I don't miss any context.

It would be great if there was a minimap that showed a primitive version of the whole canvas, it would be even better if you could pan the viewport around using it but maybe not for MVP.

I'm willing to help out coding thi

[2020-09-23 17:32] thecloudgarage opened #2185 "load-balancing and session persistence"
What is the recommended way to manage session persistence while running multiple instances of excalidraw as docker containers in a Kubernetes setup.

[2020-09-23 18:06] thecloudgarage commented on #2185
Also wondering if Redis support is provided in the application

[2020-09-23 20:04] kbariotis commented on #2185
Hey @thecloudgarage, which container are you referring to? The frontend client or the socket server?

The frontend client is basically a frontend app so there is no state/session server-side.

The socket server, well even excalidraw.com runs on a single instance and is able to handle a vast amount of requests. I would be surprised if you needed more than that but you know best of course. I would s

[2020-09-23 20:12] kbariotis commented on #2060
My 2 cents:

- _Manual modification_: The object produced by Excalidraw is not designed to be human readable. I don't see how usable would it be for a person to actually go and edit it.
- _Version control_: That's sensible I think and a good feature to have (but maybe not the right approach)
- _A cloud "account"_: That's also sensible but agaain maybe not the right approach

**If I may go off topi

[2020-09-23 20:36] lipis opened #2186 "Imported items from the library should land to the board as a group"
When using the library from mobile (If you try the link from #2179) it's quite hard to move the objects around if you miss-click (tap) and the inserted item.

[2020-09-23 20:38] lipis commented on #2183
Maybe we can even have this tooltip showing the exact size of the export PNG, for example: `Exported size will be 1024x256 pixels`. (Just an idea)

[2020-09-23 21:41] dwelle commented on #2186
That would mean we'd be modifying what you actually saved into the library. You might want it to be grouped, and you might now. I'd leave that to the user to decide.

[2020-09-24 02:14] garyelephant commented on #1597
Need this feature +1

[2020-09-24 02:29] dai-shi commented on #1597
@garyelephant Have you tried the unofficial tool [excalidraw-animate](https://github.com/dai-shi/excalidraw-animate), or not?

[2020-09-24 04:58] garyelephant commented on #1597
Fantastic

[2020-09-24 05:17] thecloudgarage commented on #2185
I am basically running the docker image, which I believe has both the frontend app and the socket server. Please correct me if I am wrong. In this case, if I want to run multiple instances of the docker image (docker hub: excalidraw/excalidraw), both the frontend app and the socket server., both get scaled out. Is there a way to run the front-end app separately as a docker container and the socket

[2020-09-24 08:56] kbariotis commented on #2185
There are two images atm:

- The socket server: https://hub.docker.com/r/excalidraw/excalidraw-room
- The frontend client: https://hub.docker.com/r/excalidraw/excalidraw

The latter can be configured through an env variable to point to your self-hosted socket server. Docs are not really up to date, something to fix.

Try it and let us know how it went. :)

[2020-09-24 08:57] kbariotis commented on #2185
No AFAIC but we could implement it as optional if someone would like to scale up the socket server.

[2020-09-24 16:13] thecloudgarage commented on #2185
Got it.. thanks a bunch... will try leveraging redis for the socket server (I did not see .env file earlier to the heroku url for socket server.. my bad)... One other question...in the .env file I see references to json server... is that a separate docker image that I can host and any guidance there will be helpful

[2020-09-24 17:28] lipis commented on #2186
If there are groups within the item it's not a problem.. and it's easy to ungroup, double click or do stuff with it.. it is still intuitive, and it feels more like an imported item from the library as a whole.

[2020-09-24 17:32] lipis commented on #2170
Yeah, not sure if it's proper to introduce something that _complicated_ into Excalidraw. The feature and use case is definitely useful and handy for many reasons. Maybe we can introduce some hidden features for nerds.. that will open only with a shortcut on desktop (as on mobile this is not going to be that easily done).

[2020-09-25 07:48] maio commented on #414
Great idea. My use-case would be storing PNG (with metadata) into Git repository of a project, so that I or anyone else could modify it later on (+ it can be displayed in any markdown file as it's just PNG).

[2020-09-25 11:26] Jan-M commented on #1026
I would also love to see the google app integration being open sourced.

[2020-09-27 15:30] robertvanhoesel commented on #2025
Would an other valid suggestion be to point out the toggle in the UI whenever `prefers-colorscheme: dark` is detected? Not sure if there's already a fitting UI pattern for that.

[2020-09-28 01:35] petehunt commented on #1991
This was being tracked in #1878 and there's a PR for it in #2188

[2020-09-28 01:40] petehunt opened #2189 "Proposal: plugin API"
There are a ton of features being asked for that may or may not make it into Excalidraw:
* https://twitter.com/Vjeux/status/1310329936796762112
* #2184
* #2170
* #1718
* #1689

and probably many others. These are all good ideas but the core team is small and adding new features requires a lot of discretion so the app doesn't lose its simplicity.

I wonder if we should consider introducing the noti

[2020-09-28 01:56] dai-shi commented on #2189
Yeah, I've wanted such API that I can plugin [excalidraw-animate](https://github.com/dai-shi/excalidraw-animate) and [excalidraw-claymate](https://github.com/dai-shi/excalidraw-claymate).

[2020-09-28 08:29] zmen opened #2191 "The menu's position should auto adjust according to editing position"
Currently the menu is hidden when you are in selection mode. If you switch to other mode by selecting the toolbox, it appears at the top-left corner, which works fine.
However, you can also switch to text mode by double-click at anywhere. So if you double click on the top left area, the menu may overlap with your text.

[2020-09-28 20:37] dawneraq commented on #2183
I'd like to pick this up, with 2 ideas.

1. I would start the tooltip with a verb, like `Scale 2x (1024x256)`, to match the other tooltips (e.g. `Export to PNG`, `Get shareable link`)

2. The scale number and the "x" should switch places. 1x/2x/etc is the convention as far as I know:
    - https://helpx.adobe.com/photoshop/using/export-artboards-layers.html#Exportfilesindifferentsizes
    - https:

[2020-09-28 20:57] dwelle commented on #2183
Sounds good!

[2020-09-30 14:48] keul opened #2192 "Embedding fonts in SVG export"
I'm using SVG exported images from excalidraw. I use the _hand-draw_ font in many of them.

Then I use those SVG inside an HTML source (generated by gitlab markdown... so I can't, for example, directly embed SVG in there... `img` tag is my only choice).

What I noted: it seems that when SVN is included with the `img` tag, browsers are not downloading external fonts.

I tried the same **embedding f

[2020-10-01 02:34] dai-shi commented on #2192
Duplicate of #1972?

[2020-10-01 05:37] aqandrew opened #2194 "line editing: make point-adding more obvious"
@vjeux [mentioned on Twitter](https://twitter.com/Vjeux/status/1310610226379325441) that there was some discussion about presenting an affordance, indicating that a new point can be added, when a user hovers over a line's point in edit mode. He also said there was no issue open for this yet.

(Personally, I deleted and redrew a line 3 times before noticing the hint at the top of the screen saying

[2020-10-01 05:45] vjeux commented on #2194
Love the use of excalidraw for explaining the behavior you have in mind!

[2020-10-01 08:06] keul commented on #2192
@dai-shi thanks, seems the same feature request

[2020-10-01 08:06] #2192 closed

[2020-10-01 08:08] keul commented on #1972
It the same issue. I confirm that manually embedding the font in base64 works for SVG included as `img` tags.
Used tool described at https://css-tricks.com/using-custom-fonts-with-svg-in-an-image-tag/

[2020-10-01 16:04] vjeux commented on #1972
@keul could you upload the output somewhere by any chance?

[2020-10-01 16:16] keul commented on #1972
@vjeux sure!

This archive contains an example svg generated by excalidraw (_pre.svg_) and the same image processed by [nano](https://vecta.io/nano) (referenced in the article above).

[pre-and-post-svg.tar.gz](https://github.com/excalidraw/excalidraw/files/5313418/pre-and-post-svg.tar.gz)

This is a screenshot of my local html page with the original image embedded with an `img` tag:

![original](

[2020-10-01 16:18] vjeux commented on #1972
Okay, so they added this at the beginning of the xml which is 4kb. I wonder if that's the entire font or only the characters that are displayed on the scene.

[code]

[2020-10-01 16:25] dwelle commented on #1972
It's actually 15kb, not 4kb. But our font is >80kb so it can't be the whole of it.

[2020-10-01 16:29] keul commented on #1972
@vjeux if you take a read to how nano works: they claims to optimize it:

Unclear how.

But I don't think you need to go so far. Well... it would be super, but a different level of complexity I fear.

[2020-10-01 16:51] vjeux commented on #1972
![image](https://user-images.githubusercontent.com/197597/94839254-95b76280-03cb-11eb-95c2-7e8d5ad197e7.png)

Yeah, looks like only the characters that are displayed.

[2020-10-01 16:52] vjeux commented on #1972
For the 4kb (should have been 5 actually) I just subtracted the two numbers here:
![image](https://user-images.githubusercontent.com/197597/94839386-c7302e00-03cb-11eb-802d-a1b73a5a72f7.png)

[2020-10-03 11:51] Mogztter opened #2197 "File produced by `npm run build-node` throws an exception at runtime `window is not defined`"
Hello,

I'm trying to execute the file produced by the npm task `npm run build-node` using Node.js 12.18.4 but I get the following exception:

[code]

[code]

To give you some context, I'm the creator of https://kroki.io and I would like to add Excalidraw.
That's the reason why I'm trying to use a function that can convert a JSON definition of an Excalidraw diagram to an image (png or svg).

The `

[2020-10-03 13:30] dwelle commented on #2197
Hey, there's now-abandoned PR to fix this: https://github.com/excalidraw/excalidraw/pull/1474

I agree that we should support this. I was planning to look at it myself but I'm not sure about the time frame. Alternatively, if you're up for taking over that PR (or creating a new one) that'd be great!

[2020-10-03 14:59] Mogztter commented on #2197
Ooops sorry, I didn't find it before creating this new issue :sweat_smile:

Actually, I took a different approach.
Despite all the great efforts, I believe that JavaScript implementations of web API like DOM and canvas will always be limited.
It would also require constant care to not use an unsupported web API otherwise it would break the Node.js build until this API is implemented or a workaroun

[2020-10-03 20:35] petehunt commented on #2186
fwiw, i intentionally didn't do this but i can see the appeal and i'm not sure i made the right call :)

i think the groups feature is still not super discoverable. users might not know that they can edit parts of the objects from the library which would make the feature a lot less useful for them. just my 2 cents though.

[2020-10-03 21:40] excitedbox commented on #2189
YES. Also adding features such as text, voice, video chat, asset libraries, an other features may not be needed by everyone so a quick way to add or remove them would be awesome. Using a CDN to include JS libraries you could quickly add or remove features as well in a plugin manager.

[2020-10-04 06:15] rockem opened #2198 "Lost the ability to "Save as""
In the past few weeks, every time I hit the Save button, I get a download with names something like that for example: _Untitled-2020-10-03-1942 (3).excalidraw_

What I'm expecting is for it to work like before where either I'll get a dialog where I can choose where to save it and how to name it, or, if I loaded an existing file, just to save by its current name and location.
Right now it will alwa

[2020-10-04 06:18] jjdredd commented on #1176
I think it isn't that important for latex, especially since math is usually more dense and hard enough to read already.

[2020-10-04 08:55] dwelle commented on #2198
Should be automatically resolved on Oct 8, see this comment: https://github.com/excalidraw/excalidraw-blog/issues/226#issuecomment-695979591

[2020-10-04 09:05] dwelle commented on #2186
Strong argument, especially since many users aren't even aware of grouping.

[2020-10-04 11:45] rockem commented on #2198
Thanks for the info! closing.

[2020-10-04 11:45] #2198 closed

[2020-10-04 18:12] #1878 closed

[2020-10-04 21:03] ad1992 opened #2200 "File saving with incorrect extension"
When trying to save file, its appending `..excalidraw` instead of `.excalidraw`, as a result of this the file ultimately gets saved as `filename.excalidraw.excalidraw`. Due to this when trying to upload the file, I am not able to upload unless I change the option to `All files` in the upload dialog.
<img width="844" alt="Screenshot 2020-10-05 at 2 21 16 AM" src="https://user-images.githubuserconte

[2020-10-05 04:13] xixixao opened #2201 "Replace property toggle labels with icons"
It always takes me a second too long to pick Fill/Stroke width etc. It's because I need to read the labels, and I never remember which order they are in. We should replace the labels with icons, I bet it would be much easier to use.

<img width="220" alt="Screen Shot 2020-10-04 at 21 13 24" src="https://user-images.githubusercontent.com/1473433/95039724-e253b400-06d1-11eb-8ab1-25940e792961.png">
W

[2020-10-05 09:42] dwelle commented on #2200
Duplicate of https://github.com/excalidraw/excalidraw/issues/2151

Fixed in Chrome Beta, and will be fixed in Chrome 86 stable (Oct 8).

[2020-10-05 09:42] #2200 closed

[2020-10-05 14:46] lipis commented on #2201
That's an interesting one, obviously the current labels will become titles (tooltips).

What about the font family?

<img width="257" alt="Screenshot 2020-10-05 at 5 45 49 PM" src="https://user-images.githubusercontent.com/125676/95094472-9d139e80-0732-11eb-9594-ed5b90d9ced3.png">

[2020-10-05 14:48] lipis commented on #2201
While it's a big change on the UI, we should check it in action and iterate until we are happy with it.

/cc @vjeux

[2020-10-05 14:54] vjeux commented on #2201
It’s not a bad idea. Of course need to see how it looks in practice.

[2020-10-05 14:55] lipis commented on #2186
I disagree as the group discoverability, as I believe that group function exist in every app that creates diagrams (Figma, Adobe Illustrator, Inkscape, etc)

Double click is the most intuitive, but we also have buttons and the group thingy in the right click menu.

[2020-10-05 15:04] lipis commented on #2201
@xixixao are you up for a test?

[2020-10-06 10:46] ramalingamvarkala commented on #1991
Can we integrate Excalidraw into jitsimeet?

[2020-10-06 15:08] mrdc opened #2209 "excalidraw Docker image is not working on RPi3"
Hello,

I'm experiencing an issue with running excalidraw in Docker on Rpi3 - it's not starting at all. Don't see any errors.
On Win10 x64 image works fine.

Does it related to an incompatible architecture?

`standard_init_linux.go:211: exec user process caused "exec format error"`

[2020-10-06 15:25] jackdbd commented on #1256
I created a PR for this issue: https://github.com/excalidraw/excalidraw/pull/2210

[2020-10-06 16:47] dwelle commented on #1991
@ramalingamvarkala feel free yo make one, similar to the Jira plugin https://github.com/excalidraw/excalidraw/issues/1189

I'm gonna close this issue as resolved

[2020-10-06 16:47] #1991 closed

[2020-10-06 19:20] dwelle opened #2211 "set up firebase CORS"
Right now we allow any origin so that anyone can read/write to our firebase databse. We should set up CORS to only allow excalidraw.com domain.

Downside is collab won't work in Vercel PR previews.

/cc @petehunt

[2020-10-06 19:23] dwelle opened #2212 "Do not use production firebase in development"
We're currently using production database even on localhost which is bad. Apart from cluttering the production database, we could inadvertently end up with stuff like infinite loops (for read/writes) when developing related features (raking huge bills), and who knows what else.

What we should do:

- [ ] set up CORS without localhost https://github.com/excalidraw/excalidraw/issues/2211
- [ ] set u

[2020-10-06 19:34] dwelle opened #2213 "factor out collaboration logic"
Part of an ongoing effort to factor out I/O from the core component we (will) publish to npm.

We shouldn't expose our proprietary backend collaboration logic to the npm component, since 1) host apps will want to roll out their own implementation, and 2) they couldn't/shouldn't use our own backend anyway.

We definitely don't want to factor out logic such as UI for collaborators list (and related

[2020-10-06 19:43] vjeux commented on #2212
Fyi, Facebook is not using development dbs for debugging but production ones. This has worked fine in practice and makes setting up the environment much easier: you don’t need to mock a ton of stuff. I feel like this is fine for this use case as well.

I’m not too concerned about crazy bills here (maybe I should...)

[2020-10-06 19:54] dwelle commented on #2212
I'm mostly concerned from user perspective. If we ever introduce Firebase Functions (or other server-side ops) where we'll use Admin SDK, someone will inevitably drop the production database :D.

As for the bills, it's your funeral :). Also, it's not just about reads/writes, but over time the stored GBs will accrue and if we don't migrate to cheaper Firebase Storage and stay on Firestore (but even

[2020-10-06 20:02] dwelle commented on #2212
Here's an alternative: set up a development bucket which we can periodically reset. That way developers don't need to set up anything and we can keep it separate from production.

[2020-10-06 21:45] xixixao commented on #2201
This is a pretty easy change, so happy for anyone else to take it. I'm busy with a move atm so might not have time to work on this for a while.

[2020-10-06 22:06] sk8Guerra commented on #253
How is the status of this presentation mode? is there something I can help with?

Another way of presenting could be just to hide all configuration menus. 👇🏽

<img width="445" alt="3" src="https://user-images.githubusercontent.com/18681676/95264815-3f905800-07ed-11eb-9c8f-482bb7d2f4aa.png">
<img width="250" alt="1" src="https://user-images.githubusercontent.com/18681676/95264808-3e5f2b00-07ed-11eb

[2020-10-06 22:27] dwelle commented on #253
Not a priority at this point (if it fits into base Excalidraw at all). It could be made into a plugin when we add support for them #2189.

This can be partially done today via zen mode (but some menus still show): `Alt-Z` (check keybindings dialog).

[2020-10-07 01:22] sk8Guerra commented on #253
@dwelle Thanks for your quick answer.

Sounds good to put this functionality into a plugin. I'll check the proposal.

Great! By now I'll present this mode to present.

[2020-10-07 13:37] #2183 closed

[2020-10-07 14:42] Turakar commented on #2213
I appreciate the proposed refactoring! I want to share my thoughts from a "hoster" perspective with you, as I want to work on a Nextcloud integration (the prototype without collaboration works). I currently aim for the following setup:

1. (JS) Client wants to open a file in the cloud.
2. (PHP) Server creates a collaboration session with the contents of the file as the initial data or retrieves an

[2020-10-07 15:46] dwelle commented on #2144
Try updating to latest Chrome 86. If you can still reproduce the error, lemme know.

[2020-10-07 15:46] #2144 closed

[2020-10-08 09:04] dwelle commented on #2197
I was wondering how expensive spinning up Puppeteer/Playwright is compared to the canvas polyfill workflow, and whether the risk of API inconsistencies is high enough to warrant it.

Nevertheless, we'll want to export those `renderSvg`/`renderJpg` etc functions anyway so you can go ahead. We'll want them to live in the package we (will be) publishing to npm shortly (check `src/excalidraw-embed/ind

[2020-10-08 11:40] itsShnik commented on #253
@vjeux @dwelle While I understand that this might not be your priority, but having multiple pages (or maybe artboards) would be very useful. Not only will it enhance productivity but many (like me) who rely on excalidraw for diagrams will switch completely to using excalidraw for presentations.

[2020-10-08 15:39] dwelle opened #2218 "copying styles should set it as default"
When you copy element styles via shortcut/contextmenu, it should set it as default props so that you don't have to copy/paste for every new element you create.

[2020-10-08 15:48] Mogztter commented on #2197
Launching a headless instance takes a few hundred milliseconds but you can keep the instance alive and open new pages or even do multiple tasks in the same page.

I had bad experiences in the past with DOM polyfill where some functions were not implemented but maybe the compatibility is better now.
It's hard to evaluate the risk of API inconsistencies but realistically it seems next to impossible

[2020-10-08 18:02] dwelle commented on #2197
Those `render*`/`export*` helpers are useful to consumers in both node & browser environments, and they both depend on the core excalidraw library. So until we split renderer logic from the core so that it can be consumed (and published) separately, I say we go with your latter suggestion of exporting all from the base package for now.

In node environments it won't matter if you install a couple

[2020-10-09 00:01] freemansoft commented on #414
As someone else pointed out, draw.io supports this with png files.  Create a diagram and export to .png.   You can open the png with the drawing tool later and edit it.  The save operation saves as png at that point, no export needed that time. It makes it easy to put editable diagrams in source repositories.

[2020-10-09 11:53] dwelle commented on #414
Alright alright already :sweat_smile:, here's a draft PR for the PNG: https://github.com/excalidraw/excalidraw/pull/2219

Try at https://excalidraw-git-embedscenetoimage.excalidraw.vercel.app/

[2020-10-10 08:49] axelonet opened #2220 "Font color while typing is always blackish"
The ability to have custom background color is awesome. But if I have a dark background like just black, I can't see the text I am typing unless I complete typing. Having the text as white for darker background while typing would be great.

[2020-10-10 09:07] dwelle commented on #2220
Can't repor. Can you make a gif or post exact steps?

![excal_typing_on_black](https://user-images.githubusercontent.com/5153846/95651183-cc3a5f00-0ae8-11eb-9421-53ad4523f9e2.gif)

[2020-10-10 09:16] Mogztter commented on #2197
Ok.

Later we can split & optimize.
So it should look like this:

I wasn't suggesting to add Puppeteer as a dependency.
If we really want to produce a Node.js compatible library to export an Excalidraw diagram to an image then I guess we don't have many options and we should use `canvas` and `jsdom`.
I think it's fine to use Puppeteer on a Node.js CLI but it's not great to use it in a library. The

[2020-10-10 10:11] dwelle commented on #2197
That's why I was skeptical about using Puppeteer, I thought we were on the same page :P.

Another problem with puppetter is in some environments you can't use it a long-lived service, e.g. in lambda functions (AWS, Firebase...), so the invocation should be fast (CPU) and not memory-intensive.

[2020-10-10 16:33] ekdnam commented on #2201
Can I do this? But would need some help from y'all!

[2020-10-10 18:43] dwelle commented on #2201
Sure. I suggest you start with just a few (e.g. the fill) so we can get a feel for how it'll look.

[2020-10-11 06:51] xixixao commented on #2220
I saw this too, it made dark mode pretty unusable, but I can no longer repro it.

[2020-10-11 09:01] dwelle commented on #2220
The dark mode bug was fixed recently in https://github.com/excalidraw/excalidraw/pull/2196, but as I understand this issue isn't about dark mode but custom background color.

[2020-10-11 09:34] dwelle commented on #1524
This should have been fixed for some time, let us know if it still persists.

[2020-10-11 09:34] #1524 closed

[2020-10-11 10:16] dwelle opened #2222 "Tiled rendering"
Proposed by @vjeux.

To improve general render performance of large scenes, we should investigate [tiled rendering](https://en.wikipedia.org/wiki/Tiled_rendering), partitioning the scene into a regular grid where each tile is cached and rerendered only if something within it changes.

Unchanged tiles would be bitmap-transfered to the main canvas the same way we're currently doing with individual e

[2020-10-11 10:19] dwelle commented on #2184
As discussed on chat, this feature is blocked by performance considerations. One venue for improvement would be: https://github.com/excalidraw/excalidraw/issues/2222

[2020-10-11 10:20] dai-shi commented on #2222
Although the goal is different, it's somewhat related with my experiment in #1842.

[2020-10-11 10:37] kbariotis commented on #2222
Thank you @dwelle. Can we clarify how we measure performance in order to understand the impact such a change will have? Will make it easier to target specific PoC as well such as @dai-shi 's one.

[2020-10-11 11:07] dwelle commented on #2222
Nothing automated, nor even standardized. AFAIK we just open the `Performance` tab and do some recordings.

Personally, I have two strategies:

1. Checking a single-operation, single-frame performance.
2. Checking frame [average] performance in a high workload scenarios such as rapid dragging/resizing.

For (1), I do this:

1. Record a single change such as changing bg of a single element.
2. Chec

[2020-10-11 11:33] soerenetler opened #2223 "Error when klicking 3x in the export menu"
### Scene content
I can send you the content if needed. It is very big and I can not attach it to this issue.
![scene_content(1)](https://user-images.githubusercontent.com/25177792/95677527-5c020b00-0bc6-11eb-84bc-535f815ef7b5.png)

### Sentry Error ID
8086944de4db4020a39da130a217c75e

[2020-10-11 12:28] dwelle commented on #2223
That's likely a browser limitation of canvas size, but can't be sure without having access to the scene (the sentry error says `NS_ERROR_FAILURE` which doesn't tell me much).

We have an open PR to at least show a proper error message: https://github.com/excalidraw/excalidraw/pull/2210

[2020-10-11 15:41] xixixao commented on #2220
Then I would suggest to @axelonet to change the font color before typing. I don't think requires a fix on our side.

[2020-10-12 10:06] ekdnam commented on #2201
@dwelle  thanks! I am trying to find the script which needs to be modified to do this change, but have not been able to find it. Can you tell what is the name of the file and/or where it is located?

[2020-10-12 10:59] dwelle commented on #2201
Most element actions are defined as [actions](https://github.com/excalidraw/excalidraw/tree/master/src/actions) which specify both the logic and UI in the same place.

The fill action is here:

https://github.com/excalidraw/excalidraw/blob/63566ecb929ccfd755f56c7413fcb79ddfaa173b/src/actions/actionProperties.tsx#L128

You'll want to edit the `<ButtonSelect>` UI part.

https://github.com/excalidraw

[2020-10-12 12:42] lipis commented on #2223
@soerenetler can you send the link to the scene if not a secret?

[2020-10-12 17:01] pascal71 commented on #2209
There are some libs/pips not available on ARM64
Let me take a look at it

[2020-10-12 20:11] jackdbd commented on #2212
I have used the Firebase emulator suite and it's pretty cool. You can even import data into Firestore when you start the emulator suite:

[code]

where `firestore-emulator-data` is some binary (I guess) format that you previously exported with:

[code]

Also, the Firestore emulator that runs locally uses the same security rules as the production Firestore that runs in the cloud. And supports hot r

[2020-10-12 20:40] jackdbd commented on #366
Inkscape has a "Stars and Polygons" button that—once clicked—displays this interface.

![inkscape-stars-and-polygons](https://user-images.githubusercontent.com/5048090/95788282-85f92180-0cdb-11eb-8b77-b708e136da49.png)

[2020-10-13 09:30] lipis opened #2232 "Add a tooltip with an icon for embedding scenes into PNG/SVG"
https://github.com/excalidraw/excalidraw/pull/2219#issuecomment-707615427

[2020-10-13 12:47] #414 closed

[2020-10-13 13:21] gersomvg opened #2234 "Including scene in PNG does not work in Safari"
Tried exporting PNG with included scene in Safari 14 and got this error:

[code]

[2020-10-13 14:03] dwelle commented on #2234
Thanks for the report. I'm not on Safari myself, but this should fix it: https://github.com/excalidraw/excalidraw/pull/2235

You can try at https://excalidraw-git-fixpngchunksafari.excalidraw.vercel.app/

[2020-10-13 15:15] #2220 closed

[2020-10-13 20:53] gersomvg commented on #2234
Brilliant, I can confirm it works now.

[2020-10-13 21:08] dwelle opened #2236 "export dialog: show relative size increase when embedding scene"
Show size increment of the embedded scene during export, as `+22kB' after the checkbox.

[2020-10-14 12:26] binnz opened #2238 "export: when export choose 3X not work ,1X,2X,3X is same"

[2020-10-14 12:43] dwelle commented on #2238
Cannot repro, are you sure you're checking the exported sizes and not the preview?

[2020-10-14 15:26] McToel opened #2239 "Collaboration slow on low end devices"
I am currently trying to make a "classroom" Version of excalidraw (this basically means it should run on a local server and support up to 30 contributors.).
I have the problem, that on low end devices, the device is busy with updating from remote. I cannot tell exactly what makes the process slow. Do you have any Ideas on how to speed things up? Maybe only rendering once per second or sth like tha

[2020-10-15 04:08] binnz commented on #2238
Got, thanks

[2020-10-15 04:08] #2238 closed

[2020-10-15 12:48] gersomvg opened #2241 "Embed data in PNG breaks when using certain characters like emoji / ™ in a text element"
Tested in both Safari and Brave. This is the error:

[code]

@dwelle Thanks again for this killer feature!

[2020-10-15 13:13] dwelle commented on #2241
Yes, I missed that the PNG chunk encoder doesn't encode the string to byte string :(. There's already a fix ready to be reviewed and merged, with a bonus compression feature that reduces the file sizes drammatically :) https://github.com/excalidraw/excalidraw/pull/2240

[2020-10-15 16:35] dwelle commented on #2236
One thing is there is size difference between PNG and SVG embed sizes...

[2020-10-15 16:54] lipis commented on #2236
Maybe an average?

[2020-10-15 16:56] lipis commented on #2236
Or what about a question mark with a tooltip: `Will add extra 23KB to PNG and 29KB to SVG, to include the scene` or something among those lines.

[2020-10-15 17:20] lipis commented on #2232
This tooltip could also show the increased size in PNG and SVG

[2020-10-15 17:21] lipis commented on #2236
Duplicate of #2232?

[2020-10-15 17:28] dwelle commented on #2236
I think it may be best to show the size so you don't have to look into tooltips all the time.

[2020-10-15 18:01] lipis commented on #2236
We should be careful what we display, and given you know what you're doing this info is not that important to show it all the time.. My vote is for a tooltip. People should optimize their final images if suppose to be part of the web anyway.. otherwise they do that on purpose so size won't matter. Just an extra info :)

[2020-10-15 18:03] lipis commented on #2236
Could be part of this one: https://github.com/excalidraw/excalidraw/issues/1119

[2020-10-15 18:08] dwelle commented on #2236
IMO it's fine to show it when the checkbox is checked:

![image](https://user-images.githubusercontent.com/5153846/96168994-cba72b80-0f21-11eb-9992-f6c19f13d32b.png)

or less prominent:

![image](https://user-images.githubusercontent.com/5153846/96169186-0f9a3080-0f22-11eb-9622-44e55f75e9e3.png)

If we hide it behind a tooltip you'll learn to ignore it and you won't notice it when you should (on v

[2020-10-15 19:31] #2241 closed

[2020-10-16 00:35] lipis commented on #2236
+4kb of png or svg?

[2020-10-16 09:38] thibmaek opened #2244 "Copying drawing to clipboard in Safari throws exception"
Trying to copy a drawing to the clipboard in latest stable Safari throws the following exception and does not copy:

<img width="1678" alt="image" src="https://user-images.githubusercontent.com/6213695/96242760-1ff2ef80-0fa4-11eb-80a9-781791e2b217.png">

[2020-10-16 09:51] dwelle commented on #2236
I'd either make it png which is the common case, or average, and in tooltip write it out separately.

[2020-10-16 09:57] dwelle commented on #2244
Good to see Safari is starting to implement FS API, but it apparently falls short. The [security restrictions](https://webkit.org/blog/10855/async-clipboard-api/) seem to be stricter than in Chromium, but what we're doing for this feature should work. Are you testing this on `https://excalidraw.com`?

I'm not Safari so can't debug. Can you repro @lipis?

[2020-10-16 11:50] lipis commented on #2244
Works fine for me :)

[2020-10-16 11:53] lipis commented on #2156
Is that still an issue?! Can't reproduce it on macOS. Please report back and we'll repopen if needed.

[2020-10-16 11:53] #2156 closed

[2020-10-18 16:20] pomdtr opened #2250 "It should not be possible to overwrite a png with json data"
Steps to reproduce:
- export to a drawing png with embedded data
- open this png with excalidraw
- click the save button (overwriting the file)

Maybe excalidraw should export a new png with embedded data in this case ?

[2020-10-18 19:17] ReneCode commented on #2189
Yes, the ability to add additional features to the core application opens a lot of user-specific use-cases.
The user should define with plugin(s) he/she want's to use.

But what do we want to be plugin-able ? Ideas:
- after each changing of the scene-content (debounced) the whole elements-array is send to the plugin and a modified elements-array will be returned, re-rendering after getting the new

[2020-10-18 20:32] dwelle commented on #2250
Thanks for the catch. Fix: https://github.com/excalidraw/excalidraw/pull/2252

I think we shouldn't overload the `save` button to save a JSON file in one case, and export to PNG in another.

[2020-10-18 21:27] pomdtr commented on #2250
Yes you're right. What i did expect was to overwrite my existing png with the updated one

[2020-10-19 08:53] #2250 closed

[2020-10-19 09:00] dwelle opened #2261 "embedded scene in PNG/SVG should reuse fileHandle"
When opening a scene from a PNG/SVG file, we should retain the `fileHandle` and on save (via save button or `Cmd+S`) we should write back to it: both export latest PNG and embed latest scene.

First suggested in https://github.com/excalidraw/excalidraw/issues/2250 @pomdtr

Considerations:

- doing this, we'll overload the save behavior to now either save JSON, or export PNG+JSON depending on conte

[2020-10-19 09:00] dwelle commented on #2250
You changed my mind in that I agree it'd be very useful. I've created a separate issue for this: #2261

[2020-10-19 13:28] frederikfab commented on #1808
Same issue here.. we were 14 people, and the tool performed very poorly (some lost their input, object order from back to front flipped around a lot)

[2020-10-19 13:50] dwelle commented on #1808
meaning the updates they made were not synced correctly?

Yes, z-index syncing had issues forever, but recent changes to syncing (to actually improve performance) made it way worse where currently z-index is pretty much broken completely. I've updated https://github.com/excalidraw/excalidraw/issues/1376 to reflect this.

[2020-10-19 14:14] #2167 closed

[2020-10-20 13:27] frederikfab commented on #1808
Yes. And people were scared to try to join the room again, as a model dialog pointed out that data could be lost.

Cool, thanks. I would be happy if the relative z-indexes would be maintained (here even only within objects that are grouped). It only really matters if the bounding-boxes of the elements overlap right?

[2020-10-20 13:44] dwelle commented on #1808
Ouch. We'll need to improve that dialog for sure.

In practice, yeah. But we'll need to fix it anyway, and as you said, it also messes up grouped elements and stuff.

[2020-10-21 11:43] ajubin commented on #2144
excalidraw is not there

[2020-10-21 11:51] ajubin commented on #2144
I'm now to chrome 85 and still got the issue.

If I use safari, I've got no problem

[2020-10-21 11:53] dwelle commented on #2144
Try upgrading to 86 which is currently the latest version. That should fix it. (I'm surprised that on 85 it tries to use the new filesystem API and doesn't fall back to legacy).

[2020-10-21 16:17] esturcke opened #2263 "Fonts referenced in exported SVGs no longer work"
Exported SVGs reference `https://excalidraw.com/FG_Virgil.woff2` and `https://excalidraw.com/Cascadia.woff`, but those are no longer served as fonts. They are serving the application just like `https://excalidraw.com/`.

To reproduce:

  1. Create a drawing with text
  2. Export as SVG
  3. Open the SVG in a browser

Expected Virgil as the font:

<img width="528" alt="Screen Shot 2020-10-21 at 12

[2020-10-21 16:29] dwelle commented on #2263
/cc @ad1992

[2020-10-21 20:50] #2263 closed

[2020-10-21 22:13] dawneraq opened #2265 "when an element has a custom hex color, color palette keyboard shortcuts don't work"
## Repro steps
1. Change an element's stroke or background color to a hex color that's not one of the default colors.
    - `#beeeef`, `#666`, etc
2. Open the color picker by clicking on the `button.color-picker-swatch`.
3. Try to pick a new color from the default palette by pressing the <kbd>1</kbd>-<kbd>5</kbd>, <kbd>q</kbd>-<kbd>t</kbd>, or <kbd>a</kbd>-<kbd>g</kbd> keys.
4. The `Picker.handleK

[2020-10-22 08:48] dwelle commented on #2265
Go ahead!

[2020-10-22 19:38] dwelle opened #2268 "Group selection not reset on undo"
Steps:

1. create 2 groups
2. select both
3. move them
4. undo
5. you end up with deselected elements, but the groups are incorrectly individually selected

[2020-10-23 06:11] jjclxrk commented on #2156
This actually just happened again. This time with Firefox 81.0.2, and different scene content.

[code]

Here is the scene content that is causing the error. It is only occurring with rather large amounts of content, I can use the site with no issues with smaller scenes.
[week11-solutions.excalidraw.zip](https://github.com/excalidraw/excalidraw/files/5427606/week11-solutions.excalidraw.zip)

[2020-10-23 08:42] dwelle commented on #2156
Ok, can repro. This is caused by too large canvas. Sadly there's nothing we can do apart from displaying better error message. There's an open PR for that: #1256

Note: I couldn't repro using the supplied file, but can repro e.g. on this extra-wide scene: https://excalidraw.com/#json=5084521158410240,Jsxb_oPkjtadjnylRVC-Ww

[2020-10-23 10:30] ekdnam commented on #2201
@dwelle thanks a lot for your help! I was going to make a PR to address what you have suggested, but I am having a hard time understanding the code base. I am currently busy with some personal stuff, so won't be able to spend the required time on this project.
Thanks a lot all for being so great!

I am unassigning myself.

[2020-10-25 08:37] lavyda opened #2274 "Slovak translation"
Hi, I would like to help with Slovak translation. Can you add it to Crowdin? 🙂

[2020-10-25 09:40] hdJerry opened #2275 "feature: Mini chat"
During the session, they should be able to chat with each other. I think it will be very cool.

[2020-10-25 10:01] dwelle commented on #2274
Here you go: https://crowdin.com/translate/excalidraw/10/en-sk?filter=basic&value=0

Language picker label will be "Slovensky", I presume.

[2020-10-25 10:12] lavyda commented on #2274
Thanks. I think more fitting label would be `Slovenčina`

[2020-10-25 10:58] dwelle commented on #2274
Alright. Dealer's choice.

[2020-10-25 11:16] lavyda commented on #2274
OK, I added translations.

[2020-10-25 11:56] dwelle commented on #2274
Thanks, we'll merge it shortly.

[2020-10-25 11:56] #2274 closed

[2020-10-25 14:13] dwelle opened #2276 "fonts not served via SW"
...and thus won't load when offline

[2020-10-26 17:01] ReneCode commented on #2189
What "kind" of API would you need for it ?
May be starting with a real usecase is a good idea.

[2020-10-26 21:43] dai-shi commented on #2189
@ReneCode Those two have different requirements. Claymate should be easier. It needs to add a new island and have access to some (exported?) functions.

<img width="400" alt="2020-10-27 6 41 07" src="https://user-images.githubusercontent.com/490574/97231856-89ce8d00-181f-11eb-9bd8-794a40a61a40.png">

[2020-10-27 10:01] #2265 closed

[2020-10-27 10:03] plxity opened #2289 "Provide an Input Field to manually enter the Zoom Percentage"
<img width="493" alt="Screenshot 2020-10-27 at 3 30 30 PM" src="https://user-images.githubusercontent.com/28510494/97286521-94157900-1869-11eb-823d-8f07bd8e2bff.png">

There is no option to manually enter the zoom percentage. Only "+" and "-" are available.

[2020-10-27 12:38] dwelle commented on #2289
What's the use case for this? To go beyond the range the app currently allows? Or to get to the desired zoom level faster?

If the latter, you can always use `Cmd/Ctrl+mouseWheel`.

If the former (but it also touches on the speed), there's an issue for this: https://github.com/excalidraw/excalidraw/issues/2081

[2020-10-27 20:54] geraintluff opened #2291 "SVG export has no size"
The SVG root element has no width/height, so they end up drawn at unspecified size.  This also means that (as far as I can see) 1x/2x/3x export don't change anything for SVG.

Maybe something like this:

[code]

https://github.com/excalidraw/excalidraw/blob/5950fa9a40ea9aa6a78ae9e79c01395ba0647e63/src/scene/export.ts#L106-L108

[2020-10-27 23:49] lipis opened #2293 "Add an import library functionality that will get as an input a URL to gist or something"
Maybe some instructions as well in that window:

https://twitter.com/excalidraw/status/1311716784890884096

[2020-10-27 23:52] lipis commented on #2291
Yes, 1x, 2x, 3x are affecting only the PNG.. we are not setting any specific size to the svgs.. what's the usecase? You can always resize wherever you're about to use it and that's the main purpose.

[2020-10-28 00:03] lipis commented on #2275
I think this it out of scope for this project.. usually you are already on some kind of chat app and sharing your screen or session..

[2020-10-28 00:04] lipis commented on #2289
I agree.. we don't want to bloat the UI with more inputs.

[2020-10-28 00:04] #2289 closed

[2020-10-28 00:09] lipis commented on #2293
Idea came from here: https://twitter.com/Clainchoupi/status/1321200109707808769

[2020-10-28 02:36] plxity commented on #2289
The use case was to achive the desired zoom level faster. I wasn't aware about the command. I guess then it's not required.

[2020-10-28 14:10] pojntfx commented on #1584
I can confirm this happening (Safari & Chrome on iOS 14) - it's a deal breaker for my personal usage as I do potentially destructive actions all the time.

[2020-10-28 15:55] dwelle commented on #2291
As explain in [PR](https://github.com/excalidraw/excalidraw/pull/2292#issuecomment-718029377), it's easy to change it on user's side, and it's better to not constrain the size by default.

[2020-10-28 15:55] #2291 closed

[2020-10-28 16:52] geraintluff commented on #2291
I've replied in more detail on the PR, but: if I'm including multiple diagrams directly in a web-page, I have to set the size for each one directly.

To _find_ the correct size (to get consistent scale between diagrams), I have to look at the SVG source and take it from the `viewBox` attribute.

[2020-10-28 17:09] dwelle opened #2304 "docker build failing"
Docker action fails on build: https://github.com/excalidraw/excalidraw/runs/1322045132#step:4:168

Unclear why it's failing for docker action, and not for regular build on Vercel.

The only thing that could explain this is recent upgrade to CRA@4 (it started failing from this PR: https://github.com/excalidraw/excalidraw/pull/2302)

Maybe we should [upgrade](https://github.com/docker/build-push-act

[2020-10-28 17:10] dwelle commented on #2291
That's a valid point we haven't considered. We're reverting our previous decision.

[2020-10-28 17:16] geraintluff commented on #2291
I just want to say: this was my first return to open-source collaboration after a long period of burnout.  Thank you for making it a pleasant one!

[2020-10-28 17:25] lipis commented on #2304
Updating to latest seems like a good start.

[2020-10-28 17:30] lipis opened #2305 "Optimize the SVG with SVGO before exporting"
https://www.npmjs.com/package/svgo-browser

If it's not a huge overhead :)

[2020-10-28 18:47] lipis opened #2306 "Outline is cut off in the library dropdown buttons"
<img width="137" alt="Screenshot 2020-10-28 at 8 47 04 PM" src="https://user-images.githubusercontent.com/125676/97482371-c1901e80-195e-11eb-9169-932512a28f67.png">

chrome/macos

[2020-10-28 18:53] dwelle commented on #2305
Makes sense, but damn is it big: https://bundlephobia.com/result?p=svgo-browser@1.3.8

![image](https://user-images.githubusercontent.com/5153846/97482774-e2547600-1956-11eb-9d20-0506aacd8992.png)

We can lazyload it, but I recently learned that due to PWA, we're precaching everything and as such download every chunk on first load (for each new release). Something to keep in mind.

(@ad1992 also a

[2020-10-28 19:02] lipis commented on #2305
Maybe not worth it for that much..

[2020-10-28 19:51] ghost opened #2310 "Search feature request"
Is it possible to add a search feature to center a map/sketch on a certain text label. And show the results similar as browsers do so that you can jump to the previous or next result? (see the attached example)
![Screenshot_20201028-204457](https://user-images.githubusercontent.com/63105006/97488932-3400fe80-195f-11eb-8f5c-ee98b3c961a5.png)

[2020-10-28 19:52] #1256 closed

[2020-10-28 19:59] lipis commented on #2310
As a hidden feature on Cmd+F (or Ctrl+F) like GitHub does it.. but nothing visual to invoke it.

I like the idea.. not sure how useful it is though

[2020-10-28 20:19] GOArango opened #2312 "Error using Opera Navigator"
When I save a drawing using the Opera browser, it is left with zero size.

[2020-10-28 20:53] dwelle commented on #2312
I'm getting

Not sure what Opera is doing on top of Chromium that would cause this. /cc @tomayac thoughts?

[2020-10-28 21:10] dwelle commented on #2291
Thank you as well — and we nearly blew you off :). @lipis, maybe this would also fix the enormous logos in readme of this repo: https://github.com/pclainchard/excalidrawLib (scroll down).

[2020-10-28 22:01] dai-shi commented on #2305
why do you want to optimize the svg in the first place? is it too big?

[2020-10-28 22:49] lipis commented on #2305
Mostly the size.. but in the end of the day I think it's not worth the effort.

[2020-10-28 22:49] #2305 closed

[2020-10-28 22:56] lipis commented on #2099
What's the status of this one? Can we close it?

[2020-10-28 23:28] #1064 closed

[2020-10-28 23:28] lipis commented on #1064
Report back if there is still issues.

[2020-10-28 23:29] lipis commented on #970
I think we can live without this..

[2020-10-29 06:02] mapbakery commented on #2310
It's especially useful on my phone (therefore I would like a search icon) because I can then center the map/diagram I'm working on correctly to the right place. Another use case is that I can check if I have certain things in my map/diagram although I've a workaround for that (by doing a text search in the source file).

Note: I use excalidraw for maps and diagrams which can be big and contains lo

[2020-10-29 09:45] dwelle commented on #2305
If people tend to use the SVG on the web, it may be. I'm seeing 70% size savings on many diagrams.

[2020-10-29 09:58] dai-shi commented on #2305
Are there any drawbacks? I suppose people would optimize files before uploading on the web. Not sure if we really need to do it before exporting. (unless excalidraw has an capability of deploying files.)

[2020-10-29 11:44] dwelle commented on #2305
I wouldn't, people are lazy (and why shouldn't they be), or unaware, or lacking expertise to do it. Furthermore, we are already exporting the SVG, and as such it is our business to be doing our job the best we can, which includes optimization. We're already optimizing output size when embedding scenes to PNG/SVG, this is similar.

[2020-10-29 11:54] dai-shi commented on #2305
Fair enough. I'm not against it unless there's any drawbacks, like missing information. In my _old_ experience with SVGO, I felt optimizing too aggressively. (maybe because of some configs.)

[2020-10-29 11:56] nicksellen commented on #1772
I hoped I'd be able to spin up a self-hosted instance of this, with local-only storage (local to the server that is, whether file system or local db), but seems this is not possible.

Does this mean merging the [socket server](https://github.com/excalidraw/excalidraw-room) and [storage server](https://github.com/excalidraw/excalidraw-json) into one codebase either nodejs or python? Where is the wo

[2020-10-29 12:21] dwelle commented on #2099
It's not resolved yet, I just didn't have time to delve into it. I'm interested to see how things change with CRA@4.

[2020-10-29 17:02] dwelle commented on #1772
Currently, we're slowly factoring out pretty much every IO (json server, collab WS server, localStorage,...) out of the core and exposing hooks that both we (excalidraw.com) and others can use to implement their own. After we're done, excalidraw.com will be using the very same API as if we were just another host app using the soon-to-be-published new version of the npm component.

At that point we

[2020-10-29 20:04] dwelle commented on #2310
While exposing this under `Cmd/Ctrl+F` is plausible, I don't see us adding a UI button for it, especially on mobile where we've pretty much run out of space already.

[2020-10-29 20:09] dwelle commented on #970
I've had a need for this many times, and it shouldn't be that hard to implement. It's especially useful for mirroring a group of elements. Let's keep this open a bit if someone wanna implement this under a contextMenu.

[2020-10-29 21:40] dai-shi commented on #970
yeah, I wanted this feature for several times.

[2020-10-30 11:17] tomayac commented on #2312
Sorry, but I don't know, and don't trust it enough to install it on my work computer. I suggest opening a thread on the [Opera forum](https://forums.opera.com/category/5/opera-for-computers).

[2020-10-30 11:33] dwelle commented on #2312
I had qualms about installing too, but then did it anyway. I hope I'm not part of a Chinese botnet now. :joy:

[2020-10-30 16:35] GOArango commented on #2312
Thanks for comments...

Add some events from console:

[Violation] Added non-passive event listener to a scroll-blocking 'touchstart' event. Consider marking event handler as 'passive' to make the page more responsive. See https://www.chromestatus.com/feature/5745543795965952

The script has an unsupported MIME type ('text/html').

Error during service worker registration: DOMException: Failed to

[2020-10-30 16:41] dwelle commented on #2312
@GOArango yep, the relevant error is the last line. Not much we can do on our end, apart UA-string-detect Opera and use legacy FileSystem API, which I wouldn't want to do.

I may get around to create support ticket on their forum someday, or you can do it yourself, linking to this issue.

[2020-10-30 20:36] dwelle opened #2318 "SW broken since CRA@4"
Upgrading to CRA@4 seems to have introduced a bug where `service-worker.js` is no longer built: https://github.com/facebook/create-react-app/issues/9776

Judging by the fact the issue is open for 21 days (and the cadence of CRA patches), we'll need to fix this one ourselves.

EDIT: it seems we need to create a `src/service-worker.js` for the CW injection to kick in on build.

[2020-10-31 10:21] AaronRobinson commented on #2310
+1

I'm mapping lots of named entities - it isn't possible to see if I've added something already.

[2020-10-31 10:31] #2318 closed

[2020-10-31 18:04] naingyeminn opened #2321 "Language Request - Burmese (Myanmar)"
Hello!

I'd like to contribute to the L10n. I have translated to Burmese and covered 97% of the locale. Could you please add my language to the project so that I can submit my translation?

Best Regards,
Naing

[2020-10-31 20:29] lipis commented on #2321
Here you are https://crowdin.com/translate/excalidraw/10/en-my

How should write Burmese for the language selector?

[2020-10-31 20:33] lipis commented on #2312
Yes, we wouldn't want to use legacy FileSystem.. so we will close this for now.

[2020-10-31 20:33] #2312 closed

[2020-11-01 07:57] alainlompo opened #2322 "Please add translation in hausa"
Hausa is currently spoken by more than a 100 million people and i"Hausa ranked second most-spoken native language in the world according to the Association of Hausa African Community"
See here for more details about the language: https://en.wikipedia.org/wiki/Hausa_language

[2020-11-01 09:27] naingyeminn commented on #2321
There are two words for Burmese, "ဗမာ" and "မြန်မာ". Although we are still using both interchangeably, I would go for "မြန်မာ" as it is an official word now.

Burmese = မြန်မာ

[2020-11-01 11:43] dwelle commented on #2321
Am I the only whose system renders the characters as such? :)

![image](https://user-images.githubusercontent.com/5153846/97801814-c8a97c00-1c3f-11eb-89b5-43a743f1cf50.png)

[2020-11-01 11:50] dwelle commented on #2322
Sure: https://crowdin.com/translate/excalidraw/10/en-ha

Do I understand it correctly that you're interested in translating it? How do you say "Hausa" in Hausa, for the language picker?

[2020-11-01 13:27] naingyeminn commented on #2321
Maybe the fonts in your system don't have Burmese characters. Could you please try to copy and paste my previous comment into the Unicode textbox of the following link?

http://www.rabbit-converter.org/Rabbit/

<img width="1552" alt="burmese" src="https://user-images.githubusercontent.com/7280181/97804072-f1e7fd80-1c7b-11eb-9f7d-93961f0838cf.png">

[2020-11-01 15:34] lipis commented on #2321
Works fine on macOS

[2020-11-01 15:39] lipis commented on #2322
Since only contributors are dealing with the translations.. if a language is very low on translated strings we are removing them from time to time until we find more contributors! Jus FYI

[2020-11-01 15:43] dwelle commented on #2321
Let's ignore then... except maybe we should use ASCII for the language picker just in case.

[2020-11-01 17:57] lipis commented on #2321
For those who want that language it will appear correctly :)

[2020-11-01 19:41] ReneCode commented on #2189
![plugin](https://user-images.githubusercontent.com/1595098/97812393-4d68ba00-1c81-11eb-90bf-44b7d8c00a7b.gif)

I've made some tries.

The plugin is a react-app. It will be rendered in an iframe inside the excalidraw-app.

Data is exchanged via message passing.

plugin -> core: window.parent.postMessage(...)

core -> plugin: iframe.contentWindow.postMessage(...)

Some protocoll has to be defined.

[2020-11-01 21:36] dwelle commented on #2321
Sure, but I think having squares in language picker wouldn't be nice either way.

[2020-11-01 22:04] rauchg opened #2323 "Text selection range over the whole page"
I started dragging to select two shapes, managed to select the whole "text" of the page.
OS/Browser: iPadOS Safari

![7C0A34BD-9318-4456-A19A-3F44DBCB3C9F](https://user-images.githubusercontent.com/13041/97816580-14adee00-1c4b-11eb-9474-3b688018b7ca.png)

[2020-11-01 23:48] lipis commented on #2321
So what do we do?

[2020-11-02 05:00] naingyeminn commented on #2321
I agree. ASCII is better for now. "Burmese" is fine for us.

[2020-11-02 06:16] alainlompo commented on #2322
Hi Hausa is translated Hausa in Hausa, and yes I am interested in translating into Hausa. Regarding the comment from @lipis , in how much time do you normally expect a translation to be done?

[2020-11-02 11:44] dwelle commented on #2321
Cool, I changed the label and we'll merge soon.

[2020-11-02 11:44] #2321 closed

[2020-11-02 11:46] dwelle commented on #2322
Depends on how fast you translate. We also merge translation PRs only ~once a week or so.

[2020-11-02 11:47] #2322 closed

[2020-11-02 16:13] Jan-M commented on #2304
Local Docker image build is failing for me with the above referenced errors too.

[2020-11-02 18:09] #2201 closed

[2020-11-03 13:20] hangmana opened #2329 "Ctrl+Z"
Stems from the ctrl-z button on computers that undoes the last action performed. The term Ctrl Z has also made worked its way into popular usage to mean undo, fix or to take back.

[2020-11-03 14:22] lipis commented on #2329
What do you mean? I don't get it..

[2020-11-03 17:51] lipis commented on #2321
@naingyeminn We are live!

<img width="282" alt="Screenshot 2020-11-03 at 7 51 19 PM" src="https://user-images.githubusercontent.com/125676/98022184-f47a5c80-1e0d-11eb-8837-93176b446364.png">

[2020-11-04 10:05] #2306 closed

[2020-11-04 13:47] dwelle opened #2333 "canvas preview jumps on export prop changes"

[2020-11-04 13:55] dwelle opened #2334 "clearing canvas shouldn't reset export settings"
and potentially other, non-scene-related settings

[2020-11-04 13:56] dwelle commented on #2329
Closing as implemented, unless @hangmana means something else (feel free to elaborate and we'll reopen).

[2020-11-04 13:56] #2329 closed

[2020-11-04 15:23] leventalpsal opened #2336 "Ability to set canvas properies via URL (like background color)"
It would be useful to be able to set the canvas background color (including alpha channel) via url param. So something like https://excalidraw.com/?backgroundColor=ffffff00
opens a transparent canvas,
or
https://excalidraw.com/#backgroundColor=ebfbee
opens the whiteboard with ebfbee canvas color.

I also would like the html/body/#root elements to keep on with no explicit background setting. This m

[2020-11-04 15:25] geraintluff opened #2337 "Font license"
The exported SVGs reference fonts on excalidraw.com.  I'd like to host this on my domain, but wanted to check the license.

I can only see the top-level MIT license, and not anything separate for the fonts.  I just wanted to check because I've never seen an MIT-licensed font before...

(Side note: I really like the Virgil font, I find it clean and legible, and it made me love Excalidraw immediatel

[2020-11-04 17:50] #2163 closed

[2020-11-04 17:50] #940 closed

[2020-11-04 17:50] #2333 closed

[2020-11-04 19:03] ReneCode commented on #2163
@Jnforja thank you very much for solving that issue.

[2020-11-04 19:13] Jnforja commented on #2163
My pleasure to help 😁

[2020-11-04 20:09] #2276 closed

[2020-11-04 20:12] sw-yx commented on #940
huge congrats @Jnforja !

[2020-11-04 20:28] Jnforja commented on #940
Thanks a lot @sw-yx 😄

[2020-11-04 20:55] carlsverre commented on #616
In all my work with excalidraw having double ended arrows is the only thing I have really missed so far.  Major :+1: from me

[2020-11-04 21:30] nicksellen commented on #1772
Ok, thanks for the update! I'll keep my eye out for the new versions... :+1:

[2020-11-05 15:23] ad1992 opened #2339 "Trap focus inside all modals/dialogs"
This would help in Accessibility as well

[2020-11-05 15:53] dwelle commented on #2339
AFAIK we were trapping until recently, so this is a regression:

https://github.com/excalidraw/excalidraw/blob/2a20c44338ab40b497348b8374ead1ee42e440a8/src/components/Dialog.tsx#L35-L54

[2020-11-05 16:01] dwelle commented on #2339
It seems I introduced it in #2215

[2020-11-05 16:17] ad1992 commented on #2339
Interesting regression! :P

[2020-11-05 17:53] nschnierer commented on #2310
The basic concept is not that complicated to implement.
However the hardest point I see, is to highlight the searched text. Maybe it's enough to just center the text element and to give some border color to it.

[2020-11-05 18:21] robz opened #2343 "Version history"
It would be great to have some kind of history or version control.

[2020-11-05 18:50] lipis commented on #2343
Version history.. like in Google docs?!

We might run out of local storage space...

[2020-11-05 19:49] #772 closed

[2020-11-05 19:49] lipis commented on #772
It's live!

[2020-11-05 19:58] lipis commented on #1298
Closing the umbrella issues as all the remaining issues are already filed.

[2020-11-05 19:58] #1298 closed

[2020-11-05 20:05] #2339 closed

[2020-11-05 20:11] lipis commented on #2151
https://github.com/excalidraw/excalidraw/issues/2200#issuecomment-703522536

So it should be good now! If there is still an issue.. please report back.

[2020-11-05 20:11] #2151 closed

[2020-11-05 20:52] #1176 closed

[2020-11-05 20:53] ad1992 commented on #2343
Curious to know what's the use case here? playback?

[2020-11-06 10:27] manicmarvin opened #2345 "Feature Request: Links"
Is it possible to add another tool to place clickable links on the board?

[2020-11-06 10:29] dominictwlee opened #2346 "Significant frame rate drops in dark mode"
Has anyone else experienced any significant drops in frame rate while using performing actions in dark mode?

I really noticed this when dragging selections on a blank canvas.

in light mode:
![image](https://user-images.githubusercontent.com/34794189/98356016-de8db700-201a-11eb-95bf-82ff1191abc0.png)

in dark mode:
![image](https://user-images.githubusercontent.com/34794189/98356068-f402e100-201a

[2020-11-06 10:43] dwelle commented on #2345
Duplicate actually: https://github.com/excalidraw/excalidraw/issues/1205

[2020-11-06 10:43] #2345 closed

[2020-11-06 10:46] dwelle commented on #1205
Since #1126 is on hold for now, I believe this issue shouldn't be [blocked on that](https://github.com/excalidraw/excalidraw/issues/1205#issuecomment-620567066).

In other words, it should work atomically on whole text elements (or potentially other elements/groups).

That said, we need to figure out how it'll work with text element editing. Should a click on hyperlinked text go to link directly,

[2020-11-06 10:49] dwelle commented on #2346
How many elements? Can you share the scene?

Firefox in general is pretty slow. Can you also repro on Chrome?

[2020-11-06 11:06] manicmarvin commented on #1205
I would suggest clicking without a modifier will send users directly to the link, boards have more people viewing them than editing and many viewers will not think to use a modifier and some will be confused by the idea.

Selecting and editing can use a modifier. I think the `Macro`/`Win`/`Cmd` key is unmapped so far?

[2020-11-06 11:27] dwelle commented on #1205
If we go with modifier-to-edit, then `Cmd/Ctrl-click` could be used for single elements. It's currently taken by exclusive-select action, so it wouldn't work for hyperlinked groups (if we support that).

Apart from `Cmd (mac)/Ctrl (win)` (those are identical), `Option/Alt`, `Shift`, we can't use any other modifier. Mac also has `Control` but it has no matching key on Windows (`Ctrl` on Windows is

[2020-11-06 11:50] dominictwlee commented on #2346
I was testing without any elements, and just dragging selection.

![Peek 2020-11-06 11-49](https://user-images.githubusercontent.com/34794189/98363028-37168180-2026-11eb-9d07-4dd6a0e7777c.gif)

[2020-11-06 12:13] edgarasben opened #2347 "Content disappears without any way to roll back"
The content disappeared just after drawing few things on a blank canvas today. The button "Scroll back to content" appeared but not functional. I've tried to find content on the canvas but it was completely gone.

I could replicate this twice on **Safari 14.0**. On other browsers it seems to work fine.

[2020-11-06 12:25] dwelle commented on #2346
Ok, my bad for not reading the OP correctly :).

I can confirm slightly worse perf in dark mode, on average. From the waterfall the only difference in the dips that I can see is that in dark mode FF for some reason does a lot of GC. I wonder why.

What we're doing differently in dark mode is applying `invert(93%) hue-rotate(180deg)`, but supposedly these filters should be relatively fast.

That sa

[2020-11-06 12:32] dwelle commented on #2347
Likely due to a missed migration. Could you post the scene if not private?

[2020-11-06 15:48] rileyschnee commented on #970
Hi! I'm a college CS student that is relatively new to Github open source contributions. I would like to work on this over the next few weeks as a learning experience. Is anyone working on this? If not, how can I be assigned to this?

[2020-11-06 16:12] dwelle commented on #970
Cool. It may or may not turn out more involved, especially around rotation. If you need help understanding the code, drop in to our chat https://t.co/jWJMO0IcUu?amp=1, or post here.

[2020-11-06 20:11] #1026 closed

[2020-11-06 20:12] lipis commented on #1026
Not match tractions nor resources for this one.. maybe in the future.

[2020-11-06 23:39] lipis commented on #366
Not exactly what was asked for, but very close to it: https://twitter.com/excalidraw/status/1324858643074965505

[2020-11-07 15:06] sojusnik commented on #1737
Maybe this could be realized through the coming [plugin API](https://github.com/excalidraw/excalidraw/issues/2189).
The behaviour of [coggle](https://coggle.it/) could serve as an inspiration, especially its [keyboard shortcuts](https://coggle.help/article/24-keyboard-shortcuts).

[2020-11-07 20:17] lipis commented on #2310
I'll mark it as out of scope for now.. not the most needed feature in a whiteboard diagram.

[2020-11-07 20:17] #2310 closed

[2020-11-07 20:56] Frischid commented on #1800
As in #1806 discussed the huge jspdf library is nice but it seems to be too big.
I read a little bit on this wiki: http://www.p2501.ch/pdf-howto/grundlagen/start (sadly it's old and written in German but it's very detailed).
It seems to be not that hard to use parts from svg export and export the paths in the correct way to a pdf file without using jspdf.
Exporting pdf this way would also make sur

[2020-11-07 21:28] dwelle commented on #1205
Probably best to start with what Figma does: on click/hover show a popup:

![image](https://user-images.githubusercontent.com/5153846/98451697-7ccb6b00-2148-11eb-9c12-b79185eceff7.png)

Click-to-visit only works for people which do not have edit permission, or in presentation mode (neither of which applies to excalidraw yet so this part wouldn't be implemented yet).

Safest solution.

[2020-11-07 22:25] kbariotis commented on #2304
Thanks to @Mogztter for fixing this. #2348

[2020-11-07 22:25] #2304 closed

[2020-11-08 14:20] lipis opened #2358 "Clearing the canvas shouldn't affect the grid mode."
If there was a grid on before clearing the canvas, I would expect the grid to still be visible..

[2020-11-08 14:28] dwelle commented on #2358
how about we merge this issue into https://github.com/excalidraw/excalidraw/issues/2358 (and rename)

[2020-11-08 14:39] lipis commented on #2358
@dwelle recursion

[2020-11-08 14:48] dwelle commented on #2358
:D, I meant https://github.com/excalidraw/excalidraw/issues/2334

[2020-11-08 15:10] #2334 closed

[2020-11-08 15:10] #2358 closed

[2020-11-08 15:49] edgarasben commented on #2347
Sure, here is the link: https://excalidraw.com/#room=eb51f2b2343df04afc08,-B1Esng3z_NFjdAKIApjJA

I could reproduce it again. It seems to happen when I start zooming in/out.

[2020-11-08 15:50] edgarasben commented on #2347
It happens every time I zoom, everything disappears and I cannot draw after that. The initial content shows up again after page reload.

[2020-11-08 15:59] lipis opened #2361 "When importing to library, show the library"
Because at the moment, nothing happens visually when dropping the lib file into the scene (or opening it)

[2020-11-08 16:02] lipis commented on #2347
Works fine for me on Safari 14.0.. can't repro! Added more elements, deleted, zoom in, zoom out.. refresh, scroll to content, everything worked! Very strange

[2020-11-08 16:05] dwelle commented on #2347
@edgarasben can you open the console (`F12`) and paste `__EXCALIDRAW_SHA__` into it and copy/paste the value here please?

[2020-11-08 16:07] dwelle commented on #2361
when we're at it, we should support dropping a file onto an open library itself, not just `<canvas>`.

[2020-11-08 16:53] dwelle commented on #2347
I manually checked the scene JSON (before `restore()`) and it looks fine.

If it happens during zoom that would suggest it may be related to recent change of `appState.zoom` schema. Not sure what the failure mode would be though even if you were on an older version.

[2020-11-08 16:58] Jnforja commented on #1342
@dwelle Can I have this assigned to me?

[2020-11-08 20:45] nestorconde opened #2362 "Excalidraw.com Real Time Collaboration Broken. socket.io POST Request returns 404"
Real Time Collaboration seems broken. See https://excalidraw.com/#room=683d9f57254db33575d0,tCyN-n6Tw1ubownpYNQgVQ

Currently the server is returning a 400 Bad Request {"code":2,"message":"Bad handshake method"} to POST requests to https://excalidraw-socket.herokuapp.com/socket.io/?EIO=4&transport=polling&t={random}. So this could be the problem.

[2020-11-08 21:29] edgarasben commented on #2347
@dwelle sure: `22a6ae77cda277ce5313ca2048fcb19783f5c99d`

Also the console is flooding with "Failed to load resource: the server responded with a status of 400 (Bad Request)"
`https://excalidraw-socket.herokuapp.com/socket.io/?EIO=4&transport=polling&t=NMfmtji`

[2020-11-08 22:21] dwelle commented on #2362
Thanks for the catch. Caused by merging a major version update of socketIO, which I missed. We'll need to upgrade it properly, later.

[2020-11-08 22:21] #2362 closed

[2020-11-08 22:23] dwelle commented on #2347
That one is unrelated, and now fixed (https://github.com/excalidraw/excalidraw/issues/2362).

I'll follow up on this issue tomorrow.

[2020-11-09 11:51] ReneCode commented on #1353
Can I work on that issue ?

[2020-11-09 12:10] xbcratos opened #2366 "Add option to change number of heads to arrow"
First of all, this is an amazing product, congratulations!

Now here the enhancement I would do. I've found that using the arrow option I just have one type of arrow with one head but I think it would be very useful to add an option to change from one head to two heads the arrow. See image below:

![image](https://user-images.githubusercontent.com/39724033/98539351-75ad7580-228c-11eb-8110-736e289b

[2020-11-09 12:28] dwelle commented on #1353
Sure. I suggest you create `clearElementsForLocalStorage` & `clearElementsForExport` in `src/element/index.ts`, and use them wherever we use `clearAppStateForLocalStorage`/`cleanAppStateForExport`.

[2020-11-09 12:32] dwelle opened #2367 "Add regression tests for WS server"
We can start with:

- [ ] test we establish a connection (to the live server) and can exchange data.

Later we may wanna add tests for each event and payload schema

[2020-11-09 12:37] dwelle commented on #2366
Thanks. This is a duplicate of https://github.com/excalidraw/excalidraw/issues/616

[2020-11-09 12:37] #2366 closed

[2020-11-09 12:44] ReneCode commented on #1353
Good to discuss it before - I've only thought about changing ``serializeAsJSON`` .
But your are right - it's good to clean up the localStorage as well. And to separate the clean up functionality.

Should I consider on element.type / only remove on ExcalidrawLinearElement ? (lastCommittedPoint is only used at that elements)

[2020-11-09 12:56] dwelle commented on #1353
Yep, TS wouldn't allow otherwise (unless you type-asserted). Just set it to `null` for linear elements.

[2020-11-09 13:07] dwelle commented on #1353
Technically you can delete it completely to save even more space.

[2020-11-09 13:29] PeteDuncanson opened #2368 "Can we make the scroll bars bigger?"
Some of my models of late have been pretty big which means I need to scroll around a bit. I've been struggling to grab the horizonal scroll bar as its been made so small, its quite a small target area to hit and causing frustration and break in flow.

I suggest we make it a bit bigger so its an easier target to hit?

[2020-11-09 13:32] PeteDuncanson opened #2369 "Add a pan/drag option?"
Related to #2368 sometimes I just want to click and drag the board around so I can navigate around quicker on bigger drawings. Wondered if clicking and dragging on the back ground could cause a pan (move the whole page within the view port) such as when grabbing the scroll bars.

Alternatively it could be an icon on the tool bar.

This feature might already be there but I've not been able to find

[2020-11-09 13:41] dwelle commented on #2369
Yep, already there. Try `wheel-click + drag` or `spacebar + drag`.

You can find this in our keybinding help:

![image](https://user-images.githubusercontent.com/5153846/98548363-b2339e00-2299-11eb-888a-8bf080d12350.png)

[2020-11-09 13:41] #2369 closed

[2020-11-09 13:44] dwelle commented on #2368
I must admit that in all my days I haven't used scrollbars once :).

I think the combination of canvas panning & zoom (`cmd/ctrl + wheel`) is enough.

[2020-11-09 15:08] lipis commented on #2368
I think scrollbars are there just to give you and idea how much space you are using

[2020-11-09 17:06] ReneCode commented on #1353
sorry, I do not understand what you mean.

I would make a pure functional aproach - like that:
[code]
and use it like here:
[code]

[2020-11-09 18:00] dwelle commented on #1353
Sure. You could also just leave the `lastCommittedPoint` prop out altogether (you can set it to `undefined` so that `JSON.stringify` doesn't include it if you wanna keep the code "functional").

Also, now that we have the helper, you can move the `getNonDeletedElements()` inside `clearElementsForExport` as well.

[2020-11-09 19:59] iamsaumya opened #2372 "Letter keyboard shortcuts don't work with CapsLock"
I was working with Excalidraw and hovered over the horizontal stack that has different shapes to select. As we know it's inconvenient to reach out to the shape to select it, I looked for the key combinations.

The shortcut keys for selecting a rectangle shape is 'R' or '2'. The issue here is that it only works for 'r' or '2'. If I hit 'r' with caps lock on, the shape will not be selected. I assume

[2020-11-09 20:00] iamsaumya commented on #2372
I'd love to contribute if this adds a value to the project. Thanks!

[2020-11-09 20:16] lipis commented on #2372
Should work with upper case letters as well I would say :)

Sure.. go for it.

[2020-11-09 20:23] lipis commented on #1597
We'll mark is at out of scope for the core functionality of excalidraw.. Use [excalidraw-animate](https://github.com/dai-shi/excalidraw-animate) by @dai-shi in the meantime.

[2020-11-09 20:23] #1597 closed

[2020-11-09 20:23] dwelle commented on #2372
Actually, I don't think so. It'll preclude using `Shift+<key>` shortcuts.

[2020-11-09 23:13] PeteDuncanson commented on #2368
Ahh now I know about the panning then yes this makes sense. Thanks all :)

[2020-11-09 23:13] #2368 closed

[2020-11-09 23:14] PeteDuncanson commented on #2369
You know I never even noticed that icon and when I did I thought it was for a touch screen keyboard or something, learnt a tonne of short cuts from there. Lovely, thank you :)

[2020-11-10 04:25] iamsaumya commented on #2372
Thanks @dwelle, it makes sense. We definitely don't want to preclude `Shift+<key>` shortcuts. However, if the user has their capslock turned on then pressing `P` key will not work.

It will be just a better UX to check if the capslock is turned on when `P` is pressed as the keyCode for `P` is the same for caps locks on and off. Here, I am assuming there are not any plans to add `CapsLock + <key>`

[2020-11-10 09:05] dwelle commented on #2369
Yep, I was thinking we could make it into a :question: icon. @lipis thoughts?

[2020-11-10 10:34] dwelle commented on #2372
Mhm... I've done some testing and it seems CapsLock can be detected after all, and the event only differs in `key` prop AFAIK. So I made a quick hack: https://github.com/excalidraw/excalidraw/pull/2373

[2020-11-10 17:42] #2372 closed

[2020-11-11 14:55] #1353 closed

[2020-11-11 20:43] ReneCode opened #2376 "Proposal: Selection like AutoCAD"
![selectionLikeAutoCAD](https://user-images.githubusercontent.com/1595098/98861330-5d448300-2465-11eb-81f8-9580917005e5.gif)

sometimes it's a little bit difficult to select an element because the selection window does not completely cover its bounding box. The way the selection windows it created can change the selection behavior:

- Draw a window from **left to right**. All objects **completely*

[2020-11-11 21:04] dwelle commented on #2376
Surprisingly, this was requested once already: https://github.com/excalidraw/excalidraw/issues/692

[2020-11-11 22:06] dwelle commented on #1712
closing as fixed by https://github.com/excalidraw/excalidraw/pull/1784

[2020-11-11 22:06] #1712 closed

[2020-11-11 22:14] dwelle opened #2377 "Consider switching box-selection to select-by-partial-overlap"
Currently, box-selecting only selects elements that are fully covered by the selection box.

The alternative is a selection model where elements are select if the box selection even just partially covers the elements:

![figma_box_select_partial](https://user-images.githubusercontent.com/5153846/98870227-49078280-2473-11eb-916f-0ada8f38ccd4.gif)

While this generally should have comparable advanta

[2020-11-11 22:16] dwelle commented on #2376
While we're likely not implement the AutoCAD right-click behavior, we might investigate switching the behavior (but no promises).

I'm gonna close this one in favor of https://github.com/excalidraw/excalidraw/issues/2377

[2020-11-11 22:16] #2376 closed

[2020-11-12 01:00] AlexStapleton commented on #1428
This is exactly the feature I'm looking for in this tool. The inability to wrap the text inside a shape makes it cumbersome to quickly capture ideas.

[2020-11-12 08:52] sojusnik commented on #1428
Another way to capture ideas could be through a mindmap, as proposed [here](https://github.com/excalidraw/excalidraw/issues/1737).
Sticky notes are a good candidate for the [intended API](https://github.com/excalidraw/excalidraw/issues/2189).

[2020-11-12 15:44] lipis commented on #2376
TBH I think the AutoCAD approach is the best from both worlds.. :) (I used to AutoCAD in the past)

[2020-11-12 16:43] Rulikkk commented on #2347
+1 have the same issue.

Steps to reproduce:
1. Open excalidraw; draw anything, can even be one line.
**2. Zoom in/out using pinch-to-zoom (two finger gesture on trackpad)**

Result: content disappears, "scroll back to content" does not work, the only way to bring everything back is to reload the page.

Note: the content is still there (just not visible), so if you save/load it — it's back, too.

[2020-11-12 17:18] dwelle commented on #2347
Can someone on Mac please repro and help debug this? @lipis @ad1992

[2020-11-13 15:25] MalteBoehm opened #2378 "collaboration security issue"
Hey guys, i love excalidraw a lot but there seems to be a security issue with the collarboration mode. When it was activated somebody logged into my drawing with my name and began live to delete my stuff :D .

I didnt share my link, i just tryed to save the URL to my drawing.

Greetings
Malte

[2020-11-13 15:38] dwelle commented on #2378
Hello.

Do I understand it correctly that you created a collaboration session, and right (or soon) after someone else joined in and started deleting elements on the scene?

That's disconcerting. I'll review our security rules.

(As for the name — a participant can choose any name, but first they'd need to read yours so they could change it to the same.)

[2020-11-13 15:53] dwelle commented on #2378
Also, if you still have the collab room link, can you please post it (provided it doesn't contain private data)?

[2020-11-13 16:13] dwelle commented on #2378
One other thing: can you elaborate on "began live to delete my stuff". Was the other party deleting elements one by one, or the whole scene at once?

If all at once, that could suggest they were in possession of the room `id`, which would allow them to overwrite the server persisted value. Even that alone is very improbable unless we have a security issue on Firebase (from my preliminary examinati

[2020-11-13 16:32] dwelle commented on #2378
Our preliminary investigation, taking into account all the details such as identical username etc., suggests that it's a synchronization issue rather than a security one (meaning, what you were possibly seeing was your client mistakenly connecting twice to the collab server, or that the update reconciliation was having glitches). Neither makes much sense, but the synchronization hypothesis is much

[2020-11-13 16:50] MalteBoehm commented on #2378
Yes, i started the session and a few minutes later someone joined and began to slowly drag stuff.
I didnt share my session.

[2020-11-13 16:51] MalteBoehm commented on #2378
Two things. one by one

[2020-11-13 20:03] whilp commented on #253
@scastiel made a small app:

https://twitter.com/scastiel/status/1327252035218137089
https://github.com/scastiel/excalidraw-slides

!!

[2020-11-13 20:23] Fausto95 commented on #2377
Model selection is cool. macOS's Keynote app also uses it.

[2020-11-14 09:01] harshilparmar commented on #2336
Can I try this?

[2020-11-14 20:26] dwelle commented on #2336
Let's first figure out which props we wanna support, and whether to use `search` query or `hash`.

Barring that, I'd probably wait until we merge https://github.com/excalidraw/excalidraw/pull/2313 as it may or may not drastically alter how and where we initialize the scene.

[2020-11-15 12:32] michelcaradec opened #2380 "Draw a line from a formula"
Hello,
Excalidraw is my tool of choice when it comes to quickly draw simple to complex schemas.
Here is a suggestion that could improve productivity for science oriented drawings.
The purpose is to draw a multi-points line from a formula of the type `y = function(x)`.
Some conventions should be followed in the writing of the formula (use of variable `x`, single line formula), and informations such

[2020-11-16 12:00] leventalpsal commented on #2336
An alternative to this would be to have some JS methods that we can call by injecting our JS code. For example, a JS method that (again) sets the canvas background color. When the page is loaded I can inject this code : SetCanvasBG("ffffff00");

[2020-11-17 11:38] lxwbr commented on #157
Can this be turned off? I am having hard time realigning everything, as the algorithm shifts all the lines if I e.g. make a rectangle bigger.

[2020-11-17 12:43] dwelle commented on #157
See https://github.com/excalidraw/excalidraw/issues/157 — we can't work out what's the best way to go forward making this opt-in. Ideas welcome.

[2020-11-18 12:49] jhoogeboom opened #2389 "pinch zooming in safari broken"
Hi all, a heads up, since a somewhat recent update it looks like pinch zooming has broken on safari.

Whenever I pinch zoom in safari, the drawing disappears, the scroll back to content button appears, but clicking it does not take me back to the content. Zooming in and out manually with the buttons also does not seems to take me back to the drawing. When I refresh, I see my drawing again.

On ano

[2020-11-18 12:50] lipis commented on #2389
It seems that's a duplicate of #2347

[2020-11-18 16:20] keul commented on #1556
I'm reviving this issue because I've a _similar_ need, but the other way around: the fact that I find padding around my exported object is an issue for me.

I think that a controllable padding would be very useful (in my case: I need a 0 value)

[2020-11-18 16:39] #2389 closed

[2020-11-19 08:54] keul opened #2391 "Display shape size while resizing"
While resizing a shape it could be useful to display the width/height of the resulting SVG somewhere, in a way similar to what Chrome does when resizing a window.

![resize-info](https://user-images.githubusercontent.com/284924/99643581-249c3f00-2a4d-11eb-81ec-beb1942c80f3.gif)

[2020-11-19 10:50] dkonchekov commented on #1189
@thecatontheflat Is there any news about Confluence plugin?

[2020-11-19 11:25] thecatontheflat commented on #1189
@dkonchekov thanks for poking! We have put it on the shelf due to the (relatively) low interest, so no news here, unfortunately.

[2020-11-19 22:24] dwelle commented on #2391
This was discussed somewhere already. So far it seems as out of scope, but maybe for a special mode that will allow more precise editing (we already support grid mode).

[2020-11-20 09:34] keul commented on #2391
Grid mode is new to me, however I'm not sure it's fully out of scope. Having w/h mean also have dimension ratio, which can be useful in some cases.

[2020-11-23 13:44] hangmana opened #2405 "Multiplayer doesn't work in local network without internet"
Today faced a problem, our server is sending data to external resources.
And when we disconnect internet connections, multiplayer stop working... But solo is still working...

How to close access to the Internet so that multiplayer remains working in the local network?
or what server we have to install, to fix it?

Current server calls to "wss://excalidraw-socket.herokuapp.com/socket.io/?EIO=3&tra

[2020-11-23 18:49] dwelle commented on #2405
As you have discovered, our collaboration works by exchanging messages through a WebSocket server, so it's not a P2P protocol. Without the internet that connection is lost.

We'll soon make it easier (when we publish a new Excalidraw npm package) to write your own servers and such, so you will be able to implement a P2P collaboration workflow yourself (if LAN P2P is possible in browser environment

[2020-11-23 18:49] #2405 closed

[2020-11-23 20:57] rileyschnee commented on #970
Design question: I have been figuring out how to add just the "flip horizontal"/"flip vertical" options to the context menu and it's currently being placed before the "Send backward"/"Send to back". Should this be above "duplicate" or should I leave it where it is?
![Screen Shot 2020-11-23 at 3 55 16 PM](https://user-images.githubusercontent.com/22105181/100014382-4a567a80-2da4-11eb-91ef-9c0121914

[2020-11-23 22:24] dwelle commented on #970
It's fine. We can tweak it in the PR later, if we decide it should be sorted differently.

[2020-11-24 04:20] karuppiah7890 opened #2408 "What if someone gets the URL / guesses the URL of Excalidraw links?"
When I say Excalidraw links, I'm referring to
- Share links
- Live collaboration session links

I'm bringing this up because people in our organization feel that this is a problem. They feel authentication should be present in the app.

My 2 cents - This concern looks like an authorization problem, with concern around confidentiality and maybe even integrity. And authentication is the first step t

[2020-11-24 04:20] karuppiah7890 commented on #2408
What do other folks, including the maintainers, think about this?

[2020-11-24 04:24] karuppiah7890 commented on #2408
Looks like there's a related issue https://github.com/excalidraw/excalidraw/issues/1026 which talks about keeping Excalidraw simple without authentication and also having less friction

[2020-11-24 04:26] karuppiah7890 commented on #2408
Another point is - if someone feels that the app is not secure enough, they can -

- Fork and add some integration and host it themselves
- Or they could also take the current app and host it themselves within their closed network like a VPN, but that's just a network level security, but maybe the users trust it and are okay with it

[2020-11-24 08:08] odedva opened #2409 "Add border to text boxes"
Hi there,
It would be nice if test boxes will have automatic borders capability. i find myself struggling to add squares and group behind text all the time :)

other then that - this is an awesome product and I use it almost daily.
Thanks you!

[2020-11-24 22:31] benoitzohar commented on #1517
A good middle ground between having an entire color picker grid and just the hex code would be to have a  "picker" that grabs any color on the page.

Like this:
<img width="285" alt="Screen Shot 2020-11-24 at 5 28 25 PM" src="https://user-images.githubusercontent.com/1698042/100158685-9116a400-2e7a-11eb-88b4-214d059a506e.png">

It would allow to easily reuse colors already on the page without havi

[2020-11-24 22:47] dwelle opened #2411 "vertical distribution action behaves weird"
Without digging deep it seems that distributing vertically isn't quite correct.

1. First off, AFAIK it should distributing within common bounding box, but it tends to distribute some elements outside.
2. Related to previous point, executing the action several times in a row keeps changing the distribution. The action should be idempotent.

Repro: https://excalidraw.com/#json=6328897570340864,8r03

[2020-11-24 22:52] dwelle commented on #1517
Not sure if a color sampler will be useful considering most diagrams use hachure/cross-hatch fills where picking the color would be really hard.

You'd either have to use solid fills, or keep extra elements with solid fills on scene to serve as a swatch palette (at which point it's better to just support user swatches).

[2020-11-25 10:36] lipis commented on #2411
Here as well.. click multiple times on distribute horizontal or vertical..

https://excalidraw.com/#json=5754487973085184,ELjQNaO5MgigYK1ON4WlmA

[2020-11-25 11:02] lipis commented on #2409
I think the better idea would be, to be able to lock the text to the center of any shape. That way you can do more things and playing with backgrounds, paddings, shapes, etc..

[2020-11-25 11:05] sojusnik commented on #2409
Implementing [this](https://github.com/excalidraw/excalidraw/issues/1428#issuecomment-676221512) would make this issue obsolete.

[2020-11-25 11:10] lipis commented on #2409
Yeah something like that, but sticky notes it's a different thing.. we don't want those to be exported or printed.

[2020-11-25 11:16] steveruizok commented on #2411
Hey, looking into this now. It's actually a tricky question: how to handle distributing space when the gaps are negative. Just to show that we're in good company, here's the same bug in Figma.

![2020-11-25 at 9 57 28 - Aqua Wolverine](https://user-images.githubusercontent.com/23072548/100212048-c9fb5b00-2f04-11eb-8b64-97145eff9bf6.gif)

I think I have a solution, adapted from draw.io's distribute

[2020-11-25 11:20] steveruizok commented on #2411
Inkscape also has this bug, but it's less clear in that case that it is a bug: they have different options for distributing space between items—which will change the overall bounding box—as well as distributing space between centers, which I think is what we're actually after, and seems to be the approach that draw.io uses.

![image](https://user-images.githubusercontent.com/23072548/100221189-3f2

[2020-11-25 11:45] dwelle commented on #2411
Yea, I agree it's hard to even figure out conceptually what we want it to do. Maybe nothing when the gaps are negative.

[2020-11-25 12:51] dwelle opened #2412 "replace transparent color with transparent fill"
1. It's not obvious that to get a no fill you need to change bg shape color to transparent
2. By default we use transparent color so that there's no fill. As such, changing a fill style does nothing in new scenes. This is unintuitive.

Proposal:

1. Remove `transparent` color from color picker.
2. Introduce `transparent` fill.

-----

Please upvote what ever you like/dislike in this thread. 👍 / 👎

[2020-11-25 12:56] lipis commented on #2412
I like the current behaviour, and we had no complains about being confused or anything.

[2020-11-25 12:57] dai-shi commented on #2412
I got confused with WYSIWYG icons, but I'm fine with the current behavior. No need to change.

[2020-11-25 13:01] lipis commented on #2412
Maybe a better idea would be to set a default background color to one of the choicess (except the transparent) so all shapes will have some random color assigned to them.

[2020-11-25 13:03] dwelle commented on #2412
Contra-proposal: change the fill color from `transparent` to something else only after you manually change the fill style.

[2020-11-25 13:05] lipis commented on #2411
Or putting them centrally.. so at least we are doing something with them... equally from the center. (Center horizontally / Center vertically)

[2020-11-25 13:08] lipis commented on #2412
I like that one, as an additional to [my proposal](https://github.com/excalidraw/excalidraw/issues/2412#issuecomment-733693015) above.

[2020-11-25 13:11] dwelle commented on #2412
I'd not be against setting a default color IFF there was a transparent fill style on top. I bet that lots of people won't realize they can disable fill by setting the color to transparent.

[2020-11-25 13:12] dwelle commented on #2412
Also note that it may be that the default use case is quick prototyping/wireframing, for which having bg-color by default isn't useful.

[2020-11-25 13:14] steveruizok commented on #2411
I was thinking the same @lipis: distribute centers as a fallback.

But the problem isn't actually when gaps are negative: it's when the item at the end of the sort isn't defining the bottom of the bounding box. The example below has a positive step but will still produce the bug.

![image](https://user-images.githubusercontent.com/23072548/100232302-1a33e680-2f20-11eb-9bb3-b16f1f8defb8.png)

[2020-11-25 13:14] lipis commented on #2412
That's why maybe actually doing nothing should be the right solution. The current behaviour is just fine.

[2020-11-25 13:15] steveruizok commented on #2411
This can be fixed by sorting by middle points (`midX` or `midY`) rather than min points (`x` or `y`).

[2020-11-25 13:20] dwelle commented on #2411
Sounds good. What are the cases where it'll end up in a suboptimal distribution?

[2020-11-25 13:22] steveruizok commented on #2411
Sometimes a negative gap is stable, sometimes it isn't. 🤯 Here I've just moved the red box a bit lower down.

![2020-11-25 at 13 20 29 - Orange Rat](https://user-images.githubusercontent.com/23072548/100233113-2cfaeb00-2f21-11eb-8213-f1abc64eb0a0.gif)

[2020-11-25 13:25] wietsevenema commented on #2412
I don't think the current behaviour is confusing, and I also like this proposal.

[2020-11-25 13:29] lipis commented on #2412
We discussed about another solution.. will link here when it will be posted. Closing this one for now.

[2020-11-25 13:29] #2412 closed

[2020-11-25 14:05] ad1992 opened #2413 "Don't show fill icons when background is transparent"
That users might not be able to figure out immediately that they might have background transparent due to which fill is not working.
so hiding the fill icons would make the workflow more intuitive and clear as one can then never have a buggy scenario.

[2020-11-25 14:08] lipis commented on #2413
We should introduce automatic tests for those changes.

[2020-11-25 16:00] steveruizok commented on #2411
Ok, I think I've got it. https://github.com/excalidraw/excalidraw/pull/2415

[2020-11-26 00:52] #2411 closed

[2020-11-26 01:02] lipis commented on #2380
I think this is completely out of scope for our little whiteboard app.. seems very advanced tool with bunch of parameters..

[2020-11-26 01:02] #2380 closed

[2020-11-26 01:03] #2275 closed

[2020-11-26 14:26] bstavenuiter opened #2419 "SaveAs or Save results in empty file when using Opera Browser"
**How to reproduce**
- Open new draw using the opera browser.
- Draw some retangles
- Press "save" and store .excalidraw to desktop
- File on desktop now as 0 bytes

**What happens**
- I get an empty .excalidraw file

**What I expected to happen**
- File on desktop with the  contents, containing information about the drawing.

**Also, but don't know if has anything todo with it**
- Getting JS erro

[2020-11-26 14:37] dwelle commented on #2419
Duplicate of https://github.com/excalidraw/excalidraw/issues/2312 — it's caused by Opera itself and how she handles security around the FS API.

We're spread pretty thin right now and can't debug every browser on the market. I suggest you open an issue on their [forum](https://forums.opera.com/category/5/opera-for-computers), linking to this issue.

[2020-11-26 20:43] #2413 closed

[2020-11-27 12:28] bstavenuiter commented on #2419
Ah right, couldn't find that issue. Well, maybe others can find it now, using Chrome for now.

Guess this one can be closed as well then

[2020-11-27 13:06] #2419 closed

[2020-11-27 13:38] marcofranssen opened #2422 "CLI tooling to export the excalidraw file as PNG or SVG"
Is there any CLI tooling available that I can use to export my excalidraw files as PNG or SVG?

This would be very beneficial in static page generation.

[2020-11-27 13:58] lipis commented on #2422
Duplicate of #1261

If you are using Gatsby.. this is something that you could use; https://github.com/excalidraw/gatsby-embedder-excalidraw

[2020-11-27 13:58] #2422 closed

[2020-11-28 13:33] lipis commented on #2409
We'll pass on this one, as it will require the text element to have extra properties to change the border color, possibly the background color and other ones that are not related to the text it self but to the background box of it..

[2020-11-28 13:33] #2409 closed

[2020-11-28 16:05] ad1992 commented on #2347
I am able to reproduce this, will take a look at it.

[2020-11-28 20:48] lipis commented on #1989
This is not possible by design, as we don't support skewed rectangles and if you rotate the item and then change the height or width within a group, it will end up in an impossible shape (for our implementation of course).

[2020-11-28 20:48] #1989 closed

[2020-11-28 20:51] lipis commented on #1556
As we're not going to add an option for it.. I'm closing this issue.

[2020-11-28 20:51] #1556 closed

[2020-11-28 21:33] lipis commented on #383
Not exactly a plugin versions, but we now support adding items to the library, so we'll close this for now :)

[2020-11-28 21:33] #383 closed

[2020-11-28 21:51] ad1992 commented on #2347
@edgarasben @Rulikkk can you confirm if the zoom in /out works for you in https://excalidraw-git-aakansha-zoom.excalidraw.now.sh/ ?

[2020-11-28 21:57] dwelle commented on #1989
AFAIK there was no design to not make this possible. It just hasn't been implemented yep :p

[2020-11-29 06:37] ikmrgrv commented on #2361
I would like to help on this ...

[2020-11-29 12:35] dwelle commented on #2361
@ikmrgrv sure thing!

[2020-11-29 16:00] #1689 closed

[2020-11-30 00:30] #2347 closed

[2020-11-30 08:18] marcofranssen commented on #1904
Are there any references to some nice excalidrawlib galleries with drawings created by others?

[2020-11-30 12:23] hangmana commented on #2405
thx for response.

[2020-12-01 10:35] vennsoh opened #2435 "Post-it like feature: Ability to have text constrained to a shape."
Love Excalidraw!

Just a feature request. Can we have a post-it like feature? The text width/height will always be dependant on a shape's width/height.

[2020-12-01 10:49] sojusnik commented on #2435
See also [this](https://github.com/excalidraw/excalidraw/issues/2409) and [this](https://github.com/excalidraw/excalidraw/issues/1428).

[2020-12-01 12:27] jonasdebeukelaer commented on #2378
I may have an alternate explanation for this - I've had this a couple times last week.

I too was in a shared room on my own (😢) and then another me turned up. I think perhaps connection issues (?) was a making the session think I was a second participant, and the other me was just a delayed version of my movements.

The one different is the other me never actually moved any items, just that the m

[2020-12-01 12:42] dwelle commented on #2378
Yes, that's almost certainly what's happening since the original hypothesis is so improbable so as to border on the impossible.

@jonasdebeukelaer I can confirm I've encountered the very same, but usually only when developing and doing unusual things. Also, connecting to the same room using the same browser does similar things.

That said, I'm still not clear how to reproduce the OP behavior where

[2020-12-01 17:43] lipis opened #2437 "Use cancel workflow action to reduce CPU time of our actions"
https://github.com/marketplace/actions/cancel-workflow-action

[2020-12-01 18:11] xixixao commented on #1989
We could disallow the group resizing only when it would violate the
constraint.
---------- Původní e-mail ----------
Od: David Luzar <notifications@github.com>
Komu: excalidraw/excalidraw <excalidraw@noreply.github.com>
Datum: 28. 11. 2020 13:57:34
Předmět: Re: [excalidraw/excalidraw] Allow horizontally/vertically resizing
multiple elements (#1989)
"

AFAIK there was no design to not make this pos

[2020-12-01 18:30] denisSurkov commented on #2437
Hi!
So you want to add cancel action to all github actions excalidraw has?

[2020-12-01 19:49] dwelle commented on #1989
That'd be very hard to determine I reckon, plus there's nothing to disable right now since it's not implemented, anyway.

[2020-12-01 23:34] xixixao commented on #1989
You'd scan all items in the selection and see if any have non 90 degree
rotation.
If yes, the guides for vertical/horizontal scaling would not show.

Not saying it's perfect or even a good idea, but seems feasible.
---------- Původní e-mail ----------
Od: David Luzar <notifications@github.com>
Komu: excalidraw/excalidraw <excalidraw@noreply.github.com>
Datum: 1. 12. 2020 11:50:05
Předmět: Re: [exc

[2020-12-02 01:13] lipis commented on #1901
This is already possible.

[2020-12-02 01:13] #1901 closed

[2020-12-02 09:55] dwelle commented on #1989
Oh, you meant disable the handles beforehand. And yes, this 90deg heuristic sounds good. All in all, still not that UX-friendly as it'd be hard to convey why it's enabled only sometimes, but certainly better than nothing. :+1:

[2020-12-02 10:55] steveruizok commented on #616
Mind if I implement this? [POC here](https://excalidraw-pi.vercel.app/) where all arrows are double-sided.

![Kapture 2020-12-02 at 10 27 43](https://user-images.githubusercontent.com/23072548/100860945-1278c280-3489-11eb-9adb-cec37c746654.gif)

The existing `getArrowPoints` function by @GasimGasimzada works just as well for reversed arrows: we just need to change which operations and points we're

[2020-12-02 11:50] dwelle commented on #616
Yea, this issue wasn't blocked on implem complexity, but entirely on the UI representation and UI complexity.

We've discussed this multiple times, across different PRs (dunno where) and chat. We couldn't gain consensus on whether it should be part of the properties menu, or be rendered as an extra menu below the toolbar (see below) when you select an arrow (a tool or an existing shape), or whethe

[2020-12-02 15:29] lipis commented on #616
What about as a first implementation we support only one kind of arrow and adding one more section in the property and when clicking on start, end it will scroll through available endings (arrow and none in our first case)

<img width="256" alt="Screenshot 2020-12-02 at 5 27 45 PM" src="https://user-images.githubusercontent.com/125676/100893127-b2ebd880-34c3-11eb-8d34-3988464b1f93.png">

[2020-12-02 15:37] lipis opened #2440 "Show shortcut keys in the context menu (right aligned)"
Most of the things achievable via shortcuts so it's nice to show them where possible.

[2020-12-02 19:37] lipis commented on #1189
We'll close this is as out of scope for the core team..

[2020-12-02 19:55] #1189 closed

[2020-12-02 21:57] #1701 closed

[2020-12-03 07:08] khanh-bes commented on #1924
+1 for this, this would make excalidraw an amazing tool to quickly prototype a web/app screen.

[2020-12-03 11:13] lipis commented on #366
https://excalidraw.github.io/excalidraw-libs/ :D

[2020-12-03 11:15] steveruizok commented on #616
![Kapture 2020-12-03 at 10 50 35](https://user-images.githubusercontent.com/23072548/101000177-6cdf5500-3555-11eb-9d4d-50d4b046980c.gif)

I like it! [Try it here](https://excalidraw.steveruizok.vercel.app/).

There were some design choices in the code around how to represent arrow decorators. I've made my choices but I'd expect a few rounds of feedback and revisions once I get a PR up. Let me clea

[2020-12-03 11:18] dai-shi commented on #616
@dwelle Can we consider again to use this UI for toggle binding?

[2020-12-03 11:44] dwelle commented on #616
Um, to me I'd have no idea what to do, so it would be a trial and error process. And to me those active states don't make sense since either no-end-cap and arrow-end-cap are active states to me.

More importantly, since now those buttons encompass both direction and endings, if we later decide to add more types of endings you'd have to cycle through N arrow caps which isn't a good UX.

[2020-12-03 15:25] lipis commented on #616
You are right about that, but if we have 2-3 it should be fine and if we ever get more then we can think on it when time comes!

@steveruizok The demo is great! Could you create a PR already so we could comment directly there?

[2020-12-03 17:39] lipis opened #2444 "Disable the export dialog button when the scene is totally empty"
There is not much you can do inside the export dialog if there are no items to export :)

[2020-12-03 17:50] dwelle commented on #2444
Isn't this duplicate of https://github.com/excalidraw/excalidraw/issues/1349?

[2020-12-03 17:50] lipis commented on #1923
Since our target group is pretty wide, I don't think that we'll be able to find a common library for all users.. For now we can start with this https://excalidraw.github.io/excalidraw-libs/ and eventually we can think on how to incorporate it.

[2020-12-03 17:50] #1923 closed

[2020-12-03 18:58] lipis commented on #2444
👍

[2020-12-03 18:58] #2444 closed

[2020-12-03 22:55] vjeux opened #2446 "Arrow attachment zone is too big"
![image0](https://user-images.githubusercontent.com/197597/101098314-8ee9cf00-3577-11eb-82db-996defd494b6.jpg)

https://excalidraw.com/#json=4848604376203264,fhIoOWHKJB_1CRcTyGtJSg

cc @xixixao

[2020-12-03 22:57] xixixao commented on #2446
It's a feature. There should be a cap on the highlight size, and maybe we want to lower it (or add it if it's not there).

[2020-12-03 22:59] vjeux commented on #2446
I think it would be good to do another pass at the size, it makes sense to scale it with the size of the shape but in this case the size for this relatively small element seems way too big.

[2020-12-04 09:54] sojusnik commented on #2409
Can you at least leave this issue open, because with this feature you can easily format text with optional boxes and so on by copy and paste the style? This is very useful to have, especially if you're doing text-heavy brainstorming sessions and try to maintain some visual structure by quickly formatting some text.

[2020-12-04 10:00] sojusnik commented on #2343
This could be especially useful when collaborating to reproduce contributions of others, as an example.

[2020-12-04 13:46] NateRadebaugh opened #2447 "Suggestion: Support multiple active whiteboards"
I use excalidraw to document a handful of different projects at once. Right now, I have to set up separate chrome profiles to easily switch from one to another, but this is a pretty clunky solution. It would be nice if there was a UX for switching between multiple whiteboards. Longer-term might be nice to sync this to accounts, etc. similar to how Codesandbox works.

Proposal:
1. Add dropdown to U

[2020-12-04 15:51] dwelle commented on #2447
This falls under https://github.com/excalidraw/excalidraw/issues/1543 so I'll close this as a duplicate.

That said, this, and your suggestion for accounts, will come soon as part of our product focused on teams (but not only).

[2020-12-04 15:51] #2447 closed

[2020-12-04 16:07] pandel commented on #1772
Hi!

FWIW, I managed to set up a complete docker-compose stack to host excalidraw in our internal network, making use of @NMinhNguyen 's modification to ecalidraw-json and Minio S3 as backend datastore. It has no access to your Firebase database though, but collaboration and sharing is working fine, at least for us.

If you want to try it, you can clone this repo: https://gitlab.open-mind.space/pa

[2020-12-04 17:43] nickmilo opened #2449 "Somehow the palette menus became Gigantic"
I don't know how this happened. It's in Firefox. Chrome is okay.

The regular `cmd--` and `cmd-+` don't change the palette menu's size, only the content (which is expected behavior). So what changes the palette menu's size??

<img width="1141" alt="Screen Shot 2020-12-04 at 9 42 32 AM" src="https://user-images.githubusercontent.com/35411533/101196147-3832d280-3615-11eb-89bd-a799b27511ca.png">

[2020-12-04 18:07] dwelle commented on #2449
We implement our own zooming for the canvas scene but every now and then you can mistakenly end up zooming the browser window itself. It's hard to catch all the cases and harder still to prevent the browser from zooming, especially on mobile.

You can reset the zoom from your url bar, in your case by clicking on the `210%`:

![image](https://user-images.githubusercontent.com/5153846/101198595-fb41

[2020-12-04 19:15] nickmilo commented on #2449
Thank you!!! Problem solved 💯

[2020-12-04 20:09] #2449 closed

[2020-12-04 23:56] lipis commented on #1517
As @vjeux mentioned, we'll keep it simple in Excalidraw.

[2020-12-04 23:56] #1517 closed

[2020-12-05 00:03] lipis commented on #2223
Will close is because of #2210

[2020-12-05 00:03] #2223 closed

[2020-12-05 00:07] lipis commented on #2170
It doesn't fit in our simplistic UI :)

[2020-12-05 00:07] #2170 closed

[2020-12-05 00:09] lipis commented on #251
This is done already!

[2020-12-05 00:09] lipis commented on #251
Oups..

[2020-12-05 00:12] #1822 closed

[2020-12-05 00:22] lipis commented on #2378
Report back if that happens again.. the explanation by @jonasdebeukelaer seems valid, as it's impossible to guess the room id

[2020-12-05 00:22] #2378 closed

[2020-12-05 00:24] lipis commented on #2185
Will mark this one as done.

[2020-12-05 00:24] #2185 closed

[2020-12-05 00:27] lipis commented on #2060
I think it's out of scope supporting more backends at this point.

[2020-12-05 00:27] #2060 closed

[2020-12-05 00:32] #1447 closed

[2020-12-05 19:40] dwelle opened #2454 "Migrate remaining text properties from text to icons"
- [ ] fontSize
- [ ] fontFamily
- [ ] fontAlign #2379

[2020-12-05 19:43] dwelle commented on #2454
Possible icons for fontSize, via @steveruizok

![](https://user-images.githubusercontent.com/23072548/101261646-ccde2300-3730-11eb-97c7-16efc44bc1f9.png)

Possible icons for fontFamily:

- hand-drawn
	![image](https://user-images.githubusercontent.com/5153846/101261871-74ac1e80-373a-11eb-9d71-be6b63479bd5.png)
	![image](https://user-images.githubusercontent.com/5153846/101261849-5c3c0400-373a-11eb

[2020-12-05 23:09] dwelle opened #2456 "Improve contextmenu UX on mobile when selecting"
When user selects slowly, it tends to open contextmenu.

We should either close it after you start dragging, or prevent dragging/selection and keep the contextmenu open. Either way, we shouldn't allow both things at the same time.

[2020-12-06 00:07] ahmedash95 opened #2458 "Keep drawing mode"
Hello,
First of all thanks for this great project. and I'm sorry if the title is not clear enough.

The problem right now is if you want to keep drawing with the pencil. every time you release the mouse you will have to select the pencil again. because it auto selects the shape once you release the mouse. I think there should be an option to keep drawing and that way you can keep drawing without s

[2020-12-06 01:33] lipis commented on #2458
Press on the last icon: the locker :)

[2020-12-06 02:00] vjeux commented on #2458
We should make the lock by default when enabling the pencil. The current behavior is not intuitive.

[2020-12-06 02:21] vjeux commented on #2377
The reason why I went with the unconventional model is to support better boxes within boxes.

If you're trying to move the sub-box in the conventional model (in this case keynote), it's impossible unless you manually select them one by one with cmd.

![ezgif-7-76df1392db1c](https://user-images.githubusercontent.com/197597/101269691-5a684580-3726-11eb-9873-6a01ac61b72c.gif)

With excalidraw, you ca

[2020-12-06 02:27] vjeux commented on #2000
Fixed by #2459

[2020-12-06 02:27] #2000 closed

[2020-12-06 11:42] #2064 closed

[2020-12-06 13:51] lipis commented on #2458
@vjeux should we enable lock when pressing the draw item.. or just not changing it to selection after it's done without affecting the lock? (Because then we'll have to unlock it if pressed on something else and the lock was automatically enabled)

[2020-12-06 14:00] dwelle commented on #2458
@lipis yes, this why I stalled on implementing it because it's not clear how this seemingly simple feature should behave :/.

[2020-12-06 14:22] lipis commented on #2458
or just ignore the lock for the draw tool and not reset it to selection after it's done. Regardless of the lock.

[2020-12-06 15:36] ahmedash95 commented on #2458
I did not notice the lock at all :D my problem is solved now. but +1 for @lipis suggestion. to ignore the lock for the draw tool.

Regards

[2020-12-06 16:43] dwelle commented on #2377
Hmm, that's a good use case.

I'm not sure about the "extremely common" as it requires a very specific layout of elements. While nesting is common indeed, cases where you can do the above selection trick aren't very common I'd say. Maybe I'm wrong, would need to see real-world diagrams where it is the case.

If we decide to not switch, then the only thing left is the dual selection model from Auto

[2020-12-06 18:17] lipis commented on #2377
The dual selection mode from AutoCAD is pretty cool and intuitive.. normal selection from left to right and dotted/dashed borders when from left to right which means it will intersect the elements!

Can someone make it as an experiment to test it out?

[2020-12-06 21:12] steveruizok commented on #1572
Would love to know more about this one as we work more on arrow decorators. https://github.com/excalidraw/excalidraw/pull/2452

[2020-12-06 21:20] lipis commented on #1572
@steveruizok  Is that still an issue?

[2020-12-06 21:22] lipis commented on #1572
That's still an issue..

[2020-12-06 21:27] lipis opened #2466 "Add a link to the public libraries from the library dialog"
For now it's nothing more than a static web page https://libraries.excalidraw.com, but if it grows we can make it an app and have support for stars, comments, etc..

How about adding a link somewhere or like a button to explore these libraries so people could find or add their owns there?

<img width="380" alt="Screenshot 2020-12-06 at 11 24 55 PM" src="https://user-images.githubusercontent.com/12

[2020-12-06 22:25] dwelle commented on #1572
Yea, the problem probably lies somewhere in `renderElemene.ts` where we create element-specific canvas elements (`generateElementCanvas()`). As vjeux said, we must be making a mistake during the calculation when taking zoom into account.

[2020-12-06 22:39] #1342 closed

[2020-12-06 23:01] lipis opened #2468 "Add announcement support for announcing new features inside the app."
We can have it JSON format `announcements.json` that will look something like this:

[code]

We can show one announcement at the time for maybe a week (we can have it configured) and if people going to close it, we'll store it in local storage to not show the same announcement again. If there are more announcements in the queue that haven't been shown on the next refresh the user will get a next o

[2020-12-06 23:06] dwelle commented on #2468
I don't think we'll want to do this as it will add a constant stream of popups for users that don't use the app every day, and would be annoying to most users in general.

We can include a changelog in the help dialog, though.

[2020-12-06 23:13] lipis commented on #2468
What about showing these announcements only to people that have already something in the local storage, which means they used it and now there is something new. A simple `X` will make it disappear, but they got something new. I think people like new features, when using the app daily.

New instances will not get anything as we will count them as completely new users.

P.S. Our changelog is basical

[2020-12-06 23:22] lipis commented on #2468
It can also go away on it's own after a minute or something. Unless there is a mouse over it :)

[2020-12-07 06:34] lipis opened #2470 "Inserting elements from clipboard or library with the grid on, the positions of the elements are all messed up"
Try to copy paste the following while having the grid on

https://excalidraw.com/#json=6234903687462912,mLfPmu5OpJnHVptTbI5_Sg

Also if you add this item to the library, same problem exists if add it back to the scene with the grid enabled.

[2020-12-07 06:50] lipis commented on #1904
Most of these features are done and generally the library looks nice on desktop and mobile.. file separate issues if needed.

### P.S. We have an official public directory for user libraries https://libraries.excalidraw.com

[2020-12-07 06:50] #1904 closed

[2020-12-07 10:08] dwelle opened #2479 "Restore elements on paste"
In case user is pasting between different versions of the app.

[2020-12-07 16:35] #1119 closed

[2020-12-07 16:49] lipis commented on #2479
Possible on loading the scene too (from all 5000 different ways)

[2020-12-07 17:04] dwelle commented on #2479
Aren't we already?

[2020-12-07 17:14] lipis opened #2481 "Show collaboration stats in the stats dialog"
Add new category `Collaboration`

- [ ] Total users
- [ ] Traffic in
- [ ] Traffic out
- [ ] Ping with the server

For the traffic we can use the [`nFormatter`](https://github.com/excalidraw/excalidraw/blob/master/src/utils.ts#L344) to show per second the average speed.. (no clue how to get that info)

[2020-12-07 17:24] bx10f opened #2482 "Pinch To Zoom (Trackpad) in Safari on Big Sur Unresponsive"
The pinch/expand to zoom in/out with a trackpad is unresponsive in Safari 14 on macOS Big Sur.

Issue persists with content blockers (and other plugins) disabled.

Firefox and Chrome work as expected. The hotkeys also work as expected.

[2020-12-07 17:24] #2466 closed

[2020-12-07 17:28] dwelle commented on #2482
Hello, can you check please if the performance is present in this older version: https://excalidraw-e35zd5f5p.vercel.app/ — will help us figure out if this is a recent regression or not.

[2020-12-07 17:31] bx10f commented on #2482
Pinch/expand to zoom w/ trackpad works for https://excalidraw-e35zd5f5p.vercel.app/ but not for the other.

[2020-12-07 17:36] dwelle commented on #2482
Ok, let's dig deeper :smile:

1. https://excalidraw-git-removegesturesupportios.excalidraw.vercel.app/
2. if above has issues, try https://excalidraw-git-dontopenmenumultitouch.excalidraw.vercel.app — if above (1) doesn't have issues, try https://excalidraw-git-fixmiddlehandle.excalidraw.now.sh/

[2020-12-07 17:43] bx10f commented on #2482
Doesn't pinch zoom:
https://excalidraw-git-removegesturesupportios.excalidraw.vercel.app/
https://excalidraw-git-fixmiddlehandle.excalidraw.now.sh/

Does pinch zoom:
https://excalidraw-git-dontopenmenumultitouch.excalidraw.vercel.app/

[2020-12-07 17:49] dwelle commented on #2482
Thanks. I thought it's only a performance issue, but you say pinch zoom doesn't work at all?

[2020-12-07 17:52] bx10f commented on #2482
That's correct. When I do the pinch/expand zoom gesture, nothing happens. It just sits there and doesn't respond. The hotkeys work fine in all scenarios.

[2020-12-07 17:55] dwelle commented on #2482
I see.

@vjeux looks like https://github.com/excalidraw/excalidraw/pull/2457 broke pinch-zoom on desktop Safari (I assume not on mobile, which you'd have notice). Can anyone with on Safari 13 and touchpad check if it doesn't work there, as well? (/cc @lipis @j-f1). Thanks!

[2020-12-07 18:03] vjeux commented on #2482
Ohhh interesting, so this is what it was for... I should have done some archeology. @dwelle can you revert my change and I'll find time to fix it correctly.

[2020-12-07 18:22] #2482 closed

[2020-12-07 20:23] ReneCode commented on #2440
So the context menu would looks like:
[code]

Actions without shortcut will leave blank ?

Can I take that issue ?
The alignment would be a challenge. Using flexbox in ``<ul><li><button> text `` ...

[2020-12-07 20:44] dwelle commented on #2440
I'd use `grid`.

[2020-12-07 23:09] lipis commented on #965
Let's skip it on mobile

[2020-12-07 23:09] #965 closed

[2020-12-07 23:14] lipis commented on #620
Maybe something like this #1543, but storing everything in local storage, we might run out of space.

[2020-12-07 23:14] #620 closed

[2020-12-08 16:14] steveruizok commented on #616
First step shipped! https://github.com/excalidraw/excalidraw/pull/2452

[2020-12-08 16:45] dwelle commented on #616
@steveruizok personally I'd support all those you used in the PR initially — all useful.

[2020-12-08 17:35] ReneCode commented on #2440
It would be useful to combine functionality from ``ContextMenu`` and ``ShortcutsDialog`` .

thinking about:
[code]
Than in the ``ShortcutsDialog.tsx``
[code]
will change to:
[code]
And in ``ContextMenu.tsx`` something like:
[code]

[2020-12-08 17:47] dwelle commented on #2440
Agreed that we should make a map for it, but not sure if using i18n labels to key by is a good fit.

An idea is to have a map that looks like:

[code]

Not sure if to make it lazily evaluated as you suggest (i.e. make it into a function call) or whether evaluating it on init is fine, perf-wise (if not, we could also make the `shortcuts` into just string to be passed into `getShortcutKey`).

[2020-12-08 17:55] lipis commented on #2440
For some shortcuts we have multiple options.. how will that work?

[2020-12-08 17:58] dwelle commented on #2440
In the contextmenu you mean? We'll use the first one in the list I guess?

[2020-12-08 18:12] lipis commented on #2440
For the context menu is not an issue.. because from what I can see there is only one way.

[2020-12-08 18:23] Kartik1397 commented on #2454
Hi @dwelle, can I work on this issue?

[2020-12-08 18:37] dwelle commented on #2454
not sure if @steveruizok didn't wanna take this one? If not, you can. But we should agree on which design/icons to use. /cc @lipis

[2020-12-08 19:17] Kartik1397 commented on #2456
Does this issue refer to following action?
![Peek 2020-12-09 00-44](https://user-images.githubusercontent.com/24036721/101530490-ff4d8180-39b7-11eb-9f9e-7b143fe6c8a6.gif)

[2020-12-08 19:26] lipis opened #2487 "Changing the sloppines of straight arrows/lines changing their width. It shouldn't"
![Kapture 2020-12-08 at 21 24 37](https://user-images.githubusercontent.com/125676/101531432-f2bb3000-399b-11eb-8f5b-aff425ec3f06.gif)

Not sure if other shapes are affected by it.

[2020-12-08 19:31] lipis commented on #2454
For the font size I like the `S`, `M`, `L`, `XL` as for the family one we can start with the suggested ones and see how they look like in practice!

[2020-12-08 19:58] ReneCode commented on #2440
ok, but what would be the key on that map? action.name would be fine, but ``labels.paste`` or ``labels.delete`` not have a related action. So if using the i18n path that map can be simplified to:
[code]
in source:
[code]

[2020-12-08 20:14] dwelle commented on #2440
You can just come up with whatever (for a start, I'd just use the second bit of the label: `labels.<shortcurName>`, and if you encounter a name collision, change it to something else).

You can then reuse it everywhere else, including when getting the labels for shortcutDialog and elsewhere (or maybe leave this part for a separate PR).

[2020-12-08 20:59] lipis opened #2490 "The text elements seems to have a background color set, but they shouldn't"
When selecting multiple elements with the same color the background shows correctly the same color.. but when the group contains a text it doesn't show the color, which means that they have different background color. We should ignore that for text elements (and possibly for arrows, because with the lines if they are connected we have background)

![Kapture 2020-12-08 at 22 58 15](https://user-ima

[2020-12-08 21:09] sojusnik opened #2491 "Grouped arrow and text don't behave as a group when moved by other objects"
If f.i. an arrow and text are grouped, then they don't behave as a group when the arrow is attached to other objects and has to follow them. In the following video the text should also move with the arrow, when the arrow follows the circle or square:
![excalidraw](https://user-images.githubusercontent.com/1245718/101541472-71629e00-3999-11eb-8a43-3884c3596191.gif)

[2020-12-08 21:24] lipis commented on #2491
This is some very tricky use case.. not even sure how that should behave. I mean it doesn't affect only the text, if you have multiple elements in a group and the arrows are attached, move only the arrows.

[2020-12-08 21:30] sojusnik commented on #2491
IMHO, it's very common to label arrows with text, as shown in my example, therefore I definitely would prefer, that the text should be moved with the arrow, when the latter is moved by other objects.

I didn't have a case where my arrow was grouped to other objects than text, but maybe in such a case an exception to my proposed behaviour would do the trick?

[2020-12-08 21:32] lipis opened #2492 "Browse libraries link is hidden behind the buttons on mobile"
<img width="326" alt="Screenshot 2020-12-08 at 11 31 42 PM" src="https://user-images.githubusercontent.com/125676/101543983-a4af2800-39ad-11eb-82bb-b6979c3f982d.png">

[2020-12-08 21:36] lipis commented on #2491
Even with that simple case, I don't think that group is the way to solve it.. what we need is actually to be able to link text objects to other shapes and arrows in general.. your issue is very close to this one: #1010

[2020-12-09 12:53] dwelle commented on #2470
The problem is in how we align items on grid on paste in `addElementsFromPasteOrLibrary()`. When grid is enabled, we normalize positions of every pasted element so it lands on grid.

But it takes `x`/`y`, which in case of a bottom-aligned bar graph will end up misaligning it in case a given bar `x`/`y` (which is the top coordinate of the bar) isn't already aligned.

![image](https://user-images.gi

[2020-12-09 12:55] dwelle commented on #2470
We can actually do this: check if the elements were copied from a scene with grid enabled, and on paste don't re-align if that is the case.

[2020-12-09 12:57] dwelle commented on #2470
Actually, scratch that. We shouldn't ever re-align anything but the group as a whole.

[2020-12-09 13:03] #2446 closed

[2020-12-09 13:07] lipis opened #2493 "Create a dropdown for arrowheads"
The should most likely use the same code as we do for the color pickers, and if not maybe we should think something more generic to solve both.

[2020-12-09 13:09] lipis commented on #2470
Not only if it's a group.. separate elements as well.

[2020-12-09 13:45] #2470 closed

[2020-12-09 20:01] Kartik1397 commented on #2492
Can I work on this issue?

[2020-12-09 20:37] ReneCode commented on #2440
if there is no shortcut, there will be no text.

it would look like:
![image](https://user-images.githubusercontent.com/1595098/101684378-9f61e400-3a66-11eb-8de3-10a97aa2353c.png)

[2020-12-09 20:51] dwelle commented on #2440
:+1:

Let's decrease the opacity of the shortcut a bit, and make it smaller, so it's less prominent. And probably add a slightly more spacing between it and the text.

[2020-12-09 22:40] lipis commented on #366
We already support multi point lines to be connected and any shape is possible. But adding native support for multiple polygons is out of scope, as it will affect how the binding works, adding new controls, supporting more shapes, etc. We still love hexagons as much as you do :D

[2020-12-09 22:55] #366 closed

[2020-12-10 03:08] #2244 closed

[2020-12-10 03:08] lipis commented on #2244
please report back if you still have issues

[2020-12-10 03:09] #1108 closed

[2020-12-10 03:09] #1563 closed

[2020-12-10 07:28] capi opened #2496 "Add option to embed fonts in SVG"
I'd like to use the exported SVGs in some PowerPoint slides and PowerPoint won't fetch the external fonts due to security policy. Currently I resolve to exporting to 3xPNG, but I'd really prefer using SVGs due to perfect scaling.

In #1972 there is a discussion to convert fonts to paths. There is also a workaround discussed for embedding the font data inside the SVG, but there are concerns regardi

[2020-12-10 11:02] dwelle opened #2497 "Firefox scrolling is slow"
Firefox `wheel` event deltas are really tiny in comparison to other browsers.

For example, in Chrome on my mouse, `deltaY` is `166`, whereas in Firefox it is `5`.

Known, WONTFIX issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1057252

(via https://twitter.com/midned/status/1336717295004037123)

[2020-12-10 11:08] dwelle commented on #2497
Maybe there's some normalization we can do, but would require extensive testing with all possible input modes (touchscreen, touchpad, mouse with continuous, non-discrete wheels...).

[2020-12-10 11:10] dwelle commented on #2497
The OP said Figma is affected as well, but I can't repro. So if Figma figured it out, we can too.

[2020-12-10 12:11] dwelle commented on #2496
Hello, as you have outlined, how does this differ from the aforementioned #1972?

[2020-12-10 12:32] dwelle commented on #1563
@MartinP7r sorry, I must have missed your reply.

Yes, you should update your `.env` or wherever you supply ENV variables.

The JSON server repo is here: https://github.com/excalidraw/excalidraw-json

Also note that we'll be soon releasing a new npm package under `@excalidraw/excalidraw` where it'll be easy to implement your own backend(s). We should eventually get around to writing up how to do t

[2020-12-10 12:32] capi commented on #2496
My understanding of #1972 was that the goal there still is to convert to outlines, not keeping or inlining the font itself. This was due to the discussion around the final file size.

My proposal was to add the embedding as an export option and _not_ to convert to outlines, since in many cases the resulting filesize (at least to me) is not really important. I really like the text staying text.

If

[2020-12-10 12:41] dwelle commented on #2496
Right, that issue is more tilted towards converting the text to curves (as issue title suggests), though it was suggested to to embed the font as base64 directly.

I wonder, what's the reason for your preference? Another questions is, can vector editors even parse base64-embedded fonts in a way that it effectively loads the font and you can type any glyphs from it from then on?

Lastly, it's not e

[2020-12-10 14:02] dwelle commented on #2468
This is basically reinvented toast notifications we've had and removed in https://github.com/excalidraw/excalidraw/pull/1421/files after a discussion (probably on chat) where we decided we don't want any notifications/popups unless absolutely necessary (errors etc.) because at the end of the day it's annoying and adds friction to the UI.

Yeah, it was an experiment that didn't catch on — mostly be

[2020-12-10 17:29] capi commented on #2496
It's text, it should stay text (one could basically edit the SVG in a text editor). Also, the embedding makes the SVG offline-capable and self-contained. For me it's primarily important because PowerPoint (at least as configured by my company) does not download external font's and I'd really prefer using SVG over PNG in my presentations (makes them smaller in file-size, and 4k-capable).

The licen

[2020-12-10 17:31] capi commented on #2496
Regarding your question, if it's actually helping to embed them, that's valid. I'll try to manually embed the font in one of my SVGs and see if it actually helps. I'll report back.

[2020-12-10 18:24] dwelle commented on #2496
I wasn't arguing the embedding question — I agree we should do it in one way or another. I was asking why prefer embedded font as opposed to converting the text to lines.

I'm not sure if the "it'll be editable" argument is convincing, because how often will you edit a diagram's text right in the source? You'd end up with bad offsets more often than not.

IMO if you want to edit an existing diagra

[2020-12-10 19:59] capi commented on #2496
I normally trust the font engine more in rendering text. I have absolutely no experience if text converted to paths makes a visual distinction. Does it work on all zoom levels? It's just my gut-feeling as a developer that if something's a text, it should stay a text (if possible), otherwise it's like pixels in a bitmap (yes I know, that curves are curves and no rasterization takes place :-)).

[2020-12-10 20:23] dwelle commented on #2496
A font is something like an SVG path deep down, anyway. It should make no difference visually whether the text encoded in the SVG file is a text or a path (with a caveat -— I think I've mentioned "curves", but to guarantee 1:1 visuals we'd actually have to you paths. With curves you'd need to set the right attributes, and then we could run into cross-browser issues I think. With plain paths we sho

[2020-12-10 23:05] ReneCode commented on #2440
PR #2501 will add shortcuts to the context menu

[2020-12-11 00:24] MartinP7r commented on #1563
@dwelle thanks a lot for letting me know!

[2020-12-11 13:39] lipis opened #2503 "Hide shortcuts in the mobile view"
<img width="232" alt="Screenshot 2020-12-11 at 3 39 24 PM" src="https://user-images.githubusercontent.com/125676/101910010-0d252180-3bc7-11eb-9805-ed71a2de768d.png">

There is no point of showing them there.

[2020-12-11 16:02] vjeux opened #2504 "Crashes for device without localStorage"
I'm playing around with a device without local storage and it crashes on the following line:

[code]

We should make sure to gracefully degrade and not hard crash.

For people with access to sentry, here's the bug: https://sentry.io/organizations/excalidraw/issues/2077838306/events/c13918caaff845309cf04b48872548fa/?project=5179260&statsPeriod=14d

[2020-12-11 16:13] #2504 closed

[2020-12-11 17:10] alexlazovic opened #2506 "Add separators on context menu"
We could add the separators here to help the user scan more easily through the options. Also, if possible, push the "Delete" option to the bottom and make it red to clearly communicate a destructive operation.

<img width="281" alt="Context Menu" src="https://user-images.githubusercontent.com/10381181/101933023-e45b5700-3bdb-11eb-9620-9dd707deca3d.png">

[2020-12-11 17:16] lipis commented on #2506
We also have these ones:

<img width="206" alt="Screenshot 2020-12-11 at 7 15 54 PM" src="https://user-images.githubusercontent.com/125676/101933780-597f5a00-3be5-11eb-9ac0-07b3702f54d7.png">
<img width="188" alt="Screenshot 2020-12-11 at 7 15 42 PM" src="https://user-images.githubusercontent.com/125676/101933784-5ab08700-3be5-11eb-947e-e6057178100a.png">

[2020-12-11 17:17] #616 closed

[2020-12-11 17:17] #2493 closed

[2020-12-11 18:05] lipis opened #2507 "The dropdown for arrowheads in RTL mode is overflowing the container"
<img width="305" alt="Screenshot 2020-12-11 at 8 03 14 PM" src="https://user-images.githubusercontent.com/125676/101938511-22f90d80-3bec-11eb-8590-a62ec3756662.png">

[2020-12-11 18:15] dwelle commented on #2506
Note for contributors, we'll likely want to finish this PR first: https://github.com/excalidraw/excalidraw/pull/2501

[2020-12-11 19:41] #2503 closed

[2020-12-11 21:12] vjeux opened #2510 "Missing "Cut" from list of keybindings and right click menu"
Doing cmd-x works as expected but we're not displaying it in the context menu nor list of keybindings.

![meIDn0po](https://user-images.githubusercontent.com/197597/101955337-78182d80-3bb2-11eb-90e9-4c7bc49a3e86.jpg)

![image](https://user-images.githubusercontent.com/197597/101955287-65055d80-3bb2-11eb-8608-89f7f8fe6fb5.png)

[2020-12-12 02:02] mwufi commented on #2458
@lipis do we... want to implement this? :) I can submit a PR (new contributor here!)

[2020-12-12 02:13] lipis commented on #2458
@mwufi Sure.. for it.. and we'll iterate over the PR. My idea is to not use the lock icon at all.. just not going back to the selection after the draw is done.

[2020-12-12 02:58] mwufi commented on #2218
hmm, why? I haven't used copy element styles in this way before :)

normally, what I do is:
(default color is green)
copy styles ---> select some other elements ---> paste styles
(return to green)

But what you're suggesting is:
after paste styles, it should still be the default props?

[2020-12-12 02:58] mwufi commented on #2218
I guess it has 3 upvotes, so some folks might think this is intuitive :)

[2020-12-12 11:47] dwelle commented on #2218
The reasoning is as such: it's much harder to manually set all the properties you want to set as the new default as opposed to simply copy-styles. So if you indeed want to copy/paste a style just once, you will be able to easily copy the style from the element that has the style that was the default previously.

Do note that we currently change the defaults every time you select at element and cha

[2020-12-12 11:55] #2510 closed

[2020-12-12 11:56] dwelle commented on #2218
I'm gonna take this on since I believe I have some diff for this already.

[2020-12-12 12:42] ricardojlrufino opened #2512 "Viewer embeded"
It is possible to have only one viewer that can be loaded on a static website.

For draw.io i use something like (macro for confluence wiki):
[code]

[2020-12-12 13:23] #2492 closed

[2020-12-12 13:44] Kartik1397 commented on #2232
Can I work on this issue?

[2020-12-12 13:50] steveruizok commented on #1572
I don't think it's the zoom, actually. When we create the canvas for linear elements, we're only looking at the line itself—not its arrowheads. It just happens that on normal zoom levels, the arrow heads fit into the 20px of canvas padding around the shape. When we zoom in, those arrowheads are drawn larger and are drawn off of the element's canvas.

![Kapture 2020-12-12 at 13 47 54](https://user-

[2020-12-12 13:57] dwelle commented on #2232
Sure! I'd tackle only the tooltip with an explanation first, and leave the size increases to a separate PR (it's also tracked in https://github.com/excalidraw/excalidraw/issues/2236).

[2020-12-12 14:01] dwelle commented on #1572
Yep, this is the way to go. The padding was always meant to be a hack, but unless we wanna solve it for every shape, let's just apply the zoom to the padding as well so it's consistent.

[2020-12-12 14:11] dwelle commented on #1572
@luc4leone since you have dibs on this (I missed your comment earlier), lemme know if you wanna work on this :).

[2020-12-12 14:25] steveruizok commented on #1572
PR here: https://github.com/excalidraw/excalidraw/pull/2515

The padding adjustment was pretty straightforward. We're still not looking at the arrowheads though.

[2020-12-12 14:53] Kartik1397 commented on #2232
For this issue I have to add tooltip button (with same effects as shield button) next to embed scene checkbox. Should I create tooltip component mentioned as todo in  https://github.com/excalidraw/excalidraw/blob/8f269eb8408c9ce0d7652f9cfa912395e75eeb43/src/components/LayerUI.tsx#L323

[2020-12-12 15:12] lipis commented on #2232
@Kartik1397 yes.. that's sounds like a good idea and we could use it in other places too probably

[2020-12-12 15:29] Kartik1397 commented on #2232
I have found that, there's already a component named Tooltip which is used to show username of user during collaboration session.
https://github.com/excalidraw/excalidraw/blob/8f269eb8408c9ce0d7652f9cfa912395e75eeb43/src/components/Tooltip.tsx#L10

[2020-12-12 15:35] #1572 closed

[2020-12-12 15:44] dwelle opened #2516 "align arroweheads schemas"
I've completely missed during the review that the schema of `AppState` and `LinearExcalidrawElement` differs.

In `LinearExcalidrawElement` we have:

[code]

while in `AppState` we combine it:

[code]

This makes it hard to work with, and generally introduces and disconnect between the appState and the element type which shouldn't be there.

I propose we either split `currentItemArrowheads` into t

[2020-12-12 15:47] steveruizok commented on #2516
Oh good catch, I switched to `startArrowhead` / end later in that PR to match `startBinding`. I intended to change it everywhere.

[2020-12-12 15:51] dwelle commented on #2516
@steveruizok Actually, if we split the `currentItemArrowheads` as you suggest, we can dispense with the migration as it'll have almost zero effect on users.

[2020-12-12 15:54] steveruizok commented on #2516
I was just checking up on this—I think the only ones that are _used_ are startArrowhead and endArrowhead.

[2020-12-12 16:18] steveruizok commented on #2516
It looks like the `currentItemArrowheads` is just how the arrowheads are stored in client state, so I don't think it will require a migration. (None of the data related to elements would have no change). PR here to fix. https://github.com/excalidraw/excalidraw/pull/2517.

[2020-12-12 16:42] #2516 closed

[2020-12-12 16:58] luc4leone commented on #1572
thanks @dwelle. I was curious about this bug because it's related to the part of the program that I am interested in: the frontend interaction part. If there some other issues you would suggest for me to attack I'll be glad to try ☺️

[2020-12-12 17:20] dwelle commented on #2490
It's all weird.

These lines have the same width (`239px`), but their bounding box is rendered different:

![image](https://user-images.githubusercontent.com/5153846/101990286-644df380-3ca6-11eb-81c1-c95695d38a93.png)

Also, when they're left-aligned, the `x` positions differ slightly for some reason (which is weird again, because visually their bounding boxes are in line):

[code]

[2020-12-12 17:27] dwelle commented on #2487
It's all weird.

These lines have the same width (`239px`), but their bounding boxes are rendered different:

![image](https://user-images.githubusercontent.com/5153846/101990286-644df380-3ca6-11eb-81c1-c95695d38a93.png)

Also, when they're left-aligned, the `x` positions differ slightly for some reason (which is weird again, because visually their bounding boxes are in line):

[code]

EDIT: it ac

[2020-12-12 18:18] lipis commented on #2343
I think it's out of scope for the simplicity of Excalidraw.. you can always undo and we have multiple ways of storing the data.

[2020-12-12 18:18] #2343 closed

[2020-12-12 19:38] mwufi opened #2519 "Do we have a casual chat?"
Question I wanted to ask:

The only place I can see it being used in the LayerUI memo
[code]

[2020-12-12 19:51] mwufi commented on #2454
for font, another idea could be: displaying a letter in that font? (wouldn't be an icon tho)

[2020-12-12 20:23] lipis commented on #2454
Which letter? The last two look very similar..

<img width="207" alt="Screenshot 2020-12-12 at 10 22 51 PM" src="https://user-images.githubusercontent.com/125676/101994114-94a68980-3cc8-11eb-819a-c1c30f59eda3.png">

[2020-12-12 20:55] #2519 closed

[2020-12-12 21:52] Kartik1397 commented on #2232
What would be the prefered style for ℹ️ button?
currently I have made like this...
![Screenshot from 2020-12-13 02-33-28](https://user-images.githubusercontent.com/24036721/101995735-6b9aee80-3cf2-11eb-932b-e8d306f27f85.png)

[2020-12-12 22:03] #2440 closed

[2020-12-12 22:05] mwufi commented on #2454
good point... maybe we can revisit the font thing if we change the normal font to something besides Helvetica :D

[2020-12-12 22:09] dwelle opened #2524 "Stats popup isn't RTL ready"
![image](https://user-images.githubusercontent.com/5153846/101996021-126d9380-3ccf-11eb-940a-fa24065008af.png)

[2020-12-12 22:11] lipis commented on #2454
Yes.. and I don't think that we'll make that change very easily :)

[2020-12-12 22:19] lipis commented on #2232
I'm wondering if a [question mark](https://fontawesome.com/icons/question) would be more appropriate.. (also changing the keyboard icon, but for another PR)

[2020-12-12 22:27] lipis opened #2525 "Shortcuts for RTL languages are not consistent"
How should the be actually is the question :)

<img width="281" alt="Screenshot 2020-12-13 at 12 25 34 AM" src="https://user-images.githubusercontent.com/125676/101996302-e4418100-3cd9-11eb-96f2-45d547225f04.png">

[2020-12-12 22:33] lipis opened #2526 "Make Delete red and add it to the end of the context menu"
Part of #2506, but this could be done separately before the separators.

[2020-12-12 22:43] dwelle commented on #2232
Agreed on question mark, but I'd use this one: https://fontawesome.com/icons/question-circle?style=solid

[2020-12-12 23:02] dwelle commented on #1572
@luc4leone not sure right now. Try to look at our latest issues, see if anything catches your eye and we can discuss it :).

[2020-12-13 12:04] dwelle opened #2528 "`isVisibleElement` broken for non-zero canvas offsets"
Looks like the [zoom-to-center PR](https://github.com/excalidraw/excalidraw/pull/2319/files#diff-75705f52bb37d26369ac21f8ba57eabe51e5c4fdf90f8f4c7d27fd6f04977821R753-R778) broke the `isVisibleElement()` calculation when the canvas has non-zero offsets (passed from upstream via `offsetLeft`/`offsetTop`).

Note, other helpers may be affected as well, didn't check.

Repro:
1. Go to `src/excalidraw-ap

[2020-12-13 12:08] dwelle opened #2529 "inserting library item doesn't work with non-zero canvas offsets"
Inserting library item via click which should insert to canvas center (https://github.com/excalidraw/excalidraw/pull/2527) doesn't work when canvas has non-zero offsets.

/cc @mwufi

Blocked on https://github.com/excalidraw/excalidraw/issues/2528

[2020-12-13 12:37] lipis commented on #2529
How to reproduce this one?

[2020-12-13 12:39] dwelle commented on #2529
Check repro steps for https://github.com/excalidraw/excalidraw/issues/2528 — but it's hard to debug this issue when the element itself is invisible :).

[2020-12-13 12:39] #2524 closed

[2020-12-13 13:06] Jnforja commented on #2528
I'll take care of it. Can you assign this issue to me @dwelle?

[2020-12-13 14:08] ad1992 opened #2531 "Enforce semantic PR title"
As now Excalidraw is a monorepo so it would be better to have semantic PR titles that can be used in the changelog and later can also help in automating the entire release process.

Since we follow `squash and merge` so the pr title ultimately gets used as the commit message so it would also help in deciding whether the next version should be patch/major/breaking version when looking at the change

[2020-12-13 14:16] #2531 closed

[2020-12-13 14:58] Kartik1397 commented on #2232
should I display tooltip for mobile?

[2020-12-13 15:15] dwelle commented on #2232
Let's not display it on mobile for now.

[2020-12-13 17:18] luc4leone commented on #1572
thanks @dwelle, I will!

[2020-12-13 18:21] lipis commented on #2391
we can allow stats now (context menu) and most likely will are not going to complicate the canvas to show extra info

[2020-12-13 18:21] #2391 closed

[2020-12-14 12:54] dwelle opened #2584 "changelog"
We should either remove `/CHANGELOG.md` (or just replace the contents with a link to the other one) in favor of `/src/packages/excalidraw/CHANGELOG.md`, or the other way round.

[2020-12-14 13:09] dwelle commented on #2584
/cc @ad1992 @lipis

[2020-12-14 13:24] #2232 closed

[2020-12-14 13:34] dwelle opened #2585 "resizing pasted graph messes up the lines"
reported by @mwufi in https://github.com/excalidraw/excalidraw/pull/2495#issuecomment-744074717

Repro:

1. copy/paste a graph:
[code]
2. resize the group
3. the lines become invisible

My money is on how the lines are manually constructed, but haven't checked.

[2020-12-14 14:43] lipis opened #2587 "More sophisticated locale coverage report"
We have a [locales-coverage.yml](https://github.com/excalidraw/excalidraw/blob/master/.github/workflows/locales-coverage.yml) workflow that does some magic to decide which languages are going to appear on production.

But right now it's [not very clear which languages](https://github.com/excalidraw/excalidraw/pull/2480/files#diff-16827c628cb7347a4559431dbddfbe12ef5db6c8b3309050db46d2b942d5a036) ar

[2020-12-14 14:51] dai-shi opened #2588 "packages/excalidraw: should hide non-functional buttons"
- shareable link button
- start live collaboration button (unless it's supported from the host)

and maybe something else?

cc @ad1992

[2020-12-14 14:56] Jnforja commented on #2528
I think we can close this :)

[2020-12-14 14:57] #2528 closed

[2020-12-14 15:29] #2585 closed

[2020-12-14 15:34] tomayac commented on #1543
I’m happy to work on this, since on the Chrome team we’re working on adding native tabbed mode. Excalidraw would be a great example to showcase this feature.

[2020-12-14 15:34] lipis commented on #1543
Go for it!!

[2020-12-14 15:36] dwelle commented on #2588
You mean the collab dialog button? I thought we don't render it unless you supply `onCollabButtonClick` prop.

[2020-12-14 15:51] Kartik1397 commented on #2526
Can I work on this issue?

[2020-12-14 15:52] lipis commented on #2526
Sure!

[2020-12-14 22:25] dai-shi commented on #2588
Then, it's just a bug.

<img width="320" alt="image" src="https://user-images.githubusercontent.com/490574/102142920-801fe800-3ea6-11eb-96b9-5e06c0f2873a.png">

[2020-12-14 22:59] #2526 closed

[2020-12-15 07:52] Kartik1397 commented on #2236
Can I work on this?

[2020-12-15 09:40] tomayac opened #2597 "Native Tabbed mode in standalone Excalidraw PWA window"
See this [Web App Manifest Issue](https://github.com/w3c/manifest/issues/737) for more background on this feature and note that this feature is distinct from what is being proposed in #1543.

Think of #1543 more like the same file, but logically split into scenes (like the tabs in a spreadsheet), whereas the present feature is for dealing with multiple files in the same application window, think t

[2020-12-15 09:42] tomayac commented on #1543
We have discussed this on the team chat and came to the conclusion that there are two feature requests. I have opened #2597 for the feature request I have.

[2020-12-15 09:58] dwelle opened #2599 "don't run docker action on PR"
It takes forever and whether it's successful or not is largely independent on the PR. So if it starts to fail (as it sometimes does), it needs to be fixed separately anyway.

I propose we run it in `master` only.

/cc @lipis

[2020-12-15 10:02] luc4leone opened #2600 "Stroke width vs. stroke style"
<img src="https://user-images.githubusercontent.com/2797254/102199593-17dfff00-3ec4-11eb-9114-176acd020173.png" width="300" />

While "Stroke width" changes both the border stroke and the texture stroke, "Stroke style" only changes the border stroke. So, _maybe_

**Stroke width
Border stroke style**

or

**Border and texture stroke width
Border stroke style**

or

**Stroke width (border and textur

[2020-12-15 10:11] dwelle commented on #2597
This sounds like a great addition the our existing PWA capabilities. :+1:

[2020-12-15 10:28] dwelle commented on #2236
Sure.

Make sure this applies:

- The helpers for computing the size (well, I say computing the size, but you'll effectively need to encode and compress it as if doing it for real) will continue to be lazyloaded (via dynamic`import()).
- Don't initialize/load/compute if the checkbox is not checked. This means the `+1kb` label won't show before then, but it will also ensure we don't load & compute

[2020-12-15 12:44] capi commented on #2496
I finally had time to do some experiments. Embedding the fonts directly in the document works fine and makes them self-contained for browser-based engines like Edge and Chrome and Firefox, PowerPoint simply does not support external fonts at the moment.

So for my personal use-case this issue is obsolete, but generally speaking, I still think this would provide value, if the licensing issue can be

[2020-12-15 13:24] #2599 closed

[2020-12-15 15:09] ad1992 commented on #1196
closing this as now we have published [@excalidraw/excalidraw](https://www.npmjs.com/package/@excalidraw/excalidraw) 🎉

[2020-12-15 15:09] #1196 closed

[2020-12-15 15:19] ad1992 commented on #2584
@dwelle @lipis as the first step let's integrate the Github action for semantic pr title?

[2020-12-15 15:25] dwelle commented on #2584
yes, let's start with that. Btw, if possible, I'd choose as few of the commit types as possible. For example, I'm not sure if distinguishing `refactor` and `chore` adds any benefit. Ideally I'd also merge `improvements` into some other type, but not sure.

[2020-12-15 15:44] lipis commented on #2584
I would stick to this list and not reinventing new terms: https://github.com/commitizen/conventional-commit-types/blob/v3.0.0/index.json

`chore` for example is all the dependency updates, translations and others, that is not actually a `refactor`

[2020-12-16 09:43] ad1992 commented on #1542
closing this as now we have published [@excalidraw/excalidraw](https://www.npmjs.com/package/@excalidraw/excalidraw) 🎉 . Please feel free to open a new issue for new features/improvements.

[2020-12-16 09:43] #1542 closed

[2020-12-16 12:01] christophepas opened #2605 "Using Excalidraw embed without serving the assets from root"
Hey there,

I'm using the new `@excalidraw/excalidraw` package currently and am having trouble integrating it as I can't serve the assets straight from my lib and it seems this is currently mandatory.

A possible solution I could see would be to be able to specify an address and serve them from my cdn _for instance, my app runs at slite.com/app, I call the assets at slite.com/cdn/excalidraw-assets

[2020-12-16 12:06] #2507 closed

[2020-12-16 12:10] dwelle opened #2606 "selection should be persisted to history"
To align with standard behavior

[2020-12-16 14:57] dwelle commented on #2605
We're currently hard-coding the base path into CSS/JS files on build. I've pointed out this could be a problem before (we used to server directly from root), but not sure how to go about this apart from passing the resource path in runtime.

That said, I don't have much experience publishing packages which also need a cdn, so if anyone has any ideas how to do this in practice, that'd be great.

/c

[2020-12-16 16:47] ad1992 commented on #2605
I will look into this.
 Since our assets are available at cdn https://unpkg.com/browse/@excalidraw/excalidraw@0.1.1/dist/excalidraw-assets/ so theoretically path in format https://unpkg.com/@excalidraw/excalidraw@0.1.1/dist/excalidraw-assets/i18n-ar-SA-json.js should work, so will try it out.

[2020-12-16 17:04] ad1992 commented on #2584
Yep, +1, better to follow an existing convention (also some users will be familiar with it)  and these would be supported in the Github action out of the box afaik as well so we need not maintain separately.

[2020-12-17 10:11] tomhicks opened #2609 "Suggestion: Separate Excalidraw canvas from application UI"
This would make embedding much more powerful, and let me incorporate my own UI if I wanted to.

For instance, I want to incorporate exaclidraw in my app, but limited to only certain tools, and would like to use my own UI for tool selection.

If this is something that excalidraw thinks would be a useful addition, I would be willing to work on this.

Possible APIs:

Controlled component.
[code]
...

[2020-12-17 20:18] ad1992 commented on #2609
So you want to use Excalidraw for drawing but add on your tools on top of it which can be done using render props.
The other part is to control what all tools(export, save as, etc)  need to be shown, that can be made config based and default the config will show all the existing tools which are shown right now.
We can definitely iterate over the API once we decide to implement this.
@dwelle what d

[2020-12-17 21:51] tomhicks commented on #2609
Maybe, I think maybe I have confused things with my explanation, so let me try again.

To clarify my understanding of how Excalidraw currently works:

- The "ExcalidrawCanvas"
  - takes as input the excalidraw document, mouse/touch input, currently selected tool
  - outputs the drawing to canvas/SVG and emits events like "finished drawing", "selected element", etc.
- The "ExcalidrawUI"
  - takes a

[2020-12-18 09:26] YannBrrd opened #2611 "Feature request : add a save to Gitlab|Github|Google Drive option"
Hi,

What about adding a "Save to..." Gitlab/Github/Drive feature to foster collaboration on the files long term ?

I would like to have this (kinda same as draw.io feature).

WDYT ?

[2020-12-18 09:54] lipis commented on #2611
Duplicate of #2060

[2020-12-19 10:13] christophepas opened #2613 "Zindex are not reflected in collaboration"
Here is a test ran with 2 clients in parallel, sending an element all the way  back in client 1 doesn't reflect in client 2.

![CleanShot 2020-12-19 at 11 04 25](https://user-images.githubusercontent.com/6739099/102686869-e8decb80-41ea-11eb-8829-2bd054ee2e88.gif)

[2020-12-19 10:26] dwelle commented on #2613
Duplicate of https://github.com/excalidraw/excalidraw/issues/1376 — as a matter of fact I discussed this just yesterday, and it definitely needs to be resolved soon. It's not exactly trivial to do this with our new reconciliation algo while not compromising on speed, but truth be told I haven't put much though into this yet. The linked issue contains requirements we need to meet.

[2020-12-19 10:26] #2613 closed

[2020-12-19 11:14] ad1992 commented on #2605
@christianalfoni could you try out `aakansha-excalidraw@0.2.1-cdn`, this will serve assets directly from CDN  https://unpkg.com  so you need not copy it anymore or serve from your CDN.

[2020-12-19 13:52] #2587 closed

[2020-12-19 19:20] vjeux opened #2617 "Improve error message when importing image"
A co-worker tried to import images and was confused by the error message. It talks about raw scene data but the person didn’t understand it. They wanted to add a normal image.

The left menu disappeared as well which is probably a bug. It reappeared after refresh.

![B636D4F0-236A-4E47-BB2D-BAF332CF054F](https://user-images.githubusercontent.com/197597/102697575-9a7dfc80-41eb-11eb-9759-47c67da969b

[2020-12-19 19:22] dwelle commented on #2617
Can't repro the menu disappearing issue.

[2020-12-19 19:24] dwelle opened #2618 "improve library performance"
When you have too many or too complex items in the library, it tends to have very poor performance.

I suggest 2 things:

- [ ] Split the rendering of each item ((or a group of items) into individual animation frames so that opening the library doesn't leave users staring at a blank library for a long time.
- [ ] Cache rendered canvases for each item separately so that repeatedly opening the libra

[2020-12-20 14:15] dwelle commented on #2588
The second part is now fixed as well (https://github.com/excalidraw/excalidraw/pull/2612), awaiting release.

[2020-12-20 14:15] #2588 closed

[2020-12-20 15:11] #2617 closed

[2020-12-20 17:31] lipis commented on #1879
We'll stick to what we have.

[2020-12-20 17:31] #1879 closed

[2020-12-20 17:32] lipis commented on #1877
This is out of scope for the core team.. if anyone is interested we're happy to help.

[2020-12-20 17:32] #1877 closed

[2020-12-20 17:33] lipis commented on #1340
I think this is implemented already.

[2020-12-20 17:33] #1340 closed

[2020-12-20 17:35] lipis commented on #1765
We'll stick to what we have. Thank you!

[2020-12-20 17:35] #1765 closed

[2020-12-20 17:36] lipis commented on #1537
This should work now..

[2020-12-20 17:36] #1537 closed

[2020-12-20 17:38] lipis commented on #1857
Quite generic.. report back if you are still in trouble.

[2020-12-20 17:38] #1857 closed

[2020-12-20 18:14] lipis commented on #1718
This is outdated.. we don't have a list of stored files anymore.

[2020-12-20 18:14] #1718 closed

[2020-12-20 18:15] lipis commented on #1355
Is that still an issue?

[2020-12-20 18:15] #1355 closed

[2020-12-20 18:20] lipis commented on #2408
As long as you keep the URLs safe, nobody can guess them or access them. We are not sharing the keys with our backends and the decryption is happening client side.

[2020-12-20 18:20] #2408 closed

[2020-12-20 20:04] ReneCode opened #2641 "context-menu: center the shortcut text"
because of the reduced font-size of context-shortcut-text it is not perfectly centered.

https://user-images.githubusercontent.com/1595098/102723209-c641d500-4306-11eb-8edf-91886c38bc32.mov

[2020-12-20 20:15] #2641 closed

[2020-12-20 20:17] lipis commented on #1206
We are sticking to current behaviour for now. Maybe this is related #2458

[2020-12-20 20:17] #1206 closed

[2020-12-20 20:25] lipis opened #2643 "Add support for states in context menu instead of the word toggle"
Let's have something like this

[code]

instead of the current menu

[code]

It's also hard to translate those for no reason.

[2020-12-20 20:28] ReneCode commented on #2643
That is a very good idea that improves the UI.

can I do it ?

[2020-12-20 21:11] ReneCode commented on #2643
would look like:

https://user-images.githubusercontent.com/1595098/102724509-43257c80-4310-11eb-9506-2dbd4a7a2c22.mov

[2020-12-20 22:20] #2643 closed

[2020-12-20 22:26] lipis opened #2646 "Hide shortcuts on mobile view in context menu"
![102725918-1f1f6680-4323-11eb-96be-e4934807a7d9](https://user-images.githubusercontent.com/125676/102773997-cedfed00-4392-11eb-84e2-9d3031be82ba.png)

[2020-12-21 01:36] vjeux opened #2647 "Reduce over rendering when loading a room scene"
We should be rendering once or twice, not 6 times when loading a scene from a room.

![image](https://user-images.githubusercontent.com/197597/102730350-52dd9a80-42e9-11eb-9e38-7d0d102b6e28.png)

[2020-12-21 06:28] christophepas commented on #2605
You meant to mention me, right? 😅  I'll try today!

[2020-12-21 06:31] christophepas commented on #2613
Thanks for the swift reply, indeed a tricky one.

[2020-12-21 07:01] christophepas commented on #2605
I might be off but I believe you tried to mention me maybe? 😅 If so, just tried & works on my end!

[2020-12-21 10:51] dwelle commented on #2647
After https://github.com/excalidraw/excalidraw/pull/2644/files is merged, I'll take a look at the refactor I promised, and when the dust settles, we can start optimizing.

But, we should measure how much these rerenders impact actual performance, or more importantly, perceived performance. For example, we shouldn't care about saving CPU cycles when we're actually waiting for server response.

From

[2020-12-21 11:39] harshilparmar commented on #2646
@lipis Can you elaborate more ? I want to take this issue.

[2020-12-21 11:45] lipis commented on #2646
We should hide the shortcuts when on mobile view.. I updated the description.

[2020-12-21 12:27] #1247 closed

[2020-12-21 12:28] #1259 closed

[2020-12-21 13:05] lipis opened #2649 "Add keyboard shortcuts for updating the properties"
We already have shortcuts for the dropdowns in colors and arrowheads, but let's take it to another step and add a few more shortcuts for updating the properties without a mouse.

It was initially suggested in #1104 by @vullankib, where you can find more details.

It can be done in steps, and this issue is here to cover all cases. It will be updated as we go.

|                    | Property

[2020-12-21 13:05] lipis commented on #1104
Closing this in favor of #2649 where I gathered all the information from this issue.

[2020-12-21 13:05] #1104 closed

[2020-12-21 15:29] mtsgeneroso opened #2651 "Request to add Brazilian Portuguese"
Hi guys! I'd like to contribute with brazilian portuguese (pt-br) translation.

Could you add on the list?

[2020-12-21 15:34] lipis commented on #2651
Should we prefill with our Portuguese translations for it?

[2020-12-21 15:38] mtsgeneroso commented on #2651
Yes, it will be more easier to translate and adjust.

[2020-12-21 15:40] lipis commented on #2651
And how would it appear in the language selector?

[2020-12-21 15:41] lipis commented on #2651
Here you go: https://crowdin.com/translate/excalidraw/10/en-ptbr

[2020-12-21 15:42] mtsgeneroso commented on #2651
Can be: Português Brasileiro

[2020-12-21 15:43] mtsgeneroso commented on #2651
Thanks!

[2020-12-21 15:44] dwelle opened #2652 "`Browse libraries` link doesn't account for scrollable library"
![image](https://user-images.githubusercontent.com/5153846/102794457-b4663d80-43ab-11eb-9139-bb007ad9cc62.png)

![image](https://user-images.githubusercontent.com/5153846/102794461-b6300100-43ab-11eb-8de0-12d37425b775.png)

[2020-12-21 15:45] #2651 closed

[2020-12-21 15:45] lipis commented on #2651
Happy, translating!

[2020-12-21 15:47] dwelle opened #2653 "make library items filterable"
When you have lots of library items, especially when you import 3rd party libraries, it'd be useful to filter items. Coupled with item previews sometimes not being descriptive (too small preview), finding the right item can be a pain.

I propose we track `keywords: string[]` in library items for that purpose.

For a start, I'd not add any UI for adding those keywords from the app itself, but make

[2020-12-21 17:05] lipis commented on #1561
Hey @HerbCaudill, we've updated quite a few strings.. could you give us a hand again with Catalan? https://github.com/excalidraw/excalidraw/pull/2620

[2020-12-21 18:57] Kartik1397 commented on #2506
Can I work on this?

[2020-12-21 19:02] lipis commented on #2506
Please do!

[2020-12-21 19:04] kbariotis commented on #2506
Go for it @Kartik1397, the main component for the context menu is [this one](https://github.com/excalidraw/excalidraw/blob/master/src/components/ContextMenu.tsx) and is being called primarily from the [App like here](https://github.com/excalidraw/excalidraw/blob/master/src/components/App.tsx#L3623).

[2020-12-21 19:12] ReneCode commented on #2646
@harshilparmar you can contact me - I've done it before, but it seems that it is lost on merging that red ``delete``item.

[2020-12-21 19:39] ReneCode commented on #1950
That bug is gone / solved. Now it works fine.

[2020-12-21 19:40] #1950 closed

[2020-12-21 19:50] ReneCode commented on #1610
bug is still there - width will be infinity.
element can't be resized any more.

![image](https://user-images.githubusercontent.com/1595098/102816237-fa33fd80-43cd-11eb-972a-9c49a69a0046.png)

[2020-12-21 20:07] lipis commented on #1610
Thanks @ReneCode. That's a clue..

[2020-12-21 20:08] ReneCode commented on #1610
good to have that ``stats for neds``  - it helps a lot.

[2020-12-21 20:12] ReneCode commented on #1990
the cut-off of the text (p-letter) is fixed.
but there is still a mismatch text - function
- text say: "hold Option to resize from the center"
- behaviour: hold Alt to resize from the center

[2020-12-21 20:14] lipis commented on #1990
@ReneCode  Are you on macOS?

[2020-12-21 20:15] ReneCode commented on #1990
yes, I do

[2020-12-21 20:41] lipis commented on #589
I actually expected that as a result.. I scroll and then adjust the width/height :)

Either case it's an edge case.. let's close this.

[2020-12-21 20:41] #589 closed

[2020-12-21 20:43] lipis commented on #1285
This is not reproducible anymore.

[2020-12-21 20:43] #1285 closed

[2020-12-21 20:43] #792 closed

[2020-12-21 20:53] vjeux commented on #2647
One of them changes the scroll position which makes it feel jumpy. We should fix that one first.

But in general, we need to be careful about re-rendering. It’s one part that is fragile in our system. It’s very easy to add too many full re-renders and cause bad performance.

[2020-12-21 21:36] lipis commented on #2323
@vjeux can you reproduce this?

[2020-12-21 21:46] dwelle commented on #2647
Interesting, that shouldn't happen. How can I repro that?

[2020-12-21 23:21] vjeux commented on #2323
I haven't been able to reproduce unfortunately :(

[2020-12-21 23:24] lipis commented on #2323
Let's close it then. @rauchg feel free to report back and steps to reproduce it if it's still happening.

[2020-12-21 23:24] #934 closed

[2020-12-21 23:28] j-f1 commented on #967
This is done

[2020-12-21 23:28] #967 closed

[2020-12-21 23:29] #1153 closed

[2020-12-21 23:41] #2323 closed

[2020-12-22 09:34] #1442 closed

[2020-12-22 10:33] lipis commented on #2506
@Kartik1397 If you're working on it.. create an early draft so we can test/review early if there are choices to be made :)

[2020-12-22 11:56] Kartik1397 commented on #2506
Sure @lipis, I will open [WIP] PR as soon as I make some progress.

[2020-12-22 19:39] ad1992 commented on #2605
yep, sorry for the type 😂 . Thanks for confirming 👍

[2020-12-23 17:20] arnoob16 commented on #2652
Can you elaborate on how can I reproduce this issue, and what should it be like when the issue is resolved?

[2020-12-24 10:59] dwelle commented on #2652
The link shouldn't have fixed position, covering the scrollbar.

You can reproduce by adding enough items into the library so that scrollbar appears. You can load a few of the libraries from https://libraries.excalidraw.com/ to quickly populate your library.

It's also possible that on your OS (e.g. Mac if you don't use a mouse) you have `overlay` scrollbars, which I learned just yesterday. If tha

[2020-12-24 19:05] vjeux opened #2664 "Feedback when copying to clipboard"
Would be great to add some kind of toast when we do shift-option-c to copy to clipboard. It's not clear that it's working right now.

[2020-12-24 19:12] lipis commented on #2664
Speaking of toasts.. saw recently a tweet by @steveruizok

https://twitter.com/steveruizok/status/1341665194733387777

(probably adding a library just for it.. it's not worth it though.. but it looks nice)

[2020-12-24 19:15] rish07 commented on #2664
If there is a possibility of adding this feature, @lipis I would like to work on it

[2020-12-24 19:17] vjeux commented on #2664
@rish07 would be awesome! But let's not go overboard and keep the implementation simple :)

[2020-12-24 19:19] rish07 commented on #2664
@vjeux Thanks for the quick reply. I am new to typescript and have only been a user of excalidraw but I am familiar with frontend dev in flutter. And I see this as an opportunity to learn something new. Could you help me with how to get started on this?

[2020-12-24 19:32] steveruizok commented on #2664
Toasts are fun. They can create some tricky animation problems when you have more than one on the screen at once because you need to FLIP current toasts to new their new position when older toasts disappear. See that example @lipis posted above.

We could simplify the problem by having only one toast on the screen at a time and making new toasts occlude / dismiss earlier ones. We could also have a

[2020-12-24 19:36] steveruizok commented on #2664
Are there other places in the app where we might want to toast a message? Maybe when a contributor joins, or when a project is copied / exported?

[2020-12-24 19:41] lipis commented on #2664
When someone joins is a good idea.. maybe also when copying styles. We could use it in other places for sure.

[2020-12-24 19:42] lipis commented on #2664
Yeah.. we should keep it simple. One toast at the time is more than enough..

[2020-12-24 19:48] rish07 commented on #2664
@steveruizok Since I am new to this framework, how about you add a toast for when someone joins in and I'll follow your lead to implement similar thing for copy feature.

[2020-12-25 07:22] vmkazakoff commented on #1428
And we also need wrap text inside box. And (maybe) adjust font-size.

![image](https://user-images.githubusercontent.com/5445543/103125086-0b655e80-469b-11eb-9535-e3e0df55ad8b.png)

[2020-12-25 08:43] harshilparmar commented on #2646
@lipis I am using ```const isMobile = useIsMobile();``` to check weather its mobile view or not. But Its not getting updated to true 😅
Correct me if I am wrong 😀

[2020-12-25 09:48] ReneCode commented on #2646
@harshilparmar  use:
[code]
in ``ContextMenu.scss``

[2020-12-25 10:24] harshilparmar commented on #2646
@ReneCode  thanks 👍🏼

[2020-12-25 18:21] lipis commented on #690
This should be fixed now!

[2020-12-25 18:21] #690 closed

[2020-12-26 12:38] pascal71 opened #2671 "Excalidraw hangs on Samsung FLIP2 smart board"
Good morning,

When opening excalidraw URL on the Samsung FLIP smart board, it hangs. (loading screen does not go away).

Any idea what causes it to hang? Any diag info that I can deliver to you. Would be a great opportunity for both Excalidraw and Samsung it it would also work on these smart boards.

Kind regards,

   Pascal van Dam

[2020-12-26 12:55] dwelle commented on #2671
Are you able to open up a browser console (F12) and check if any errors are printed? If you can't, and it does throw some error that would be logged to Sentry (our bug tracker), we'd need something to help identify your device.

[2020-12-26 19:25] #2646 closed

[2020-12-27 13:18] lipis opened #2678 "Put all media queries in constants and. unify if it makes sense"
<img width="354" alt="Screenshot 2020-12-27 at 3 17 57 PM" src="https://user-images.githubusercontent.com/125676/103171659-b66e4780-4856-11eb-86b2-946c84684b1e.png">

[2020-12-27 13:25] dwelle commented on #2678
In either case, we should rename the `media-query` variable :smile:

[2020-12-27 13:54] lipis commented on #2678
Something for @j-f1 to think about :)

[2020-12-27 13:55] j-f1 opened #2679 "Paste for chart not working in mobile Safari"
The “Paste” option is not visible in the context menu. Cc @lipis

[2020-12-27 21:27] #2678 closed

[2020-12-27 22:47] lipis commented on #1810
Closing this umbrella in favor of https://github.com/excalidraw/excalidraw/issues/2009 #2663

[2020-12-27 22:47] #1810 closed

[2020-12-28 02:38] lwb52 opened #2688 "no PWA install option via any chrome-based browser, or Safari, in iOS14 or OSX10…"
VERY odd behavior:
initially: no PWA install option in 3 chrome browsers or Safari under iOS14, or Safari under OSX10…
THEN hours later WAS able to install via OSX10 Chrome—AFTER stopping all ad/pop-up/tracker-blockers (turned them all back on, of course), BUT the ”app” did not function (they both started, but quickly Chrome, then immediately thereafter, the ”app” were unresponsive)…
SO, re-tried

[2020-12-28 12:14] #1343 closed

[2020-12-28 19:50] dwelle commented on #2688
I'm having some issues too. Installing on Chrome (87.0.4280.88) seems not to work and shows as uninstalled until you refresh. Doesn't happen on Edge (Chromium: 87.0.664.66) nor Brave (Chromium: 87.0.4280.101).

/cc @tomayac

Urelated: the UX of opening the website in a PWA isn't the best. I've tried clicking the app and it does nothing, and requires you to click "open" button which I didn't notice

[2020-12-29 08:00] satnamsvirdi opened #2690 "Add Punjabi language"
Hello Excalidraw Team,

I am willing to translate your project into Punjabi (pa_IN). Please provide me further details.

Regards

[2020-12-29 11:20] dwelle commented on #2690
Here you go: https://crowdin.com/translate/excalidraw/10/en-pain

How do you say "Punjabi" in Punjabi, for the language picker?

Thanks

[2020-12-29 12:43] s-pic opened #2691 "Docker build fails"
## Type of Issue

Bug (eventually)

## Background info

I would like to run excalidraw locally (MacOS) using Docker.
The build fails with an error that suggests that either there is not enough memory or someone explicitly killed the process.
I can exclude both reasons, since I am working alone on a fresh MacBook with 32gb of RAM and a lot of free disk space.

## Log

[code]

## Findings
- The requ

[2020-12-29 13:18] kbariotis commented on #2691
Thank you @s-pic, you said that you're using a MacBook with 32gb of RAM but can you check how much memory is assigned to Docker? I'm assuming you're using Docker for Mac. There is an option to adjust that on the settings (click on the tray icon). How much is that set to and can you try increasing it? Thanks

[2020-12-29 14:04] s-pic commented on #2691
Hey @kbariotis , thanks for the hint! Increasing the RAM limit from 2 to 4 GB did the job.

[2020-12-29 14:04] #2691 closed

[2020-12-30 18:45] dwelle opened #2692 "export `restore` methods from excalidraw package"
We should reexport `restore`, `restoreElements`, and `restoreAppState` from excalidraw package.

/cc @ad1992

[2020-12-31 23:53] bodymovin commented on #2652
@dwelle would wrapping the two `ToolButton` and the `a` tag in a div to use `display: flex` be a good option?

[2021-01-01 20:47] ReneCode opened #2693 "Selection is broken after Undo"
- select one or multiple elements
- align elements (or anything else on selected elements)
- Undo
- => the selected elements are no more selected,
 (only one element is selected, or nothing if the page was refreshed before)

https://user-images.githubusercontent.com/1595098/103445928-eb750280-4c79-11eb-96a9-078aaa5ef214.mov

[2021-01-01 22:31] benjakugler96 commented on #2652
Hello @lipis ! I created this pull request https://github.com/excalidraw/excalidraw/pull/2694 to work around this issue.

![browse-libraries](https://user-images.githubusercontent.com/53273645/103447293-d8f1cd80-4c67-11eb-8be4-2d3d7ae85e61.gif)

[2021-01-02 10:05] dwelle commented on #2693
Yea, this is a duplicate of https://github.com/excalidraw/excalidraw/issues/2693 — it seems I wanted to fix that but somehow didn't get time. I'll see what I can do.

[2021-01-02 10:05] #2693 closed

[2021-01-02 12:50] dwelle opened #2695 "Public fonts can't be resolved in CRA@4"
[code]

When importing `"@excalidraw/excalidraw/dist/fonts.min.css";` in a CRA@4 app. See https://github.com/facebook/create-react-app/issues/9870

Haven't dug deep. Quick skim of CRA docs it seems they no longer allow referencing root/public paths from CSS files, though as per custom, it's not stated clearly anywhere so you have to read between the lines. Also, no mention in release notes.

For n

[2021-01-02 16:13] #2652 closed

[2021-01-02 16:15] dwelle commented on #2690
@satnamsvirdi still interested?

[2021-01-02 16:16] dwelle commented on #2458
@mwufi still wanna work on this?

[2021-01-02 16:41] satnamsvirdi commented on #2690
Yes, I am fully excited to make Excalidraw speak my language.

Punjabi is spelled as ਪੰਜਾਬੀ in Gurmukhi script.

[2021-01-02 16:42] satnamsvirdi commented on #2690
Thanks @dwelle

[2021-01-02 17:01] dwelle commented on #2690
Thanks, added.

[2021-01-02 17:01] #2690 closed

[2021-01-02 17:08] dwelle commented on #2690
You can monitor the status of your translation here: https://github.com/excalidraw/excalidraw/pull/2681

![image](https://user-images.githubusercontent.com/5153846/103462443-7bbc5180-4d25-11eb-9039-7fae3f807f87.png)

85% and above will make it to the production

[2021-01-03 16:36] aboutte opened #2703 "Helm chart?"
I have been using excalidraw for the last few months and have been loving it!  I am getting ready to move my installation from a local docker deployment to a permanent k8s cluster deployment.  I have been looking for a helm chart but have not found one.  Am I missing a helm chart somewhere?  If not I will start working on one and contribute it back.

[2021-01-03 16:54] dwelle commented on #2703
Can you show an example of how that looks like, how would the implementation look like, what are the use cases?

[2021-01-03 21:18] NMinhNguyen commented on #2584
Having used conventional commits for changelog generation extensively at work (via Lerna) and recently having tried https://github.com/atlassian/changesets, I'd say that the Changesets flow is preferable because commit messages can't easily be edited once they land on the main branch (you have to rewrite history causing conflicts for others), and generally speaking commit messages (or PR titles) a

[2021-01-04 00:43] aboutte commented on #2703
# Examples of how this would work:

1. (most simple)

Deploying excalidraw with all of the helm chart defaults will result in getting a `NodePort` and ecalidraw will be reachable via the port on any of the k8s nodes

2. (most ideal)

With some additional inputs from the user excalidraw can be reachable with an FQDN and protected with an SSL certificate

# Implementation

To start I would recommend

[2021-01-04 00:51] aboutte commented on #2703
docker-postfix is a pretty good example of what I would like to see here at excalidraw.

Simple one line helm install:
https://github.com/bokysan/docker-postfix#tldr

helm sub dir:
https://github.com/bokysan/docker-postfix/tree/master/helm/mail

[2021-01-04 06:16] tommoor opened #2706 "Embedding share links"
Hey everyone 👋  – love the project and I've been looking at supporting embedding Excalidraw(ings) inside [Outline](https://github.com/outline/outline), the embed setup is easy on Outline's side and I had something hooked up in 10 minutes, however the way that Excalidraw loads data leads to a very confusing user experience.

### Example Scenario 1

- I create a drawing on excalidraw.com
- Go to "Ex

[2021-01-04 09:21] dwelle commented on #2703
Oh, ok. I had no idea what we were talking about here, not being Docker user myself. I'll forward this to @kbariotis :smile:

[2021-01-04 17:47] DandyDev commented on #1772
I just wanted to chime in here. I think environment variables is still the most deployment-friendly way to configure things. Of course, these environment variables cannot be read at runtime by code running in the users browser. Having NGINX serve a config file that is mounted in the Docker container, is one way of solving this. A variation on that idea that goes back to the idea of environment var

[2021-01-04 17:53] davidkpiano opened #2708 "Double-clicking and dragging goes into unexpected text mode"
See below for reproduction:

![excalidraw-bug](https://user-images.githubusercontent.com/1093738/103563918-9f011100-4e8b-11eb-82bf-b04f61b0ed04.gif)

1. Double-click anywhere
2. Start dragging
3. Release mouse

**Expected:** Double-click ignored; in "selection mode"
**Actual:** Double-click registered; in "text insertion mode"

[2021-01-04 18:11] dwelle commented on #2708
Definitely the double-click should be ignored if you start drag-selecting. :+1:

[2021-01-04 18:13] sojusnik opened #2709 "Show changes made after last visit in collaboration mode"
When collaborating with others, it would be very handy to know, what changes did occur after one's last visit. Therefore, I propose to somehow highlight the modified elements on the whiteboard, when opening a whiteboard in collaboration mode.

[2021-01-04 18:19] sojusnik opened #2710 "Add an ability to add comments"
Especially when collaborating, the ability to comment elements on a whiteboard would rock!

I'm thinking of comments like it's done in Google Docs or [Nuclino](https://www.nuclino.com/). For the latter see [here](https://help.nuclino.com/a6f815d8-comment-on-content) and [here](https://help.nuclino.com/bf0981c1-comment-on-items) for a good description.

[2021-01-04 19:25] thierryc opened #2711 "Allow to use Excalidraw to draw over a Map Background (google ou any other option)."
Hello, 👋

1st. I love Excalidraw as a designer I like simple and efficient tools. For me, only one tool is missing.
The vector (draw) tools. (Like Sketch, Glyphs or Illustrator.)

I am working on an open source side project.
For this project I would like to use Excalidraw as a drawing tools on a map (Google Map or any other map).

I would like to be able to set and get the coordinate of some objec

[2021-01-04 22:21] lipis commented on #2711
Have you tried our recently release package?

https://github.com/excalidraw/excalidraw/tree/master/src/packages/excalidraw

[2021-01-04 22:35] kdueber opened #2717 "Font is fuzzy"
**Problem**

When the text isn't focused or highlighted, it is fuzzy.
When I highlight the font with my cursor it isn't fuzzy.

<img width="254" alt="image" src="https://user-images.githubusercontent.com/71530103/103586497-30d04480-4eb3-11eb-8a01-1da81e15dc00.png">

[2021-01-04 22:39] sojusnik commented on #2717
Yes, I also observe this, but without focusing/selecting text. So some parts of a text are crispy and some are blurred :/

I think it has something to do with Firefox (ob Ubuntu). What's your OS and browser?