[2020-01-02 01:24] vjeux opened #2 "Implement 2x upscaling"

[2020-01-02 01:25] vjeux opened #3 "Fix annoying text selection"

[2020-01-02 01:25] vjeux opened #4 "Implement proper text sizing"

[2020-01-02 02:06] vjeux commented on #4
Done

[2020-01-02 02:06] #4 closed

[2020-01-02 02:06] vjeux opened #5 "Handle negative width correctly"

[2020-01-02 04:13] vjeux commented on #5
Fixed by https://github.com/vjeux/excalibur/commit/4076cf003fc05904b81649091e669bf78e677710

[2020-01-02 04:13] #5 closed

[2020-01-02 04:14] vjeux commented on #3
Fixed by https://github.com/vjeux/excalibur/commit/aeb11989e378c02d6824f50076b091784a14daf9

[2020-01-02 04:14] #3 closed

[2020-01-02 04:39] vjeux commented on #2
Solved by https://github.com/vjeux/excalibur/commit/bd515f7e50747356765dddb070364e5494b9fd64

[2020-01-02 04:39] #2 closed

[2020-01-02 04:40] vjeux opened #6 "Handle mouse move/up outside window"
We need to attach the listener to window instead of the canvas. I need to get better at hooks to make it work...

[2020-01-02 05:46] vjeux commented on #6
Fixed by https://github.com/vjeux/excalibur/commit/457800caa369bdb358727eeb3f193490d4400984

[2020-01-02 05:46] #6 closed

[2020-01-02 06:21] vjeux opened #7 "[TODO] Copy paste"

[2020-01-02 06:21] vjeux opened #8 "[TODO] Undo redo"

[2020-01-02 06:22] vjeux opened #9 "[TODO] Path-dependent hit testing"
For lines (arrow, circle, rectangles), we should only hit test when you are within X pixels of the line and not everywhere in the whitespace

[2020-01-02 06:23] vjeux opened #10 "[TODO] Add pane to change options"
roughjs has a bunch of options regarding line width, stroke/bg color, various patterns/roughness... We should add a pane where we can modify all those values for each element.

[2020-01-02 06:23] vjeux opened #11 "[TODO] Ability to click to select"
Right now we can only select using drag. If we click (not drag) on something, it should select it

[2020-01-02 06:24] vjeux opened #12 "[TODO] drag to move selection"
We should be able to move selected elements by dragging them

[2020-01-02 06:25] vjeux opened #13 "[TODO] Zoom in/out"
Would be nice to be able to zoom in / out for the canvas. This way we can see different parts of the scene.

[2020-01-02 06:27] vjeux opened #14 "[TODO] Scroll"
Ideally we want an infinite canvas where you can draw anywhere. In order to avoid people from getting lost, we could only make the canvas exist for half a screen around the closest object. If you draw something on the edge, it automatically expands it.

[2020-01-02 06:28] vjeux opened #15 "Add rotation"
Zwibbler allows you to rotate all the elements. I'm not sure I've ever used it and it's been more annoying in my experience. Creating an issue to think about it

- [x] Rotate any element
- [x] Lock on 0, 45, 90, 135, 180, etc

[2020-01-02 06:29] vjeux opened #16 "[TODO] Ability to save/share/load scenes"
This is going to be super useful

[2020-01-02 06:29] vjeux opened #17 "[TODO] Save current scene in localStorage"
So we don't lose it if the tab is closed

[2020-01-02 06:30] vjeux opened #18 "[TODO] Add warning before quitting if pending modifications"
Need to think how it works with saving

[2020-01-02 06:31] vjeux opened #19 "[TODO] Import images"
This would be nice, but may be annoying to implement persistence with it

[2020-01-02 06:32] vjeux opened #20 "[TODO] Resize handles on elements"
So we can easily resize rectangles, circles... We shouldn't do it for text.

We need to make sure that if the element is small, we can still move it instead of resizing it. It's going to be an interesting UX challenge with the hit targets.

[2020-01-02 06:33] vjeux opened #21 "[TODO] z-index support"
Need at bare minimum a way to do send to back, move to front.

[2020-01-02 06:33] vjeux opened #22 "[TODO] Opacity support"

[2020-01-02 06:34] vjeux opened #23 "[TODO] Save as png"
Generating a png out of the canvas we created. We'll need to be smart about removing empty whitespace

[2020-01-02 06:35] vjeux opened #24 "Multi-point line"
Not sure if it's super useful but zwibbler supports it. Maybe we worth also having a smooth one using bezier curves

[2020-01-02 06:36] vjeux opened #25 "Free draw"
Not sure if super useful (I've never been able to draw in a reasonable way using a mouse / touchpad) but may be worth adding

[2020-01-02 06:40] vjeux opened #26 "[Maybe] Wysiwyg text"
Instead of using `prompt`, could we overlay a real text input with the right font and position so that the user can edit it and see the result instantly.

Note: this is opening a big can of worms so will need to be careful

[2020-01-02 08:45] TimonVS opened #27 "Keyboard shortcuts for shapes"
Great project! It'd be nice to have keyboard shortcuts so that you don't have to move your mouse up and down the whole time. I'd propose: R for rectangle, O for oval, A for arrow, T for text. This should also feel familiar to people coming from Sketch as it's the same, except for A (A is for Artboard in Sketch, there's no shortcut for creating an arrow).

[2020-01-02 11:52] giovannigiordano commented on #7
I think this one can be done after #11

[2020-01-02 13:46] vjeux commented on #27
Agreed! Pull request would be welcome!

Also, we could underline the letter like Windows 95 :)

[2020-01-02 13:58] #12 closed

[2020-01-02 14:26] vjeux commented on #27
I didn’t think about artboards but that could be useful

[2020-01-02 14:44] #23 closed

[2020-01-02 15:16] imbsky opened #32 "Add user-select property"
All the options are selected by just double-clicking somewhere, so I think we need to disable it with `user-select`. I'm already ready to open PR for this.

[2020-01-02 15:20] giovannigiordano opened #33 "[Improvement] Selection works only if element is fully inside selection area"
As the title says, the selection of elements works only when the elements are fully inside the selection area.
It should work even if there is only an intersection between the selection area and the elemen.

[2020-01-02 15:25] vjeux commented on #32
I was hoping we could avoid doing that. Maybe adding event.preventDefault() to canvas mouse handlers would work?

[2020-01-02 15:30] dwelle commented on #32
That'd work, but clicks/drags on the labels would still select them. Is there any accessibility downside to disabling `user-select` on the labels?

[2020-01-02 15:33] AndreBastos23 opened #34 "[Maybe] Typescript support"
In my opinion, since this project will be developed by multiple people, i think we would benefit a lot by having typescript support.

I know people have strong opinions on typescript, but it makes it easier for multiple people without project context to integrate themselves on it.

Just food for thought :)

[2020-01-02 15:36] vjeux commented on #33
This is actually intentional. I find it annoying on other drawing apps to select a few elements inside of a box. Whenever you start selecting anything you also select the box.

This is unconventional but I think it’s better for this use case.

Maybe there are other ways to workaround this issue

[2020-01-02 15:39] vjeux commented on #34
I think that’s a good idea. If you or anyone else is interested in adding typescript that would be welcomed :)

[2020-01-02 15:46] dwelle opened #35 "Project structure"
Let's discuss (and aggregate issues on) project structure, styleguide, etc.

- [x] Add Prettier.
- [x] Move to [TypeScript](https://github.com/vjeux/excalibur/issues/34).
- [x] ESLint (IMO, at least for react)?

# To be decided

- [ ] Currently, we're using classical React. Do we want to move to hooks?
- [ ] Testing. Jest? (actually, don't think we'll be able to test canvas workflow in Jest.)

[2020-01-02 16:07] AndreBastos23 commented on #35
IMO we should migrate to functional react, i dont see any benefit is us having this in classes. Maybe @vjeux could clarify if we have any technical blocker to migrate this to hooks.
I also think we should add eslint, it would help us alot when this project grows.
(In case we decide to add eslint) - We could also add a pre-commit hook using husky to lint and prettify the code before commiting.

[2020-01-02 16:07] giovannigiordano commented on #11
I've missed something

[2020-01-02 16:22] AndreBastos23 opened #36 "[TODO] Elements array should be a component variable, not a global one"
Right now the elements array is a global variable. This works fine if we only have 1 file, but since we're going to get more and more files, we should move this inside the React scope, so components can re-render when necessary if this array changes.

My idea was to move this inside a useReducer hook, to make this elements available to all the children without having to pass then down using props.

[2020-01-02 16:22] AndreBastos23 commented on #36
@vjeux @dwelle @nanot1m @giovannigiordano What do you guys think about this?

[2020-01-02 16:34] giovannigiordano commented on #36
@AndreBastos23 yeah. I think we should move elements to React state so the changes would be more predictable.

[2020-01-02 16:46] vjeux commented on #35
I started with hooks but couldn’t figure out how to read up to date variables when using addEventListener for window mousemove. If you can make it work that’d be awesome :)

https://github.com/vjeux/excalibur/commit/457800caa369bdb358727eeb3f193490d4400984

[2020-01-02 16:48] vjeux commented on #35
I’d be happy with eslint, prettier, typescript and jest

[2020-01-02 16:49] vjeux commented on #36
Agreed! I started without react for the draw loop and then kindof added it but didn’t fully go with it. I think it makes a lot of sense

[2020-01-02 16:52] AndreBastos23 commented on #36
@vjeux dont know if you can help me, but could you explain to me what the drawScene function is supposed to do?

[2020-01-02 16:54] vjeux commented on #32
That’s why I asked in the other PR if there were best practices dealing with keyboard / mouse inputs.

I’m happy adding hacks if there’s no good way :)

Feel free to send a PR and we’ll merge it

[2020-01-02 16:56] vjeux commented on #36
It is basically the render() function but for the canvas. It takes all the elements and writes them on the canvas.

[2020-01-02 17:01] #11 closed

[2020-01-02 17:26] paulomenezes commented on #17
I'll work on it

[2020-01-02 17:33] dwelle opened #38 "Allow to resize canvas"
We should either allow to resize the canvas (via input, or handles), or make the `[x] export visible area` the default and remove this option (since exporting full page doesn't make sense if user has no control over the size).

Not sure how it would work with the infinite scroll https://github.com/vjeux/excalibur/issues/14.

[2020-01-02 18:13] nanot1m commented on #35
Jest is already installed in the project (via react-scripts package)

[2020-01-02 18:31] nanot1m commented on #9
Is it good idea to create multiple factories for each element type?
Every factory can define its own hit test function and draw function. Text element factory can define `font`, `text` and `measure` properties.

[2020-01-02 18:33] mohammadameer opened #40 "the main file is getting bigger"
the main file is gitting bigger we should modulize it

[2020-01-02 18:33] mohammadameer commented on #40
i can work in that

[2020-01-02 18:37] dwelle commented on #40
Yep, we should split it in the next few commits.

[2020-01-02 18:41] dwelle opened #41 "Keep tool active upon element creation"
Do not switch to the `selection` tool upon element insertion. I'd say common use case is to create several elements in a row. I don't know of any editor which changes the tool after each insertion. Thoughts?

[2020-01-02 18:42] mohammadameer commented on #40
i want to work in that :nerd_face:

[2020-01-02 18:51] vjeux commented on #9
Sounds like a good idea yeah!

[2020-01-02 19:03] vjeux opened #42 "Transfer to organization"
It kinda sucks that it's under my name. I created an organization for it. `excalibur` and all the normal variations were taken so I got creative and made excalidraw which was available.

[2020-01-02 19:04] vjeux commented on #41
Both Powerpoint and Keynote ask you to re-click on the shape every time you want to add a new one. Same for zwibbler. Do you have an example that doesn't?

[2020-01-02 19:06] #34 closed

[2020-01-02 19:55] dwelle commented on #41
Mhm, I haven't used those in some time. What I've had in mind are tools like Affinity Designer/Photo, or Photoshop (IIRC).

Either way, to me it seems unintuitive and not very useful. But let's keep this open and see what other users feel like.

[2020-01-02 20:03] dwelle opened #43 "Click to select should be exclusive"
Is the current behavior where click-to-select adds to current selection intentional? AFAIK in all other apps, you need to hold down `ctrl`/`shift` to add to selection.

I propose we use a modifier for that.

Affinity Designer uses `Shift`. Not sure what the standard is on this.

[2020-01-02 20:13] vjeux commented on #43
Agreed, I don't think it's intentional. I believe that usually shift is for adding, ctrl is for inverting (if selected, remove it, otherwise add).

I think that the issue is that the logic is done onmousedown where you don't have enough context to make a good decision. We'll need to check if we are clicking onmouseup and check if we haven't moved.

[2020-01-02 20:14] vjeux commented on #41
I don't really mind either way to be honest

[2020-01-02 20:17] dwelle commented on #43
IMO not necessary since we don't support drag-select when clicking inside an element, thus we can already determine the desired behavior in `mousedown` event, if I'm not mistaken.

[2020-01-02 20:24] dwelle commented on #20
On top of this, each shape should define where the handles should be placed (which could be implemented as part of https://github.com/excalidraw/excalibur/issues/9) --- specifically, the `arrow` shape should only define 2 nodes, which will allow to easily change the start/end positions.

[2020-01-02 20:49] #7 closed

[2020-01-02 21:03] #43 closed

[2020-01-02 21:47] #9 closed

[2020-01-02 21:51] vjeux commented on #17
I added support for copy paste which should be the ground work to make this happen :) https://github.com/excalidraw/excalibur/pull/44

[2020-01-03 08:29] giovannigiordano commented on #41
As @vjeux as said in other comments, I think that for now is preferable to deliver new features and then optimize the existing ones.

[2020-01-03 08:30] giovannigiordano commented on #35
@nanot1m @vjeux can we close it?

[2020-01-03 10:17] dwelle commented on #40
Not sure what's the progress on this one, but let's wait until at least #52, #55, #53 are merged. Also possibly until we rewrite codebase to hooks.

[2020-01-03 11:36] giovannigiordano commented on #40
As @dwelle said we have to wait at least the #52 and then we can split the file.

[2020-01-03 11:38] #33 closed

[2020-01-03 11:40] giovannigiordano commented on #42
I close it.

[2020-01-03 11:40] #42 closed

[2020-01-03 11:45] giovannigiordano opened #61 "Add README and contributing guide"
I think there is the need to add a README to clarify the scope of the project for contributors.

[2020-01-03 12:08] dwelle commented on #35
ad 2: Cypress won't help here until they implement non-synthetic, native events (at least as far as interacting with the canvas is concerned). We could go with Puppeteer & CDP, or something like Selenium & WebDriver.

[2020-01-03 13:39] giovannigiordano commented on #35
@dwelle with cypress you can interact with canvas using mouse events and maybe compare the result as a screenshot.

[2020-01-03 13:42] dwelle commented on #35
@giovannigiordano I thought we'd need to fire proper events. I'll investigate if we can emulate the tests in Cypress by triggering mouse events programmatically.

[2020-01-03 13:46] giovannigiordano commented on #14
How this will interact with the #13 ? The zoom in/out will be handled with mouse wheel or not?
I think, we need even to allow the expansion of the canvas by an interaction that is not drawing a shape, maybe a button at the bottom edge.

[2020-01-03 13:47] dwelle commented on #14
I'd zoom using `Alt+WheelUp/WheelDown` (or `Ctrl/Cmd`).

[2020-01-03 13:47] giovannigiordano commented on #13
As said in the #14 , how this will be handled? Mouse wheel (with some modifier key) or buttons to select the zoom modifier?

[2020-01-03 13:59] dwelle opened #63 "Investigate Cypress for UI tests"
Preliminary tests show promise. I'll try to write a few tests and make a PR if it feels good.

[2020-01-03 13:59] dwelle commented on #35
@giovannigiordano you were right, so far it seems we could make it work. https://github.com/excalidraw/excalibur/issues/63

[2020-01-03 14:17] dwelle commented on #63
To elaborate: instrumentation will work. But I have no experience in visual comparisons.

Alternatively, we could do some basic assertions on the raw data (`canvas.getContext('2d').getImageData(0, 0, canvas.width, canvas.height)`), but that could turn out hard, or use some library that will helps us in that (if there's such).

[2020-01-03 14:26] giovannigiordano commented on #63
There are some solutions [here](https://docs.cypress.io/plugins/#visual-testing). I have used it before. For now keep on hold this, I will work on this in a few hours.

[2020-01-03 14:28] dwelle commented on #63
I'll make a PR with at least the scaffolding, in a bit.

[2020-01-03 14:53] AndreBastos23 commented on #40
From my understanding, @vjeux already migrated the elements variable inside the react-scope. I stop working on #52 since it's already done.

[2020-01-03 15:12] dwelle commented on #63
Gah, having trouble integrating Typescript into Cypress -- do we even want to?

[2020-01-03 15:17] giovannigiordano commented on #63
Actually, I don't think is mandatory, the scope is to have some tests.

[2020-01-03 15:51] vjeux commented on #40
I did not! I just moved drawScene from being a global to being run during componentDidUpdate

[2020-01-03 15:52] vjeux commented on #13
Not sure... zwibbler has a button + and -

[2020-01-03 16:02] vjeux commented on #61
Agreed!

[2020-01-03 16:24] vjeux opened #68 "Setup website"
I just bought excalidraw.com. We should figure out how to setup CI to build and publish it somewhere, either github pages or netlify

[2020-01-03 16:31] nanot1m commented on #68
I'll try to setup github pages

[2020-01-03 16:33] vjeux commented on #68
Sweet!

Btw, what do you all think about renaming the project to excalidraw? This is unique so we won’t have conflicts with anything else. Excalibur is used in so many contexts

[2020-01-03 16:40] giovannigiordano commented on #13
Ok, for now we can use buttons and then reiterate the feature if needed.

[2020-01-03 16:46] paulomenezes commented on #10
I'll start to work with this tonight, I tought in a left panel with the tools and roughjs options similar to zwibbler

[2020-01-03 17:10] vjeux commented on #10
Yeah, that would be great!

[2020-01-03 17:12] #17 closed

[2020-01-03 17:24] vjeux opened #70 "Seed roughjs randomness"
Unfortunately roughjs will not implement adding a seed for randomness ( https://github.com/pshihn/rough/issues/27 ). That's unfortunate because when we serialize content to disk, we lose the same random options and loading the scene back will look slightly different.

Fear not, we should be able to override Math.random with a custom pseudo random number generator that allows a seed: https://stacko

[2020-01-03 17:27] vjeux commented on #68
Done, I renamed it

[2020-01-03 17:31] vjeux commented on #68
I just created a twitter account for it. Ping me if you want access: https://twitter.com/excalidraw

[2020-01-03 17:38] dwelle commented on #70
Might also help in #66. WTBS, won't this make shapes look similar (if not identical -- though that would likely require them having the same size)?

[2020-01-03 17:48] Fausto95 commented on #68
Any ideas of a good logo?

[2020-01-03 17:50] vjeux commented on #70
The idea is to use the real Math.random() to generate a seed that we will store inside of the element data. So each element is going to have a different seed.

[2020-01-03 17:52] vjeux commented on #68
Some ideas: https://www.google.com/search?q=sword+pen+logo&sxsrf=ACYBGNTtEws-G2njTFySW8b2rQkkiVL8JA:1578073883153&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi5---p_-fmAhUNnZ4KHa9mCBkQ_AUoAXoECAwQAw&biw=1306&bih=728#imgrc=_

[2020-01-03 17:53] vjeux commented on #68
I like those two:

![image](https://user-images.githubusercontent.com/197597/71739600-c2275980-2e0e-11ea-81cb-0e8085e641fe.png)

![image](https://user-images.githubusercontent.com/197597/71739618-cfdcdf00-2e0e-11ea-85ed-d09d47b94b55.png)

[2020-01-03 17:54] nanot1m commented on #68
The second one ❤️
![excalibur](https://user-images.githubusercontent.com/9278185/71739640-d9e8f700-2e7b-11ea-8134-32b3ab5d60db.png)

[2020-01-03 17:56] vjeux commented on #68
Your robot is so cute!

[2020-01-03 18:38] giovannigiordano commented on #68
I like the second one

[2020-01-03 18:44] giovannigiordano commented on #68
Later I will configure the CI and the #66 so we will have automatic deploy and testing

[2020-01-03 18:46] vjeux commented on #68
I don't know what I did wrong but it doesn't seem to be working :(

![image](https://user-images.githubusercontent.com/197597/71742347-44674c00-2e16-11ea-8986-119437272f39.png)

[2020-01-03 19:02] Fausto95 commented on #68
We can also use netlify

[2020-01-03 19:11] Fausto95 commented on #68
We should also rename these lines: https://github.com/excalidraw/excalidraw/blob/98b158a83ded296c5b9cbc20d70d4a6d7442dde9/src/index.tsx#L16
https://github.com/excalidraw/excalidraw/blob/98b158a83ded296c5b9cbc20d70d4a6d7442dde9/src/index.tsx#L17

[2020-01-03 19:42] vjeux commented on #18
We don't need this anymore since we save on every update

[2020-01-03 19:42] #18 closed

[2020-01-03 19:43] vjeux commented on #21
It's surprisingly useful and annoying when not present

[2020-01-03 19:45] vjeux opened #72 "MVP Milestone"
I created a MVP Milestone where I tagged all the issues that we should implement to have something that would replace my usage of zwibbler. Let's use this issue to discuss priorities and progress :)

https://github.com/excalidraw/excalidraw/milestone/1

[2020-01-03 19:48] nanot1m commented on #68
It's working now http://www.excalidraw.com

[2020-01-03 19:48] giovannigiordano commented on #72
We should even add #14, or an alternative solutions to create a bigger canvas.

[2020-01-03 19:51] vjeux commented on #68
I had to change the github setting to www.excalidraw.com instead of excalidraw.com FYI

[2020-01-03 19:53] nanot1m commented on #68
We can make excalidraw.com working too:
https://help.github.com/en/github/working-with-github-pages/managing-a-custom-domain-for-your-github-pages-site#configuring-an-apex-domain

[2020-01-03 19:54] vjeux commented on #68
Both are working for me, are they not for you?

[2020-01-03 19:54] nanot1m commented on #68
It's working now! (:

[2020-01-03 19:54] Fausto95 commented on #68
excalidraw.com is not working for me

[2020-01-03 20:33] #70 closed

[2020-01-03 20:37] vjeux commented on #68
Both are not working for me on chrome but work on safari. Seems like it's broken for other people https://twitter.com/suchipi/status/1213196775185502208

[2020-01-03 20:40] Fausto95 commented on #68
@vjeux can we try deploying it on Netlify?

[2020-01-03 20:42] vjeux commented on #68
@Fausto95 do you mind if we try tomorrow if gh-pages fails to work?

[2020-01-03 20:42] Fausto95 commented on #68
I don’t mind!

[2020-01-03 20:43] vjeux commented on #68
Just added config for root domain. Hopefully that'll work

![image](https://user-images.githubusercontent.com/197597/71748203-aa5bcf80-2e26-11ea-85bd-ffae58fc2f79.png)

[2020-01-03 20:47] Fausto95 commented on #68
excalidraw.com is now redirecting to www.

I think it’s ok now since people can use the app

[2020-01-03 20:49] vjeux opened #76 "Add google analytics to website"
It's useful to get stats on how many people are using it

[2020-01-03 20:49] vjeux opened #77 "Add link to github on the website"

[2020-01-03 20:50] vjeux opened #78 "Load the font upfront"
The first time we render the font, it displays with the default one until it's loaded. This makes the metrics computation wrong and is a bad experience. We should eagerly load the font on page startup.

[2020-01-03 20:53] #68 closed

[2020-01-03 20:57] nanot1m commented on #13
I've found pretty cool demo of handling mac's pinch-to-zoom gesture https://stackblitz.com/edit/multi-touch-trackpad-gesture

[2020-01-03 21:02] vjeux opened #79 "Remove default white background"
https://twitter.com/DavidKPiano/status/1213201911706464256

I found that the dashed white background doesn't work really well. I'm not sure what we should be doing but the current default is not right. Some ideas:

- Have a setting to control whether a shape has solid fill. Only then, use the background color. It'll also affect how hit test works. We should enable hitting everywhere if the backgro

[2020-01-03 21:04] Fausto95 commented on #78
I agree

[2020-01-03 21:06] bratsos commented on #27
Hey @TimonVS @vjeux @giovannigiordano would you mind if I gave it a shot?

[2020-01-03 21:06] stevenbeeckman opened #80 "Title says "React App""
The HTML title says "React App".

![Screenshot](https://user-images.githubusercontent.com/399360/71749286-4ad8e080-2e75-11ea-8a72-d65d5eb19290.png)

[2020-01-03 21:07] Fausto95 commented on #72
I think that it could be nice adding #15 in the MVP

[2020-01-03 21:12] vjeux opened #81 "Copy pasting shouldn't keep the same seed"
We should generate a new seed when copy pasting elements. This way we don't end up with the same looking element more than once.

[2020-01-03 21:12] stevenbeeckman commented on #80
Seems to have been fixed with commit 4fa55222fdea096b29acb16cf28931c1c99a2ffd .

[2020-01-03 21:12] #80 closed

[2020-01-03 21:14] vjeux commented on #27
@bratsos go for it!

[2020-01-03 21:24] Fausto95 commented on #15
In my opinion I’d only implement this for the arrow since I’m not sure that rotating other shapes would be useful

[2020-01-03 21:30] vjeux commented on #15
Arrow don't need to be rotated (in what I had in mind for this PR), changing the two end points would work just fine (basically resizing).

[2020-01-03 21:31] #78 closed

[2020-01-03 21:36] vjeux commented on #13
Scaling and rotating doesn't seem to be working on my macbook pro on either chrome or safari :(

[2020-01-03 22:06] #14 closed

[2020-01-03 22:10] nanot1m commented on #21
Can two elements have the same z-index?

[2020-01-03 22:27] vjeux commented on #21
The way to implement it in a concrete way is to reorder elements in the list. The ones that are last are drawn on-top of the others. Bring to front moves the element at the end of the array. Send to back moves it at the beginning

[2020-01-03 22:52] giovannigiordano opened #86 "Configuration of gh-pages"
WIth the #75 I  ahve added the automatic deploy to GH pages but it is not working.
I have used this [action](https://github.com/JamesIves/github-pages-deploy-action).
As said in the PR should configure github pages to pick content from the branch `gh-pages`, because the deploy is not working for now.
Maybe there is a problem with the secrets, in the README of the repo, is suggested to create perso

[2020-01-03 22:53] vjeux commented on #86
![image](https://user-images.githubusercontent.com/197597/71753873-cf593e00-2e38-11ea-8dd8-42d7d6631124.png)

[2020-01-03 22:54] vjeux commented on #86
Just added you admin of the repo, feel free to edit things to make it work!

[2020-01-03 23:08] #27 closed

[2020-01-03 23:41] vjeux opened #88 "Update on window resize"
If we resize the window, we need to click somewhere before there's a render and it re-lays out.

[2020-01-03 23:48] vjeux commented on #76
Fixed by #89

[2020-01-03 23:48] #76 closed

[2020-01-04 00:12] vjeux opened #91 "Right clicking while on the canvas messes up selection"
If we right click on the canvas, then I think that onmouseup isn't triggered and we're no longer deleting the selection object.

![image](https://user-images.githubusercontent.com/197597/71756244-9a9eb400-2e43-11ea-99da-c0d32bb5cb8d.png)

Maybe we should listen to context menu as well and clean things up there. Worst case, would be nice to clean up on mousedown if we haven't received mouseup.

[2020-01-04 02:16] #77 closed

[2020-01-04 02:30] vjeux commented on #81
Oops, clicked the commit button instead of PR. Here's the code: https://github.com/excalidraw/excalidraw/commit/c077403eeca24283bfb33f3b924858d24ceb0f01

[2020-01-04 02:30] #81 closed

[2020-01-04 02:35] #88 closed

[2020-01-04 02:45] paulomenezes commented on #10
Start to work in the panel, some suggestions? The idea is when the user select an element, show some options to customize below Export section.
<img width="2032" alt="image" src="https://user-images.githubusercontent.com/10564179/71758774-bf664c00-2e82-11ea-850b-d089958d5de2.png">

[2020-01-04 03:04] vjeux commented on #10
This looks great!

Do you want to first send a PR for this that we can merge in before you implement the per-element configuration?

[2020-01-04 03:13] paulomenezes commented on #10
Of course.

[2020-01-04 03:58] #10 closed

[2020-01-04 05:51] vjeux commented on #21
Fixed by #98, #99, #100 and #101

[2020-01-04 05:52] #21 closed

[2020-01-04 05:52] #61 closed

[2020-01-04 05:54] vjeux commented on #72
We’re pretty close! Biggest one is the resize handles. Is anyone interested in working on it?

[2020-01-04 06:04] vjeux opened #102 "Change cursor to something else while expected to draw"
Right now it’s unclear what you are supposed to do

[2020-01-04 08:57] Fausto95 commented on #102
`crosshair` maybe ?

[2020-01-04 10:35] nanot1m opened #104 "Select filled elements by clicking inside"
Figma allows to select filled elements by clicking inside the element
![Screen Recording 2020-01-02 at 23 19 20](https://user-images.githubusercontent.com/9278185/71764277-b3709d80-2f07-11ea-94a6-f6bcfd79c259.gif)

[2020-01-04 10:41] nanot1m opened #105 "Support screens with high device pixel ratio"
If canvas can be scaled by devicePixelRatio value, it should look nice on any device. It would also help to scale images when exporting as png

[2020-01-04 10:55] nanot1m commented on #91
![excalidraw-5](https://user-images.githubusercontent.com/9278185/71764521-9e493e00-2f0a-11ea-9c7b-3731ddd47811.png)

I'll try to fix it

[2020-01-04 11:39] #91 closed

[2020-01-04 11:44] nanot1m opened #107 "Https certificate problems"
I have a problems while accessing website via safari

![61162FEB-67D2-4406-AA0E-D8C81B3ADE69](https://user-images.githubusercontent.com/9278185/71765037-5548b800-2f11-11ea-9b90-6fb93f502e61.png)

[2020-01-04 12:11] Fausto95 opened #109 "Logo"
Since many of us liked the logo proposed by @vjeux on this comment https://github.com/excalidraw/excalidraw/issues/68#issuecomment-570647168

I started working on something similar
![Excalidraw](https://user-images.githubusercontent.com/23306911/71765346-d3966180-2ef3-11ea-8092-356daf4cbc6b.png)

[2020-01-04 12:41] vjeux opened #110 "Do hit detection on mouse move"
We don’t need to wait for a mousedown to check if there’s something under the cursor. If we highlight on mousemove it’ll make the app feel faster and less error prone, same way we did when we start selecting it shows before we mouseup

[2020-01-04 12:49] dwelle commented on #110
How do you intend to highlight the element? Change its stroke color (what about elements with different stroke colors)? I'd not highlight by showing the selection border, which would make it unclear what's selected and not.

[2020-01-04 12:49] vjeux commented on #109
Can you try using rough to render it by any chance? :)

[2020-01-04 12:51] nanot1m commented on #110
Maybe we can draw the same shape with roughness = 0, smaller stroke width and colored in blue?

[2020-01-04 12:53] dwelle commented on #110
That would often not closely follow the original shape, I reckon.

[2020-01-04 12:55] dwelle commented on #110
But I guess we could in fact draw the selection border, but in much lighter gray color than the actual selection.

[2020-01-04 13:39] dwelle commented on #15
Rotating other shapes, namely rectangle, can be useful to create diamond shapes for conditional logic diagrams.

[2020-01-04 13:50] Fausto95 commented on #109
Yes

[2020-01-04 14:10] Fausto95 commented on #109
Btw I picked the same font we use in the app

![excalidraw-rough-rendered](https://user-images.githubusercontent.com/23306911/71766793-3ee82f80-2f04-11ea-84a6-1388187de2ac.png)

[Code](https://codesandbox.io/s/admiring-mountain-rb8yf)

[2020-01-04 14:22] #32 closed

[2020-01-04 15:03] dwelle commented on #109
Would prob lower roughness to 1.5 or something, and handpick the best, otherwise, good job. :heart:

![image](https://user-images.githubusercontent.com/5153846/71767334-a2c22680-2f0b-11ea-9bb3-6ade8e5471e4.png)

[2020-01-04 15:13] Fausto95 commented on #109
With less roughness(1.5)

![Excalidraw-rough-3](https://user-images.githubusercontent.com/23306911/71767498-1d3f7600-2f0d-11ea-9f8e-c0e2e8be8dff.png)

[2020-01-04 15:37] #109 closed

[2020-01-04 15:50] Fausto95 opened #114 "Shape fillStyle"
I'm wondering if we should set the `fillStyle` to solid rather than the default one

In the example below, the rectangle is using `fillStyled: solid` and the circle is using the default one
<img width="298" alt="Capture d’écran 2020-01-04 à 16 47 26" src="https://user-images.githubusercontent.com/23306911/71767949-03546200-2f12-11ea-8a3c-61eae8473a41.png">

[2020-01-04 15:58] vjeux opened #115 "Hit detection is back to front"
Because it’s iterating on the array from left to right it’s going in the wrong direction. Should be from front to back

[2020-01-04 16:01] dwelle commented on #114
Personally, I like the current version. Ultimately, we should allow the user to choose.

[2020-01-04 17:14] vjeux opened #116 "Website doesn't publish"
I thought that we had something in place to push the website on every commit. It doesn't seem to be working.

[2020-01-04 17:22] Fausto95 commented on #116
The auto deploy GitHub action is not working right now, so the gh-pages branch is not up to date with master.

[2020-01-04 17:46] dwelle opened #118 "Export broken"
Export is broken (again), I believe due to the introduction of the (infinite) scrolling to the canvas.

(will fix tomorrow unless someone wants to take it on, sooner).

Possibly blocked by #117

[2020-01-04 17:54] vjeux commented on #118
Since we have infinite scrolling, I don't think that the "visible area" setting makes sense anymore, we should always crop to where elements are. I also think that hardcoding 10px is fine. So that's two less options that currently clutter the UI.

Last one is background. I think both use cases are useful. I would err on the side on having a background by default, it's a bit annoying when it's tran

[2020-01-04 17:59] Fausto95 commented on #118
Sketch.app has an “export selection” feature, it’d be nice if we had something similar

[2020-01-04 18:05] dwelle commented on #118
Agreed.

Yup.

Yea. We'll leave this for later because [we might want](https://github.com/excalidraw/excalidraw/issues/27#issuecomment-570222613) to introduce artboards, instead.

[2020-01-04 18:07] dwelle commented on #35
What's the latest on npm vs yarn? I thought we started with yarn.

So, have we settled on npm, and should we install everything via npm so that we keep `package-lock` up to date?

[2020-01-04 18:19] #115 closed

[2020-01-04 18:27] vjeux opened #120 "Ability to change various draw options"
For every element we should be able to change some of the way it's drawn:

Ellipsis, Rectangle, Arrow:
- strokeWidth
- strokeColor
- roughness

Ellipsis, Rectangle:
- fillStyle
- fillColor

Text:
- textContent
- fontSize
- font (maybe give a handful of fonts)

All:
- Opacity

The description of the API can be found here: https://github.com/pshihn/rough/wiki

[2020-01-04 18:28] vjeux commented on #107
Is it still an issue? Seems to be working fine for me

[2020-01-04 18:29] vjeux commented on #15
We could add support for diamond directly as well

[2020-01-04 18:56] #20 closed

[2020-01-04 18:59] vjeux opened #123 "Resize jumps on first mouse move"
![ezgif-7-9cd65cf32015](https://user-images.githubusercontent.com/197597/71770430-3f230380-2ee1-11ea-9e79-ff01e5937c46.gif)

We need to remember the delta the mouse is at rather than using the actual mouse position.

cc @paulomenezes

[2020-01-04 19:03] vjeux opened #124 "Resize doesn't work well with negative width/height"
![ezgif-7-0f107e5ba7b0](https://user-images.githubusercontent.com/197597/71770465-91fcbb00-2ee1-11ea-94e9-cac6b7986d0a.gif)

Please don't fix it by disallowing negative width/height, it's useful for directed elements like arrows. Instead make sure to handle correctly when it's negative.

cc @paulomenezes

[2020-01-04 19:06] paulomenezes commented on #124
Another option, is never to be negative, when the height is negative we can update the Y position, which one is better? I don't know what is easier.

[2020-01-04 19:08] vjeux commented on #124
I tried that but then you lose the direction for arrows. Right now the entire system works with negative offsets (thanks to getAbsoluteXY01 helper when needed). I think we should keep it working that way.

[2020-01-04 19:15] vjeux commented on #116
@nanot1m you were the last one to publish it. Would you be able to do another manual publish as we've made a ton of good changes since yesterday?

@giovannigiordano you setup the automatic publish process. Do you know how to fix it so that it actually works?

[2020-01-04 19:24] nanot1m commented on #116
Publsihed

To manually deploy app to gh-pages you can run this two commands
[code]

[2020-01-04 19:28] nanot1m commented on #107
It's working now!

[2020-01-04 19:30] nanot1m commented on #86
@giovannigiordano can you point to errors in the logs? Couldn't find any

[2020-01-04 19:31] vjeux commented on #116
Thanks!

[2020-01-04 19:33] nanot1m commented on #124
It seems to me that fixing #123 (use delta instead of mouse position) will fix this issue also

[2020-01-04 19:37] nanot1m commented on #124
Oh, is it fixed already?

[2020-01-04 19:41] paulomenezes commented on #124
I guess, when the "se" handler is sent above "ne", I change the handlers, so the "ne" is now "se" and "se" is now "ne". I guess, the handlers should be always the same, independent of his position.

It's a little hard to explain, sorry.

[2020-01-04 19:46] Fausto95 opened #127 "SEO"
It’d be great if we could make the app be referenced by Google

[2020-01-04 19:47] nanot1m opened #128 "Unable to preventDefault errors in Chrome"
<img width="820" alt="image" src="https://user-images.githubusercontent.com/9278185/71770899-a928c080-2f54-11ea-954e-5fbe3cbdd3f2.png">

It seems that by default  in Chrome `onWheel` is passive event

[2020-01-04 19:54] vjeux commented on #128
Can you explicitly mark it as active?

[2020-01-04 19:55] vjeux commented on #127
?

[2020-01-04 19:56] nanot1m commented on #128
Do not know if it possible for react synthetic events. But it is possible to use `addEventListener('wheel', handleWheel, {passive: false})` on canvas ref

[2020-01-04 20:00] Fausto95 commented on #127
I think that now that we're close to the MVP, it should be nice adding SEO so people can find the app by looking for "online sketch app" and more!

[2020-01-04 20:01] vjeux commented on #128
Looks like not. Let's do manual event listening then: https://github.com/facebook/react/issues/14856

[2020-01-04 20:12] nanot1m commented on #128
Closed by #130

[2020-01-04 20:12] #128 closed

[2020-01-04 20:28] vjeux opened #132 "Avoid using fontawesome for size"
Looks like 14% (30kb) of the bundle is fontawesome for just 5 little svg.
![image](https://user-images.githubusercontent.com/197597/71771283-77c8da00-2eed-11ea-8ad7-93d5039371a5.png)

We should probably just inline the svg instead of loading the entire dynamic library to generate them.

[2020-01-04 20:39] dwelle commented on #132
IIRC, there are libs that support tree-shaking FA icons (not sure if FA itself supports it, via some additional steps).

[2020-01-04 20:46] #118 closed

[2020-01-04 20:47] #132 closed

[2020-01-04 20:52] vjeux commented on #132
![image](https://user-images.githubusercontent.com/197597/71771508-f5dab000-2ef0-11ea-8625-f3a8f7f2e741.png)

So 226 - 190 = 36kb that's been reclaimed :)

[2020-01-04 21:22] nanot1m commented on #16
Is it good idea to store all application state in the url?

[2020-01-04 21:39] #124 closed

[2020-01-04 21:43] vjeux commented on #16
I've done that for other things but I feel like it's going to be huuuuuugee here...

[2020-01-04 22:25] iKlsR commented on #24
Open for using something like https://pomax.github.io/bezierjs/?

[2020-01-04 23:04] klikstermkd opened #138 "Mobile support"
It would be great if the tool supports mobile touch, so it can be used on devices such as tablets with a pencil.

---

Progress:

- [x] Responsive UI (#787)
- [x] touch support (#788)
- [x] make the touch areas for the resize handles larger (they shouldn’t appear visually larger though) (#790)
- [x] two-finger pan/zoom (#788)
- [x] fix press&hold on canvas triggering selection (maybe it’s not fixe

[2020-01-04 23:16] vjeux commented on #24
Yes!

[2020-01-05 00:08] #105 closed

[2020-01-05 00:17] vjeux opened #140 "Dragging text right after it was created doesn't work"
![ezgif-7-29cda0c35268](https://user-images.githubusercontent.com/197597/71773196-bcfd0400-2f0d-11ea-9f26-e59d18d684df.gif)

[2020-01-05 00:37] paulomenezes commented on #120
Working on this.

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/10564179/71773352-59d59680-2f3a-11ea-86ae-08f948a231cf.png">

[2020-01-05 00:59] vjeux commented on #120
Yay!

[2020-01-05 01:00] #8 closed

[2020-01-05 01:01] paulomenezes commented on #120
Is better use a range or a select with some options?

<img width="244" alt="image" src="https://user-images.githubusercontent.com/10564179/71773554-aa9abe80-2f3d-11ea-8bd8-636afc2bf768.png">

[2020-01-05 01:04] vjeux commented on #120
I like how zwibbler does it, where they put the options inline and only pick a handful

![image](https://user-images.githubusercontent.com/197597/71773577-2c75f200-2f14-11ea-9c90-9bfb302f8e43.png)

[2020-01-05 01:12] pshihn commented on #24
https://github.com/pshihn/rough/wiki#curve-points--options
is implemented using beziers. It could use some improvement  but should work for simple 3-4 point curves

[2020-01-05 01:28] vjeux commented on #102
Yeah, that would work!

[2020-01-05 02:23] azz commented on #102
I got this one 👍

[2020-01-05 02:29] azz opened #143 "Export/Import State"
Currently there's no way to save the diagram in a way that can be re-imported back into the application, so if you make a diagram you can't come back later and edit it.

It would be nice to generate a JSON file that could be checked into source control that exports:

- The `elements` object
- The version of the state (for backwards compat)

[2020-01-05 02:36] #140 closed

[2020-01-05 02:40] vjeux commented on #143
We do have the ability to save all the elements and load them back: https://github.com/excalidraw/excalidraw/blob/master/src/index.tsx#L703-L723

Right now we only store it in localStorage and for history (cmd-z) but would be nice to be able to share it across computers! There's no reason it wouldn't work.

[2020-01-05 02:41] azz commented on #143
PR incoming 😉

[2020-01-05 02:41] vjeux commented on #143
<3

[2020-01-05 03:33] #102 closed

[2020-01-05 04:20] #143 closed

[2020-01-05 11:43] dwelle opened #147 "Set up Gitter"
This may sound a bit overkill, but how about we set up a Gitter community for Excalidraw? It'd be useful even now, to discuss things without having to create whole issues for simple questions.

Will need to be done by @vjeux

https://gitter.im/cypress-io/cypress#createcommunity

https://gitlab.com/gitlab-org/gitter/webapp/blob/develop/docs/faq.md#why-isnt-my-github-organisation-or-repos-appearing

[2020-01-05 12:48] vjeux commented on #147
Great idea! Will set it up in a few hours

[2020-01-05 12:54] dwelle opened #148 "Curved arrows"
This could be implemented as part of #24.

Discussing the feature with [Dan](https://mobile.twitter.com/dluzar/status/1213803170813620224), there are several possibilities how to implement this (we can support each).

1. Two-point bezier curve, where you'd manipulate the end points' bezier handles to create the curve:

	![2-point-curve](https://user-images.githubusercontent.com/5153846/71780448-b5

[2020-01-05 13:00] azz commented on #147
Gitter or Discord?

[2020-01-05 13:08] dwelle commented on #147
Discord feels a bit too heavy for our app, and Gitter has GitHub integration, which is a plus.

[2020-01-05 13:11] giovannigiordano commented on #116
I am working on it on the #68 .

[2020-01-05 13:17] giovannigiordano commented on #116
In the #150 I added the ACCESS_TOKEN as said in the README of [this actiion](https://github.com/JamesIves/github-pages-deploy-action).

[2020-01-05 13:28] giovannigiordano commented on #116
Resolved with the #150 and tested with #151

[2020-01-05 13:28] #116 closed

[2020-01-05 13:35] #86 closed

[2020-01-05 13:37] giovannigiordano commented on #35
@dwelle I introduced yarn and then npm to use it in the deploy action, to avoid the usage of a custom action which integrates yarn (the nodejs action has npm).
The project is small, we don't have too many dependencies, so let's focus on other features.

[2020-01-05 13:38] bgrosse-midokura opened #152 "App should have a link to this repo"
...or alternatively to the related twitter account, or some help/about page.

[2020-01-05 13:40] giovannigiordano commented on #152
PRs are accepted for this. 👍

[2020-01-05 13:40] bgrosse-midokura opened #153 "Firefox cannot add text"
Firefox 71.0 on linux won't add the text: after the prompt, I can see a flicker of the "shape options" appear and disappear in the sidebar, and nothing in the drawing area.

It works fine with chromium.

[2020-01-05 13:42] giovannigiordano commented on #148
I prefer the second solution.
In the #24 @vjeux has proposed a multi-point line.

[2020-01-05 13:43] giovannigiordano commented on #153
Can you provide a video?

[2020-01-05 13:44] giovannigiordano commented on #127
Maybe this for now is a low priority task. Let's focus on app enhancements

[2020-01-05 13:48] giovannigiordano commented on #104
This has been discussed in an issue with @vjeux and the #9 was created to avoid the selection on fill.
I think this can be closed, but let's wait him.

[2020-01-05 13:51] giovannigiordano commented on #72
Can we close it? The first milestone has been resolved.

[2020-01-05 14:04] dwelle commented on #153
I can repro on Win, so this seems platform independent. The element is still created, but for some reason is invisible or doesn't have dimensions.

[2020-01-05 14:08] bgrosse-midokura commented on #153
It's https://developer.mozilla.org/en-US/docs/Web/API/TextMetrics `TextMetrics.actualBoundingBoxAscent`, only supported by Chrome and Safari.

Will submit a PR shortly.

[2020-01-05 14:27] #153 closed

[2020-01-05 15:19] abhikulshrestha22 commented on #152
@giovannigiordano Hi, I would like to take this up. Could you please clarify more about what is needed? the link to repo, twitter. Or another page?

[2020-01-05 15:55] vjeux commented on #152
I put an icon on the top right but after the new layout it is now behind the canvas and hidden... we should add a zindex to fix it!

[2020-01-05 16:38] vjeux commented on #104
We need two modes for enclosed shapes: with or without background. When there’s a background we want to make the hit to be the entire rectangle, otherwise just the edges

[2020-01-05 16:48] hmaurer opened #157 "Attached arrows and lines (glue points)"
Hello there, nice work so far!

I was wondering if the ability to "attach" the start and end of arrows to shapes is something that would be useful for this little app, or whether it should be considered out of scope (could potentially open a can of worms). If so, in addition to "free arrows" (arrows that are not tied to any shapes, as you have now), you would also have arrows where one (or both) e

[2020-01-05 16:52] hmaurer commented on #148
I think a bezier with control points might be overkill; perhaps an array of points that the curve has to pass through would be enough, as per https://github.com/pshihn/rough/wiki#curve-points--options (referenced in #24 ).

[2020-01-05 16:53] vjeux commented on #157
I think that would be valuable. Otherwise you have to move everything in a repetitive manner when you want to make edits.

[2020-01-05 16:54] hmaurer commented on #157
@vjeux right, and that gets tiring very quickly :) One thing that could add a bit of complexity (though there might be a simple solution) is making sure it works nicely with whatever approach is taken for #148 .

[2020-01-05 16:58] vjeux commented on #148
I think that it’s a three step process. First we need to allow you to create arrows with more than two points, so you can draw a path.

Then, and only then, we need to figure out how to connect those points. The first version will be straight, then we will add some automatic curvature using bezier.

And finally we will let you configure each particular bezier curve. But that last step may not be n

[2020-01-05 17:08] vjeux commented on #157
One thing I don’t like with most implementations is that you only have 3 control points (left, middle, right) and if you have more than a few connectors, then they all are clamped together. I’d love to spread them out all over the surface we’re trying to connect to. Should be easy to implement and greatly improve the rendering.

Another pet peeve of mine is that the arrow is directly attached to t

[2020-01-05 17:12] vjeux commented on #116
Yay, thanks <3

[2020-01-05 17:17] vjeux commented on #157
I don't think we need to wait for having curved arrows to fix this, if something wants to give it a try, would be a welcome addition :)

[2020-01-05 17:18] vjeux commented on #72
![image](https://user-images.githubusercontent.com/197597/71783490-5115ac80-2f9c-11ea-922d-605ddc774cae.png)

Yayayay.

Time to make a new milestone :)

Great job everyone, I'm super excited about all the progress!

[2020-01-05 17:18] #72 closed

[2020-01-05 17:24] vjeux commented on #147
I think I created it: https://gitter.im/excalidraw/community#

Can someone join to see if it works?

[2020-01-05 17:41] dwelle commented on #148
Sounds good.

Here, we need to decide how that should be done:

1. Keep the tool active, and make next clicks extend the arrow by adding new points:

	![multi-point-arrow-pre](https://user-images.githubusercontent.com/5153846/71783690-d7f17600-2fea-11ea-9ffa-30baa0a7bc1b.gif)

2. Create two-point arrow, and allow to later add new points in the middle (via `Ctrl/Cmd+Click`):

	![multi-point-arrow-p

[2020-01-05 17:42] OrenMe commented on #147
Works! :-)

[2020-01-05 17:44] vjeux commented on #148
I feel like the first one is more intuitive, at least for a first version.

[2020-01-05 17:50] dwelle commented on #147
Awesome :sparkles:. Closing.

Btw, to enable threads (beta):

![image](https://user-images.githubusercontent.com/5153846/71783798-23585400-2fec-11ea-9cdb-57036161050b.png)

![image](https://user-images.githubusercontent.com/5153846/71783799-24898100-2fec-11ea-9da0-7d3ce4e9c9fb.png)

[2020-01-05 17:50] #147 closed

[2020-01-05 18:11] gaearon opened #163 "Double-click to add text"
Don't remember which tool does that but I've gotten used to it and miss it a lot. For example, after drawing a rectangle the first thing I do is try to double click it to write inside.

[2020-01-05 18:12] gaearon opened #164 "Paste should always go inside viewport"
1. Copy something
2. Scroll far enough left and/or down so you don't see the original thing
3. Paste it

I think it should be pasted within viewport. Otherwise I have to scroll all the way up to find it, but I'm already where I want to put it.

[2020-01-05 18:15] vjeux commented on #163
For context, what zwibbler does is that rectangles also have a text property where it's displayed in the center.

Not sure what we want to actually implement but both would help solve this common use case.

[2020-01-05 18:16] vjeux commented on #164
I think that makes sense and would be easy to implement. If anyone is up to implementing it.

[2020-01-05 18:17] gaearon opened #165 "Alt-drag to copy"
Like in Keynote (I think?), alt-dragging should duplicate and move the duplicate, instead of moving the original.

[2020-01-05 18:18] jaredpalmer commented on #19
How about in the interim we support insertion from URL?

[2020-01-05 18:19] gaearon commented on #157
Let's just make sure it's not overly strict about attachment. For example, I often move the arrow a little bit if it allows to avoid intersecting it with another bubble that just happens to be on the way. But strict attachment snap systems make this a pain. Keynote is particularly annoying in that sense.

[2020-01-05 18:20] gaearon opened #166 "Adjust arrow start/end points"
Just being able to move start and end points for arrows would be valuable. Otherwise, I have to delete and redraw them all the time when I need them a bit shorter or longer.

[2020-01-05 18:20] jaredpalmer commented on #19
From UX perspective, you should be able to:

- Drag and drop any image onto the window/canvas
- Paste from image clipboard
- Change fill mode: Fill, Contain, Tile

[2020-01-05 18:23] gaearon opened #167 "Square selection should work in all directions"
Holding shift makes selection square. Kinda cool. But it only works in south-east and north-west directions. We need to fix it for south-west and north-east too.

[2020-01-05 18:24] abhikulshrestha22 commented on #164
Hi @vjeux , I would like to take this up. :)

[2020-01-05 18:27] jaredpalmer opened #169 "Chrome Native Filesystem API"
Chrome has a new filesystem API that could be of interest. This would allow save/open from user filesystem. IIRC, if you add a service worker (kinda scary) to make the PWA installable, you can keep user permissions between refreshes in indexdb.

More here: https://web.dev/native-file-system/

I played around with this w/ CRA and Workbbox for a newsletter builder recently. Final FS api is pretty sw

[2020-01-05 18:52] Calinou opened #172 "Add a project license"
The repository currently doesn't seem to contain any license. Could you add one, please? See [Choose a License](https://choosealicense.com/) for more information :slightly_smiling_face:

[2020-01-05 19:01] hmaurer commented on #157
@gaearon I can relate to that; it has been a major pet peeve of mine with some of those diagram editors. What would be a good (yet simple) rule to handle attachments while leaving some freedom to the user with placement?

A simple rule with padding could be "draw a straight line between the centre of the two shapes, and place the endpoints of the arrow on the intersections between that straight li

[2020-01-05 19:02] jaredpalmer opened #173 "Group elements"
As a user, I want to be able to quickly group and ungroup elements so I can move them around more easily.

Keyboard shortcuts:
- Group: <kbd>Cmd + G</kbd>
- Ungroup: <kbd>Cmd + Shift + G</kbd>

[2020-01-05 19:04] jaredpalmer commented on #165
Related: <kbd>Cmd + D</kbd> usually duplicates (e.g. sketch/figma)

[2020-01-05 19:06] hmaurer commented on #163
@gaearon [Whimsical](https://whimsical.com/) is another tool (amongst many I'm sure) that does this.

[2020-01-05 19:20] hmaurer commented on #138
Basic support might be as simple as switching from mouse events to pointer events (`onMouseDown` -> `onPointerDown`, etc).

[2020-01-05 19:27] #167 closed

[2020-01-05 19:30] giovannigiordano commented on #164
@abhikulshrestha22 PRs are accepted

[2020-01-05 19:30] #166 closed

[2020-01-05 19:33] hmaurer commented on #157
Follow up idea: we implement the basic rule I described above, but instead of "straight line between the two shape centres" we generalise to "straight line between shape centre and next control point". If we implement a basic version of curved arrows as @vjeux suggested, which wouldn't actually curve the arrows, just break them up into multiple segments intersecting at angles, then this would like

[2020-01-05 20:13] jeremyscatigna commented on #165
I’d love to help on this !

[2020-01-05 20:16] hmaurer commented on #157
I volunteer to implement a POC of this :)

[2020-01-05 20:18] GasimGasimzada commented on #35
Would you guys be interested in splitting the code into multiple files? I believe that it will improve dev workflow as it is easier to navigate through smaller files instead one large file.

[2020-01-05 20:26] hmaurer commented on #157
This is clearly getting further than the first implementation of this issue needs to be, but if we take this approach I can see one potential further improvement. Let's call the points breaking up arrows "waypoints". The simplest arrow would be one with no waypoints; a straight arrow.

As @gaearon pointed out such arrows might intersect with shapes along the way; not pretty! One solution would be

[2020-01-05 20:47] szympajka commented on #15
Would be nice to rotate shapes :)

[2020-01-05 20:51] szympajka opened #175 "Decrease area after element is selected"
This was already mentioned in #33 and I know know that it is intentional, but would be nice to give an option to customize this :)

Eg. in this case I should see 2 selected shapes:
<img width="721" alt="Screenshot 2020-01-05 at 8 48 25 pm" src="https://user-images.githubusercontent.com/19807209/71785893-ddf05280-2ffc-11ea-9006-cf420b33b94a.png">

PS Love your project guys!

[2020-01-05 21:09] vjeux commented on #172
Just added a MIT license in #176

[2020-01-05 21:09] #172 closed

[2020-01-05 21:19] chriskrez commented on #173
Hey! Can I work on this? :smile:

[2020-01-05 21:20] vjeux commented on #173
Sure thing!

[2020-01-05 21:28] vjeux commented on #163
For people reading, we should definitely implement the original suggestion. PR welcome

[2020-01-05 21:31] vjeux commented on #138
I think that there are a few things here:
- Make sure we react to touch events
- Update the layout on mobile so that 3/4 of the view are not just the left page
- Optimize touch interactions. We can double finger drag to resize an element. Figure out how selection and pan interact...
- Add visible buttons for copy paste, undo...

We don’t need to do everything at once, every small improvement would

[2020-01-05 22:29] jaredpalmer commented on #173
Related to this, when you implement / choose data structures, keep in back of mind that a layers panel could be super useful in the future.

[2020-01-05 23:24] vjeux commented on #157
Your last suggestion is basically implementing a layout algorithm. While this is a fun exercise (I may have written a few myself...), I would recommend first implementing the ability to manually move points. It's likely going to cover most use cases. Then if you feel like having fun, you can implement it!

[2020-01-05 23:37] voluntadpear opened #180 "Edit colors of selected element"
When the user changes the stroke or shape background color and they have an element selected, they could expect to modify the color of that element instead of having to delete it and draw it again.

![changing colors doesn't affect currently selected element](https://user-images.githubusercontent.com/10501948/71787829-05462000-2ffb-11ea-8bc3-0d67ae25b61e.png)
*I select my element and then change t

[2020-01-05 23:39] Fausto95 commented on #180
@paulomenezes is working on this here https://github.com/excalidraw/excalidraw/pull/179

[2020-01-05 23:40] voluntadpear commented on #180
And it got merged 🎉 I'm closing this one. Thank you!

[2020-01-05 23:40] #180 closed

[2020-01-05 23:42] Fausto95 commented on #114
https://github.com/excalidraw/excalidraw/pull/179

[2020-01-05 23:42] #114 closed

[2020-01-05 23:44] paulomenezes commented on #22
Done by #179

[2020-01-05 23:44] #22 closed

[2020-01-05 23:47] paulomenezes commented on #120
By the #179 we're almost there, but is missing the Text properties

[2020-01-05 23:50] msurguy opened #182 "Export to SVG?"
Would there be an export to SVG option?

[2020-01-06 00:12] whitfier opened #185 "Poor performance using Dots fill pattern"
Drawing any large shape then selecting the Dots fill pattern causes the page to become unresponsive - even to the point where Chrome suggests I kill the tab.

![dots](https://user-images.githubusercontent.com/6414663/71788321-ff8a1380-2fd5-11ea-87ad-f5d7ca023c2f.PNG)

The Dashed and Zigzag-line similarly have poor performance, just to a lesser extent.

[2020-01-06 00:14] vjeux commented on #185
cc @phsihn

[2020-01-06 00:17] paulomenezes commented on #185
Maybe remove this pattern? I don't know if we can do something about this.

[2020-01-06 00:26] vjeux commented on #185
Yeah, let’s remove them for now

[2020-01-06 00:33] whitfier commented on #185
I'd be happy to make that change. While I'm at it, should there also be a "None" option that removes the fill?

[2020-01-06 00:39] vjeux commented on #185
Having a none would be very useful indeed

[2020-01-06 00:43] paulomenezes commented on #185
I don't know if there is a "None" option

[2020-01-06 00:49] vjeux opened #186 "Holding shift when resizing doesn't maintain equal ratio"
We implemented it for the initial creation, would be nice to also have it for updates.

[2020-01-06 00:50] vjeux commented on #185
Please keep this in mind if you implement the none option: https://github.com/excalidraw/excalidraw/issues/104 (note: I believe that "none" should the default)

[2020-01-06 01:27] voluntadpear opened #188 "Implement redo"
Besides `Cmd + Z` to undo, it would be nice to support `Cmd + Shift + Z` to redo changes.

I'd like to work on that!

[2020-01-06 01:36] vjeux commented on #188
Go for it!

[2020-01-06 01:38] #163 closed

[2020-01-06 03:38] jaredpalmer opened #193 "Context menu"
Right / Ctrl clicking an element should pop out a context menu

- Copy
- Delete
- Paste
- Move Forward
- Move Backwards
- Send to Back
- Send to Front

—-
Right clicking a selection with multiple elements should have the option to group, right clicking a group should have option to ungroup.

[2020-01-06 03:44] vjeux commented on #193
Agreed, this way we don't have to put all those things on the left menu which is getting crowded!

[2020-01-06 03:47] jaredpalmer opened #194 "Icons"
- One for each fill style (probably need to be custom)
- One for each stroke style
- Send to front/back, etc.
- Copy
- Delete

[2020-01-06 03:47] jaredpalmer commented on #194
This will let us save some vertical space by making fill styles a grid and more wysiwyg-like

[2020-01-06 03:58] #188 closed

[2020-01-06 04:02] vjeux commented on #194
I did an update which should require less custom icons:
![image](https://user-images.githubusercontent.com/197597/71794407-340dc780-2ff6-11ea-9e8a-d12eca84a9dc.png)

Also, if we implement context menu, we don't need for send front/back, copy, paste, delete

[2020-01-06 04:03] vjeux commented on #182
It wouldn't be too much work to do. But I'm curious, what's your use case?

[2020-01-06 04:05] jaredpalmer commented on #194
Ahh this is much better. I still think having icons for the fill styles would be useful

[2020-01-06 04:47] vjeux commented on #185
I removed everything but solid, hachure, cross-hatch for now. We should keep this in mind if we want to add it back.

[2020-01-06 04:47] #185 closed

[2020-01-06 04:49] vjeux commented on #38
Infinite scroll made this not needed anymore

[2020-01-06 04:49] #38 closed

[2020-01-06 04:51] vjeux commented on #35
I feel like we've done the original scope of this issue.

[2020-01-06 04:51] #35 closed

[2020-01-06 04:51] vjeux commented on #152
Done

[2020-01-06 04:51] #152 closed

[2020-01-06 04:52] vjeux commented on #16
Done by @azz

[2020-01-06 04:52] #16 closed

[2020-01-06 05:01] benadam11 opened #196 "Duplicate selection"
It would be a great feature to duplicate shape (Figma or Sketch have a keybinding - option + drag to duplicate a selection).

[2020-01-06 05:13] vjeux commented on #196
Great idea! It's a duplicate of https://github.com/excalidraw/excalidraw/issues/165

[2020-01-06 05:13] #196 closed

[2020-01-06 08:35] GasimGasimzada opened #199 "Prettier support"
Would you be interested in adding Prettier to the project?

[2020-01-06 09:31] dwelle commented on #199
Prettier is already set up (see package.json).

[2020-01-06 09:31] #199 closed

[2020-01-06 09:52] GasimGasimzada commented on #199
I was asking this because there is no prettier config file here. Is there a specific configuration that is preferred?

[2020-01-06 09:58] dwelle commented on #199
AFAIK, we're using the default.

[2020-01-06 09:59] GasimGasimzada commented on #199
Okay, that makes sense!

[2020-01-06 10:09] dwelle commented on #186
It's actually still there, but only works for bottom-right corner.

[2020-01-06 10:15] j33n opened #201 "Pasting in input fields don't work"
When you copy a hexadecimal value and try to past it in the *Stroke Color* input or any other input, it doesn't work. We can maybe handle **onPaste**

[2020-01-06 10:25] GasimGasimzada opened #202 "Suggesting regarding structuring more elements"
If it is okay with you, I would like to spend a bit of time restructuring the application (e.g moving things around; things like that).

I have been thinking about how to make all the "scene" related functions more contained and I have a suggestion (I am wiling to work on it as I have some free time in my hands in the next couple of weeks):

- [x] All the functions that use `elements` array should

[2020-01-06 10:36] dwelle commented on #107
Ok, so there seems to be a problem when accessing the bare-domain via `https://` -- it doesn't redirect to https, which results to the aforementioned connection-not-secure error.

- https://www.excalidraw.com/ :heavy_check_mark:
- http://www.excalidraw.com/ :heavy_check_mark:
- http://excalidraw.com/ :heavy_check_mark: (redirects to https)
- https://excalidraw.com/ :x: (doesn't redirect to https)

[2020-01-06 12:51] nanot1m opened #203 "Share scene via URL"
It can be really simple way to share scenes

[2020-01-06 12:55] GasimGasimzada commented on #202
I have tried to move things around in this PR: https://github.com/excalidraw/excalidraw/pull/204. I am very happy with the result because the important thing is that I removed global dependencies from all the functions (well, except for global constants such as `SCROLLBAR_MARGIN`).

[2020-01-06 12:59] GasimGasimzada commented on #36
I have removed all the dependencies from `elements` global variable from all the functions: https://github.com/excalidraw/excalidraw/pull/204. I am still creating `elements` in a global variable to keep it similar to previous version but now it can be easily moved to wherever necessary as long as "entry" functions are accepting proper elements array.

[2020-01-06 13:03] GasimGasimzada opened #206 "Is there a reason behind creating four `getElementAbsoluteXX` functions instead of one?"
All the functions that require these functions use all four of the variables. What about replacing four functions with one:

[code]

[2020-01-06 13:17] dwelle commented on #203
Depending on the scene complexity, serializing it into base64 might prove too large for URLs (even if it works now for average scene sizes, it may break at any moment in the future when we introduce more state).

First, we'd need to investigate URL length limits for various browsers so that we get an idea where we stand.

[2020-01-06 13:47] davidbonan commented on #120
Text properties is include in #183

[2020-01-06 15:09] vjeux commented on #206
Sounds good to me!

[2020-01-06 15:27] vjeux commented on #202
This is awesome, I commented on the PR, I’m also happy with the results but let’s land it in smaller chunks so we’re less likely to make errors in the process and if we do, it’s easier to localize.

[2020-01-06 15:53] hejcz commented on #182
I'd love this feature as well. If you want to zoom part of canvas it gets blurry as it is raster graphic. SVG can be zoomed in and out without quality issues. If you want to create some bigger diagram e.g. department architecture it's must have :)

[2020-01-06 16:15] GasimGasimzada commented on #202
Refering PRs: #207 and #208

[2020-01-06 16:24] jaredpalmer opened #209 "Copy and paste styles"
cmd + shift + c, Select and then cmd + shift + v should allow copy and pasting the styles of a shape to another (selection of) shape(s)

[2020-01-06 16:43] paulomenezes commented on #203
Can you thought about have a server with database to store this? And share only the ID? I don't know if it's the idea of this project.

[2020-01-06 17:03] msurguy commented on #182
Ditto ^. Plus, I'd love to experiment with drawing these diagrams with plotters like AxiDraw which accept vector files rather than raster.

Also, it could be a way to implement state info for export / import if you embed some data in the SVG that can be picked up by the tool and recreate the diagram without any additional JSON files.

[2020-01-06 17:14] matias-capeletto opened #211 "Stable strokes for shapes"
Hey there! Great tool :)

Currently, the strokes are not stable when creating o resizing a shape:
![stable-shapes-current](https://user-images.githubusercontent.com/583075/71833789-0421fb00-30ae-11ea-8a3f-2163232dd46e.gif)

Looks like Rough.js first draws the fill using a variable number of `Math.random` calls, so the stroke starts at a different seed even after using `withCustomMathRandom`. If yo

[2020-01-06 17:25] dwelle commented on #211
I think this is in fact desirable:

1. you may *want* to toy with an element until it looks "right"
2. if a shape is initially generated with a very rough edge and you freeze it, resizing it up the roughness gets magnified a lot.

[2020-01-06 17:31] matias-capeletto commented on #211
I was thinking about that too @dwelle, it is one of the things that pushed me to create an issue first.

The problem with conflating changing the seed with resizing is that once you get a good one, you can not resize it without changing it or you have to start toying around again.

I think a better UX is to make the resizing stable + adding some way to change the seed. For example, a dice button i

[2020-01-06 17:58] GasimGasimzada commented on #194
@jaredpalmer do you know an icon in FontAwesome that is just straight lines parallel to each other?

[2020-01-06 18:16] dwelle commented on #194
https://fontawesome.com/icons?d=gallery&q=bar

[2020-01-06 19:28] #201 closed

[2020-01-06 19:29] nanot1m commented on #193
I'll take it

[2020-01-06 20:09] GasimGasimzada commented on #194
This is just an idea but maybe something like this: https://codesandbox.io/s/heuristic-clarke-rbdh2

[2020-01-06 20:14] dwelle commented on #194
@GasimGasimzada we've recently moved to inlining it, instead (see #134)

[2020-01-06 20:14] jaredpalmer commented on #194
My suggestion would be to use react-icons since CRA supports react svg loader now

[2020-01-06 20:17] jaredpalmer commented on #203
We could serialize state to a query string and then we just need a url shortener and we’re done

[2020-01-06 20:19] #186 closed

[2020-01-06 20:21] vjeux commented on #211
Ohh, this is unfortunate :( Thanks for the great investigation!

I think the solution here is to ask @pshihn if it wouldn't be too annoying to reorder the shape generation to first generate the borders, which uses a fixed number of Math.random() calls and then the background, which uses a variable amount (based on the dimensions). This way it would solve the problem here.

We've already taken step

[2020-01-06 20:29] dwelle commented on #203
@jaredpalmer I'm not sure how that would help:

1. url-shortener services must impose length limits, too
2. but even if they didn't, the url still gets expanded upon redirection, and if it extends beyond browser url limit, then that redirect won't work.

Or am I misunderstanding?

[2020-01-06 20:31] jaredpalmer commented on #203
Yeah, I guess you’re correct. How does storybook do it? Or does it not actually serialize state?

[2020-01-06 20:37] GasimGasimzada commented on #194
@dwelle @jaredpalmer I was talking about how they look like. All I did was rotating and stacking (for cross-hatch) Bars icon. This can be easily implemented using some positioning + transforms. It is not necessary to use FontAwesome here as many icon libraries have bars icon in them.

[2020-01-06 20:39] GasimGasimzada commented on #194
Also, I agree with @jaredpalmer. I think it will make it easier to set up icons if we use react-icons library. It looks like this library is treeshakeable.

[2020-01-06 20:53] nanot1m commented on #203
Maybe we can start with storing state in url hash? Like in [typescript playground](http://www.typescriptlang.org/play/index.html#code/MYewdgziA2CmB00QHMAUByAMiEBrAhAAQCSALgDroSECuEAlmMoUsAIan3iEAWbEPQqRCEIwgE6xRpDrHQBKIA). Someone told to me, that buggy feature is better then unshipped feature))

[2020-01-06 20:59] dwelle commented on #203
@nanot1m that was the whole idea (it's not really important whether we put it in `hash` or `query`, although `hash` is preferable). But having the url be cut-off (dunno what's the default browser behavior) due to exceeding length would possibly result in silent errors such as some elements being lost etc.

I'm just voicing concerns and pointing out possible problems. I'll recuse myself from making

[2020-01-06 21:07] jaredpalmer commented on #194
I would use sketch or Figma and make a custom svg for each of those.

[2020-01-06 21:18] DmitrySoshnikov opened #218 "Support lines and figures animations"
I use Keynote and other tools for my lectures, and find using animations very valuable to show dynamics, how objects transit or created in a complex system.

Would be great having the animations for the figures and lines connecting them. Example: a line draws a block figure, hachures the background, draws the connection line, going to the second block. This would be not a static image mode, but ra

[2020-01-06 21:20] matias-capeletto commented on #211
Following Rough.js code, it looks like you are right @vjeux. If excalidraw keeps the `curveStepCount` option fixed then the number of `Math.random` calls are going to be stable. So drawing the stroke first, then the fill in Rough.js would keep both of them stable while resizing.

And looking at the code that generates the shapes, it looks like it is just a matter of moving the `rectangle(x, y, wid

[2020-01-06 21:20] pshihn commented on #211
There are a couple of issues here that are on my list in roughjs that address this to some extent:
1) Seeding randomness
2) Update roughness and bowing variability based on the size of the shape - this issue is particularly visible for non-linear shapes like ellipses. The reason is that for ellipses, for example, I estimate `n` number of points on the perimeter of the ellipse and fit a curve throu

[2020-01-06 21:26] pshihn commented on #211
@matias-capeletto I can move the fill calculation after the stroke. It should not cause any trouble.

Excited to see Excalidraw evolved, would love to play a small part helping it grow :)

[2020-01-06 21:41] matias-capeletto commented on #211
Great @pshihn! Doing the stroke calculation first would at least keep some of the shapes stable without a more involved change.

But I see your point, this should be an implementation detail to let you add later features like dynamic fitting for curves so a more careful solution is needed.

If seeding is implemented in Rough.js, maybe you could allow the user to pass two seed for the shape, one fo

[2020-01-06 21:41] jimthedev commented on #104
Hey there. One thing I'd suggest is to ignore background fill once someone has selected something and is now attempting to move it. Once they have selected it, allow them to drag it using any interior part of the selection. We get it, selection has to be tedious because there's a lot on the screen, but once I have my correct selection then I don't really want the mental work of evaluating if it ha

[2020-01-06 21:45] pshihn commented on #211
Thanks!
Btw, I have seen some people use Scaling transforms to keep the shape the same on resize. But, again it doesn't work as nicely when aspect ratio changes significantly.
I will keep all these issues in mind when making my changes.

[2020-01-06 21:50] #127 closed

[2020-01-06 21:58] vjeux commented on #209
That's a good idea :)

[2020-01-06 22:08] #202 closed

[2020-01-06 22:11] GasimGasimzada commented on #40
This issue can be closed #202

[2020-01-06 22:22] #209 closed

[2020-01-06 23:47] tonyzorin opened #223 "Add text resize"
Font or text size

[2020-01-06 23:53] vjeux opened #224 "+/- level of fidelity"
Jay Jeong, designer on my team mentioned that it may be interesting to have a global setting to increase or decrease the level of fidelity by adding/removing roughness across the entire scene.

I don't know if we should implement that but it's an interesting thought for sure

[2020-01-07 02:50] #193 closed

[2020-01-07 03:08] #203 closed

[2020-01-07 05:30] burakbilgehan opened #226 "Transparency of shapes"
When I change the canvas color, the shapes are filled with that color along with some white. Is that something on purpose?

https://imgur.com/a/Ky3rwWS

[2020-01-07 07:04] Fausto95 commented on #226
This is the default behavior at the moment, but it'll change as it's being discussed here https://github.com/excalidraw/excalidraw/issues/79

[2020-01-07 07:18] 1813927768 opened #228 "Can't handle Chinese characters in text input"
When I input Chinese characters in the text input, I got this error msg in console.
![image](https://user-images.githubusercontent.com/28707897/71875746-02b10b00-3160-11ea-89b4-b05441c2d35e.png)

This error occures beacause of the incapability of handling unicode in `window.btoa()`.
And there is a workaround [here](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/btoa) ac

[2020-01-07 09:35] hejcz opened #229 "Copy + Paste moves text inside rectangle"
I have rectangle with text inside. When I select and copy them both text in copy is aligned to left top corner instead of being in the same position relative to rectangle.

[2020-01-07 11:31] GasimGasimzada opened #231 "Synchronizing React State with Canvas state"
Sorry about the weird title, couldn't think of anything better.

One thing that I noticed when extracting the components and functions was the usage of `forceUpdate` basically everywhere. I remember in reading one of the issues that there is an interest in adding `elements` array into application state. Now, there is a problem with how we use `forceUpdate` and adding `elements` array into applicat

[2020-01-07 13:38] GasimGasimzada commented on #206
#233

[2020-01-07 15:05] #206 closed

[2020-01-07 15:11] GasimGasimzada opened #235 "Add Unique Ids to elements"
What do you think about this? This way, we can identify these elements based on a unique identifier. If the exported file size is a problem, we can strip these identifiers from the file as these values will only be necessary during runtime.

It is one of the steps to make operations on elements immutable as we might need certain comparisons to do so.

We can use something like `new Date().getTime(

[2020-01-07 15:19] GrimTheReaper commented on #15
There are some shapes that would be nice to have rotated, adding shapes instead of adding a simple rotate feature seems off.

[2020-01-07 15:21] vjeux commented on #15
@GrimTheReaper do you have concrete examples?

[2020-01-07 15:23] GrimTheReaper commented on #15
@vjeux concrete examples of what? Implementing a rotate feature or the fact that most shape editors have a rotate feature? Also on another note, can you even make the excalidraw logo in excalidraw?

[2020-01-07 15:27] GrimTheReaper commented on #182
A nice usecase for SVG that I tend to use, is being able to import it into other applications that have to scale it. Specifically for me that I've used in the last 24 hours, EagleCad, KiCad, and Fusion360.

[2020-01-07 15:31] GrimTheReaper commented on #25
One thing to note: For those who use drawing tablets, any way to actually read pressure from the browser?

[2020-01-07 15:33] GrimTheReaper opened #237 "Collapsable Sections"
As more is added, the menus will probably get bloated. It might be worthwhile adding collapsable sections now.

[2020-01-07 15:54] GasimGasimzada commented on #237
#239

[2020-01-07 16:56] GrimTheReaper opened #240 "Scrollbar moves Menu"
This might have been in another issue, and is more cosmetic, but whenever the menu expands horizontally and gains a scrollbar it puts the scrollbar on the inside of the menu which pushes the Shape menu closer together and is kind of jarring.

[2020-01-07 17:03] dwelle commented on #240
Can you please show a video/screenshot or/and steps to reproduce?

[2020-01-07 17:08] GrimTheReaper commented on #240
I would, but the scrollbar seems to no longer show for me?

[2020-01-07 17:10] GrimTheReaper commented on #237
Woot. Thank you <3

[2020-01-07 17:35] vjeux commented on #229
This is likely related to https://github.com/excalidraw/excalidraw/pull/214
@abhikulshrestha22 could you look into it? cc @Fausto95

[2020-01-07 17:36] vjeux commented on #228
Thanks for raising this! We reverted the URL handling in the meantime so it shouldn't be an issue anymore.

[2020-01-07 17:36] #228 closed

[2020-01-07 17:36] Fausto95 commented on #229
I was working on center it today, I will push something in a bit!

[2020-01-07 17:36] dwelle commented on #240
Alright. There might be a bug somewhere that'll pop up again, so feel free to comment here with further information and I'll reopen.

[2020-01-07 17:38] vjeux commented on #231
Yes to everything. That would be much better indeed :)

[2020-01-07 17:39] vjeux opened #242 "Remove zindex / delete from selection menu"
Now that they are in context menu, we don't need them in the selection menu anymore

[2020-01-07 17:40] GrimTheReaper opened #243 ""No Fill" Option"
A resolution to https://github.com/excalidraw/excalidraw/issues/79 might be have an option to just have no fill. Right now its `Solid`, `Hatchure`, and `Cross-Hatch`. Might be worthwhile to have `None`.

Edit: Another note, there is no transparency option for fills either.

[2020-01-07 17:43] dwelle commented on #240
Huh, so I spoke too soon as I can repro this myself:

1. open contextMenu so that it overflow beyond the window, which adds vertical scrollbar to window

Ideally, the contextMenu should (1) fit into the window (2) if it doesn't, have its own scrollbar.

I'll work on it myself later, if no one takes this.

[2020-01-07 17:44] GrimTheReaper commented on #240
This is why I don't do frontend haha.

[2020-01-07 17:50] dwelle commented on #240
And actually, that's probably different issue from the one you initially mentioned. The bug I've written up above is about viewport scrollbar.

The scrollbar on the sidePanel itself appears easily when there are too many items (e.g. when you select an element), and yes it bunches the shape icons together.

I'll probably drop the `align-items: space-between` rule now that the items are already over

[2020-01-07 17:54] GrimTheReaper opened #244 "Create the excalidraw logo with excalidraw"
Just a thought, ideally the excalidraw logo should be able to be drawn in the excalidraw software without much difficulty. Without lines or polygons, I don't exactly see how one could achieve this without adding extra objects and making them white with a solid fill to "erase" parts of other objects. Maybe there needs to be more shapes or native types like lines and polygons, but this should be an

[2020-01-07 18:02] #229 closed

[2020-01-07 18:39] vjeux commented on #244
Yes!

Yes!

Yes!

[2020-01-07 18:41] vjeux commented on #244
I feel like arrows are just lines with the cap being an arrow. We may want to add two shapes for the two since the use cases are usually distinct, but can represent them internally the same way.

Same for segment vs multi-point segment, we should figure out if we can have a single interaction for them. Random idea (please think more before implementing it), if shift is enabled, it lets you keep ad

[2020-01-07 18:42] vjeux commented on #243
Yes!

We should either have a no-fill option or a transparent background color. Either would work.

[2020-01-07 18:47] vjeux commented on #15
My mental process for building product is to ask why people want a certain feature, in many cases there's actually a better solution to solve their problem. For example if you want to make a diamond, it's convoluted to draw a square and then rotate it.

It doesn't mean that we shouldn't implement rotate, I'm just curious what use cases people have with it. It's not a trivial feature to implement s

[2020-01-07 18:48] dwelle commented on #244
I had the same idea when we were discussing curved arrows #148 but dismissed it because it felt like a hidden feature that no one will no about (I have some ideas how to tell users what they can do, but that implem will come later).

We should prob discuss this over at #24 or #148 instead of here.

[2020-01-07 19:28] GrimTheReaper commented on #15
What if, I wanted to have an offset diamond? inbetween 45 and 90

[2020-01-07 19:34] vjeux commented on #15
@GrimTheReaper yeah, you'd need rotation for it. Is this something you actually wanted to do in practice?

[2020-01-07 19:37] GrimTheReaper commented on #15
@vjeux realistically, probably not that specific example. But I feel that a better rational for adding it is the fact that without it, shapes can be more limited in terms of being on the canvas. While I fail to better articulate this fact, I feel that adding it would be substantial while being a little more trivial.

[2020-01-07 19:44] dwelle commented on #15
Let's keep this open for now until we polish up what we have so far, or until someone comes here with a dire need :).

[2020-01-07 19:55] vjeux commented on #15
Just to be clear, if someone implements it that would be a welcome addition. But it’s not at a very high priority.

[2020-01-07 19:57] GrimTheReaper commented on #15
Fine by me, I just wanted to make sure it would be on a roadmap somewhere.

[2020-01-07 22:13] hejcz opened #249 "Can't copy + paste element with text"
I create rectangle and can copy and paste it. Then I add text inside. Can select both of them but Ctrl+V does nothing. Since now I can't paste anything - even empty rectangle.

[2020-01-07 22:41] gillchristian commented on #182
Anybody working on this already? I might give it a shot otherwise on the weekend.

[2020-01-07 22:43] vjeux commented on #182
Go for it

[2020-01-07 22:51] cmart11 commented on #19
Seems like we should also be able to crop the image with a shape or upload it as a shape's fill, but that may be better left for a new issue.

[2020-01-07 23:02] Fausto95 commented on #249
Can you try selecting all of the content you want to duplicate and use the context menu to copy & paste(`right click on elements`)?

[2020-01-07 23:36] vjeux commented on #249
I had something similar happen, where the focus was lost somewhere and couldn't paste anything. Clicking on the left menu fixed it. I don't have a repro but that's a real issue.

[2020-01-07 23:41] Fausto95 commented on #249
I could reproduce it by drawing elements then refreshing the page!

[2020-01-08 02:41] voluntadpear opened #250 "Show respective cursor when hovering over element"
Cursors like the resize arrows are shown only when the drag event has started. It'd nice to be able to change to the correct cursor when hovering over one of the edges.

I'm working on improving our `mousemove` event listener and hit testing to detect this kind of scenarios.

[2020-01-08 02:46] vjeux commented on #250
Agreed! Would be a great addition!

[2020-01-08 06:09] bvjebin opened #251 "Hint: Press shift to move elements faster with keyboard"
When we move an element with keyboard, it is slow. Providing some way to speed it will be useful for power users.

[2020-01-08 08:20] Fausto95 commented on #251
Just to make sure, did you try holding <kbd>Shift</kbd> while moving any element?

[2020-01-08 08:23] Fausto95 commented on #26
I think we close this one.
https://github.com/excalidraw/excalidraw/pull/238

[2020-01-08 09:02] bvjebin commented on #251
Yes. Just tried it. Shift makes it faster. But it was not obvious. Some cue would help.

[2020-01-08 09:50] hejcz commented on #249
@Fausto95 I have this effect after refreshing and after adding some text. I can copy paste bunch of rectangles and circles for example. Once I add text I can't paste anymore.

[2020-01-08 10:07] dwelle opened #252 "Clicking away when inserting text shouldn't insert another"
When you insert text via text shape tool, after clicking away it inserts another instead of confirming active text element.

When inserting via double-click, clicking away *does* confirm the text.

I propose aligning it: clicking away should always confirm, not create new text.

Moreover, I propose `Esc` to confirm active text element, too, instead of discarding it (is there an app that discard te

[2020-01-08 10:57] #26 closed

[2020-01-08 11:25] jordwalke opened #253 "Presentation Mode"
It would be cool to have a "slides" mode where you can have multiple pages. Then you could hit some kind of a "play" button that full screens it and you can use the arrow keys to navigate the pages, and escape to exit slide mode.
One concern I have is that for a presentation, you might want to be able to use a font that is a _little_ bit more formal/legible (and ability to increase font size), tho

[2020-01-08 11:26] jordwalke opened #254 "Cannot copy/paste text from color selection input."
If I copy a shape, and then copy some text from an input box (color selection) then try to paste the text in another color input box, it pastes the shape instead of pasting the text that was copied.

[2020-01-08 11:39] vjeux commented on #253
Another similar request is the ability to have different “artboards” like in sketch. Maybe we could allow artboards and have a way to play full screen between them.

![](http://www.sketchappsources.com/resources/source-image/android-screen-sizes-moniquep.jpg)

Another related thought is that @compulves was asking if we could export excalidraw into a npm component, so that it could be used as a pri

[2020-01-08 11:40] dwelle commented on #107
Reminder that this is still an issue stopping people in their tracks: https://mobile.twitter.com/functiondog/status/1214148490772832256

[2020-01-08 11:40] bratsos commented on #253
I guess this boils down to 3 main tasks:

- Being able to create multiple canvases (and switch between them)
- Being able to increase the font size (maybe just stretch it with the mouse and increase font-size proportionally with the box's height?)
- Being able to "autoplay" a series of selected canvases at a configurable time interval (aka slideshow)

[2020-01-08 11:44] vjeux commented on #254
We currently have copy/paste handler in the main div and not the canvas, we should either move it to the canvas, which may lose some events as it’s not clear it is focused or skip the behavior if we’re focused on an input text (we already do that in some cases, search for isInputLike).

Definitely a bug we should fix, thanks for reporting

[2020-01-08 11:45] vjeux commented on #107
I’ll take a look in a few hours

[2020-01-08 11:47] vjeux commented on #253
Another thing we’re going to run into for presentation is that the size of the screen is fixed, but right now excalidraw has an infinite sized screen

[2020-01-08 11:49] dwelle commented on #254
When we're at it, why do we use *actual* clipboard for canvas copy/paste? It has several disadvantages:

1. it asks for clipboard permissions on multiple pastes.
2. it overrides system clipboard with useless JSON data (and potentially overrides whatever useful thing was presently in system clip).

[2020-01-08 12:14] vjeux commented on #254
So that we can copy and paste between two tabs of excalidraw. It’s super annoying not to be able to when the use case happens

[2020-01-08 12:16] dwelle commented on #254
Hmm.. no prob, we can share state between tabs via `localStorage`. Only case when this won't work is when you use 2 different browsers at the same time, but that's an edge case in my opinion.

[2020-01-08 14:18] jeremyscatigna commented on #253
Could I help with this? :)

[2020-01-08 14:42] dwelle opened #256 "Selecting element when one is already selected sometimes results in resize"
Peculiar bug. Steps:

1. Select an `element1`.
2. Try to select `element2` by clicking on a position where `element2`'s resize handle is going to be after click.
3. Results in `element1` retaining selection, and resizing to the clicked position (or something like that).

![calidraw_select_drag_bug](https://user-images.githubusercontent.com/5153846/71986750-445bb780-322d-11ea-856c-b91849a1c41c.gif)

[2020-01-08 15:29] vjeux commented on #253
Go for it!

[2020-01-08 16:05] dwelle commented on #165
fixed in #255

[2020-01-08 16:05] #165 closed

[2020-01-08 16:11] nickzuber opened #257 "Suggestion - Add more text modes"
I'd like to suggest we allow a small amount of preset text modes/sizes:

 - Title (larger font than current default)
 - Regular (current default)
 - Small (smaller font than current default)

This way, we can continue with the spirit of keeping the customization to a minimum (less things for the user to worry about), but we can cover most of the use cases where folks want different sized fonts

[2020-01-08 16:20] jeremyscatigna commented on #253
So I think the first thing would be to create an Artboard notion, maybe having the option to work on an infinite sized screen or on a fixed size artboard depending on if you work on a presentation or not.
When you enter excalidraw you begin with an infinite sized screen and maybe we could have a section on the left panel to create an Artboard so then you could work on something finite

[2020-01-08 16:23] vjeux commented on #257
Agreed

[2020-01-08 16:28] vjeux commented on #253
Yeah, let’s build the notion of artboard first, it’s going to be useful no matter what

[2020-01-08 17:07] #256 closed

[2020-01-08 17:17] vjeux opened #259 "Cmd-z should update global state"
If you change the background color, cmd z should revert it back. Right now it keeps it as is

[2020-01-08 17:18] vjeux opened #260 "Starting drawing a shape via shortcut should clear selection"
Repro:
- Press A
- Draw an arrow
- Press A again
- Draw another arrow
- Both arrows are selected, only the second one should.

[2020-01-08 17:40] vjeux opened #262 "Better colors"
The current colors for canvas background, shape background and stroke don't look super good. I'd love if someone could come up with better color palettes so that just clicking on random colors would make diagrams look good

[2020-01-08 17:43] vjeux commented on #242
This is a super easy thing to do: just remove the code from the sidebar.

[2020-01-08 17:45] vjeux commented on #252
Agreed, the current behavior looks broken.

I don't really have a preference.

[2020-01-08 17:46] vjeux commented on #251
One thing that would be cool is to display a toast if you've been moving the shape long enough without shift. Contributions welcome

[2020-01-08 17:49] clementgenzmer opened #263 "Snap to objects"
Arguable, and difficult to implement correctly. But most drawing apps have a snap to position feature. To make sure things aligned. Now by the very spirit of this tool, we don't want things to be too clean, and the snap to position should respect that.

I think it would be cool

[2020-01-08 17:51] vjeux commented on #263
Agreed! @hmaurer has a cool proposal for attaching an arrow to an object here: https://github.com/excalidraw/excalidraw/issues/157#issuecomment-570937963 Would love for someone to implement it

[2020-01-08 17:54] vjeux opened #264 "Creating a text near the center of a shape should put it in the center"
It's very common to build a shape (rectangle, ellipse) and want to have a label inside. Right now it's hard to click precisely enough, I almost always have to recenter the text after having written it. Would be nice if we could notice that you are trying to write something at the center and automatically "snap" it to the center.

[2020-01-08 17:55] vjeux commented on #264
![ezgif-2-3d1c4e30c479](https://user-images.githubusercontent.com/197597/72002834-08a8f980-31fd-11ea-98c4-e478f1871288.gif)

[2020-01-08 17:56] pshihn commented on #262
For discussion, here are D3's schemes:
https://github.com/d3/d3-scale-chromatic#api-reference

[2020-01-08 17:57] vjeux commented on #262
@pshihn nice, they look great! Do you want to bring them to excalidraw?

[2020-01-08 17:59] jordic commented on #19
Persistence could be done as base64 encoded json values

[2020-01-08 18:05] pshihn commented on #262
Haha, perhaps. Don't want to commit to anything :) If anyone else wants to do this, please go ahead.
Should decide whether to have different palettes, or pick one of these. I like `schemeTableau10` and `schemePaired` from the D3 schemes.

[2020-01-08 18:07] vjeux commented on #262
I think we should pick only one and make it good :)

[2020-01-08 18:47] vjeux commented on #262
Actually, I think we should have one per type of colors. Canvas background, shape background and stroke colors should likely all be different.

[2020-01-08 18:59] vjeux opened #267 "Pressing escape after selecting a shape should revert back to selection"

[2020-01-08 19:06] dwelle commented on #252
Alright, then I'll make it not discard it, because it's dangerous without a confirm, and most apps don't discard.

[2020-01-08 19:07] nanot1m commented on #264
Fixed in #266

[2020-01-08 19:14] dwelle commented on #19
Keep in mind that we still store to `localStorage` (so we have ~5MB limit) and need to cache app (+canvas) state (potentially multiple, when #253 is implemented). Copy/pasting (meaning potentially another whole canvas) logic will also use `localStorage`.

Maybe we should investigate using different storage (IndexedDB...), soon.

[2020-01-08 19:17] dwelle commented on #251
I'm planning to implement a hint manager where we'll put stuff like this.

[2020-01-08 19:17] hmaurer commented on #263
@vjeux I am sick at the moment so happy for someone to take #157 up :-)

[2020-01-08 19:18] hmaurer commented on #157
I am sick at the moment so if someone wants to pick this one up go ahead! :-)

[2020-01-08 19:19] vjeux commented on #263
@hmaurer oh noes, I hope you get better!

[2020-01-08 19:23] vjeux opened #269 "Context menu position is off"
On mac, the context menu position is right under the cursor, and there's left padding to accommodate for the cursor position. But for excalidraw it's at a different position

----

Excalidraw
![image](https://user-images.githubusercontent.com/197597/72008655-2a0fe280-3209-11ea-8bec-7d71283a8c3d.png)

Mac
![image](https://user-images.githubusercontent.com/197597/72008665-3136f080-3209-11ea-9e8d-d74

[2020-01-08 19:28] vjeux commented on #269
Would be nice to also match the colors of mac context menu since it looks so similar.

[2020-01-08 19:29] dwelle commented on #269
I'll fix this as part of https://github.com/excalidraw/excalidraw/issues/240. Keep in mind that the contextMenu position will not be guaranteed though, because it often doesn't fit on screen.

[2020-01-08 19:39] vjeux opened #271 "Area where text is active should be smaller"
It looks like the entire width of the screen is considered to be the area for text input. This is a bit annoying as I usually click on the right of the text input to dismiss it, and it doesn't work.

It makes sense to have a small buffer (10-20px) but not larger than that

![ezgif-2-16bab2967eeb](https://user-images.githubusercontent.com/197597/72009767-69d7c980-320b-11ea-921f-2d48051585d9.gif)

[2020-01-08 19:43] vjeux commented on #269
Mac os has a very fancy context menu where it puts top/bottom left/right when it overflows. If it’s still to big it scrolls inside.

You can also type and it’s going to select the item you typed...

I wish we could use the native context menu from the web instead of having to rebuild a poor mans version

[2020-01-08 19:44] vjeux commented on #269
It’s also not bound by the window viewport

[2020-01-08 19:52] vjeux opened #272 "Command clicking should "xor" selection"
If you have command key held down and click on something, it should add it to the selection it if it wasn't selected or unselect it if it was already selected.

[2020-01-08 19:54] vjeux opened #273 "Shift drag should add to selection"
Right now shift drag unselects everything and makes the selection square, which is not the expected behavior. It should keep the current selection and whatever is under the selection be added to the selection.

Same for command, it should inverse the selection for everything under the new drag area.

[2020-01-08 19:57] dwelle commented on #272
IMO regular `Shift` should work like that (so that you don't need to switch keys when you mis-click). At least that's what Figma & Affinity does.

[2020-01-08 20:09] #264 closed

[2020-01-08 20:10] vjeux commented on #272
Oh you are right, keynote does that as well!

[2020-01-08 20:13] dwelle commented on #273
Agreed, but let's make the deselect use `Shift`-drag, to align with #272 (if we're in agreement there).

[2020-01-08 20:14] nanot1m commented on #271
I think it can be fixed with two ways:
- input with dynamic width (depends on typed text)
- contenteditable inline-block element

[2020-01-08 20:18] vjeux commented on #273
Agreed

[2020-01-08 20:19] vjeux commented on #271
contenteditable inline block element sounds promising

[2020-01-08 20:20] vjeux commented on #271
Actually, both seem like they could work.

[2020-01-08 21:04] #271 closed

[2020-01-08 21:38] #237 closed

[2020-01-08 23:57] mattbhenley commented on #257
I love this idea. It seems like that is the big thing missing (although, it's a great program)

[2020-01-09 01:31] vjeux commented on #257
#278 implemented it!

[2020-01-09 01:31] #257 closed

[2020-01-09 01:31] vjeux commented on #120
Last part was landed with #278 !

[2020-01-09 01:31] #120 closed

[2020-01-09 02:56] #250 closed

[2020-01-09 02:58] vjeux commented on #110
Fixed by #280

[2020-01-09 02:58] #110 closed

[2020-01-09 07:24] pshihn commented on #218
See https://observablehq.com/@matthewturk/path-interpolation-roughjs
One could use this same technique for creating such animation

[2020-01-09 10:10] #175 closed

[2020-01-09 11:12] giovannigiordano opened #284 "Scroll bar shows up even on an empty canvas"
If I start with a blank canvas and I try to scroll up, the scroll is permitted but the scrollbar is not visible.

[2020-01-09 11:18] vjeux opened #285 "Idea: press enter when shape selected to add text"
Since we now have ability to put text in center, this could reduce the need to double click in a precise location

[2020-01-09 11:34] #164 closed

[2020-01-09 11:43] dwelle commented on #272
@giovannigiordano this is actually still on track.

[2020-01-09 11:53] giovannigiordano commented on #285
It's a good idea! 🚀

[2020-01-09 11:57] dwelle commented on #285
Not sure if overloading `Enter` is a good idea though, since if we later implement some sort of modification/state for a shape that needs to be confirmed, than double `Enter` will result in confirm + add-text. I think `Enter` should be idempotent *confirm* action in that regard.

Shouldn't we come up with a different key, or `Enter` + some modifier?

[2020-01-09 12:01] giovannigiordano opened #287 "Create a template for new issues"
We need a template for new issues.
At least an help to choose the  right label to attach.

[2020-01-09 12:05] #235 closed

[2020-01-09 13:20] dwelle commented on #287
Only collaborators can do that, no?

[2020-01-09 13:21] dwelle commented on #284
Or scrolling down. Something is definitely going on.

[2020-01-09 14:50] nanot1m commented on #284
It was intentional. Currently scroll only shows when some elements are out of screen.

[2020-01-09 14:57] dwelle commented on #284
Mhm. Yea, but I think we're still scrolling even if the scrollbars don't show, and they also show sometimes even on empty canvas, when scrolling a lot. So it should be tightened up.

[2020-01-09 15:02] nanot1m commented on #284
this should be definitely fixed. Can you say how to reproduce this bug?

[2020-01-09 15:03] dwelle commented on #284
For me, wheel-scrolling upwards (downwards it doesn't happen FSR) for some time.

[2020-01-09 15:05] nanot1m commented on #284
Scroll is usually bounded to some element of determined size. Canvas has an infinite size, so it's impossible to bound scroll to the canvas directly.

[2020-01-09 15:13] nickzuber commented on #257
That was fast! Awesome stuff 🎉

[2020-01-09 15:19] dwelle opened #289 "Dragging multiple selected elements should move all"
When you select several elements, dragging any of the selection should move all of them, not deselect all except the clicked one (as currently happens).

[2020-01-09 15:30] #267 closed

[2020-01-09 15:41] dwelle commented on #173
During the [PR review](https://github.com/excalidraw/excalidraw/pull/181#issuecomment-572554178), I've added:

Is that out of scope (too complex) for this app, or do we want to implement that behavior?

[2020-01-09 16:23] dwelle commented on #284
@nanot1m good diagram, though I'm not sure what a *Page* represents here. If it's an element (or a bounding box of all elements), then that makes sense.

Anyway, I agree that the scroll is in relation to the bound box of all elements, and thus it doesn't make sense to consider it in isolation. With that said, we still seem to have some bug of how we handle the scrollbars, then (as my previous comm

[2020-01-09 16:23] GasimGasimzada commented on #289
Wasn’t this fixed in my PR? That was the last commit I did to fix it.

[2020-01-09 16:34] dwelle commented on #289
You're right. I've created this issue slightly before I think. Thanks.

[2020-01-09 16:34] #289 closed

[2020-01-09 17:24] gmertk opened #290 "History is saved when resizing or dragging elements"
### Repro:
Select an element.
Resize (or drag) the element.
Then press cmd(ctrl)+z to undo.
See that the element is resizing (or moving) as those states were saved in the history.

### Expected:
We don't want to save history when resizing or dragging an element.

![Jan-09-2020 20-23-27](https://user-images.githubusercontent.com/907281/72089892-fa063380-331d-11ea-9693-c66bcd285841.gif)

[2020-01-09 17:46] vjeux commented on #290
This is a recent bug, we had the notion of skipHistory implemented to fix it. Probably because of the big refactor that landed earlier today. cc @dwelle

[2020-01-09 17:53] gmertk commented on #290
I think this bug existed even before the refactor.

Something with the component being updated and resuming the history before onMouse callbacks have a chance to skip it.

[2020-01-09 17:56] dwelle commented on #290
Bisecting, it seems it was introduced in https://github.com/excalidraw/excalidraw/pull/248/files

[2020-01-09 17:59] gmertk commented on #290
@dwelle that looks suspicious; every mousemove is updating the state and causing the history to resume in componentDidUpdate.

[2020-01-09 20:57] vjeux commented on #287
I would say let's not, at least for now. We don't have a big enough volume that we should try to slow it down. Feedback has been super valuable with issues so far!

[2020-01-09 20:59] hejcz opened #293 "Double click on canvas results in error"
Stack from console after double click to add text.

[code]

[2020-01-09 21:00] vjeux opened #294 "Concept: layout dependencies (glue points/connectors/attached elements/grouping)"
I think that we are missing one concept in the current implementation: the ability to have some properties of layout (left, top, width, height) be dependent on some other element.

Two use cases I can see where it would be useful for:
- Arrows that are attached to the side of an element
- Centered text within an element

If we implement this dependency tracking, we would be able to move the elemen

[2020-01-09 21:05] dwelle commented on #293
Can't repro :/. What's browser are you using?

[2020-01-09 21:06] hejcz commented on #293
Firefox 72.0.1 (64-bit)

[2020-01-09 21:07] dwelle commented on #293
Cool, can repro. Thanks.

[2020-01-09 21:14] DmitrySoshnikov commented on #218
@pshihn: yeah, that's exactly what I mean -- with configurable timing, etc.

[2020-01-09 23:22] davidbonan commented on #223
Done on pr #278 (merge)

[2020-01-09 23:24] davidbonan commented on #138
I think, a mobile support is not a good idea but, a tablet support will be very cool

[2020-01-10 05:17] vjeux opened #297 "Way to have a smaller react-color bundle"
https://twitter.com/casesandberg/status/1215498873818382338?s=21

[2020-01-10 09:03] klikstermkd commented on #138
@davidbonan Mobile support covers tablets as well, as I have said in the description of the issue.

[2020-01-10 09:35] dwelle commented on #138
Yes, IMO we should aim for touch/pointer support, but not sweat about making the design responsive in a way that it fits on tiny screens.

[2020-01-10 10:30] nanot1m commented on #297
It's already done

https://github.com/excalidraw/excalidraw/blob/35b5f6dd0d3f39bdf87401169c41a449ef02cc9c/src/components/ColorPicker.tsx#L4-L8

[2020-01-10 14:31] fjaguero commented on #293
@dwelle I'm getting the same error when attempting to add text. Same browser version.

![error](https://user-images.githubusercontent.com/716123/72160203-37220280-33be-11ea-80f1-eb4e43d8ac28.gif)

[2020-01-10 14:38] dwelle commented on #293
Gonna push a hotfix for this in a bit.

[2020-01-10 14:52] #293 closed

[2020-01-10 15:18] #297 closed

[2020-01-10 18:34] nanot1m commented on #285
On mac os <kbd>Enter</kbd>'s default action on selected file is a renaming

[2020-01-10 18:36] dwelle commented on #285
Strange. What's the hotkey for open?

[2020-01-10 18:40] nanot1m commented on #285
<kbd>⌘</kbd> + <kbd>O</kbd> or <kbd>⌘</kbd> + <kbd>↓</kbd>

[2020-01-10 20:10] nanot1m commented on #260
Would be fixed in #300

[2020-01-10 20:34] enzoferey commented on #262
@vjeux can I take this one ? Colors are pretty subjective for sure, but pretty confident I can setup something better than what we have and we can further iterate on those palettes 👍

[2020-01-10 21:36] dwelle opened #303 "TS readonly breaks CodeSandbox"
Just noticed that [CodeSandbox](codesandbox.io/s/github/excalidraw/excalidraw) doesn't compile. From the error, it seems like the `readonly` is the culprit:

![image](https://user-images.githubusercontent.com/5153846/72187941-5a1dd800-33f9-11ea-9d93-fd9969aed38f.png)

I'll investigate tomorrow if we can do something on our end (`readonly` is pretty old TS, so I'm wondering if that's really what's

[2020-01-10 21:45] #272 closed

[2020-01-10 22:52] enzoferey commented on #259
Looking at the code this happens because only the `elements` array is being stored in the history.

Simplest solution I can think of is to stringify `{ appState: { ... }, elements: [ ... ] }` instead. Then, we can grab both values when `redo` and `undo`. Finally, in order to only sync desired properties of the app state, I think we should hand pick properties inside the `componentDidUpdate` flow.

[2020-01-11 00:13] vjeux commented on #259
Yeah, that’s the idea on how to fix it! PR would be welcome

[2020-01-11 02:53] paulomenezes opened #305 "Center and align options"
I think that will be great to have the options to align and distribute the elements when more than one is selected, similar to Sketch and a more others:

<img width="238" alt="image" src="https://user-images.githubusercontent.com/10564179/72197795-3c09a500-3404-11ea-9168-fd5f46e39398.png">

What do you think?

[2020-01-11 02:59] paulomenezes commented on #123
Someone want to work on this? I'm busy these days 😭

[2020-01-11 03:55] vjeux commented on #303
I noticed it but been busy this week and couldn’t contribute anyway. Would be nice to get it fixed

[2020-01-11 03:56] vjeux commented on #260
This was merged :)

[2020-01-11 03:56] #260 closed

[2020-01-11 10:15] dwelle commented on #303
I've created an issue on CodeSandbox: https://github.com/codesandbox/codesandbox-client/issues/3316

[2020-01-11 11:43] enzoferey commented on #259
I will open the PR later today then 👌

[2020-01-11 13:07] dwelle opened #306 "Scroll to content when loading from file or backend"
When importing from file or restoring canvas from localStorage, we should ensure we scroll to content.

For example, I was importing an example scene for #302, and upon import the content was scrolled way off and I had no idea where it is. This could have been caused by either me scrolling away before import, or the imported scene content being way off the center.

[2020-01-11 13:16] dwelle opened #307 "Undoing a change created after undo skips history"
Not sure what's really going on, so the title may be incorrect.

Steps:

1. create a shape
2. move the shape
3. undo the move change
4. move the shape again
5. undo that move again

The last undo removes the shape completely, instead of undoing the last move.

![excalidraw_undo_skip](https://user-images.githubusercontent.com/5153846/72205031-e0c8c880-347e-11ea-8487-3cf8cf154fdb.gif)

[2020-01-11 13:17] Fausto95 commented on #306
Agreed!

[2020-01-11 13:20] Fausto95 commented on #306
I also think that implementing a zoom in/out would be worth it

[2020-01-11 13:36] Fausto95 opened #308 "Export only selected elements"
While most of the apps allow this to be done, it'd be nice if we supported this feature, right now we're able to accomplish this using the copy to clipboard button but it should be done when we click the export button or we could add it in the context menu

[2020-01-11 14:14] dwelle commented on #308
Do you mean supporting to ignore deselected elements during export? Because I'm confused by:

Both the "export to image" and "export to clipboard" work the same way, currently.

[2020-01-11 14:26] Fausto95 commented on #308
The code is exactly the same, but when copying to clipboard, you only get the selected elements!
With the export button, if you select elements and then click the button, all the elements in the canvas will be exported even those that aren't selected

[2020-01-11 14:47] dwelle commented on #308
Cannot repro. Are we talking about this button?

![image](https://user-images.githubusercontent.com/5153846/72206026-a7e22100-3489-11ea-88ce-a6a08319f33b.png)

[2020-01-11 14:54] Fausto95 commented on #308
That's what I meant

[2020-01-11 15:10] dwelle commented on #308
I see. Well, yea, that's a different thing.

Let's keep this issue open and see what others think. What's your use case for that?

[2020-01-11 16:59] enzoferey commented on #231
I can be of great help on this @GasimGasimzada, let me know if you want any help 👍

This will be tricky to pull off with a lot of people contributing features because we will most likely have to rebuild them on top at the same time we refactor, but it should definitely be done sooner or later.

[2020-01-11 18:03] enzoferey commented on #307
Hi @dwelle, I was just working on https://github.com/excalidraw/excalidraw/pull/309 and I was facing the same bug. It is caused because [here](https://github.com/excalidraw/excalidraw/blob/master/src/history.ts#L55) we are allowing to remove 2 elements in the history stack when we should only pop one element, put it into the redo stack, and grab last element of the history (previous second last) a

[2020-01-11 19:48] vjeux opened #310 "Thank you!"
I just wanted to say a big thank you to everyone involved in the project. It's been an amazing start! Can't wait to see where it's going to end up looking like in the future :)

All the code contributors so far: @giovannigiordano, @dwelle, @nanot1m, @Fausto95, @GasimGasimzada, @paulomenezes, @bradymadden97, @voluntadpear, @jaredpalmer, @davidbonan, @azz, @viglucci, @jeremyscatigna, @gmertk, @chico

[2020-01-11 20:47] GasimGasimzada commented on #231
@enzoferey I am currently working on a system that I call action system in this PR: #298. The goal of this PR is to modularize actions. If you want to, you can also get engaged in the discussion.

[2020-01-11 22:15] wolverineks opened #311 "offset text when using <div> in text"
using div in a text element offsets text
<img width="692" alt="Screen Shot 2020-01-11 at 14 16 40" src="https://user-images.githubusercontent.com/8462274/72211254-0523a580-347d-11ea-8853-c35b770fe198.png">

[2020-01-11 22:24] GasimGasimzada commented on #311
Just fixed it: #312

[2020-01-11 22:28] #311 closed

[2020-01-11 22:35] vjeux opened #313 "Restore generator caching"
See this dicussion: https://github.com/excalidraw/excalidraw/pull/233#issuecomment-573360445

This will help bring mouse move perf back to an acceptable level

[2020-01-11 22:37] vjeux commented on #306
I believe that we should store all the app state (scroll, latest colors, side panel expansion...) into local storage. Ideally, refreshing the page should restore the exact same state.

[2020-01-11 22:58] #242 closed

[2020-01-11 22:59] vjeux commented on #262
Fixed by #304

[2020-01-11 22:59] #262 closed

[2020-01-11 23:27] vjeux opened #318 "Select All context menu should only be visible when clicking outside of an element"

[2020-01-11 23:56] vjeux opened #319 "Cmd-A to select all enables arrow drawing"

[2020-01-11 23:59] #269 closed

[2020-01-12 00:06] #319 closed

[2020-01-12 00:07] vjeux commented on #313
Fixed by #316

[2020-01-12 00:07] #313 closed

[2020-01-12 00:08] vjeux commented on #308
I think that makes sense to export all the elements if none are selected, or export only selected elements if some are selected.

A common use case is that you write multiple diagrams in one scene and want to export different images for each section.

[2020-01-12 00:15] #308 closed

[2020-01-12 00:20] vjeux opened #324 "alt drag no longer works"
It duplicates the element but doesn't move it along

[2020-01-12 03:35] vjeux commented on #324
Fixed by #326

[2020-01-12 03:35] #324 closed

[2020-01-12 04:20] vjeux commented on #218
Wahhh, this demo is so cool!

[2020-01-12 04:21] #223 closed

[2020-01-12 04:21] vjeux commented on #243
I added the ability to select a transparent color

[2020-01-12 04:21] #243 closed

[2020-01-12 04:23] #40 closed

[2020-01-12 04:23] #36 closed

[2020-01-12 04:24] vjeux commented on #107
Is it still an issue?

[2020-01-12 04:25] nanot1m commented on #107
Yes, It's still reproducing

[2020-01-12 04:32] vjeux commented on #107
What are the repro steps?

[2020-01-12 04:33] #287 closed

[2020-01-12 04:34] #79 closed

[2020-01-12 04:34] #226 closed

[2020-01-12 04:34] nanot1m commented on #107
Trying to access https://excalidraw.com/ with safari leads to connection not secure error

[2020-01-12 04:37] vjeux commented on #306
localStorage does store the appState, but not from file. We should add appState content within the file. Should be pretty easy to

[2020-01-12 04:41] #254 closed

[2020-01-12 04:45] #307 closed

[2020-01-12 04:46] vjeux commented on #307
For context, I've never written an undo/redo action before, so I tried something with pushing random stuff so that it kind of worked. Looks like I didn't get it right. Thanks @enzoferey for the correct version!

[2020-01-12 05:00] #252 closed

[2020-01-12 05:02] vjeux commented on #290
This has been fixed. The other issue has also been fixed. See https://github.com/excalidraw/excalidraw/issues/307

[2020-01-12 05:02] #290 closed

[2020-01-12 05:26] vjeux commented on #284
I feel like it's working as intended overall. The only minor issue is that it's possible to see the scrollbar on an empty canvas if you scroll far enough. It's a super tiny detail though.

[2020-01-12 05:39] #249 closed

[2020-01-12 05:39] vjeux commented on #249
I submitted a fix. I can't quite repro so I'm not sure if it's actually working.

Please re-open an issue if you can still experience this!

[2020-01-12 05:42] vjeux commented on #107
Ok, I can reproduce now!

[2020-01-12 05:50] vjeux commented on #107
I just created a ticket for github, hopefully they will be able to help, I'm not really sure how to troubleshoot.

[2020-01-12 05:51] vjeux commented on #104
We now have the distinction between shapes with and without background. We should be able to implement this.

[2020-01-12 06:27] vjeux opened #335 "Hints manager"
I’ve been thinking about how to implement the best hints.

Now that we have an action manager. Whenever an action is performed by clicking a button, we can add a small toast providing the corresponding shortcut.

For shifting the text faster, we can trigger a hint to press shift when we notice many movement in the same direction in a short period of time.

If the person clicks the text button, we

[2020-01-12 06:31] vjeux commented on #285
@dwelle that’s a legit concern. Since adding text in the middle of a shape is such a common use case, I’m trying to find ways to make it as simple as possible to do so.

[2020-01-12 09:00] GasimGasimzada commented on #24
I have played with bezier curves within the app and this is the type of result I got:

![Screen Shot 2020-01-12 at 12 58 24 PM](https://user-images.githubusercontent.com/807231/72216518-6b6efd80-353b-11ea-9ee3-825af81c8eed.png)

Is this what we are looking for (don't worry about arrow's orientation).

[2020-01-12 09:01] enzoferey commented on #307
@vjeux As I wrote at the end of my comment, there are other not working as expected things and to be simplified things in the history. I will send a PR solving them in the next hours.

[2020-01-12 11:23] vjeux commented on #24
Nice!!

[2020-01-12 11:38] dwelle commented on #306
But, even we should still scroll to content if for whatever reason we restore the state in such a way the we're scrolled off (e.g. when user deliberately or by mistake scrolls off before session close or export).

[2020-01-12 11:56] dwelle commented on #335
Not sure if you already have a concrete UI/imlementation in mind, but I propose doing pretty much what Affinity Designer does.

There's a "status" bar at the bottom of the app where there are context-specific hints:

![excalidraw_hint_proposal](https://user-images.githubusercontent.com/5153846/72218357-8ee57880-353a-11ea-9dd1-835353f31232.gif)

Benefit is it's minimalistic (doesn't bother users),

[2020-01-12 13:01] GasimGasimzada commented on #24
@vjeux drawing bezier curves is not a hard task. However, I have no clue on how to find a point on a bezier curve. For the time being, I am going to do straight lines for the arrow and get it to a working condition (#338). Then, I will research and try to implement the necessary algorithms for bezier curves.

[2020-01-12 13:26] dwelle commented on #104
I'm on it.

[2020-01-12 13:58] nanot1m opened #339 "Allow dragging if click was inside shape rectangle"
It's a little bit complicated to move elements around — if you click past the stroke all the selection removes.

Maybe allowing clicking inside bounding box to drag elements (as Figma does) around would work better?

![Kapture 2020-01-12 at 18 51 05](https://user-images.githubusercontent.com/9278185/72219882-bfdea100-356c-11ea-8fbd-014d19e53914.gif)

[2020-01-12 14:45] voluntadpear commented on #123
I'd love to work on this!

[2020-01-12 15:09] vjeux commented on #123
Go for it

[2020-01-12 15:10] #318 closed

[2020-01-12 15:13] vjeux commented on #335
Nice, yeah something like this. Agreed we should only have a small amount of useful hints

[2020-01-12 16:41] dwelle commented on #339
Yes, I believe we should allow drag-inside even for non-bg shapes, IFF the shape is already selected. I think we even agreed on this in another issue/PR, but maybe I'm mistaken.

[2020-01-12 17:05] #123 closed

[2020-01-12 18:07] nanot1m opened #344 "Add line shape"
Practically everyone whom I showed the excalidraw was wondering how to draw a simple line.

People from the twitter are using rectangles to draw lines:
https://twitter.com/sompylasar/status/1216240070631383041/photo/1

[2020-01-12 18:08] joewood opened #345 "Suggestion - create a GatsbyJS transformer"
Great tool ! Thanks for publishing this.
Given the JSON document describes a diagram, it would be great to include these diagrams as PNGs in a static page built with Gatsby. A GatsbyJS transformer could transform nodes with a special MIME type to PNG image nodes.

[2020-01-12 18:14] nanot1m opened #346 "Performance. Cache rendered shapes in offscreen canvas"
From the #302

[2020-01-12 18:16] nanot1m opened #347 "Performance. Render only visible shapes"
This would improve performance on complex scenes

[2020-01-12 18:27] vjeux commented on #344
Agreed. PR welcome

I was thinking that we'd wanted to have multi-point lines before doing it but we may be able to workaround by just adding single lines and people can combine them.

[2020-01-12 18:50] vjeux commented on #346
I feel like we should come up with proper measurement before looking into all sorts of performance optimizations. There are a few phases:

- Mousemove handler that modifies a bunch of javascript objects
- Converting the scene into draw commands
- Actually executing the draw commands

We should make sure that we know what is done with each phase, what are the costly operations within each and how b

[2020-01-12 19:16] #104 closed

[2020-01-12 19:23] vjeux opened #348 "Clicking on a rectangle, then text inside selects both"
Repro:
- Create a rectangle with background
- Create a text in the middle
- Click on the rectangle
- Click on the text (WITHOUT shift)
- Both are selected. Only the text should be selected

![ezgif-6-851fd2758827](https://user-images.githubusercontent.com/197597/72224305-e7fadf80-352d-11ea-9592-b47cdc7d0035.gif)

cc @dwelle

[2020-01-12 19:30] dwelle commented on #348
Not just text, but anything:

Looks like the regression was indeed introduced in my last PR :/

[2020-01-12 19:43] #348 closed

[2020-01-12 19:49] vjeux commented on #345
Interesting. It may make sense to publish a npm command line tool that takes a scene and outputs a png. Then someone else can make a gatsby plugin or many other ideas.

I wonder how that'd work though, is there a canvas polyfill that exists without a browser?

[2020-01-12 19:51] vjeux commented on #345
Looks like the people from wordpress built node-canvas: https://github.com/Automattic/node-canvas

[2020-01-12 20:01] vjeux opened #351 "Direction cursor should not happen when more than 1 element selected"
![ezgif-6-50a3e45f103d](https://user-images.githubusercontent.com/197597/72224800-3b236100-3533-11ea-856a-06ea9a7ef168.gif)

[2020-01-12 20:03] vjeux commented on #107
Someone from Github was helpful in confirming that this is indeed a problem. I'm waiting for a reply to see if they have suggestions on how I should go about fixing it.

[2020-01-12 20:21] dwelle commented on #107
Bad GitHub :). I thought LetsEncrypt already supports wildcard certificates to make this easier for them.

[2020-01-12 20:24] #351 closed

[2020-01-12 20:24] dwelle commented on #303
The ice is moving (though it [got stuck](https://github.com/codesandbox/codesandbox-client/pull/3318) on some CI failure), so hopefully this will be fixed within a day or so.

[2020-01-12 20:36] dwelle commented on #273
Reopening since the PR was reversed.

[2020-01-12 22:02] pshihn commented on #345
one could also export to SVG (https://github.com/excalidraw/excalidraw/issues/182) which should be statically rendered by Gatsby or other static generators.

[2020-01-12 22:40] woloski opened #354 "public shareable urls"
google drawing allows you to generate a public url that renders the drawing in png

use case: embed the image in a gh issue
https://twitter.com/vjeux/status/1216228555652075520?s=21

The benefit is that you get auto-updates on that image. Very useful for docs, wikis, etc like gh issues, notion, confluence, gdocs. Keep one source of truth.

It requires a server piece ofc. I think `zeit now` would b

[2020-01-12 22:46] vjeux commented on #354
Agreed, would be great! We tried adding it in the hash but it ended up being too big and had to be reverted ( https://github.com/excalidraw/excalidraw/pull/220 ).

What we'd need is the ability to upload a json somewhere and get a unique id to retrieve it back. Do you know a (hopefully free and that doesn't require login) service that can provide that? You mentioned `zeit now`, do you know how tha

[2020-01-12 22:49] vjeux commented on #354
Google drawings requires an account to start sharing. I guess what we could do is to make it loginless but if and only if you want to generate a shareable url, then you have to login.

I definitely don't want to put a login wall before being able to use excalidraw.

[2020-01-12 22:53] joewood commented on #345
Agreed, SVG would be a better option if it's being worked on.

[2020-01-12 23:01] woloski commented on #354
I think you can start with an anonymous scheme if you want to keep it lightweight. You want authenticated users to avoid abuse and provide other functionality, like “my diagrams”, “private diagrams”, permissions like gdocs (org wide, per user, etc). For all that you can use [Auth0](https://auth0.com) and can be invoked only when you want to share.

[2020-01-12 23:36] vjeux commented on #354
Makes sense!

[2020-01-13 05:27] bradymadden97 opened #357 "background color not exported"
The background color doesn't get exported to the file when we click "Save as..."

[2020-01-13 10:12] TheKnarf opened #359 "copy paste"
`cmd+c` and `cmd+v` does not seem to work as copy paste on Mac.

[2020-01-13 11:04] gillchristian commented on #182
I did not have time during the weekend. If somebody else wants to take it feel free. Sorry 😅

[2020-01-13 15:39] dwelle commented on #303
Should be up and working!

[2020-01-13 15:39] #303 closed

[2020-01-13 15:59] GasimGasimzada commented on #359
Are you using Safari?

[2020-01-13 18:02] gmertk opened #360 "Clicking with no dragging creates shapes with zero width/height"
The title might sound weird. But the behavior is clearer in the screencast below.

We should either:
- not create any shapes if the dragging didn't start (Sketch's behavior)
- or create a shape with a larger default size (Google Slides' behavior).

![zero-size](https://user-images.githubusercontent.com/907281/72279687-94bc8600-362e-11ea-98d6-2b544aefa176.gif)

[2020-01-13 18:05] vjeux opened #361 "Pressing shift for arrows should enable horizontal"
Right now it only let's you do straight diagonals, would need horizontal and vertical as well

[2020-01-13 18:38] pshihn opened #362 "Upgrade to Rough.js 4.0.0"
* Supports random number seeding
* Sketch order consistency that will fix https://github.com/excalidraw/excalidraw/issues/211
More about this release: https://roughjs.com/posts/release-4.0/

I will file a PR shortly.

[2020-01-13 19:04] #211 closed

[2020-01-13 19:06] #362 closed

[2020-01-13 19:08] vjeux commented on #360
Agreed!

[2020-01-13 19:17] dwelle commented on #360
I'd also consider not creating (or removing if already created) when elements are resized below visibility threshold (though not sure how to determine that element isn't visible, or close to invisible).

Tiny invisible elements mess up export and users are left wondering why it exports beyond the visible shape.

[2020-01-13 19:26] gmertk commented on #360
I’ll have a look and send a PR. I’m more inclined to implement the first option of not creating the element.

[2020-01-13 20:41] xenophilicibex commented on #15
I think it might be nice to have preset rotations for each shape.

So rectangles, diamonds, ellipses, and lines don't need them.

But as soon as they're more polygons like triangles (△, ▹, ◸, +) and hexagons (⬡,⎔), rotation becomes the easiest way to configure it.

[2020-01-13 20:51] dwelle commented on #240
Closing as this is going to become obsolete after #343.

[2020-01-13 20:51] #240 closed

[2020-01-13 21:11] dwelle opened #365 "Creating text near the edge of viewport causes overflow"
If you create text shape near the edge of the viewport, it overflows and scrollbars appear, messing the layout and stuff. Happens during edit.

Not sure how to handle this case. Maybe detect the overflow and reposition the input during edit?

![excalidraw_text_overflow](https://user-images.githubusercontent.com/5153846/72292307-68663100-3651-11ea-8230-59e75d7479ff.gif)

[2020-01-13 21:16] felixakiragreen opened #366 "Shape Strategy (△, ⬡, +)"
_I think we agree that much of what makes excalidraw so great is its simplicity. And we don't want to just add every little thing because eventually the simplicity will be lost._

<img width="591" alt="Screen Shot 2020-01-13 at 16 03 13" src="https://user-images.githubusercontent.com/1843672/72291851-37b8d400-361e-11ea-8ce5-e4f9a15f7574.png">

I'd like to start the conversation on discussing the a

[2020-01-13 21:20] dwelle commented on #366
:sweat_smile:

[2020-01-14 06:48] muzakparov commented on #344
looking into it

[2020-01-14 07:52] Fausto95 opened #368 "Cmd+Click on element should add it to selection"

[2020-01-14 08:15] TheKnarf commented on #359
Chrome on macOs

[2020-01-14 08:16] TheKnarf commented on #359
And when I tested it today it started working, which was weird.

[2020-01-14 08:16] #359 closed

[2020-01-14 08:36] muzakparov opened #369 "Error: Unimplemented type line"
I started to get this error, it seems like the latest commit bumped roughjs version.
Removing `node_modules` and `yarn.lock` and reinstalling dependencies did not help

Update: sorry, this might be just local to my machine because reverting to previous commit didn't fix it

[2020-01-14 08:55] #369 closed

[2020-01-14 09:47] dwelle commented on #368
This was actually  [already suggested](https://github.com/excalidraw/excalidraw/issues/272), and rejected in favor of `Shift+click`, which is how most other apps do it (including Figma).

`Cmd+Click` will be used for exclusive select & subgroup element selection.

[2020-01-14 09:47] #368 closed

[2020-01-14 10:00] dwelle commented on #359
I'm not surprised. The current copy/paste implementation is buggy because it uses system clipboard, which tends to fail on permissions.

[2020-01-14 10:18] dwelle opened #370 "Large ellipses tend to under/overflow bounding box"
While latest roughjs greatly improves the rendering, and virtually removes discrepancy between outline & BG (props to @pshihn), we still seem to have a problem around large ellipses, especially when such an ellipse is drawn in one step (i.e. not resized post-fact).

It happens even for smaller ellipses, but isn't as pronounced.

What this causes is that clicking on the edges of the ellipse doesn't

[2020-01-14 16:39] GrimTheReaper commented on #366
I personally would group Hexagons with Polygons, or add a shape that you can specify how many sides it has since there might be a need for both symmetrical polygons and asymmetrical polygons.

[2020-01-14 20:07] jeremyscatigna commented on #253
@vjeux would love to get some help on the design of the feature

[2020-01-14 21:07] pshihn commented on #370
I'd like to add that this is part of the sketchiness of roughjs. It offsets values randomly to create an imperfect look (e.g. fills getting outside the outline). So, to get the exact radii for an ellipse, though possible, is not what I intended to implement.

Having said that, if this cannot be handled at the excalidraw app level, I'd be open to adding a custom render property when creating an ell

[2020-01-14 21:21] dwelle commented on #370
Yea, I'm not sure what we want to achieve here, but I opened the issue to track this nonetheless. WTBS, isn't it possible to have exact radii, while retaining a sketch look? IMO the imperfect radius isn't what makes an element look sketchy.

[2020-01-14 21:24] pshihn commented on #370
@dwelle  you are right. It has something to do with fill vs outline radii not being exact.
I can think of multiple ways to do this in roughjs, and I do not want to make it the default option. I can add a parameter something like `persistDimensions: true` to achieve this.

[2020-01-14 21:28] pshihn commented on #370
Ah I also noticed that I randomize the radii by up to 5% of its value, that's why it is more prominent in larger ellipses. Thanks for making me rethink this :)

[2020-01-14 21:34] pshihn commented on #370
One of the reasons for making radii imperfect is that humans cannot sketch perfect circles, they always make it elliptical. I still think a bit of randomness is useful by default, but I will add a parameter to not randomize it.

[2020-01-14 22:05] pshihn commented on #370
Added a config option to define how well curves are fitted: https://github.com/pshihn/rough/pull/126 This is available in v4.0.4 of roughjs
Wiki description: https://github.com/pshihn/rough/wiki#curvefitting

So when drawing an ellipse, your code can adapt to:

[code]

I'll leave it for someone to create a PR here :)

[2020-01-14 22:07] dwelle commented on #370
Will do tomorrow. Thanks!

[2020-01-15 15:44] vjeux commented on #107
Github got back to me saying that they can't have both www and non www in the same certificate. So we're basically out of luck. The rep brought this up to the product team.

I think in the meantime we should move to zeit or netlify. Too bad because I like github pages and it's almost working correctly.

[2020-01-15 16:24] pshihn commented on #344
Have you all thought about keeping line/arrow the same, just with different 'end decorators'? Then you can have two-headed arrows, or any other end-decorators in the future.

[2020-01-15 19:01] #370 closed

[2020-01-15 19:53] pshihn commented on #25
@GrimTheReaper  https://developer.mozilla.org/en-US/docs/Web/API/PointerEvent/pressure

[2020-01-15 19:57] GrimTheReaper commented on #25
neat.

[2020-01-15 23:03] lipis opened #377 "When changing the shape's sizes to "negative" values the arrows point to a wrong direction."
![Kapture 2020-01-16 at 1 02 10](https://user-images.githubusercontent.com/125676/72479049-fd0c9280-37fb-11ea-8bd3-b90d6b2c47c1.gif)

[2020-01-15 23:03] lipis commented on #377
Same for other shapes as well.

[2020-01-15 23:56] lipis opened #379 "Add open graph for better experience when sharing on social medias"
- https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fwww.excalidraw.com%2F
  `og:url`, `og:type`, `og:title`, `og:image`, `og:description`
- https://cards-dev.twitter.com/validator

[2020-01-15 23:57] vjeux commented on #379
Would be great indeed!

[2020-01-16 00:29] lipis commented on #377
There is already a PR fixing this bug #342

[2020-01-16 01:41] voluntadpear commented on #377
The previous PR tried to normalize the `width` and `height` values and that in turn proved to be too problematic. I'll open a new PR to solve the UI issues without affecting our coordinates system.

[2020-01-16 02:20] jsjoeio opened #381 "Improve Exclamation Point"
First, this project is awesome!

Using the text element, I noticed an exclamation point "!" and the letter "l" are hard to differentiate between.

<img width="103" alt="image" src="https://user-images.githubusercontent.com/3806031/72487566-b010c800-37cb-11ea-9973-d6e7a4296210.png">

What if there the exclamation point were redrawn so that it looked more distinct compared to the "l"?

### Follow-up

[2020-01-16 02:29] andrewmclagan commented on #359
Can we reopen this? Copy paste is also not working for me on OSX Chrome.

Chrome `Version 79.0.3945.117 (Official Build) (64-bit)`

OSX `10.14.6 Mojave`

[2020-01-16 02:35] vjeux commented on #381
I agree! We’re using the Virgil font that has this behavior. If you’re able to tweak that particular symbol in the font that would be awesome!

[2020-01-16 02:36] vjeux commented on #381
https://github.com/excalidraw/excalidraw/blob/master/public/FG_Virgil.ttf

[2020-01-16 02:48] andrewmclagan opened #382 "Copy & Paste not working on Chrome 75 for OSX"
Copy paste is not working for me on OSX Chrome.

Chrome Version 79.0.3945.117 (Official Build) (64-bit)

OSX 10.14.6 Mojave

Works fine on same system with FireFox

[2020-01-16 03:26] MicleMing opened #383 "[Suggestion] Add Plugin System to integrate custom shape"
Hi, It's awesome tool !  And I have found some issues is expanding shapes. if we have a plugin system to support users to expand they custom shapes by themself, It will more cool. for example:
[code]

[2020-01-16 06:30] kentaromiura commented on #382
Fiy: I've reproduced and fixed this locally by feature testing `clipboardData.writeText` I might send a pr later if it's not already fixed.

[2020-01-16 08:15] giovannigiordano commented on #382
@kentaromiura PRs are accepted for this!

[2020-01-16 08:16] giovannigiordano commented on #381
@vjeux we can even change the font?

[2020-01-16 08:18] giovannigiordano commented on #379
@lipis you can make a PR! 🚀

[2020-01-16 08:20] giovannigiordano commented on #360
@gmertk can you open a PR for this?

[2020-01-16 08:23] #284 closed

[2020-01-16 10:21] dwelle commented on #359
We need to do an overhaul of copy/paste. I'll open a new issue for this.

[2020-01-16 10:22] dwelle commented on #382
What will feature testing solve in this instance?

[2020-01-16 10:36] lipis commented on #379
@giovannigiordano I'm sure you can do it too.. :D I did my part by reporting the issue.. :D

[2020-01-16 11:01] dwelle opened #386 "Rewrite copy/paste to move away from system clipboard"
As discussed in https://github.com/excalidraw/excalidraw/issues/254 there are several issues with current implementation, which uses system clipboard:

1. Various permission issues & support issues, which may be behind all the reports: https://github.com/excalidraw/excalidraw/issues/382 https://github.com/excalidraw/excalidraw/issues/359 https://github.com/excalidraw/excalidraw/issues/249

    For

[2020-01-16 11:51] GasimGasimzada commented on #359
Do you guys want to rewrite it? Or maybe use a clipboard polyfill?

[2020-01-16 12:16] dwelle commented on #359
@GasimGasimzada check #386 for more info, and lemme know if you think those issues aren't substantial enough

[2020-01-16 12:28] kentaromiura commented on #382
Also since the version of TypeScript used doesn't currently support `writeText`, you need to forceCast like this:

[code]
which is super ugly :)

[2020-01-16 12:30] gmertk opened #389 "[nit] Buttons in top left panel aren't horizontally centered"
Tiny margin issue here:
![Screen Shot 2020-01-16 at 12 27 12 PM](https://user-images.githubusercontent.com/907281/72525384-ef86f500-385b-11ea-9a04-89e7fd635c52.png)

[2020-01-16 13:50] GasimGasimzada commented on #359
It makes sense now! A custom solution would be better then.

[2020-01-16 14:31] anil-sequoia commented on #360
@giovannigiordano : I am done with the fix. Can I raise the pull request, if you guys don't mind?

[2020-01-16 14:43] simbathesailor commented on #360
Hey @giovannigiordano @gmertk  . I was to able to fix this issue.  I have raised the pull request !
@gmertk Could you please review it and I hope you don't mind it.

[2020-01-16 14:43] jsjoeio commented on #381
Awesome! I've never done that before but I'm up for the challenge.

(Notes for myself - todos):
- [ ] Find font editor and edit "!" symbol (maybe [birdfont.org](https://birdfont.org/))
- [ ] Fork excalidraw and test out locally
- [ ] Open PR

[2020-01-16 15:32] vjeux commented on #381
I’ve never edited a font either, but that sounds like a cool challenge, let me know how it goes!

[2020-01-16 16:18] viglucci opened #391 "[Feature] Add ability to move shapes between"

[2020-01-16 16:18] #391 closed

[2020-01-16 16:18] viglucci commented on #391
Closed as posted before completed.

[2020-01-16 16:27] #360 closed

[2020-01-16 16:27] viglucci opened #392 "[Feature] Add ability to move shapes between z-index layers"
**User Story**

As a user, I want to be able to change whether the shape I currently have selected is drawn on top of or below other adjacent shapes so that I can more precisely communicate the relationships between shapes.

**Potential Solutions**
- Move to top button
  - Clicking the "move to top button" moves the currently selected shape to the "topmost" z-index
- Move up button
  - Clicking th

[2020-01-16 16:30] viglucci commented on #392
This appears to already be implemented but is hidden behind a context menu on right click of an element. re: #21

![image](https://user-images.githubusercontent.com/6305490/72543275-20126300-384b-11ea-91ac-283bf34fee2f.png)

[2020-01-16 16:30] #392 closed

[2020-01-16 16:50] dwelle commented on #392
It's a valid point. Not sure if we should add a message about this to the hints manager #335, or if it was a good idea to remove it from the menu to begin with. I think we should maybe reintroduce it to the shape menu, using small icons:

![image](https://user-images.githubusercontent.com/5153846/72545087-ba44cc00-3888-11ea-873d-c58052271087.png)

[2020-01-16 16:53] dwelle opened #393 "Remove elements that are resized below visibility point"
Just to track the 2nd half of  #360 (https://github.com/excalidraw/excalidraw/pull/387#issuecomment-575232255)

/cc @gmertk (or anyone)

[2020-01-16 17:38] jsjoeio commented on #381
The hardest part was finding a good font editor 😂 I ended up using [Glyphs](https://glyphsapp.com/) (free trial).

To actually accomplish this, I had to trace the bottom part of the glyph and add a new shape, then bring the top part of the glyph up. Then I exported it and viola!

In my research, I also found a free online too for making your own font called [Glyphter](https://glyphter.com/) (worth

[2020-01-16 17:59] #381 closed

[2020-01-16 18:16] vjeux commented on #389
Agreed, we should fix this!

[2020-01-16 18:19] vjeux commented on #366
I'm not opposed to have the ability to chose the number of sides when drawing a diamond (after the fact). Then you can copy paste if you want the same shape multiple times.

I don't think we should have a bunch of different shapes at the top though.

What would be good as well is to get proper multi-point drawing so that you can draw whatever shape you want and copy paste it for your needs.

[2020-01-16 18:22] vjeux opened #396 "Pasting doesn't work correctly within wysiwyg text"
Instead of replacing the selected part of the text, it replaces the entire text input with the paste value.

Reported by Ivan Babak

[2020-01-16 18:23] vjeux opened #397 "Pasting text outside of wysiwyg does nothing"
It may be good to mark the json copy/paste payload with a flag (eg: `"type": "excalidraw"`) so that if we're not pasting shapes, we create a text node with the text at the center of the screen/mouse position.

Not 100% sure we should do it but it's an interesting suggestion from Ivan Babak

[2020-01-16 18:26] vjeux commented on #366
We could also keep the number of sides an inherited setting like stroke/bg color and change the icon to have more sides if you change it on one.

[2020-01-16 18:36] dwelle commented on #366
Keep in mind that these new shapes will likely open a new can of worms for bounding boxes, resize handles, hitbox detection, bg painting (especially when we allow users to draw arbitrary shapes) etc. But these issues (albeit not as dramatic) will also arise after rotation support (#15).

[2020-01-16 18:42] dwelle commented on #396
I can fix this in a followup to https://github.com/excalidraw/excalidraw/pull/385 where I want to fix multiline pasting.

[2020-01-16 18:45] dwelle commented on #397
This would prevent moving forward with https://github.com/excalidraw/excalidraw/issues/386 since we wouldn't know which clipboard should take precedence.

Technically, we could implement a hybrid system, where in-app `ctrl+c` would also override (clear) system clipboard. This is what native desktop apps seem to be doing.

[2020-01-16 19:11] viglucci commented on #392
I'm personally in favor of it being included in the shape menu/not hidden behind a context menu, or for finding some way to communicate that extra actions are possible in a context menu.

I think unfortunately I'm trained that right clicking on a website will show me the context menu from the browser, so I didnt even consider there might be more actions I could perform that way.

The mock you've p

[2020-01-16 19:17] jillesme commented on #396
@dwelle do you want me to merge mine now or in ~5/6 hours when I have time to address Christopher's comments?

[2020-01-16 19:18] dwelle commented on #392
Yes, it's a feature that's not very common on the web, though becoming used more often (Google Drive, Dropbox, ...), and thus not very intuitive.

It's actually from a desktop app. We'd need to create our own icon set, I believe, since icons like these are pretty specific (FontAwesome has these, but only two of them, and behind a paywall).

[2020-01-16 19:19] dwelle commented on #396
@jillesme take your time, this issue isn't going anywhere :).

[2020-01-16 19:44] sompylasar opened #398 "Show the styles sidebar as soon as a tool is selected"
Currently the sidebar looks like this, showing one white color picker which doesn't seem to apply to anything:

<img width="231" alt="Screen Shot 2020-01-16 at 11 39 51 AM" src="https://user-images.githubusercontent.com/498274/72557122-f0685880-3854-11ea-9da7-5415eecac0c1.png">

But the tools implicitly apply some shared state of previously selected colors. This state is not visible to the user, s

[2020-01-16 19:47] sompylasar opened #399 "Switch to the Text tool on double-click"
Related to #163 and #398

This may be controversial, but for the sake of seeing and being able to tweak text styles while entering text, it may make sense to switch to the Text tool.

Currently, it keeps the currently selected tool (e.g. shape), but to apply the text I still click outside of the text area which switches to the arrow tool.

[2020-01-16 19:48] sompylasar commented on #398
Also, even if the Text tool is not selected when entering text with double-click (#399), I'd expect the sidebar to show the current text styles while I'm typing the text.

[2020-01-16 20:17] Fausto95 commented on #398
This is due to the fact that the app uses a shared state ofc! I can't recall but seems that we've discussed about having separated states.

Agree

@sompylasar PRs are welcome

[2020-01-16 20:25] lipis commented on #263
Snap to position or AKA snap to grid is different from snapping to objects.. I think we need the latter one more than the former due to the spirit of the tool.

Maybe changing the title to something more descriptive?

[2020-01-16 20:26] dwelle commented on #399
Instructions unclear :). You mean when you have `recrangle` tool selected, and doubleclick with it, it should insert text?

[2020-01-16 20:27] dwelle commented on #263
I'm not sure what this issue is about actually. It seems it mentions both snap-to-grid and snap-to-object.

[2020-01-16 20:32] #379 closed

[2020-01-16 21:55] vjeux opened #404 "Stroke width should be kept in the global state"
The same way we "save" the stroke color, we should also save the stroke width, and probably other things like font, font size... We should audit all the ones we have and make sure we use the same treatment.

[2020-01-16 22:01] vjeux commented on #244
![image](https://user-images.githubusercontent.com/197597/72566405-996c7e80-3868-11ea-8d55-a3b524fdbee7.png)

This is now possible!

[2020-01-16 22:01] #244 closed

[2020-01-16 22:16] #393 closed

[2020-01-16 22:44] lipis opened #407 "Where can I change the cursors from the handlers?"
https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor

- `e-resize` -> `ew-resize`
- `w-resize` -> `ew-resize`

- `n-resize` -> `ns-resize`
- `s-resize` -> `ns-resize`

- `ne-resize` -> `nesw-resize`
- `sw-resize` -> `nesw-resize`

- `nw-resize` -> `nwse-resize`
- `se-resize` -> `nwse-resize`

[2020-01-16 22:45] lipis commented on #263
Let's just change it to snap to object for now. WDYT?

[2020-01-16 23:11] lipis opened #408 "An overlay of the shortcuts when pressing "?""
Like on GitHub, Gmail, etc..

[`docs/shortcuts.md`](https://github.com/excalidraw/excalidraw/blob/master/docs/shortcuts.md)

- [ ] Press `?` to show a modal dialog
- [ ] Create / Use a function to determine the OS (mac, windows, linux)
- [ ] Display shortcuts depending on OS

-----

<img width="1046" alt="Screenshot 2020-01-17 at 1 10 49 AM" src="https://user-images.githubusercontent.com/125676/72

[2020-01-16 23:24] lipis opened #409 "Build a separate backend for storing JSON files"
### https://json.excalidraw.com/

I can build a backend on App Engine which will do the following:

- [x] Endpoint to accept `POST` requests `JSON` files (example: `https://json.excalidraw.com/api/v1/post/`) and returns `200` and some data about the the uploaded file`.
- [x] Endpoint to accept `GET` requests with a given hash and return `JSON` if found, `404` if not.  (example: `https://excalidraw

[2020-01-16 23:43] lipis commented on #409
I'm choosing App Engine because I'm very comfortable with it and can build it relatively fast. In the future we can consider other options after comparing prices and performance. I'm sure it can be build in anything, but no-one is offering free storage. Something that we basically the only thing we want. (Plus the Versions, HTTPS, Caching, Possible PNG Previews, etc, etc)

[2020-01-17 00:00] lipis opened #411 "Ability to Print directly from the editor"
Like Google Drive is doing it..

Generating a PDF out of it and sending it to print. Then it's up to the user to download as PDF or send it directly to printer. I'm sure people would do that just to post them somewhere on their whiteboards :)

[2020-01-17 00:21] clementgenzmer commented on #263
I think I did a poor job of describing it. Snap to object makes sense to me.

On Thu, Jan 16, 2020 at 2:45 PM Lipis <notifications@github.com> wrote:

[2020-01-17 01:19] lipis opened #412 "https://excalidraw.com is not secure"
[`https://excalidraw.com`](https://excalidraw.com) (without the `www`)

I think after fixing that, we should redirect `www.excalidraw.com` to naked URL. Less is more.

[2020-01-17 01:34] lipis opened #413 "Add Cascadia Code font instead of plain old Courier"
https://github.com/microsoft/cascadia-code

It's fancier, popular, made by Microsoft, and it's OK for Private or Commercial use https://github.com/microsoft/cascadia-code/blob/master/LICENSE

[2020-01-17 01:39] #412 closed, assigned to nobody

[2020-01-17 01:54] frantic opened #414 "Idea: embed drawing source code into the exported PNG"
I was thinking it would be cool if there was a way to export images with an ability to come back and edit them afterwards.

Excalidraw currently has two buttons to save data: one exports JSON, the other one exports PNG
![image](https://user-images.githubusercontent.com/192222/72577849-fd06a400-3888-11ea-8d97-d36abfa662bd.png)

Why have two buttons while we can get away with just one?

PNG [allows

[2020-01-17 01:58] vjeux commented on #414
There's missing a mindblown reaction :p

[2020-01-17 02:03] orta commented on #414
This is a clever idea

[2020-01-17 02:04] frantic commented on #414
@vjeux what do you mean? It's right there…
![image](https://user-images.githubusercontent.com/192222/72578295-7bb01100-388a-11ea-98f8-2b09800ebe18.png)

[2020-01-17 02:10] lipis commented on #413
![image](https://user-images.githubusercontent.com/125676/72578618-3538d180-38df-11ea-8fc8-f539d5fa0644.png)

[2020-01-17 05:22] nanot1m commented on #344
Closed by #371

[2020-01-17 05:22] #344 closed

[2020-01-17 05:24] nanot1m commented on #273
Closed by #355

[2020-01-17 05:25] #273 closed

[2020-01-17 05:30] lipis commented on #409
### https://excalidraw-json.appspot.com/

Initial version.

[2020-01-17 07:00] wuweiweiwu commented on #413
I'd love to pick this up if its not claimed!

[2020-01-17 08:26] giovannigiordano commented on #404
I agree, maybe we should even add a reset to default button.

[2020-01-17 08:26] giovannigiordano commented on #407
Could you be more descriptive?

[2020-01-17 08:28] giovannigiordano commented on #408
There is another issue for this #335 . Please, check if there is already an issue before opening another one.

[2020-01-17 08:30] giovannigiordano commented on #409
Great! Very nice idea. 🚀

[2020-01-17 08:32] giovannigiordano commented on #413
@wuweiweiwu go for it!

[2020-01-17 08:39] giovannigiordano commented on #414
@frantic what about a QR code? We could put it an a corner then remove it when importing the image.

[2020-01-17 09:20] dwelle commented on #408
#335 is a different issue --- it's about displaying context-specific hints. While this issue is about displaying all available shortcuts.

[2020-01-17 09:44] giovannigiordano commented on #414
I made a try with QR Code [here](https://codesandbox.io/s/generate-qrcode-with-json-data-pvv38).
I am converting a JSON to a QR Code with `react-qr-svg, then exporting the created svg to a canvas to get an image, and then reading the image data with `jsqr`.

[2020-01-17 10:04] bgrosse-midokura opened #417 "Firefox: text is vertically misaligned"
![image](https://user-images.githubusercontent.com/48123182/72603279-05a6bb00-3919-11ea-9210-f79afa799038.png)
It seems the text-anchor or whatever is not quite right on firefox. Might be related to #153 from where I remember the text-anchor/vertical alignment working right at some point.

[2020-01-17 10:13] gmertk opened #418 "Background color isn't synced with the background color picker's color when hex is partial"
It is a bit of an edge case, but it is weird that picker doesn't match the actual background color.

![bg](https://user-images.githubusercontent.com/907281/72603768-8feb2100-3911-11ea-9641-c8ff72a35f6b.gif)

[2020-01-17 10:14] giovannigiordano commented on #414
@frantic I would prefer to add text metadata to the PNG. I have found https://github.com/mozilla/openbadges-backpack/wiki/badge-baking#baking which could be used to add metadata to the image.

[2020-01-17 10:16] gmertk commented on #361
If this is up for grabs, I'd like to work on it 🤓

[2020-01-17 10:19] dwelle commented on #414
Maybe I'm missing something, but surely we don't want to be displaying a QR code in the corner of the exported images?

It's steganography, btw. And I'd not add anything to the bitmap, certainly not anything that visibly changes it. Even if it's done right, and isn't discernible by naked eye, it would likely prevent image optimizations etc.

Thus, same as @giovannigiordano I believe the only way t

[2020-01-17 10:25] #169 closed

[2020-01-17 12:48] dwelle commented on #417
Investigating, I couldn't repro this in any commit since #153. But I instead found out that this latest PR #416 completely breaks text display on FF:

![excalidraw_ff_text](https://user-images.githubusercontent.com/5153846/72613452-d3548800-392f-11ea-86fd-00ff0e13df95.gif)

[2020-01-17 12:50] lipis commented on #407
The cursor points when you are trying to resize the objects.

[2020-01-17 12:53] dwelle opened #419 "Text rendering broken"
It seems that #416 completely breaks text rendering in all browsers:

![excalidraw_ff_text](https://user-images.githubusercontent.com/5153846/72613452-d3548800-392f-11ea-86fd-00ff0e13df95.gif)

/cc @nanot1m

[2020-01-17 12:55] nanot1m commented on #419
I'll revert PR

[2020-01-17 12:57] dwelle commented on #419
I'll probably cause this as it'd not be reproducible anymore. We just need to keep this in mind when you make another go at it.

[2020-01-17 13:02] dwelle commented on #419
Umm.. maybe I've made a mistake in determining which commit caused this, because the reversal didn't help....

[2020-01-17 13:05] dwelle commented on #419
Ok, it's this commit https://github.com/excalidraw/excalidraw/commit/e5e0e37f23ab4ec6126431161e760e1c3c3456ec#comments

I swear I checked that one and it seemed to work. My bad. Do you think we can maybe `push --force` to remove the reversal, or is that a no go? Sorry again :(

[2020-01-17 13:22] lorisdev commented on #414
Maybe there can be a middle ground here.

The metadata could only contain the public unique url of the drawing (new feature discussed here https://github.com/excalidraw/excalidraw/issues/409)

Thus we would have the best of both world :
 - ability to automagically drag'n'drop the png on the canvas and it would load the drawing from the backend
 - a very negligible increase in png weight (SHA-1  ha

[2020-01-17 14:04] dwelle commented on #414
@lorisdev interesting idea, except the public urls are generated only manually. Moreoever, even if we decided to generate those urls on every canvas change, automatically, some users may not want to generate public urls at all (even if they're random). Also, the url generation, I reckon, takes some time, which means it'd potentially slow down the export (you'd click on export and need to wait unti

[2020-01-17 14:43] #419 closed

[2020-01-17 16:20] lipis opened #424 "CI tasks hanging"
https://github.com/excalidraw/excalidraw/commits/master

[2020-01-17 16:26] lipis commented on #424
We should somehow ignore the commit hooks on deployments... is that even possible?

[2020-01-17 16:29] dwelle commented on #424
Better to fix to issues.

[2020-01-17 16:30] lipis opened #425 "Move deployments from GitHub pages to Netlify"
Among other things, it supports naked URL, PR & Branches URLs, SSL, and other goodies.. We are using it for Prettier.io :)

[2020-01-17 16:38] lipis commented on #424
It's autogenerated code.. we should ignore those!

[2020-01-17 16:41] dwelle commented on #424
For sure. I thought you meant we should disable linting on CI.

Dunno why it started to lint build files. Looks like it started failing around when you made changes to CI configs: https://github.com/excalidraw/excalidraw/commit/86eadf379de329f4fb6be5e076aea242085d19f3

[2020-01-17 17:12] lipis commented on #409
@vjeux What's the easiest way to get the JSON object of the current view?

[2020-01-17 17:21] lipis commented on #409
The Excalidraw should:

- Generate the JSON of the current drawing and stringify it.
- Calculate the `SHA-1` of that string
- `POST` to `https://excalidraw-json.appspot.com/api/v1/<sha-1>/` the `JSON` string as raw data.
- The response should be `200` and contain the `JSON` as body
- Read JSON files from example URL: `https://excalidraw-json.appspot.com/api/v1/<sha-1>.json`

[2020-01-17 17:24] lipis commented on #404
Reset to default when clearing the drawing.

[2020-01-17 18:06] frantic commented on #414
@dwelle thanks for the feedback!

I believe the extra file size can be addressed, see below.

Just to set the context: I'm mainly shooting for a "wow" and "just works" experience for people and replace 2 buttons with just one. The way I see the UX for it is something like this:

![image](https://user-images.githubusercontent.com/192222/72634680-e35c6f80-390f-11ea-8e19-53fb38f6a487.png)

(I suggest

[2020-01-17 18:13] pshihn commented on #414
The idea of storing metadata in the image is really cool.

My main concern is this meta data can be lost if the image is modified in any way. A lot of editors/transformation-code/CMSes may strip out this metadata when the image is reprocessed.
So the user needs to remember that this particular instance of the files is the one that can be edited.
It may be fine for most use cases though, but though

[2020-01-17 18:29] dwelle commented on #414
@frantic right, that's better, but I'm not sure that storing metadata on PNG constitutes a "just works" UX. No one is gonna understand what's going on, because when you export a PNG, no other app then allows to reimport it to get to the original scene data --- that's not what people expect. So being the first (?), we'd need to make the explanation longer --- it's a big inferential leap.

There's a

[2020-01-17 18:39] frantic commented on #414
All good points, thanks for taking time to elaborate!

But consider the alternative—how many people are going to download the JSON along side the PNG to be able to edit the image in the future? I'd expect not many. Being able to edit the PNG to fix a typo would be a huge win.

As for scenes and more complicated projects, I think that's separate and it ties into other discussions about server persi

[2020-01-17 18:39] dwelle commented on #414
All the above said, I still think this idea is cool.

IMO if it's implemented as such:

1. retain scene-only JSON export
2. keep the checkbox to opt-out of this (store to localStorage to remember)
3. ensure it's explained well

Then I'm personally all on board with this. Also note that I'm just voicing my concerns.

[2020-01-17 18:42] lipis commented on #414
Soon we could store these JSON files in the backend.. https://github.com/excalidraw/excalidraw/issues/409

[2020-01-17 18:44] frantic opened #429 "Bug: choosing a tool while dragging the selection"
1. Start selection
2. Press `R` for rectangle tool
3. Release the selection

Result: the selection rectangle stay on the scene without a way to remove it

![2020-01-17 10 40 19](https://user-images.githubusercontent.com/192222/72637411-1b66b100-3916-11ea-84d6-d958e9bd8d46.gif)

![image](https://user-images.githubusercontent.com/192222/72637474-4bae4f80-3916-11ea-9a8e-cf7cd2e2a040.png)

[2020-01-17 18:46] dwelle commented on #414
@frantic Didn't notice your last comment before posting my own.

Still doesn't address the case where I'm not connected to the internet, or I elect not to log-in or don't want to persist potentially private data on more-or-less public server.

Also, the idea of Excalidraw was to be simple and fast, without forcing users to log-in. Adding a feature to bundle scene data into PNG shouldn't come at a

[2020-01-17 18:55] lipis commented on #414
no need to sign in... only if they choose to share via URL.. otherwise you can always download the JSON, why bloating with PNG something that only Excalidraw could resolve..

[2020-01-17 18:59] #389 closed

[2020-01-17 19:02] dwelle commented on #414
@lipis oh, I thought you were arguing to do away with the JSON export in favor of persisting on backend.

[2020-01-17 19:07] dwelle commented on #409
Instead of a hash, isn't it better to use something like [nanoid](https://github.com/ai/nanoid) (which were already bundling), to ensure we don't potentially reuse hashes for different people?

[2020-01-17 19:10] lipis commented on #409
It's close to impossible to generate the same hash from random json files.. and it adds extra validation of unique drawings.

[2020-01-17 19:18] dwelle commented on #409
If we're going to use all 40 chars, then you're right.

It won't actually, since we generate random ids for each element. But IMO that's a good thing.

[2020-01-17 19:22] lipis commented on #409
Yes, why not! Bullet proof.

[2020-01-17 19:23] lipis commented on #409
Of course it's a good thing, no way there will be a collision.

[2020-01-17 22:21] vjeux opened #431 "Https Certificate Error"
We're moving the hosting over to Netlify. The first step is to move the DNS settings over (which we've done) and then once it propagated, click a button to generate the certificate. During this propagation time, you'll see certificate errors unfortunately. Hopefully it won't take too long for netlify to also notice the DNS update and let us click that checkbox!

[2020-01-17 22:23] vjeux opened #432 "Move text to be last icon"
We should have the line to be right next to the arrow and text to be last.

![image](https://user-images.githubusercontent.com/197597/72650289-ecac0300-3934-11ea-87ec-a78d2352fc8a.png)

[2020-01-17 23:07] vjeux commented on #429
Great catch!

[2020-01-17 23:16] vjeux commented on #431
It's working now :)

[2020-01-17 23:16] #431 closed

[2020-01-17 23:17] vjeux commented on #107
We moved to netlify, it should be working now.

[2020-01-17 23:17] #107 closed

[2020-01-17 23:24] pshihn opened #434 "Color picker only partially supports #RRGGBBAA format"
The alpha value gets picked up when the color is specified in the text input, but if entered in the
 **popup** of the color picker, the alpha value is lost
e.g. #82c91e55 resolves to #82c91e

[2020-01-17 23:30] lipis commented on #409
@dwelle It's even simpler now... you just post the JSON data and it returns the URL and the hash... also new url https://json.excalidraw.com

[2020-01-17 23:55] #432 closed

[2020-01-18 00:03] #425 closed

[2020-01-18 07:26] GasimGasimzada opened #444 "Typescript error: AppState cannot be null (in `restore` function)"
Was there any changes to `restore` function that caused null to be removed from it?

[2020-01-18 10:18] dwelle commented on #107
Awesome!

[2020-01-18 10:24] dwelle commented on #444
What error exactly?

[2020-01-18 10:35] GasimGasimzada commented on #444
It was an error that cannot assign `null` to an object. So, I added back the `null` type to the app state argument in restore function in the PR I am currently working on.

[2020-01-18 10:46] dwelle commented on #444
Looking at `git blame`, it was `any` before, then narrowed to `AppState`, so there was never a `| null`. So no problem adding it now.

[2020-01-18 10:46] #444 closed

[2020-01-18 11:02] dwelle commented on #409
Very cool. Btw, how do we guard against exploit? Right now, anyone can post anything in there, so it acts as a general JSON store.

[2020-01-18 11:17] GasimGasimzada commented on #444
Thank you for the info! :)

[2020-01-18 11:29] abhikulshrestha22 commented on #418
what should be the expected behavior when the values are incomplete?
so let's say the code is #ffff should it be considered as #ffff00 ?

[2020-01-18 12:15] abhikulshrestha22 opened #445 "console logs not working"
- Operating System: macOS
- Node Version: v10.15.3
- NPM Version: 6.13.6
- Browser: Chrome

The console does not log outputs. Shows the following in the console.
<img width="963" alt="Screen Shot 2020-01-18 at 5 46 38 PM" src="https://user-images.githubusercontent.com/9465229/72663608-813c6100-3a1a-11ea-9b44-959eed85ea64.png">

[2020-01-18 12:25] #445 closed

[2020-01-18 12:25] abhikulshrestha22 commented on #445
Able to log outputs

[2020-01-18 14:19] gmertk commented on #418
That is an option. Another option could be to prefix zeros. One special case though: if it is 3 digits, it should double each digit. #57D becomes #5577DD.
No matter which option we go for, we need to make sure that the picker and background color match with each other.

[2020-01-18 22:12] #429 closed

[2020-01-18 23:14] Fausto95 commented on #398
- [x] Show Shape Actions Panel on shape tool select(https://github.com/excalidraw/excalidraw/pull/448)
- [ ] Fix global shapes state(backgroundColor & strokeColor)

[2020-01-18 23:20] #357 closed

[2020-01-19 12:42] gmertk commented on #407
Hmm not sure what this question is about. Do you mean where the cursor handler is located in the code? If so, you can see the `onMouseMove` callback of the canvas https://github.com/excalidraw/excalidraw/blob/bbabf33d782d17521da186c8727a4b8fde05692a/src/index.tsx#L1167

Based on `resizeElement.resizeHandle` the cursor is updated. If you want to make the arrows bi-directional, you might write anoth

[2020-01-19 18:05] fernandoalava commented on #413
Hey! It would be nice to change the way that font is selected, perhaps using a select component thinking in the future there could be more cools fonts to add. If you think that could be a good feature I would be glad to help with that.

[2020-01-19 18:07] fernandoalava opened #453 "Add Internationalization support/Follow Up"
Hello, Excalidraw it's a cool tool would be nice to add internationalization so more users can use it around the world. I would be glad to help with that if you think that it's helpful

### TODO

- [x] Add language selector somewhere in the screen to change the default language
- [x] Add Spanish version

[2020-01-19 18:12] vjeux commented on #413
@fernandoalava do you have concrete examples of which fonts you’d like to see supported and why?

The goal with excalidraw is to keep things with few options as possible to avoid the paradox of choice ( https://en.m.wikipedia.org/wiki/The_Paradox_of_Choice ). I want people to just draw rather than spending mental energy thinking what is the exact font they want to use

[2020-01-19 18:18] vjeux commented on #413
What would be useful is to change the labels to why we are using those fonts rather than the font names.

- Hand-drawn
- Normal
- Code

Or something along those lines

[2020-01-19 18:22] fernandoalava commented on #413
Hi @vjeux, No I don't have any useful example or real use cases to add more fonts. I saw this open issue and I thought that maybe could be good but yeah I understand your goal on this app.
Yes make more sense change that 👍

[2020-01-19 18:32] vjeux commented on #453
Would be great yeah! There aren’t that many strings so this should be a fairly small project.

[2020-01-19 18:40] fernandoalava commented on #453
Perfect, I will start working on that 👍

[2020-01-19 19:28] Fausto95 commented on #417
Oh yeah, I just had the same issue and I could repro when the text ends with white spaces.

[2020-01-19 19:41] 0x11-lgtm commented on #386
We should use clipboard api with custom datatype, eg:`clipboardData.setData(new Blob(), 'application/excalidraw')`. Use localstorage as a fallback on safari and firefox.

[2020-01-19 19:52] #417 closed

[2020-01-19 20:34] voluntadpear opened #456 "Use pointer cursor for buttons"
It would be helpful to use `cursor: pointer` instead of the default one when users hover over buttons and the color picker.

[2020-01-19 20:43] voluntadpear opened #457 "Transparent backgrounds result in bleed/ghosting"
When the scene background color is changed to one with a low alpha value, the transition animation is laggy and moving elements around is affected.

![lag](https://user-images.githubusercontent.com/10501948/72688104-f4110f00-3ae2-11ea-86b9-2d8bf79d722a.gif)

[2020-01-19 20:45] voluntadpear opened #458 "Use relative css units instead of pixels"
We use `px` units for DOM node sizing and layout adjustments. I think using `em`/`rem` relative units would be a preferred option.

[2020-01-19 20:56] dwelle commented on #386
@0x11-lgtm Just to get on the same page, what you're mentioning is a prop on [ClipboardEvent](ClipboardEvent.clipboardData), while [Clipboard API](https://developer.mozilla.org/en-US/docs/Web/API/Clipboard) a different thing.

[2020-01-19 21:27] #434 closed

[2020-01-19 21:29] lipis opened #459 "Ability to share drawings within the app via a link"
### The design

- [ ] New share button (the final position to be determined)
- [ ] When the button is pressed:
- [ ] A pop up appears with the preview of the image and one button in the bottom that says `Click to generate` and following text caption: `Click to generate will upload the scene to http://json.excalidraw.com.`
- [ ] When `Click to generate` is pressed there should be a POST request wit

[2020-01-19 21:30] lipis commented on #459
https://github.com/excalidraw/excalidraw/pull/356

[2020-01-19 21:42] lipis opened #461 "Remove NOW, since we are using Netlify"
I think at this point is not needed and it produces a lot of noise with posting messages everywhere.

[2020-01-19 21:47] lipis commented on #413
Yes I also agree to keep it to 3 different fonts and changing the names.

[2020-01-19 21:56] lipis commented on #413
I created a separate issue for that, to keep this PR strictly to changing the font: https://github.com/excalidraw/excalidraw/pull/462

[2020-01-19 21:59] lipis commented on #453
If you need some flags :) https://github.com/lipis/flag-icon-css

[2020-01-19 22:32] #399 closed

[2020-01-19 22:33] Fausto95 commented on #461
Yeah, go for it

[2020-01-19 22:36] dwelle commented on #461
Yay! The notifications from ZEIT are annoying.

[2020-01-19 22:42] dwelle commented on #399
@sompylasar btw, the PR that closed this doesn't exactly do what you want, but I'm not sure what you  had in mind to begin with. The text tool isn't selected when you click (and create a text element), normally. If you meant to ensure the text panel (settings) is shown, then that has been fixed in the PR. Otherwise, feel free to open a new issue, and make sure to be more descriptive.

[2020-01-19 22:43] lipis commented on #461
@vjeux?

[2020-01-19 23:11] lipis commented on #409
#459

[2020-01-19 23:18] lipis commented on #457
try with: `transparent`

[2020-01-19 23:44] vjeux commented on #459
On most occasions I think that we should streamline the UI and remove steps but this is not one of them. People are creating sensitive things with excalidraw and we should not upload their content to a third party server without an explicit action on their part.

Whoever designs the flow mentioned in this issue, please keep this in consideration.

[2020-01-19 23:53] vjeux commented on #461
Can we still see a preview without zeit? I use the annoying comment (i created a filter for it in my emails...) to preview pull requests

[2020-01-20 00:14] lipis commented on #459
I updated the description to reflect that.

[2020-01-20 00:16] lipis commented on #461
There is preview with Netlify too..

<img width="731" alt="Screenshot 2020-01-20 at 2 15 39 AM" src="https://user-images.githubusercontent.com/125676/72691044-cf408a00-3b2a-11ea-81f9-a5f04f1e57d9.png">

[2020-01-20 00:16] lipis commented on #461
Without any comment... it's just there!

[2020-01-20 00:17] lipis commented on #461
Also I'm not using emails for GitHub notifications.. using the UI and it's impossible to filter them.

[2020-01-20 02:12] vjeux commented on #461
Now has the advantage of being ready within seconds of the pull request being published/updated. It seems like it takes a few minutes for netlify.

[2020-01-20 02:17] voluntadpear commented on #457
If the scene background is set to `transparent` the previous positions of the moved elements are not cleared

![bug with transparent as scene background](https://user-images.githubusercontent.com/10501948/72693913-bbd4f500-3b11-11ea-895c-dd1698beed8c.png)

[2020-01-20 04:13] 0x11-lgtm commented on #386
@dwelle Thanks for your reply.

It's much better with system clipboard. We also should set the corresponding data type for the data. Here are two benefits:
1. Web application can put the same symbol in different type, eg: `application/octet-stream` and `image/svg+xml`. Web app can read buffer as `application/octet-stream`, then parse it.  We can also paste the symbol as image to other application,

[2020-01-20 04:13] lipis commented on #461
I disabled post processing.. should be faster now.. but still a bit slower than NOW.

[2020-01-20 04:27] #459 closed

[2020-01-20 06:27] vjeux commented on #457
If the background has transparence, we need to first clear it with solid color and then draw the background color on-top. A PR for this would be welcomr

[2020-01-20 09:51] dwelle commented on #457
Yea, in both cases it's the problem of the previous scene bleeding into next one. Not a perf issue.

[2020-01-20 10:29] #409 closed

[2020-01-20 10:32] lipis opened #467 "The background color is not being stored (or restored) when shared via sharable link"

[2020-01-20 10:33] lipis commented on #418
this should be fixed now

[2020-01-20 10:33] #418 closed

[2020-01-20 10:42] Volubyl opened #468 "Undefined showed after leaving blank a text zone"
👋 Just to report an issue.

I created a text zone. I erased the content and then I left the text zone blank. At the same location as the text zone, `undefined` is displayed.

I'm unable to edit or erase this `undefined` text. Another text zone is created.

Here is a small gif which show what I did :

![smallbug](https://user-images.githubusercontent.com/15958334/72720160-a693b100-3b79-11ea-874d-a2

[2020-01-20 10:44] lipis commented on #468
If the text is blank.. It should be deleted

[2020-01-20 10:56] Volubyl commented on #468
or I should be able to edit the text zone (but the risk is to leave a lot of "empty" text box inside the DOM)

[2020-01-20 10:57] lipis commented on #468
I'd it's not visible.. We don't need it

[2020-01-20 11:21] dwelle commented on #468
It then blows the whole app upon refresh, and you must manually clear `localStorage`.

[2020-01-20 12:18] cloudever opened #469 "Change hand-drawn font for non-latin support"
I suggest change the hand-drawn font to another one for supporting not only latin languages.
Russian words do not look aesthetically pleasing (Cyrillic)

![image](https://user-images.githubusercontent.com/16993305/72725820-d3ef5780-3b97-11ea-8737-ca4dc6c6493c.png)

[2020-01-20 14:07] dwelle opened #471 "Don't explode if initialization fails"
When `localStorage` contains invalid data for whatever reasons (can result due to bugs, or breaking change update), and it throws during initialization, the app should survive it. Simplest solution in that scenario is to clear `localStorage` and use default values.

Currently, if this happens, there's no recourse other than opening devTools and running `localStorage.clear()` + refresh.

[2020-01-20 14:24] dwelle commented on #469
What's the suggestion here? That we should detect if user types non-latin characters and auto switch to regular font?

For now, you can change the font manually. We also should (in the near future) remember the font you selected so that you don't need to update it for new texts.

![excalidraw_russian](https://user-images.githubusercontent.com/5153846/72733819-ec13a680-3b98-11ea-907e-1ec855a0bb96.g

[2020-01-20 15:12] #413 closed, assigned to wuweiweiwu

[2020-01-20 15:51] gmertk commented on #377
This can be closed I believe. #451

[2020-01-20 15:51] #377 closed

[2020-01-20 16:27] dwelle opened #472 "state not saved if page unloaded within debounce limit"
Somewhat of an edge case, unless we later increase debounce limit. Still, it doesn't cost much to fix this (I have a prototype in my working dir).

~~Also, we may want to fix a related case where if we're editing an element (currently, e.g. creating a text elem) and unload without confirming it, it's gone.~~ That turned out to be so coupled that it's not worth it at this point.

![excalidraw_reloa

[2020-01-20 17:37] #472 closed

[2020-01-20 18:47] lipis opened #476 "Expose sharable link button in the top left corner."

[2020-01-20 19:05] dwelle commented on #476
Top-left is even more crowded. Or you want to put it inside the menu? That will wrap the icons.

[2020-01-20 19:07] dwelle commented on #476
Also, what should it do? Export with the currently-enabled settings (e.g. `exportBackground`...)?

[2020-01-20 19:09] lipis commented on #476
Yes export the whole scene with a background setting.. and show the copied to clipboard message.

I think we can have an example with 5 buttons there and examine.. maybe hiding open/save to json under the export popup. Making it import/export

[2020-01-20 19:11] #467 closed

[2020-01-20 19:22] cloudever commented on #469
I mean that it would be great to support cyrillic letters in hand-drawn text

[2020-01-20 19:24] lipis commented on #469
it's hard to find such font that supports Cyrillic, Greek, etc..

[2020-01-20 19:27] cloudever commented on #469
maybe https://fonts.google.com/specimen/Neucha?

[2020-01-20 19:40] lipis commented on #469
No Greek support.

[2020-01-20 20:39] vjeux commented on #469
Looks like the font FG Virgil was done by Ellinor Rapp ( https://www.myfonts.com/foundry/Font_Garden/ ) in 2002 along with a bunch of other fonts with hand-written style. Let me reach out to her to see if she's still in the font creation business and see if she'd be interested in completing the rest of the character set.

[2020-01-20 20:47] FlyOrBoom opened #478 "Cursor does not update on keyboard tool toggle"
While toggling between tools via clicking changes the cursor to a crosshair, toggling via keyboard shortcuts does not update the cursor.

[2020-01-20 20:49] cryptobias commented on #138
It seems to be. I quickly tested it over [here](https://github.com/cryptobias/excalidraw/pull/1) and it worked quite well on my laptop's touchscreen.

I haven't tested it on mobile yet and haven't made sure that mouse isn't broken though.

[2020-01-20 20:58] dwelle opened #479 "Clicking on shape tool prevents keyboard shortcuts"
Except for `Esc`, which is handled before we bail here:

https://github.com/excalidraw/excalidraw/blob/183a62627c529708b0f7c71bebe6f5431b710463/src/index.tsx#L286

Also affects other UI input-like elements which we still might want to not lock shortcuts (such as Opacity slider)

![excalidraw_focus_keyboard_bug](https://user-images.githubusercontent.com/5153846/72757234-b8a03e80-3bcf-11ea-8ef4-5962

[2020-01-20 21:03] dwelle commented on #138
Here's a [codesandbox](https://codesandbox.io/s/github/cryptobias/excalidraw/tree/touch-input-support) (and [direct link](https://qsdzx.csb.app/)) if anyone wants to quickly test @cryptobias's solution.

Haven't tested on mobile/touchscreen, but if Chrome devTools' mobile emulation does at least some justice (which it likely doesn't), then it indeed does not work for touch devices.

We'd likely ne

[2020-01-20 21:27] dwelle opened #481 "Changing new shape property should set it as default"
Currently, only a two shape property are saved to `AppState`: `strokeColor` and `backgroundColor` (`font` is defined in `AppState`, but never updated).

This means that picking a tool, e.g. a text shape, changing some property (such as `font`, `opacity` etc.) doesn't have any effect on the new shape you then create.

We could fix this by storing every property into state (as noted in the first par

[2020-01-20 22:06] muzakparov commented on #478
fixing it

[2020-01-20 22:45] lipis opened #483 "Ability to pan view on mobile"

[2020-01-20 22:59] #458 closed

[2020-01-20 23:16] #468 closed

[2020-01-20 23:16] voluntadpear commented on #138
Just tested the Codesandbox on my Android phone. I'm able to start drawing and resizing a rectangle but the pull-to-refresh gesture from my phone gets in the way.

I think the switch to pointer events should work but we might need to prevent these native gestures from getting in the way, and try additional things like setting the [`touch-action` CSS property](https://developer.mozilla.org/en-US/do

[2020-01-21 00:09] lipis opened #485 "Recently stored or loaded IDs, save in the local storage for later retrieval."
Something like that in the bottom left or right corner

<img width="243" alt="Screenshot 2020-01-21 at 2 08 50 AM" src="https://user-images.githubusercontent.com/125676/72765021-1d20c500-3bf3-11ea-9e69-52a2befb1bb7.png">

https://excalidraw.com/?id=5738294193160192

[2020-01-21 00:10] voluntadpear commented on #138
Adding

[code]

works on my Android  🎉

Can someone with other devices try this [Codesandbox](https://codesandbox.io/s/excalidraw-touch-action-none-ukovm)?

[2020-01-21 07:37] fernandoalava commented on #453
The first version merged here: https://github.com/excalidraw/excalidraw/pull/477
Follow Up task:

- Add language selector somewhere in the screen to change the default language
- Add Spanish version
- Prefetch the JSON files of the most common languages

[2020-01-21 09:41] rrousselGit opened #488 "Blank page besides the Github logo"
:wave:

Since today (yesterday it was working fine), I have a blank-page with a bunch of errors in the console:

Using Chrome:

<img width="1792" alt="Screenshot 2020-01-21 at 09 40 15" src="https://user-images.githubusercontent.com/20165741/72793210-16657280-3c32-11ea-8722-14f21a7767a5.png">

[2020-01-21 09:53] dwelle commented on #488
This looks like a problem with initialization caused by invalid data in `localStorage`. Try running `localStorage.clear()` in your console and refresh.

We need to fix this in #471

[2020-01-21 09:59] rrousselGit commented on #488
That indeed did the trick 👌

[2020-01-21 10:04] dwelle commented on #488
Cool. I'll close this in favor of #471.

[2020-01-21 10:04] #488 closed

[2020-01-21 10:46] lipis opened #490 "Preview image is being stretched when the proportions are wrong"
<img width="646" alt="Screenshot 2020-01-21 at 12 44 59 PM" src="https://user-images.githubusercontent.com/125676/72798523-f3e05300-3c4b-11ea-8b03-49c7869f88e3.png">

https://excalidraw.com/?id=5681150794137600

[2020-01-21 10:48] lipis commented on #453
the files are too small.. no need to do some overoptimization to prefetch the json files.. we can load them all for now.

[2020-01-21 10:49] gmertk commented on #471
Just had the same issue of #488 Had to clear the localStorage.

Just out of curiosity: Does this mean that the website is broken at the moment for anyone who had a localStorage from the previous versions?

[2020-01-21 10:52] vjeux commented on #471
This is bad, we should do our absolute best to be backwards compatible. Can someone check what commit introduced this issue and revert it by any chance?

[2020-01-21 10:55] lipis commented on #471
Probably the css units, but I think it's OK, while we are in beta.. we should recover and not crash whatever happens. In the coming weeks while we still sharpening the edges, we don't want to bloat with multiple versions from now on and support every little mistake we did. For example #489

[2020-01-21 11:02] vjeux commented on #471
This issue has nothing to do with the CSS unit changes. The problem here is that some version of excalidraw stored something within localStorage that a different version in the future cannot read in such a way that the UI no longer show up at all.

This is not ok. The reason people use excalidraw is because “it just works”. Backwards compatibility is extremely important for those kind of projects

[2020-01-21 11:04] lipis commented on #471
Sure in a long run that's what we want.. My point is that the project is a few days old! But OK.. let's be consistent from day one.

[2020-01-21 11:08] lipis opened #491 "A shortcut to scroll the view to the center of the page"
Sometimes you might overscrall, so it would be nice to have a shortcut to bring everything in front of you.

Having a shortcut means we don't need yet another button to keep it simple, but we need the #408 to start documenting possibly more hidden features.

[2020-01-21 11:11] dwelle commented on #471
I think the first course of action is ensure the app doesn't blow up.

Backwards compatibility is a different issue. In private project I've rolled out a solution that implements migrations for specific localStorage (sub)keys. Is that something we wanna do here?

[2020-01-21 11:13] fernandoalava commented on #453
what would be very helpful right now is know How we should show the language selector, I start looking UX better practices  about it and seems that the better option is as Facebook does:
<img width="786" alt="Screenshot 2020-01-21 at 13 12 19" src="https://user-images.githubusercontent.com/6731845/72800312-ba114b80-3c4f-11ea-883f-a642839bfd46.png">
What do you think?

[2020-01-21 11:14] vjeux commented on #471
So far I don’t think we have renamed or removed anything from the appState or elements, only added things. This is why it worked so far. I’m not sure what changed since yesterday.

(It’s not 100% true, we did change the text ascentPosition or something but I made sure that it was backwards compatible)

The answer is yes, we should be thinking about migrations whenever we do change the schema in a

[2020-01-21 11:15] dwelle commented on #471
For now, I say we implement a hotfix that clears the localStorage. After that, we can think of how to implement migrations.

[2020-01-21 11:16] lipis commented on #471
Only if it fails to load it.

[2020-01-21 11:16] vjeux commented on #471
We also store the raw data (eg fontSize) rather than the way we display (eg Big) so that we can tweak the UI without breaking the underlying data model.

I haven’t done a good job documenting all those architecture decisions but they’ve been on my mind since the project started

[2020-01-21 11:18] dwelle commented on #491
I wanted to do something similar. Also, we may want to add it at least to contextMenu so it's partially discoverable.

Related: https://github.com/excalidraw/excalidraw/issues/306

[2020-01-21 11:19] lipis commented on #471
Yes, also would like to see the documentation of the schema and everything.. it's never too late to start.

As for the font size instead of Big and Font name instead of the human readable thing, I think eventually we should change that and store the labels instead of values. That way we can tweak the sizes, fonts, patterns and render everything correctly with backwards compatibility.

[2020-01-21 11:20] lipis commented on #491
`"Scroll to center"` or something like that.

[2020-01-21 11:22] lipis commented on #453
we can start with bottom right, with a very small font. As long as we have few languages we can show them all and disabled the current one.

[2020-01-21 11:24] lipis commented on #453
More strings:

- https://github.com/excalidraw/excalidraw/blob/master/src/scene/data.ts#L193-L195
- https://github.com/excalidraw/excalidraw/blob/master/src/scene/data.ts#L210
- https://github.com/excalidraw/excalidraw/blob/master/src/scene/data.ts#L266-L270

[2020-01-21 14:50] #471 closed

[2020-01-21 14:58] dwelle opened #497 "Implement schema & migrations"
As discussed in https://github.com/excalidraw/excalidraw/issues/471, we need to define schema for storing data and migrations for breaking changes so that we don't need to clear user's localStorage.

This also applies when restoring from backend (scene shared via url).

[2020-01-21 15:21] dwelle opened #498 "Map error stack traces to source"
The error stack traces retrieved from `error.stack` (in recent #493) isn't mapped to source (if user instead opens devTools, Chrome *does* map it to source).

To reproduce this, you can load <https://excalidraw.com/?id=5142238724096000> and click on the rendered text element to trigger the error.

We can use a library such as [stacktrace.js](https://github.com/stacktracejs/stacktrace.js) to get ma

[2020-01-21 17:07] #457 closed

[2020-01-21 19:34] dvir commented on #138
Excited for this!

That last sandbox works pretty well for me on Chrome for Android, and another custom Chromium browser. Happy to get double-tapping fixed on top of this, did a quick hack for it in https://codesandbox.io/s/excalidraw-touch-action-none-53shx

An important missing gesture is scrolling around (otherwise the canvas size is small), but perhaps can be added incrementally. That, and ref

[2020-01-21 20:21] lipis commented on #491
Also needed when loading from backend or local storage.

Sometimes the drawing is outside of the view.

[2020-01-21 20:31] dwelle commented on #491
@lipis yep, that's what #306 is about. But in this case (or any case for that matter), centering may not be enough because there's no guarantee that content is in the center. Hence #306 is about scrolling to content. Not sure what strategy to implement (maybe both).

[2020-01-21 20:44] lipis commented on #491
Since we don't support zoom, scrolling to center would be our best guess, or the median center (or whatever that could be called - where most of the objects are ;)

[2020-01-21 21:07] #456 closed

[2020-01-21 23:17] dvir opened #504 "Shape anchors"
Often when using the arrow/line tool I anchor it to a shape. To do so with the same precision as I would with a pen and paper, I suggest implementing anchors.

When selecting the arrow/line tool (or perhaps when holding down a key?), visualize pre-defined anchors. They can be positioned where resize anchors are currently:

![image](https://user-images.githubusercontent.com/620099/72851238-1046b480

[2020-01-22 00:15] gmertk opened #505 "Perfect resizing with shift button is broken for flipped elements"
![Jan-22-2020 00-14-04](https://user-images.githubusercontent.com/907281/72854431-3f2a4e00-3cac-11ea-92fc-deb8115fc61e.gif)

[2020-01-22 01:35] lissitz opened #507 "creating an empty Text and switching to another element freezes the left menu"
![output](https://user-images.githubusercontent.com/53315888/72858039-c3d29780-3cbf-11ea-9908-5f140a264913.gif)

- Create an empty Text
- Switch to another mode.
- Now the shape properties menu doesn't update, although actions still fire.

creating a new text element and entering some text solves the issue.

[2020-01-22 04:42] telmen opened #509 "Text insert new line after enter key"
Can Text have a new line functionality?

[2020-01-22 05:09] vjeux commented on #509
Yes, that’s the intention. There’s an active PR working on making it work. https://github.com/excalidraw/excalidraw/pull/385

[2020-01-22 05:34] #339 closed

[2020-01-22 09:55] dwelle commented on #424
Reopening since this is still not fixed.

I've noticed a pattern: the [`Node CI` tasks](https://github.com/excalidraw/excalidraw/tree/master/.github/workflows) fail exclusively when the PR is issued from a fork (not from a branch in the main repo).

(there are also some old PRs which have netlify/ZEIT failing/not-running for some reason.)

[2020-01-22 10:02] dwelle commented on #505
Yup, I've [mentioned it in the PR](https://github.com/excalidraw/excalidraw/pull/342#issuecomment-575083515) that normalizes handles, but forgot to create an issue. Thanks.

[2020-01-22 10:09] #490 closed

[2020-01-22 14:10] dwelle commented on #424
It seems https://github.com/excalidraw/excalidraw/pull/511 fixes it (though it may have unintended consequences that will appear in time). If there are any issues, we can reopen this.

[2020-01-22 14:10] #424 closed

[2020-01-22 14:14] #347 closed

[2020-01-22 15:06] dwelle opened #512 "CodeSandbox broken"
It seems that https://github.com/excalidraw/excalidraw/pull/510 broke CodeSandbox (it works on the [preceding commit](https://codesandbox.io/s/github/dwelle/excalibur/tree/csb_test_dc0a4f4)).

https://codesandbox.io/s/github/excalidraw/excalidraw

![image](https://user-images.githubusercontent.com/5153846/72905561-05e7f180-3d31-11ea-8da3-a67cc85e6fd5.png)

Haven't investigated further, so not sure

[2020-01-22 15:21] tomayac commented on #512
I'm very sorry 😔. I just cloned and [deployed on Glitch](https://glitch.com/~excalidraw-excalidraw-1), and there it [works fine](http://excalidraw-excalidraw-1.glitch.me/) (apart from an unrelated `ws://` mixed content error when [loaded over https](https://excalidraw-excalidraw-1.glitch.me/)).

I'm not sure what CodeSandBox does differently. Does anyone know how to debug?

[2020-01-22 15:40] tomayac commented on #512
OK, I traced this down. In [`browser-nativefs`](https://github.com/tomayac/browser-nativefs), I use a [dynamic import](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import#Dynamic_Imports) to load either the legacy file handling approach, or the Native File System API ([deep link](https://github.com/tomayac/browser-nativefs/blob/c1058a5873c8068842537f7acbf717e0d9d97f

[2020-01-22 15:41] antoinegag opened #513 "Default font for text elements"
It would be interesting to be able to pick a default font that will always be used when creating new text elements.

For example if you want your whole drawing to use the `Code` font, you have to either do it all in "Hand-Drawn" and then change every text element with the select tool or change it for every text element you add, being able to have a selected font by default would make this process

[2020-01-22 15:49] #453 closed

[2020-01-22 15:54] vjeux commented on #513
We already have a way to remember the stroke and background colors. We need to extend it to all the properties. A PR would be welcome!

[2020-01-22 16:31] dwelle commented on #512
Mhm... I'm not sure if the dynamic import itself is the problem, because I've manually tried it out and it works, by itself (check https://codesandbox.io/s/floral-lake-ou5wi `index.tsx:201`).

It may be a problem with CodeSandbox & dynamically importing/resolving mjs files, or it may be connected with CodeSandbox & Create-react-app integration issues (which there were many).

:thinking: