[2020-04-14 06:41] dai-shi commented on #1275
@pshihn Thanks. I need the exact size for this issue. So, I'd call `generator.curve` with random seed. The `generator` seems to base on a class instance. Can it be called just as a function?

As I noted, this behavior existed before I made any modification. I almost know how to fix it, it just requires the exact size.

[2020-04-14 06:53] pshihn commented on #1275
you can create a generator from rough:

[code]

or if you have the instance of RoughCanvas available, you can get it from it, e.g. here: https://github.com/excalidraw/excalidraw/blob/6abcb2d87f777d5be5fb7657dfcec62b3f924758/src/renderer/renderElement.ts#L325

[2020-04-14 09:46] tomayac opened #1425 "Consider reducing proprietary meta tags"
Currently there're [a lot of proprietary meta tags](https://github.com/excalidraw/excalidraw/blob/7df16c1b1d51c8622403ec65943713a7635dea6e/public/index.html#L91-L140) on the page that are proprietary to Apple devices. Additionally, maintaining the required [splash screen images](https://github.com/excalidraw/excalidraw/tree/master/public/splashscreen_images) for all current and future devices is a

[2020-04-14 09:51] lipis commented on #1425
Whatever can be automated I'm down for it.

[2020-04-14 09:53] tomayac commented on #1425
If there's agreement amongst the maintainers, please assign me the Issue and I can get going.

[2020-04-14 10:14] dwelle commented on #1425
If it has no downsides (no huge library etc.), then let's do it.

[2020-04-14 11:58] j-f1 commented on #1425
Sounds good as long as we make sure it still works on iOS!

[2020-04-14 12:15] lipis commented on #1425
There is only one way to find out! :) The lib seems small.. @tomayac let's do it ;)

[2020-04-14 12:28] gwww opened #1428 "Sticky notes"
Given the collaborative nature of this tool, having the ability to place notes on the canvas would improve the collaborative abilities.

I would see this as the ability to drop a coloured note on the canvas and to be able to start typing in the note right away.

Implementation wise this could be a coloured rectangle with an initial fixed size and text box. The would be text locked to the rectangle

[2020-04-14 13:03] lipis commented on #1428
Basically having a new Text element with a background and stroke?

[2020-04-14 13:07] gwww commented on #1428
Nice! Yes. Maybe with larger margins on the background to make it look more like a note vs a part of the drawing?

[2020-04-14 13:10] lipis commented on #1428
<img width="251" alt="Screenshot 2020-04-14 at 4 10 43 PM" src="https://user-images.githubusercontent.com/125676/79228661-80c13400-7e6a-11ea-91e3-33479ee0f180.png">

[2020-04-14 13:11] lipis commented on #1428
and I guess they shouldn't be part of any export or anything :) Interesting..

[2020-04-14 13:48] nunatass opened #1429 "The error with identifier 86bda2761552400db3caee31ab4a3b34 was tracked on our system."
### Scene content

[code]

### Sentry Error ID

86bda2761552400db3caee31ab4a3b34

{"excalidraw":[],"excalidraw-state":{"elementType":"selection","elementLocked":false,"exportBackground":true,"currentItemStrokeColor":"#000000","currentItemBackgroundColor":"transparent","currentItemFillStyle":"hachure","currentItemStrokeWidth":1,"currentItemRoughness":1,"currentItemOpacity":100,"currentItemFont":"20

[2020-04-14 16:19] johnwebbcole commented on #1234
@jorendorff has a nice RGA implementation at https://github.com/jorendorff/peeredit/blob/master/lib/rga.js and a talk to go along with it https://github.com/jorendorff/talks/blob/master/textarea-distributed/textarea-distributed.md

I've used this implementation in a hackathon multiplayer editor demo.  The explanation of how you are storing an array of Exalidraw objects sounds like it could transla

[2020-04-14 20:51] ad1992 commented on #1196
@lipis I am also trying to integrate excalidraw inside a web app and it would be great if this library can be exported as an npm package as it can be easily integrated then instead of embedding in an iframe. I can take it up if exporting as an npm library sounds good.

[2020-04-14 20:53] kbariotis commented on #1372
@dwelle as we noticed that the latest PR doesn't seem to be working, I found [this](https://github.com/getsentry/sentry-docs/issues/1137)? Should we raise our issue there you think? Do you see anything else wrong?

[2020-04-14 20:56] dwelle commented on #1372
I've been reading that thread today myself :). I wonder if we're doing something wrong, or if it no longer doesn't works for CodeSandbox either.

[2020-04-15 08:31] tomayac opened #1431 "Use our own MIME type and extension"
I have plans to implement file sharing and file handling features for Excalidraw. For these to work properly, we should store files with their own extension (bikeshedding proposal: `.excalidraw`) and probably mint a new MIME type (bikeshedding proposal: `application/vnd.excalidraw+json`), albeit this is probably more of academic nature. At this point, I would like to get your thoughts on switching

[2020-04-15 08:35] lipis commented on #1431
Have you tried to download a file?! We are already using `.excalidraw` as an extension.

[2020-04-15 08:39] dwelle commented on #1431
@lipis we actually don't when using Native File System API.

[2020-04-15 08:48] tomayac commented on #1431
This is https://github.com/WICG/native-file-system/issues/80 and then the current MIME type taking precedence: https://github.com/excalidraw/excalidraw/blob/722c498abea3ca3a000f7384f5d6611c2fd5bd73/src/data/json.ts#L33

So if the legacy approach already uses `.excalidraw`, can I safely assume you're fine with it in the general case?

[2020-04-15 08:53] lipis commented on #1431
https://github.com/excalidraw/excalidraw/blob/722c498abea3ca3a000f7384f5d6611c2fd5bd73/src/data/json.ts#L31

OK.. haven't see what is actually going on.. but yes, I'm down to have a proper MIME and `.excalidraw` extension for all.

[2020-04-15 19:38] ad1992 commented on #1196
@dwelle @vjeux @lipis any thoughts? If this sounds good I can work on creating a wrapper and publishing as an npm package similar to #958. I see many use cases and advantages of having it as an npm package. Would like to know your opinions.

[2020-04-16 06:25] oriSomething commented on #1280
WebSQL is still a thing? Latest Safari version, doesn't support it. And Chromium browsers don't need to use it

[2020-04-16 06:33] Shriram-Balaji commented on #1280
I was just mentioning what localForage is capable of, but afaik our idea would be to try using IndexedDB.

[2020-04-16 09:59] tychota commented on #1129
@dwelle Is it something a new contributor can potentially contribute or it is complex/very-complex.

I may be interested in chiming in providing it takes a reasonable time and I have some guidance.

[2020-04-16 12:23] #1425 closed

[2020-04-16 12:37] dwelle commented on #1129
I think it needs to implemented upstream in [roughjs](https://github.com/pshihn/rough) (/cc @pshihn), but before that we should figure out how we'd implement it UI-wise. Do we another set of 3 buttons in the menu under `Stroke style`, or should we come up with a different solution with respect to our simple-UI & do-not-become-another-photoshop principle?

[2020-04-16 15:18] miguelhau opened #1441 "😢Save doesn't work. The saved Json file is empty."

[2020-04-16 15:50] dwelle commented on #1441
Hello. What's your OS & Browser?

[2020-04-16 15:55] #1431 closed

[2020-04-16 15:56] j-f1 opened #1442 "Make the page title shorter when using the app"
Currently:

![Screenshot_2020-04-16 11 56 01](https://user-images.githubusercontent.com/25517624/79478335-47f39d00-7fd9-11ea-8401-93b97cba47eb.png)

Is there a way to keep the long title in search results and shorten the tab title to just “Excalidraw?”

[2020-04-16 16:17] dwelle commented on #1441
Ok, I can repro on Chromium 84 (Edge/Canary).

/cc @tomayac is it possibly some origin-trial error, or Native FS regression?

[2020-04-16 16:40] lipis commented on #1442
timeout?

[2020-04-16 17:09] dwelle opened #1443 "negative resize flicker bug"
I believe this is a new regression. Will need to bisect to find the commit that introduced it.

![excal_negative_resize_bug](https://user-images.githubusercontent.com/5153846/79485751-09c89e80-8016-11ea-96e0-2f49c1a1d393.gif)

/cc @dai-shi

[2020-04-16 18:02] lipis opened #1444 "Background colors are hidden behind properties"
<img width="277" alt="Screenshot 2020-04-16 at 9 01 05 PM" src="https://user-images.githubusercontent.com/125676/79490432-8616ae00-8025-11ea-8839-2d626a2b2fde.png">

[2020-04-16 18:44] dwelle commented on #1444
This was introduced in https://github.com/excalidraw/excalidraw/pull/1435 via the `backdrop-filter`. Setting `z-index` nor forcing the container into own stacking context doesn't help. It feels like a bug in the `backdrop-filter` implem.

[2020-04-16 18:59] dwelle commented on #1444
Okay, this doesn't seem to be a problem with `backdrop-filter`, but a feature of stacking contexts... I'm out of my CSS depth here.

[2020-04-16 19:02] lipis commented on #1444
/cc @j-f1

[2020-04-16 19:10] dwelle commented on #1444
Got a fix I think.

[2020-04-16 19:22] tomayac commented on #1441
I’ll have a look tomorrow.

[2020-04-16 19:27] dwelle commented on #1441
The prev bug was about `createWritable` while this one is about `createWriter`. I couldn't quite figure out the code path by looking at your source.

Also it only manifests in Chromium 83+ so I don't think it's cache problem.

Anyway, since it's not on stable channel, it's not a priority, so take your time!

[2020-04-16 19:31] #1444 closed

[2020-04-16 20:03] #1364 closed

[2020-04-16 21:06] getvega commented on #1327
Exactly what I was looking for 👌

For the horizontal centering, I would make it depend on the currently selected alignment:
- left align: left border does not move
- center align: middle does not move
- right align: right border does not move

Same would go for the vertical centering... but in the meantime (awaiting the vertical align feature) I would kill the auto centering (top border does not m

[2020-04-16 22:20] lipis commented on #755
This done!

[2020-04-16 22:20] #755 closed

[2020-04-16 22:24] dai-shi commented on #1443
Most likely, it's from our refactoring in https://github.com/excalidraw/excalidraw/pull/1330#issuecomment-611585017.
We don't want to revert it, but we want to fix it.

Lately, I've been working on #1427 and I'd say this is more difficult with convex curved lines.
I'd extract some bugfix work from #1427 and create a separate PR, once #1225 is merged.

[2020-04-17 08:54] iphoneprogramozo opened #1447 "Type error: null is not an object"
Hi, I get this error several times. Macbook, safari Version 13.1 (15609.1.20.111.8) Before this error, the playground freezed. Browser refresh was solve this problem for few minutes.
Thanks

<img width="1440" alt="Screenshot 2020-04-16 at 11 38 27" src="https://user-images.githubusercontent.com/10113696/79551102-851f6400-8099-11ea-9caa-946ab6d04e85.png">

[2020-04-17 10:38] #1441 closed

[2020-04-17 11:00] dwelle commented on #1441
Thanks for the fix Thomas. :tada:

[2020-04-17 11:27] dwelle commented on #1443
Yep, that seems to be it. In particular, this commit: https://github.com/excalidraw/excalidraw/pull/1330/commits/8330966a2d62eb61fae6a5401ee3beb5256ce34f, if it proves useful later.

[2020-04-17 20:39] #1313 closed

[2020-04-17 21:13] jdestgermain commented on #521
Came across this because I was looking for a feature like this--is there actually already a grid or would that also be part of this feature request (the ability to turn on a grid)?

I think having a reference grid available would help with lining things up even without a snap-to-feature so I am wondering if I missed that.

[2020-04-17 21:19] dwelle commented on #521
Yes, displaying grid would be part of this issue I'd say.

[2020-04-17 21:29] ad1992 commented on #1128
This looks interesting somewhat like distraction-free mode and I was looking for something like this. Can I pick this up?

[2020-04-17 21:37] dwelle commented on #1128
Go for it!

[2020-04-18 09:14] mapbakery opened #1451 "Is it possible to change the discrete rotation steps from 22.5 to 15 degrees?"
Now the discrete steps when pressing the SHIFT key are 22.5 degrees. But 15 degrees is IMHO more useful/logical because then it will be possible to make also 30, 60 etcetera degree diagonals (which are useful in for example transit map sketches)

This is related to my  #1351 issue

[2020-04-18 09:29] dwelle commented on #521
So, here's my thinking:

- toggling grid (via `Cmd/Ctrl+'`) should automatically enable/disable snap-to-grid (unlike Figma)
- for a start, grid steps shouldn't be configurable, and be a mutliples of 10 pixels or something (also should take into account `devicePixelRatio`)
- when grid enabled, maybe show dimensions under shape when selected, ala Figma

    ![image](https://user-images.githubusercon

[2020-04-18 12:06] dwelle commented on #1196
@ad1992 I've read the OP and I'd start with the getter/setter as OP suggested as a PoC.

#958 was too big and we didn't have time to review all of its design changes, and keep it in sync with changes in the codebase.

Likewise, I'd not want this PR to radically change the codebase either all at once. Let's take it one step at a time.

Thoughts?

[2020-04-18 12:47] ad1992 commented on #1196
@dwelle I completely agree with you on this. Even I don't want to make too many design changes at one go. I have created a wrapper over the excalidraw as suggested above which will act as a starting point for exposing it as an npm package without touching any of the core code. So the App will work as it is. So I will raise the PR for the same. Does that sound good?

[2020-04-18 13:53] #1360 closed

[2020-04-18 14:05] dwelle commented on #1196
Let's do it!

[2020-04-18 14:30] kbariotis commented on #1126
Some notes here after taking a look at the current implementation:

* For supporting different color in ranges, we will have to manipulate the DOM and create different element per range e.g. `<span style="color:red">this is red text,</span> <span style="color:blue">this is blue text</span>`
* At the moment, our Text Element supports raw text, not HTML. When you create a text element, we are insert

[2020-04-18 21:38] j-f1 commented on #1126
We could replace the font/text/fill/etc properties with a single `content` array consisting of objects containing those keys, which could be translated back and forth from the HTML representation and more easily rendered to the canvas.

[2020-04-19 19:50] #1312 closed

[2020-04-19 22:34] pshihn commented on #1129
You don't need much to implement the basic version of this, because canvas itself provides the `setLineDash` method and can be used with roughjs without making any changes, especially if you want to affect only the shape outline (not the fill)

e.g.
[code]

![Screen Shot 2020-04-19 at 3 27 52 PM](https://user-images.githubusercontent.com/833927/79701551-e0488680-8252-11ea-9c4a-0bf140f533b6.png)

l

[2020-04-20 03:41] donaldpipowitch opened #1454 "Feature Request: Allow basic prototyping functionality"
Based on [this Tweet](https://twitter.com/Vjeux/status/1248116161830506497).

Maybe this is out-of-scope for excalidraw, but it would be nice if:
1. It could support basic prototyping functionality (like adding click handlers, transition to a new "screen", and so on).
2. It could support creating a shared library of components programmatically (e.g. in order to share stuff like custom buttons).

[2020-04-20 04:10] mapbakery commented on #157
I'm hope when this gets implemented that there will be a setting to enable/disable glue points. Because I don't like glue points/automatic layout things. One of the great features of excalidraw is that it is a whiteboard/sketch tool. And it helps the (at least mine) thinking process that I need to erase/rearrange stuff manually (or start all over again sometimes).

[2020-04-20 07:22] zyhou commented on #157
Don't know if it can help, [leader-line](https://github.com/anseki/leader-line) seems to solve your issue (demo: https://anseki.github.io/leader-line/)

[2020-04-20 07:35] vjeux commented on #157
@mapbakery I'm also very unhappy about the existing status quo regarding this topic. I believe that there's a way to make this feel good. If not, we likely won't ship it.

The best system I found so far is draw.io which gets a lot of things right. It's worth exploring it if you haven't already. The biggest drawback I see is that it assumes that everything is laid out on a grid, whereas excalidraw

[2020-04-20 09:02] dwelle commented on #1129
That's cool. Ok, so what remains is figuring out how we want to implement this, UI-wise.

[2020-04-20 09:22] dwelle commented on #157
Absolutely this would be optional, or would require some user action to connect. We don't want to enable this layouting by default, ala Figma and others, as it'd drastically alter how Excalidraw feels and behaves.

[2020-04-20 09:25] lipis commented on #1129
Should also support all shapes (including lines, arrows, random shapes)

[2020-04-20 10:58] schittli opened #1460 "Suggestion: Text with background Color"
Good afternoon
**Thank you very much for this nice tool!**

#### I have a small suggestion:
It would enhance the readability if we could define a background Color for Text.

Thanks a lot, kind regards,
Thomas

[2020-04-20 11:13] dwelle commented on #1460
duplicate of https://github.com/excalidraw/excalidraw/issues/1317 (and likely part of https://github.com/excalidraw/excalidraw/issues/1126)

[2020-04-20 11:24] Klipi opened #1462 "Finnish translation"
I'd love to take a look at providing translations in Finnish. Could you add it in Crowdin?

[2020-04-20 11:48] lipis commented on #1462
Added: https://crowdin.com/project/excalidraw

[2020-04-20 11:48] #1462 closed

[2020-04-20 20:31] mapbakery commented on #157
@vjeux I worked with draw.io but it has issues with glue points when you start moving elements.

@dwelle Great, thanks for the reassurance :-)

[2020-04-21 05:54] nandwana92 opened #1464 "Feature suggestion: Import an image to draw over"
This could be outside the scope of this tool, but here goes. Consider the use case of being able to import an image onto the canvas and annotate over it. One could draw shapes over the image and then be able to export the canvas as an image. Check out this example,

![image](https://user-images.githubusercontent.com/36832784/79830143-6c2cf080-83c2-11ea-8299-119b1f8d6014.png)

I used another photo

[2020-04-21 09:30] dai-shi commented on #1298
@dwelle Hi, #1225 is somewhat blocking and priority.

[2020-04-21 11:54] dwelle commented on #1464
Thanks for the suggestion. You can track it over here: https://github.com/excalidraw/excalidraw/issues/19

[2020-04-21 11:54] #1464 closed

[2020-04-21 11:58] pranjaljately opened #1465 "Feature request: Allow the creation of double-headed arrows"
It would be great to create a double-headed arrow e.g. ↔ to denote two-way data flow instead of drawing two separate arrows.

![image](https://user-images.githubusercontent.com/30666375/79862546-28d87f00-83ce-11ea-945f-1d361b9506bb.png)

[2020-04-21 12:08] dwelle commented on #1465
This falls under https://github.com/excalidraw/excalidraw/issues/616

[2020-04-21 12:08] #1465 closed

[2020-04-21 13:43] lipis commented on #1462
How would you say `Finnish` in `Finnish`?

[2020-04-21 13:44] Klipi commented on #1462
`Suomi`

[2020-04-21 13:52] mapbakery commented on #1078
Does anybody already have done a complete self-hosted (preferably with Docker) installation of excalidraw?

[2020-04-21 14:39] lipis commented on #1462
Well of course!

[2020-04-21 14:44] lipis commented on #1462
Released!! Thank you very much! Test it out.. and if you see anything wrong, you can always fix it from Crowdin :)

[2020-04-21 17:39] quuu commented on #1342
Gave this a tackle: #1467

[2020-04-21 17:46] light94 opened #1468 "Broken rendering of scene on node server"
Hi, thanks a lot for this awesome project !

I was testing out the functionality introduced by this PR https://github.com/excalidraw/excalidraw/pull/443 and found that it is broken this master. I verified that after checking out the commit (7f6e1f420e55bb6c6b112accc5dc39deef64605d) it was working as expected.
On further debugging I observed that the reason for the errors were a couple of refactori

[2020-04-21 17:59] Klipi commented on #1462
Nice! Looks good to me!

One thing I couldn’t figure out is how to check the error states. Any tips?

[2020-04-21 18:05] dwelle commented on #1462
@Klipi import this JSON file [error_on_click.zip](https://github.com/excalidraw/excalidraw/files/4511799/error_on_click.zip)

[2020-04-21 18:10] Klipi commented on #1462
Great, thanks for the quick turnaround! Happy to contribute to such a fantastic project 🙂

[2020-04-21 21:58] dai-shi commented on #1342
Oops, I wasn't aware this issue. Adding this to #1298.

[2020-04-21 22:04] dai-shi commented on #1342
Is it related with #690?

[2020-04-22 13:00] lipis opened #1472 "Shield is too close to the island in RTL"
<img width="755" alt="Screenshot 2020-04-22 at 3 59 55 PM" src="https://user-images.githubusercontent.com/125676/79984809-5d256b80-84b2-11ea-963b-a49fe0436770.png">

[2020-04-22 13:05] dwelle commented on #1342
Seems like it

[2020-04-22 13:21] lipis commented on #1405
Hey @kuy :) Just a friendly reminder.. are you still up for it?

[2020-04-22 14:10] j-f1 commented on #1472
Fixed in #1469

[2020-04-22 14:10] #1472 closed

[2020-04-22 14:13] lipis commented on #1472
Cached :/

[2020-04-22 15:03] gaearon opened #1473 "Intermediate slider changes shouldn't persist in the undo stack"
1. Select something
2. Change opacity by a slider
3. Undo

Expected: it jumps to the previous "final" value
Actual: it barely changes because each intermediate slider movement is a part of undo stack

[2020-04-23 01:28] gwww commented on #1460
I think that #1428 is also related.

[2020-04-23 10:16] mhoyer commented on #1078
@mapbakery, this is my quick hack to make it run locally as docker container:

### Dockerfile

[code]

### docker-compose.yml

[code]

I hope this helps and maybe is a first step to produce a regular docker image as part of this wonderful project? I guess then a proper versioning of the source and docker images is essential.

[2020-04-23 11:42] mapbakery commented on #1078
@mhoyer Thanks! I'm going to find someone who can test it (I can't test it myself)

[2020-04-23 12:23] lipis commented on #561
I think we can close that one: https://github.com/excalidraw/excalidraw-desktop

[2020-04-23 12:23] #561 closed

[2020-04-23 12:25] lipis opened #1476 "Your page is not mobile friendly"
<img width="721" alt="Screenshot 2020-04-23 at 3 23 52 PM" src="https://user-images.githubusercontent.com/125676/80099058-87406180-8576-11ea-8fe6-d8d2b92d2394.png">

https://search.google.com/test/mobile-friendly?url=https%3A%2F%2Fexcalidraw.com%2F

[2020-04-23 12:34] ntemposd opened #1477 "Grid support"
Support for grid, having a grid on the background, and using a snap to grid functionality. Google Drawing does this in an excellent way. My colleague @bbarekas proposed this one, catch him for more details he is a diagram expert.

[2020-04-23 12:37] lipis commented on #1477
Yes, that would be nice! :) Thanks @ntemposd!

Duplicate of #521

[2020-04-23 12:37] #1477 closed

[2020-04-23 12:39] #1236 closed

[2020-04-23 12:49] warrenseine opened #1478 "Feature: support different color inputs (e.g. "red" instead of "ff0000")"
Browsers have different ways to input colors, using hexadecimal (`#00ff00`), RGB (`rgb(0,255,0)`), names (`green`)... In some situations, I'd prefer to type in "red" rather than selecting the color from the color picker. Another use case would be when trying to fit a diagram in a pre-existing website whose stylesheet was not written with hexadecimal values.
I believe this would be a nice, transpar

[2020-04-23 16:07] warrenseine commented on #1478
From a UX perspective, I'm aware that it can be unnatural to input any else than hexadecimal in a text box prefixed with "#". I don't really have an alternative, so tell me if that's a problem or if you have a solution.

[2020-04-23 16:29] vjeux commented on #1478
Closed by #1479

[2020-04-23 16:29] #1478 closed

[2020-04-23 17:06] vjeux commented on #1476
- **Text too small to read**: There is no text lol
- **Clickable elements too close together**: I don't think we should change that.

[2020-04-23 17:07] #1460 closed

[2020-04-23 17:29] #1476 closed

[2020-04-23 18:57] antonklimov opened #1482 "suggestion: remove dialog/overlay on Load canceling"
The dialog and overlay do not seem to serve any purpose. The current text is "Error The user aborted a request" 1) Why it should be considered an error? 2) Whom is this messaged addressed to? It says "the user" in third person. It might be appropriate in server logs rather than being presented to the user directly.

[2020-04-23 19:11] dwelle commented on #1482
Unclear what you're referring to exactly. Can you post steps to reproduce?

[2020-04-23 21:23] antonklimov commented on #1482
1) Click on "Load" button.
![image](https://user-images.githubusercontent.com/26126237/80150755-c9b17080-856d-11ea-94ac-d30a2b7b1b41.png)
2) File selection dialog pops up.
3) Cancel that.
4) Observe:
![image](https://user-images.githubusercontent.com/26126237/80150877-02514a00-856e-11ea-97ec-8dded5ecb3ed.png)

[2020-04-23 21:41] j-f1 commented on #1478
Shouldn’t this override the colors to use open-colors where possible instead of the harsher browser default colors?

[2020-04-24 08:59] dwelle commented on #1482
Oh, didn't know about that. Thanks!

[2020-04-25 09:22] kbariotis opened #1484 "Feature: Icon presets"
It would be nice to have a preset of icons to use on our diagrams. Some examples could be:

- a user icon
- a data store icon
- a server icon
- a cog icon
- etc

Next step could be to have icons of existing services, like AWS/GCP icons to use while drawing such architectures.

Now for the first set of icons, in order to make them feel more hand-drawn we could do some of our own (using rough.js) an

[2020-04-25 09:25] kbariotis commented on #1482
I can only guess that is coming [from here](https://github.com/excalidraw/excalidraw/blob/master/src/actions/actionExport.tsx#L110-L116) but I cannot replicate. @antonklimov what's your browser?

[2020-04-25 11:11] tusharmath opened #1485 "Unable to edit colors manually."
I am unable to edit the color text field anymore. I was able to do it a few hours back but not any more.

[2020-04-25 12:30] dwelle commented on #1484
This falls under https://github.com/excalidraw/excalidraw/issues/1091

[2020-04-25 12:42] dwelle commented on #1482
It's related to native FS, and I stand corrected, it doesn't come from external lib, but is a native error thrown by `chooseFileSystemEntries`.

So we'll have to catch and ignore that error ourselves.

[2020-04-25 13:13] #1128 closed

[2020-04-25 16:02] #1482 closed

[2020-04-25 16:48] pinussilvestrus commented on #1485
Maybe related to https://github.com/excalidraw/excalidraw/commit/71e7f130bc6ff2fa06ad9bf9702d4cbe353a2e7f?

[2020-04-25 18:23] farskid commented on #1148
is there an ongoing work on this? otherwise, I'd like to take this.

[2020-04-25 21:06] #1485 closed

[2020-04-25 23:13] zachrip commented on #1148
I've started work on a bigger feature around "theming" that has dark mode included in it. If you want I can pass on my code to you or if you just want to start fresh it's all yours.

[2020-04-25 23:16] farskid commented on #1148
Theming sounds great! are you planning to continue working on it? if so, I can help. starting fresh might not be feasible considering theming is already under development.

[2020-04-25 23:22] motcke opened #1488 "Hebrew Translation"
Hello, I would like to translate Excalidraw to Hebrew

[2020-04-26 02:07] j-f1 commented on #1488
Here you go: https://crowdin.com/translate/excalidraw/10/en-he

Is “עברית” the correct word for Hebrew (so we can put it in the language dropdown)?

[2020-04-26 02:08] motcke commented on #1488
Yes.
Thanks.

[2020-04-26 12:24] j-f1 commented on #1488
I’ve merged the PR with the translations so far and it should be live shortly!

[2020-04-26 12:24] #1488 closed

[2020-04-27 03:18] zachrip commented on #1148
I'd love help on it. Shoot me an email (zach@zachrip.net) and we can find a better way to collaborate on this.

[2020-04-28 02:15] dai-shi commented on #1443
In addition to https://github.com/excalidraw/excalidraw/pull/1475#issuecomment-618885039, this behavior is still not comfortable for me. Should we open a new issue or keep this?

![exdraw31](https://user-images.githubusercontent.com/490574/80439215-efa98d00-8940-11ea-9fd7-a32d8101bc61.gif)

[2020-04-28 09:16] paufabregat commented on #1205
@dwelle @lipis I am planning to allocate some time to work on this. Do you have any suggestions or comments on the proposed implementations?

[2020-04-28 12:13] dwelle commented on #1205
My thinking is this should be part of #1126, and only allow for making *selected ranges* into hyperlinks, not whole elements (you could always select all the text).

Reasoning:

- We want to keep UI minimal, and as the features pile on we'd quickly end up with a complex UI resembling Photoshop.
- To battle this, I'd hide specific use cases under context-sensitive actions, in this case by selecting

[2020-04-28 12:44] kbariotis commented on #1205
Yes! Indeed, with #1126 that top toolbar will come out of the box, all we have to do is enable it. Please feel free to fork that and experiment, lots of work has been done there @paufabregat.

@dwelle correctly pointed out a few issues we will face in the process but an experiment I think will surface all of them.

[2020-04-28 12:46] dwelle opened #1505 "Resizing elements should offset initial cursor delta"
Regression of https://github.com/excalidraw/excalidraw/pull/341

[2020-04-28 12:50] dwelle opened #1506 "Negative resizing should be continuous"
Currently, the implementation of pointer-offsetting (?) manifests in freezing/pausing the resizing when you resize below given threshold (when you resize to the negative).

Below, notice that the resizing is paused around 0px-width even though cursor is moving:

![excal_resize_not_continuous](https://user-images.githubusercontent.com/5153846/80489815-b123ca80-8960-11ea-92d0-b0fedcb7b1a5.gif)

(un)

[2020-04-28 12:52] dwelle commented on #1443
I've created 2 new issues:

- [#1505 Resizing elements should offset initial cursor delta](https://github.com/excalidraw/excalidraw/issues/1505)
- [#1506 Negative resizing should be continuous](https://github.com/excalidraw/excalidraw/issues/1506)

and added them to the epic.

Let's close this one so we potentially refer back to it in case of regressions etc.

[2020-04-28 12:52] #1443 closed

[2020-04-28 13:29] dai-shi commented on #1443
Thanks!

[2020-04-28 14:44] lipis commented on #1405
How is Japanese in Japanese?

[2020-04-28 16:06] wloske opened #1509 "Duplicated Users"
Hi all ...

I am seeing duplicates of "myself" occasionally when collaborating. I can see my own cursor and it seems to replay what I did before. Sometimes there were even more incarnations of myself. Collaborators reported seeing multiple cursors, too, all named with my session name. As a major side effect the changes/additions I made were not visible to collaborators. I could, however, see their

[2020-04-28 16:14] vjeux commented on #1509
I’ve also observed that during an interview

[2020-04-29 05:53] #1078 closed

[2020-04-29 13:28] gaearon opened #1510 "Can't resize in zen mode"
1. Toggle zen mode
2. Draw a rect at the left side of the screen
3. Can't resize it. I think something invisible is obscuring the cursor.

[2020-04-29 13:37] dwelle commented on #1510
Yea, it's the menu scaffolding. We should either hide it (after it animates away), or add a `pointer-events: none`.

![image](https://user-images.githubusercontent.com/5153846/80602396-5ad18d00-8a2f-11ea-9c15-a360b6bf86f8.png)

[2020-04-29 17:29] wloske commented on #1509
Hi @dwelle ... You've marked this with "More information needed" ... what exactly do you need?

[2020-04-29 18:01] blipp opened #1512 "Inserting a newline in a previously existing text object: text moves slightly, cursor behaves unexpected"
### How to reproduce
1. start with fresh canvas
2. enable the text tool
3. click in the empty space to insert text
4. type a single letter (let's say an "m")
5. click somewhere else to end the text entering/loose focus from the text object
6. enable the text tool again
7. click on the letter
8. use the right arrow key to go to the end
9. press Enter

### What happens
The cursor stays right of the

[2020-04-29 18:23] dwelle commented on #1509
It was meant to convey we need repro steps. I know that there's nothing you can do on your end, so don't worry about it :). We prob need a new label, because this one is too ambiguous.

[2020-04-29 18:27] wloske commented on #1509
Ok ... if you want me to try something out, let me know.

For instance I tried to create the situation with two browsers using the same board but no success. I suspected Copy&Paste since that was what I was doing at the time a lot ...

[2020-04-29 18:35] blipp opened #1513 "Inserting newline and text in a previously existing text object: another newline gets added above"
### How to reproduce
1. start with fresh canvas
2. enable the text tool
3. click in the empty space to insert text
4. type a single letter (let's say an "m"), then Enter, then another m
5. click somewhere else to end the text entering/loose focus from the text object
6. enable the text tool again
7. click on the text object
8. press Ctrl+Enter to go to the very end
9. press Enter, type another m
1

[2020-04-29 18:43] dwelle commented on #1513
this one is possibly fixed in https://github.com/excalidraw/excalidraw/pull/1195 - can you check here https://excalidraw-a5olj9qd2.now.sh/?

[2020-04-29 18:48] blipp commented on #1513
I can confirm that in this version, there are no random newlines added :)

However, the text is still moving in the y direction when it looses focus after editing.

[2020-04-29 18:51] blipp opened #1514 "Text gets blurred after text editing looses focus"
### How to reproduce
1. start with fresh canvas
2. enable the text tool, choose the “code” font
3. click in the empty space to insert text
4. type "hallo"
5. click somewhere else to end the text entering/loose focus from the text object

### What happens
The text gets a bit blurry.

### What should happen
The text should stay sharp

### Environment
Ubuntu 19.10, Firefox 75.0

After step 4 | After

[2020-04-29 19:41] dwelle commented on #1513
I'm not sure if I understand what you mean with the `y` position. Note that the leading/trailing newlines are trimmed after you confirm the text, so that may explain the jump you're seeing.

[2020-04-29 19:47] dwelle commented on #1514
Yes, this is super annoying. It's likely caused by subpixel rendering (although we should be rounding it before render, so technically it shouldn't), and depends on where you happen to position text. Sometimes it is blurred , sometimes not.

[2020-04-29 19:56] dwelle commented on #1514
Just checked, and it's indeed caused by subpixels:

|x: 600.5px|x: 600px|
|--|--|
|![image](https://user-images.githubusercontent.com/5153846/80640759-2b894300-8a64-11ea-91cc-e13c2de1911b.png)|![image](https://user-images.githubusercontent.com/5153846/80640764-2d530680-8a64-11ea-9712-ea0ec71c995b.png)

[2020-04-29 20:49] #1510 closed

[2020-04-30 04:58] karanganesan opened #1515 "Just an idea: save .excalidraw directly in IPFS"
just had this idea
what if we can save a drawing directly into IPFS Storage System

just another option to this
<img width="279" alt="Screenshot 2020-04-30 at 10 26 55 AM" src="https://user-images.githubusercontent.com/6049925/80673520-1eed0500-8acd-11ea-80df-28f45a8ea808.png">

url can be appended with the IPFS hash and shared across :)

[2020-04-30 07:37] z3ky opened #1516 "How to use https"
Hi,
can I run the excalidraw docker container with https support?

[2020-04-30 09:37] mapbakery commented on #1516
I have the same question, can users connect via HTTPS with the self-hosted excalidraw docker container?

[2020-04-30 11:31] daneden commented on #25
Just came here to +1 this feature; I got an iPad to use as my second screen and would love to be able to open a shared Excalidraw with folks and doodle on the screen with a pen tool!

[2020-04-30 17:01] AleksandrHovhannisyan opened #1517 "Feature Request: Color Picker"
I'm wondering if it would be possible to add a color picker sort of similar to the one in Visual Studio Code:

![image](https://user-images.githubusercontent.com/19352442/80738233-ac871f80-8ae2-11ea-9071-9b573d09d36a.png)

Currently, if I want to use a color not supported out of the box, I have to leave the app to generate the color in another app and return to paste it in.

[2020-04-30 18:29] jose-donato opened #1518 "Scroll Horizontally"
Shouldn't it be expected to scroll horizontally with shift+Scroll?

[Example](https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp)

Edit:
browser: Chrome Version 81.0.4044.129 (Official Build) (64-bit)

[2020-04-30 19:04] jose-donato commented on #1517
Added a quick example with [react-color](https://casesandberg.github.io/react-color/)
![colorpickerexcalidraw](https://user-images.githubusercontent.com/43375532/80748902-9054a400-8b1d-11ea-9322-11b9c0a47775.png)
Would definitely be interesting something like this. if anyone wants to provide some suggestions for the UI i can make this feature

[2020-04-30 19:41] vjeux commented on #1517
I don't think that adding such a feature would be good for the project. One of the key feature of Excalidraw is the simplicity and good defaults. If you want something else, we added the ability to enter arbitrary hex colors. Using a different program for that is, I believe, a good enough experience compared to adding complexity in the UI.

[2020-04-30 19:58] dwelle commented on #1518
Didn't know about this, but can confirm this is how it works in Figma and Affinity.

[2020-04-30 20:34] #1518 closed

[2020-04-30 21:58] AleksandrHovhannisyan commented on #1517
Yeah, I get what you mean regarding defaults and simplicity. But I think Excalidraw's main appeal is not with its limited color palette but rather the limited shapes and styles in which they're drawn. I often find that the existing colors do not suit my needs.

In my experience, it's actually been pretty annoying to copy-paste hex codes into Google and use the color picker there :/

[2020-05-01 06:13] msurguy opened #1520 "Hershey Fonts?"
This is a long shot, but what the user could choose from a variety of fonts to label their drawings?
There is an interesting venue to explore: single stroke fonts, aka Hershey Fonts.

For example, in this repo you can find a few dozen SVG fonts in this single stroke format, which might bring variety while keeping the unique style to the drawings produced within the application.

Check out the font

[2020-05-01 07:13] aalliikk opened #1521 "There should be the Yakut language translation"
Hello!

Please, someone, add the Yakut language to the list! SO I could start right away the translation process!

Thanks!

[2020-05-01 10:52] ad1992 opened #1522 "Should we start showing zoom in zen mode ?"
If you trying zooming in zen mode and then refresh the page you won't realize how much zoomed in you are and how to come out of it unless you know the cmd+0/ctrl+0 short cut keys which is not very intuitive.
Thoughts?

[2020-05-01 10:59] ad1992 opened #1523 "Lag in collaborative mode"
If you start drawing diagrams and do frequent rotations / resizing/ moving shapes, it leads to at least 8-10 seconds and even goes to 15-20 seconds lag. Also, cursor sync takes good amount of bandwidth.

I tried adding debounce of around 30ms and it takes way less bandwidth compared to current state and I didn't notice any lag as well.
should we try that out?

Any other thoughts on optimizing?

[2020-05-01 11:11] dwelle commented on #1522
Maybe show zoom level only when it diverges from 100%? Could also be displayed in a more minimal fashion than we do in base mode.

[2020-05-01 11:15] dwelle commented on #1523
A duplicate of https://github.com/excalidraw/excalidraw/issues/1310 (?) --- but we can rename this issue and track it as "add debounce to syncing".

The worry about adding debounce is convergence issues. Native debounce drops intermediate updates, which will often be significant. We'd need to implement update batching & merging, which is non-trivial.

[2020-05-01 12:06] z3ky opened #1524 "Safari not working in shared session"
I opened a shared session with Chrome and joined it with Safari on macOS. The collaboration icon in Safari turn green, but with no number. Chrome shows, that 1 client is in the session. Same result, when Safari opens the session and Chrom joins.

[2020-05-01 18:27] dwelle commented on #1521
Hello. I've given this a quick look, and while I appreciate the offer, it [seems](https://en.wikipedia.org/wiki/Yakuts) that the speaker base is ~500K, 90% of which already speak Russian. That makes the Yakut target around 50K (though I'd be very surprised if those that would use Excalidraw didn't already speak either Russian or English).

On top of that, there are other considerations:

- You'll

[2020-05-02 02:27] aalliikk commented on #1521
Thank you for your list of considerations, and I believe, your logic in this list is quite clear. And I think it is the problem here. On the other hand, I don't have authorities to make such decisions as which language should be on the list, but I think I have the authority to explain what the problem is from my point of view.

On more time, it is just expressing my thoughts, not trying to argue.

[2020-05-02 14:02] ad1992 commented on #1523
Hmm, so to start with I was trying the below optimizations.
* Debounce mouse events
* Instead of calling broadcastScene from componentDidUpdate, I created a setInterval and started calling broadcastScene with an acceptable interval (tried with 30ms)

If needed I can push this to branch so the team can try it and we can then decide if this looks fine and then as you said I can pick batching and mer

[2020-05-02 14:09] ad1992 commented on #1522
Yes, we can show it when it diverges from 100%, but what do you mean by displaying in minimal fashion? Coz the whole zoom footer is important in case we show it. Or just show how much percentage is zoomed with the reset icon? I think then we can always show the icon if we are just showing the percentage with reset option. Thoughts?

[2020-05-02 18:56] jsjoeio opened #1527 "Scroll Horizontally with Mouse"
I'm not sure what changed, but I used to be able to scroll horizontally by holding shift and moving my external mouse wheel.

Now, it does not work. I was able to reproduce this in Chrome too.

The weird thing is that if I hold shift and scroll horizontally with my built-in trackpad, it works as expected.

Browser: Firefox 75.0
Desktop: macOS Catalina 10.15.3

Not sure if it's related to #1519.

N

[2020-05-02 18:59] dwelle commented on #1521
I didn't want to come across as harsh, but I can see how what I said can be interpreted that way.

Let's go over some of your points.

I don't believe I was suppressing speakers of a language --- I'm simply making a decision on where to allocate resources, and ensuring the app's scope is maintained.

I think it's great what you're doing, and it's not my place to give my opinion on whether translat

[2020-05-02 19:05] dwelle commented on #1527
We've recently landed an explicit support for `shift + wheel` to scroll horizontally (https://github.com/excalidraw/excalidraw/pull/1519), so  maybe it broke some native behavior that worked on some devices prior to that?

Can you try if the commit previous to that PR works for you? https://excalidraw-ds54689kr.now.sh/

[2020-05-02 19:13] jsjoeio commented on #1527
So thankful for Netlify - I was worried you'd ask me to fork, check out the previous commit and test locally 😂 This is way easier!

I can confirm that using that commit (the Netlify link) works as expected with the shift + mouse wheel.

![2020-05-02 12 12 48](https://user-images.githubusercontent.com/3806031/80873543-44fddb00-8c6e-11ea-9370-56eb39d2b927.gif)

[2020-05-02 19:13] dwelle commented on #1522
Yes, something like that.

Not sure if we want to show it all the time because it might be most people don't use zoom and it would just be in the way -- you were the one to propose to make zen mode as minimal as possible :).

[2020-05-02 19:18] dwelle commented on #1527
Yes, it's awesome. But it's actually Zeit (well, Vercel actually...).

Mhm.. Not sure how to fix this. It seems that on Mac, `shift + wheel` produces `deltaX` instead of `deltaY` as on Windows. I guess we can do `event.deltaY || event.deltaX`, provided `deltaY` will by `0` in your case. I wouldn't wanna detect platform, because I'm not confident it's guaranteed to always work on Mac this way.

[2020-05-02 19:23] dwelle commented on #1527
Give this a try: https://excalidraw-git-fixwheeldeltax.excalidraw.now.sh/

[2020-05-02 19:25] dwelle opened #1529 "RTL UI broken in zen mode"
steps:

1. switch to an RTL language (e.g. Arabic)
2. enable zen mode (`Alt + Z`)

![image](https://user-images.githubusercontent.com/5153846/80876919-7bae1280-8cbb-11ea-98c9-68a846e5f07c.png)

[2020-05-02 19:34] ad1992 commented on #1522
Yes I know I wanted to keep it minimal  to acheive distraction free drawing but now when I use it I feel zoom is something where people might get lost as cmd+0 is not that intuitive. The only worry is if we dnt show it always and only when zoomed then will it become distractive as it will keep coming and going.. what do you guys think ?

[2020-05-02 19:38] dwelle commented on #1523
Not sure if I understand, but adding a `setInterval` doesn't sound like a good idea. I'd just set up a debounce-like handler as you suggested.

But for `broadcastScene` you'd really need to come up with a queue & merging scheme in order to be accepted I'm afraid.

I personally am not against it, but you'll probably get pushback unless it's implemented in a way that 1) guarantees synchronization co

[2020-05-02 19:41] dwelle commented on #1522
Let's keep it always-on then. Shouldn't be that big of a problem (esp if we don't show the +/- button, and only the reset button + percetange).

[2020-05-02 19:43] ad1992 commented on #1522
Yup only percentage with reset icon.will give pr for the same then 👍

[2020-05-02 20:15] #1527 closed

[2020-05-03 00:08] varunarora opened #1531 "Thank you!!!"
I am certain that issues is not the right place for this comment, but THANK YOU for creating such an excellent and easy-to-use tool for free, and making it p2p. This is just the pure gold in a world of garbage-sold-as-SaaS-subscription.

My best to @vjeux and all the other contributors. You did this with the react ecosystem and now this and much more to come.

[2020-05-03 00:31] #1529 closed

[2020-05-03 01:28] vjeux commented on #1531
Awww! Thanks so much, that made my day! I'm happy it was useful to you. The only recommendation I would have is to not denigrate the other projects, the authors and contributors are likely working hard on them to make a living.

[2020-05-03 01:59] stbneb opened #1532 "Make tools shortcuts case insensitive"
Currently tools shortcuts are case sensitive and only work when the key is lowercase, the idea is to make them case insensitive.

[2020-05-03 03:24] rajeshpillai opened #1534 "Feature Request: Group objects together"
First of all thank you for this wonderful product.

Everything is great and simple.

As the drawing gets bigger, with lots of rectangles or circles with associated text object , moving elements, that are logically connected, for eg  rectangle with text becomes difficult and alignment may get changed because the objects are independent.

I think a group objects feature could be quite useful here.

[2020-05-03 08:24] #1532 closed

[2020-05-03 08:25] dwelle commented on #1534
Hello. Thanks for the issue, it's definitely not out of scope, we just never got to implement this properly. I'm gonna close this as a duplicate of https://github.com/excalidraw/excalidraw/issues/173

[2020-05-03 08:25] #1534 closed

[2020-05-03 08:44] garyelephant opened #1535 "Feature Request: Insert Images"
It would be good , if excalidraw can insert images, so we can make hand-draw on existing images.
For now I have abandoned other drawing tools except for excalidraw.

[2020-05-03 08:48] garyelephant opened #1536 "Feature Request: Add Dash Line"
Dash line is very useful in many cases.

[2020-05-03 08:51] garyelephant opened #1537 "Feature Request: Copy Elements between 2 Canvas"
When I open two excalidraw canvas in two different browser tabs, is it possible to copy element that I have just drawed from one canvas to another.

[2020-05-03 09:02] dwelle commented on #1535
duplicate of https://github.com/excalidraw/excalidraw/issues/19

[2020-05-03 09:02] #1535 closed

[2020-05-03 09:02] dwelle commented on #1536
duplicate of https://github.com/excalidraw/excalidraw/issues/1129

[2020-05-03 09:02] #1536 closed

[2020-05-03 09:04] dwelle commented on #1537
This falls under https://github.com/excalidraw/excalidraw/issues/859, although your exact request currently doesn't make sense because tabs within the same browser share the same localStorage, thus upon refresh they'll both be synchronized to the same scene (which you probably weren't aware of).

[2020-05-03 09:15] coco1234976 opened #1538 "excalidraw"
### Scene content

[code]

### Sentry Error ID

58393f0b59874c39bc2b011eac347b93

[2020-05-03 09:19] aalliikk commented on #1521
Thank you very much for such a detailed answer! I highly appreciate it.

At this point of discussion, I think, it would be better to update README file and add some details to the Translation section.

So did I.

https://github.com/excalidraw/excalidraw/pull/1539

Please, review it.

[2020-05-03 10:37] ad1992 commented on #1523
Sure I will look into queuing and merging schemes for broadcast scene. For pointer debounce actually helps and takes way less bandwidth now

[2020-05-03 10:56] dwelle commented on #1523
Come to think of it, since we're syncing whole scene, there shouldn't really be any convergence issues. Would need to review.

Also, my brain failed again --- instead of debounce, shouldn't we use throttle? Will need to check your mouse PR to see how it behaves with debounce.

[2020-05-03 13:11] garyelephant commented on #1129
+1

[2020-05-03 13:12] garyelephant commented on #19
+1

[2020-05-03 14:47] z3ky commented on #1071
- Login
- A tool for freehand drawing. I think this improves excalidraw on tablets with pencils and to use it as a whiteboard in classrooms

[2020-05-03 15:40] ad1992 commented on #1523
Hmm now that I think of throttle might be better so that once in every 30ms for sure the sync happens instead of waiting for 30ms after mouse movements stop.

Also since whole scene gets updated as you mentioned, I think throttling the broadcast scene will also help, I will try that too.

In the meanwhile, you can check once the mouse movements with debounce but I agree throttle will be better her

[2020-05-03 15:51] varunarora commented on #1531
The tool is wildly useful! I taught a 4-hour lesson on it day-before-yesterday, and each little detail you sweat on made it so painless to use <3

You are 100% right, @vjeux. My apologies! I got carried away by HN posts where indie hackers say they figured out a growth hack and now make $100k per month for a one-person app, charging non-affluent people around the world. I somehow care for some wei

[2020-05-04 05:41] vjeux commented on #1523
I don't think that blindly adding a debounce/throttle is the right approach. The fact that we get real time events is a feature, it makes the collaboration feel real time and is making the experience better. Most of the time it's actually working fine for me.

I don't believe that blindly adding a debounce/throttle is the right thing to do here. Some of the next steps we could do:

1) Your profile

[2020-05-04 05:59] vjeux opened #1542 "Excalidraw as a component"
There's been two PR already that attempt to make an Excalidraw component (#958, #1493), sorry I have not been responsive. Before we proceed further I'd like to ask a few questions to @mizchi and @ad1992 (and all the people that +1 the issues). We should have done this in the first place before spending a lot of time with the implementation.

Once we are clear about what the use cases are, the API

[2020-05-04 06:15] dai-shi commented on #1542
Although I don't have a strong opinion how to implement it, I have a concrete use case in my project: https://github.com/dai-shi/remote-faces
Screenshot: https://twitter.com/dai_shi/status/1255429309835157504
For this project, collaboration is important. The current implementation is based on`<iframe>`.

At the first thought, what I would like to do next would be 1) set user name, 2) set backgroun

[2020-05-04 06:42] ad1992 commented on #1542
Three PR's actually till now including https://github.com/excalidraw/excalidraw/pull/1455. Since the prev PR for npm was out of sync so I implemented from scratch but it doesn't have all changes in this since we initially decided to push in batches so I m maintaining it in forked for the usage

There are multiple use cases when you want to customize the Excalidraw from outside
Below are some scena

[2020-05-04 06:49] ad1992 commented on #1523
@vjeux some updates might get missed when throttling the broadcast scene and sending the delta as you suggested would be great. but for mouse events, I think we should add throttle, what are cons you see. in that?

[2020-05-04 06:50] vjeux commented on #1523
If we're able to see the mouse updating real time at 60fps (which has been my experience with the current collaboration mode), why would we artificially make it worse?

[2020-05-04 06:55] rajikaimal opened #1543 "Feature request: Tabs in excalidraw"
Usually I need to work on multiple diagrams at the same time. Tabs should be a good way to work on different workspaces at the same time.

[2020-05-04 07:00] ad1992 commented on #1523
I get your concern @vjeux, my only concern is syncing the cursors is taking a good amount of bandwidth so to reduce the traffic I suggested if we can add throttle/debounce with some expectable duration.

[2020-05-04 07:19] ad1992 commented on #1542
@vjeux no need to be sorry :) I understand this is a big decision to make. Thanks a lot for your response and initiating the discussion on the proposal :)

[2020-05-04 07:19] vjeux commented on #1523
@ad1992 can you be more specific? What kind of bandwidth are we talking about here. And what is the consequence, are you worried about metered internet plans?

[2020-05-04 07:38] ad1992 commented on #1523
@vjeux the frequency at which the data is getting transferred(i am checking the web socket in chrome console), is very high since its real-time which might actually start impacting user experience (slowness in collaborative mode). This was observed when testing with 3-4 users and the experience improved when turning off the cursor sync.
So I was looking for some optimizations when syncing cursor.

[2020-05-04 09:03] dwelle commented on #1523
My idea is to throttle at 16ms (to target 60FPS), but we'd need to first ascertain that we're already sending updates more frequently than that.

We could also batch mouse updates with scene updates.

But as I mentioned, all this is adding complexity. Also note that in the long-term, we're planning to move to sending deltas only (not whole scene), which will improve the perf. And when we do so, an

[2020-05-04 13:11] dwelle commented on #1542
@ad1992 most of what you talk about is not exactly a use case. What we need are specific examples of what apps will be built with excalidraw, and what requirements they'll have.

Importantly, we need to gather real-world use cases, not hypothesized --- because we developers are good at coming up with any number of potential use cases that will end up not important or used at all.

We also need to

[2020-05-04 13:30] dwelle commented on #1521
Sorry for the delay in response.

I've taken a look at the PR, and here are my closing thoughts:

The number 500K/50K isn't a magical number that can be applied as a blanket rule for whether we accept a translation or not. Yes, it's *a* factor that helps us gauge *potential* benefit/utility. But we also look at real-word analytics (which take precedence). In your case, the ISO code of Yakut langua

[2020-05-04 13:30] #1521 closed

[2020-05-04 15:25] #1275 closed

[2020-05-04 15:28] ad1992 commented on #1542
@dwelle not sure what you meant by the use cases I mentioned are not exactly a use case. I have been working on integrating excalidraw in a product which is an interview-based platform where excalidraw will be used as a whiteboard. The use cases which I mentioned are actually genuine use cases and excalidraw is an awesome app that interviewing based platforms would especially like to integrate.

[2020-05-04 15:37] dwelle commented on #1542
@ad1992 Ok, I thought you were mainly describing an API. But your requirements seem overly broad. Shouldn't one given app take a more opinionated stance on how it will integrate excalidraw? Is your app going to allow its users to completely customize the UI of its whiteboard component?

[2020-05-04 15:49] ad1992 commented on #1542
@dwelle I did describe what I thought the API would look like so that excalidraw can be easily integrated with any App.

Sorry I didn't get what you meant here!

What I meant in the API is that we can keep some parts as optional if needed later so that the consumer APP can pass the prop as false if they don't want to show for example the load/save file. But that we can do later not in the initial

[2020-05-04 17:45] kuy commented on #1405
@lipis Thanks for adding Japanese. I'm working on it 😃

[2020-05-04 22:38] dai-shi commented on #1334
@dwelle Can you reproduce this behavior after we merged #1427 ?

[2020-05-05 01:56] vjeux commented on #1523
16ms is the refresh rate of the screen and browsers don't send more than one event per frame, so this would not achieve anything more than introducing an artificial delay.

[2020-05-05 09:03] dwelle commented on #1334
Not reproducible!

[2020-05-05 09:03] #1334 closed

[2020-05-05 11:30] lipis commented on #1405
Thank you @kuy!

We also need the Japanese in Japanese for the drop down.

[2020-05-05 14:01] kuy commented on #1405
@lipis Oops, thanks. I didn't noticed that, sorry. I've just forked but too late, you looks like already added Japanese locale on the branch `l10n_master`.

Thanks for sharing very useful tool. I'm happy to contribute Excalidraw! ⚔️

[2020-05-05 14:20] lipis commented on #1405
https://github.com/excalidraw/excalidraw/pull/1508 :) Just take a look and approve it if it's all good! Once approved we'll merge it.

[2020-05-05 14:38] kbariotis commented on #1543
@rajikaimal could you please elaborate on this? Would you like to be able to view them at the same time? Some sort of split-screen? Or have shortcuts that you could jump from one diagram to another?

[2020-05-05 14:42] #1484 closed

[2020-05-05 14:42] kbariotis commented on #1091
It would be nice to have a preset of icons to use on our diagrams. Some examples could be:

- a user icon
- a data store icon
- a server icon
- a cog icon
- etc

Next step could be to have icons of existing services, like AWS/GCP icons to use while drawing such architectures.

Now for the first set of icons, in order to make them feel more hand-drawn we could do some of our own (using rough.js) an

[2020-05-05 14:56] lipis commented on #1405
It's live :) Thanks again.. @kuy

[2020-05-05 15:08] crash7 commented on #1543
I was about to request the same, maybe we can do something like this namespacing the state it saves into localStorage, so you can switch between diagrams without doing a "load" (keeping in mind we could hit a localStorage limit with many diagrams).

Basically, in my case (not saying that it's the same as @rajikaimal), I would like to jump between recent diagrams without doing a load (because since

[2020-05-05 15:12] lipis commented on #1543
You can change the name from Export dialog :)

Maybe we should prompt for a name the first time we try to download the file if it's `untitled`..

[2020-05-05 15:13] lipis commented on #1543
@kbariotis Think of them like the sheets in the Excel :)

[2020-05-05 17:13] dwelle commented on #1523
Oh, I didn't know 60FPS is a hard limit. In that case, never mind. But, there *is* a way for browsers to execute multiple tasks in a single frame, no? E.g., when you schedule several tasks via `requestAnimationFrame`, they'll tend to be executed in the same frame (either at the end of current frame, or at the start of next frame) --- not that it's much relevant to what we're solving here.

[2020-05-05 18:20] bernard357 commented on #1148
+1 for dark mode - as a work around, I put a large square form with dark background and then draw forms in white on top of it - this works, but is a tedious process, not mentioning that selection lines are not so visible over a dark background - thank you for your work on this topic!

[2020-05-05 19:16] dwelle commented on #1148
@bernard357 :)

You can also put a dark-gray color as the scene bg.

![image](https://user-images.githubusercontent.com/5153846/81106283-9b407780-8f15-11ea-9e3b-74760837d814.png)

[2020-05-06 01:50] kyldvs opened #1548 "Feature request: Double-sided arrow"
Maybe it's possible already and I couldn't figure it out! But would it be possible to add an option to arrows to enable the arrowhead on both the start and end of the line? Right now I have to draw two arrows each time I want a shape like this.

Thanks for building this BTW, It's wonderful to use so far :)

[2020-05-06 10:52] dwelle commented on #616
Copying the issue description from #839 for completeness' sake

[2020-05-06 10:52] dwelle commented on #1548
This will be implemented part of #616 (see https://github.com/excalidraw/excalidraw/issues/616#issuecomment-624578470)

[2020-05-06 10:52] #1548 closed

[2020-05-06 18:35] rajikaimal commented on #1543
I needed to work on two diagrams at the same time, so pretty much jumping back and forward between 2 diagrams. Having a split screen feature would be cool too, but I meant a mechanism similar to browser tabs.

[2020-05-06 18:59] dwelle commented on #1280
Another use case for increased storage: multiple scenes https://github.com/excalidraw/excalidraw/issues/1543#issuecomment-624817976

[2020-05-06 19:14] eunjae-lee opened #1550 "Slow scroll in Firefox"
Hi there,
I didn't have much on the screen. I scrolled fast in fullscreen mode in Firefox and Firefox Nightly. It was lagging.

With the same file, I tried it on Chrome fullscreen and it was fine.

I'm on MacOS. Let me know if you need more information. I'm happy to provide more!

[2020-05-06 19:21] dwelle commented on #1550
Can you elaborate?

- Are you experiencing a lag, or just slow scrolling? Firefox handles scrolling differently -- for me the scroll steps are very small, too.
- You mention fullscreen (I assume `F`/`F11`), does that mean the issue doesn't happen when you're outside fullscreen?

[2020-05-07 07:08] bernard357 commented on #1148
@dwelle thank you! It was just under my nose but I could not see it! And since the scene background is saved along the rest into .excalidraw files, then it is automatically restored on file upload. You made my day :-)

[2020-05-07 17:34] ad1992 commented on #1542
Sorry for troubling... any update on this @vjeux @dwelle ?
We can iterate over the API of excalidraw If the proposal of exposing it as a component looks fine to the team.

[2020-05-07 17:57] kyldvs opened #1552 "Left aligned text is not anchored properly"
I would expect a left aligned text box to be anchored on the left side, but it seems to be anchored at the center. This results in pretty weird behaviors where I add text and then the text box moves unexpectedly and I always have to reposition it every time the text changes. It's especially bad when working with a multi-line text box because the entire thing shifts if you add a longer line of text

[2020-05-07 18:14] kyldvs opened #1553 "Text uses incorrect style on initial load in P2P"
(I'm using mac/firefox)

When loading a document in P2P that already has some text, the initial load does not have the correct text styling. After modifying/adding any object the styling appears to get updated correctly.

Initial load:

<img width="1185" alt="Screen Shot 2020-05-07 at 11 11 17 AM" src="https://user-images.githubusercontent.com/1830497/81329763-dfd22d00-9053-11ea-8853-660da01490fa.

[2020-05-07 18:41] dwelle commented on #1552
Hello. This is (probably) on track to be fixed sometime https://github.com/excalidraw/excalidraw/issues/1327

[2020-05-07 18:42] #1552 closed

[2020-05-07 18:45] dwelle commented on #1553
Thanks for the report. I was fixing this in https://github.com/excalidraw/excalidraw/pull/1197, but apparently didn't account for collab scenes. I'll take a look.

[2020-05-07 20:55] dwelle commented on #1553
@kyldvs can you check if this is fixed in https://excalidraw-git-fixfontloadingforgood.excalidraw.now.sh/?

[2020-05-07 21:47] eunjae-lee commented on #1550
Hi there,
I experienced a lag during the scroll.
I tested and without fullscreen mode (F) it was the same.

https://drive.google.com/open?id=15weU9_VTBJYD-7pLuMQdS5aw3KoOPWnX

This is the video of me trying the scroll both in Firefox and Chrome.

[2020-05-07 23:32] kyldvs commented on #1553
Yes, confirmed that it's fixed there! Thanks for the quick turnaround!

[2020-05-08 08:42] #1553 closed

[2020-05-08 10:51] karanganesan opened #1556 "Need option to have extra margin for generated image."
eg.

<img width="100%" alt="Screenshot 2020-05-08 at 4 19 39 PM" src="https://user-images.githubusercontent.com/6049925/81398902-ba265000-9147-11ea-8986-a09ab13187ea.png">

it would be great to have 4 margin values to add or a single input to get padding values in pixels

[2020-05-08 11:10] kbariotis commented on #851
@vjeux well privacy is one thing for sure and monitoring is another and it depends on where we draw the line.

A use case could be monitoring the average local storage size. Based on the number we can take a decision on https://github.com/excalidraw/excalidraw/issues/1543 and on https://github.com/excalidraw/excalidraw/issues/1280.

Also monitoring the average number of collaborators/latency could

[2020-05-08 11:36] dwelle commented on #1556
We used to have an input where you could set custom padding, but removed it for simplicity's sake. What's your use case?

[2020-05-08 11:52] dai-shi commented on #1339
I would like to fix this gap between pointer and the handle.
But, that would lead to the suboptimal behavior (#1506).

![exdraw37](https://user-images.githubusercontent.com/490574/81402925-4860fd00-916d-11ea-85a7-d33bdb593714.gif)

[2020-05-08 12:45] kcaran commented on #1556
I've had to edit exported images before sharing them with coworkers. The default minimum padding on exported images make them feel cramped. I would be happy even with a slightly more generous default padding.

[2020-05-08 12:47] dai-shi commented on #1556
I actually agree with this.

[2020-05-08 13:02] dwelle commented on #1556
@kcaran @dai-shi still --- what app/website/environment would benefit from more padding? Can you describe a case where it feels too cramped? Usually, when you display an image somewhere, there's a padding added by the website/app itself on top of the image.

[2020-05-08 13:30] dai-shi commented on #1556
This is controversial and I don't have a strong opinion to break backward compatibility. All I can say is that I _feel_ so. My use case is to copy png to the clipboard and paste it in Slack. Here's the result.

<img width="450" alt="image" src="https://user-images.githubusercontent.com/490574/81409647-70a32880-917a-11ea-83e7-291b36cc2705.png">

The same with Twitter: https://twitter.com/dai_shi/st

[2020-05-08 14:07] kcaran commented on #1556
I don't think you can assume that the underlying application will add an appropriate padding. For example, Outlook has a black background for displaying images. This is an example of an image I needed to post-process.

![Screen Shot 2020-05-08 at 9 38 52 AM](https://user-images.githubusercontent.com/2607333/81413063-d0fe7f80-9112-11ea-9057-ab2a317a00d2.png)

For the default, I'd rather have it be

[2020-05-08 17:10] lipis commented on #1556
I don't think that we should have an option for it.. bit maybe increasing a bit the padding should be ok.

[2020-05-08 17:32] vjeux commented on #851
I'm open to adding monitoring in order to answer specific questions. You seem to have a concrete use case where average local storage size would be useful, so this is fine. This original issue was about adding blanket list of logging without clear use cases.

[2020-05-08 20:46] vjeux opened #1557 "Use words for key bindings"
We should use full word "shift", "control", "option", "command" rather than the symbols. I never know what they mean.

![image](https://user-images.githubusercontent.com/197597/81447873-43cb2300-9132-11ea-9f13-ff5997a2905c.png)

[2020-05-08 21:25] vjeux opened #1558 "title tooltips are not discoverable enough"
Someone asked me what the lock icon did and after I explained they asked me to add a tooltip. We already have one implemented with `title` html attribute which is taking a second to show up.

We implemented a custom tooltip for the badge icon. We should think about using it for all the places where we use title.

[2020-05-08 21:42] dwelle commented on #1339
IMO current behavior is fine.. wouldn't over-engineer it. But if that would go against #1506, then we shouldn't do that anyway.

[2020-05-08 22:42] JeromeD84 opened #1559 "Freehand drawing and upload image"
Hi,

Congretulations for Excalidraw. it's one of the best.

I would like deploy it in my company, but i think that it's not possible because of missing 2 main fonctionnalities :
- The first is Freehand drawing. With a real whiteboard, we draw with a pen. It's very imprtant
- Upload picture (technical diagram) to work on it

Peraphs this functions exist ? Then, can you tell me how i can use them ?

[2020-05-08 23:44] dai-shi commented on #1339
Well, I agree that we don't agree with it. I feel like the current behavior is worse than #1506. (but less worse in the case of normal elements because we don't have shift-ratio-locking.) Anyway, my motivation was more to clean up the code and avoid using too many states.

To avoid going against #1506, I would need to change the handle position of two-points lines/arrows. Maybe, we don't need the

[2020-05-09 01:59] dai-shi commented on #1339
Hm, I may change my mind. The current absolute positioning isn’t very mobile friendly. I’d explore dynamic pointerOffset. It’ll be something you like.

[2020-05-09 05:40] z3ky commented on #1559
I'm also missing both mentioned functions. With those, I could perfectly use excalidraw in classrooms. But I think freehand drawing is not a part of Rough.js. Maybe the line tool with multiple points can be used in a way to realize it.

[2020-05-09 07:57] rrikesh commented on #1543
If you're using Firefox, use [containers](https://addons.mozilla.org/en-US/firefox/addon/multi-account-containers/) as a quick workaround.

[2020-05-09 08:57] #1506 closed

[2020-05-09 08:57] #1505 closed

[2020-05-09 10:40] HerbCaudill opened #1561 "Catalan locale (ca-ES)"
I'm willing to contribute translations.

[2020-05-09 11:59] JeromeD84 opened #1563 "Unhandled Rejection - Cannot read property 'generateKey'"
Hi,

When i start a live collaboration i receive the Error web page :
Can you help me and explain me how i can generate the key on my server ?

Regards,

[2020-05-09 12:16] dwelle commented on #1563
Hello. I can't find this error on our bug tracker. What browser & browser version are you using?

Unclear what you mean by your server.

[2020-05-09 12:47] #1522 closed

[2020-05-09 13:25] JeromeD84 commented on #1563
Hello,

Some informations :
- My Chrome PC Version 81.0.4044.138 doesn't work.
- My Chrome Android Phone Version 80.0.3987.162 doesn't work
- My Safari Ipad IOS works. Yes i can start a live session

I said : "Can you help me and explain me how i can generate the key on my server ?"
It means that i install NodeJS on my private server afetr git clone ... npm install ... npm start. I wanted to said

[2020-05-09 13:36] Miq3l commented on #25
+1 Pen with iPad

[2020-05-09 15:33] kokanek opened #1564 "FontAwesome Icons support?"
It would be a great feature to add FontAwesome icons support to the tools panel.

Is this being considered as an addition in the future?

I am thinking of giving it a shot.

Let me know if there are any threads regarding any discussions in that direction.

[2020-05-09 16:12] dwelle commented on #1563
Okay. If you're not running your server on localhost, and the domain isn't secure (HTTPS), then the [SubtleCrypto](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto) API won't be available.

Does this describe your problem?

[2020-05-09 16:14] dwelle commented on #1564
Do you mean like a drop-in assets that you can use in your drawings? https://github.com/excalidraw/excalidraw/issues/1091

[2020-05-09 16:16] dwelle commented on #1559
Hello. For freehand drawing, there's https://github.com/excalidraw/excalidraw/issues/25#issuecomment-626177434, and for there's https://github.com/excalidraw/excalidraw/issues/19, so add your likes there.

[2020-05-09 16:16] #1559 closed

[2020-05-09 19:20] kbariotis commented on #1561
Thank you @HerbCaudill! I added the PR and @lipis probably will setup the new language on Crowdin so you can start the translation.

[2020-05-09 19:24] kbariotis commented on #345
@joewood would you like to give this plugin a try https://github.com/excalidraw/gatsby-embedder-excalidraw?

I will close this issue but please do give us feedback you may have. We can continue the discussion there. :)

[2020-05-09 19:32] #1244 closed

[2020-05-09 19:34] kbariotis commented on #1245
Closing this as well as the frequency on Sentry has fallen significantly. We can revisit when it becomes a problem.

[2020-05-09 19:34] #1245 closed

[2020-05-09 19:43] dwelle commented on #25
We need to figure out how to implement this. In most vector editors, free hand drawing results in a line composed of bezier curves.

![image](https://user-images.githubusercontent.com/5153846/81483342-d0aed300-923d-11ea-9f5b-4aa0ced417a3.png) ![image](https://user-images.githubusercontent.com/5153846/81483337-cab8f200-923d-11ea-83b1-29bdbdbe4a91.png) ![image](https://user-images.githubusercontent.

[2020-05-09 21:01] pshihn commented on #25
There's no reason to use roughjs for this.
Bezier curves is the way to go in my opinion and you can render them easily on canvas and svg. See http://perfectionkills.com/exploring-canvas-drawing-techniques/ This page has other techniques as well but the one titled 'bezier curves'  will give you good results with least complexity.

The other thing to keep in mind - you will collect A LOT of points b

[2020-05-09 21:13] dwelle commented on #25
Other than to pipe it through roughjs renderer as if it was a multi-point line, to get a roughjs look?

Otherwise, I agree. I just wanted your opinion on this one :).

[2020-05-09 21:22] pshihn commented on #25
I suppose you could run the points through roughjs' curves command like we do with the multi point lines. But with so many points, it is actually hand-drawn rather than emulating it. Why add extra complexity. :) No harm experimenting to see what looks better

[2020-05-09 21:26] ad1992 commented on #1558
How about using something like https://kazzkiq.github.io/balloon.css/ ?

[2020-05-09 22:57] joewood commented on #345
Sure, that plugin just calls out to the URL, rather than actually bundling Excalidraw and transforming a local JSON.

[2020-05-10 05:15] kokanek commented on #1564
I was thinking more around the lines of adding a new tool in the toolbar called "Icon".
Selecting this tool would let us include one of these free font awesome icons in the canvas by maybe searching through an interface:
https://fontawesome.com/icons?d=gallery&m=free

[2020-05-10 11:10] JOEMAIER101 opened #1569 "free draw and load pdf"
Is there a fix to **load pdf or pasting an external image** and **draw free-style**.

I've tried adding code fix, but the fixes are sitting behind the canvas, and hence are of no visual help

[2020-05-10 11:34] dwelle commented on #1569
Hello. For freehand drawing, there's https://github.com/excalidraw/excalidraw/issues/25, and for image uploading there's https://github.com/excalidraw/excalidraw/issues/19.

As for uploading pdf, there's no issue yet, but I don't understand how that would work.

[2020-05-10 11:49] dwelle commented on #1564
What you describe still falls under an asset library, except you'd also like to make these particular assets (fontAwesome icons) added to the shapes toolbar --- this will likely not happen. If we do implement an asset library, even that might not get a dedicated button in the toolbar (which we want to keep minimal), but if it does, it should include all assets, not just a subset (fontAwesome).

As

[2020-05-10 11:49] #1564 closed

[2020-05-10 15:41] #1339 closed

[2020-05-10 18:30] gaearon commented on #1129
I imagine "Stroke": "Solid / Dashed" as options next to "Sloppiness". Really miss this feature.

[2020-05-10 18:36] dwelle commented on #1129
Because this fits to Excalidraw very well (design-wise), I'll look at this, and add them to the UI as you suggest. Though long-term, we should maybe think of another solution, because we're adding too many buttons to the menu.

[2020-05-10 20:19] kbariotis commented on #19
How about getting a non-profit license from a hosting service? I've used [Cloudinary](https://cloudinary.com/solutions/industries/cloudinary-for-nonprofits) in the past. cc @vjeux

[2020-05-10 20:21] kbariotis commented on #19
How about getting a non-profit license from a hosting service? I've used [Cloudinary](https://cloudinary.com/solutions/industries/cloudinary-for-nonprofits) in the past. cc @vjeux

[2020-05-10 22:14] lipis commented on #1561
https://crowdin.com/project/excalidraw/ca

[2020-05-10 22:14] #1561 closed

[2020-05-10 22:24] lipis commented on #19
What's wrong with uploading them to json.excalidraw.com? (If we are going to that route)

[2020-05-10 22:29] #1557 closed

[2020-05-11 00:08] vjeux commented on #19
Yeah, I’d rather not we use random third party to host user content. We already have a way to store end to end encrypted blobs with json.excalidraw.com

[2020-05-11 04:12] vjeux opened #1572 "Horizontal arrows are cropped when zoomed in"
The canvas intermediate bounding box must not correctly take into account the arrow edges.

200%

![image](https://user-images.githubusercontent.com/197597/81523520-e20de300-9302-11ea-8bdd-5348d3c3b1f3.png)

100%

![image](https://user-images.githubusercontent.com/197597/81523528-e89c5a80-9302-11ea-83a8-de800dddc73d.png)

[2020-05-11 04:33] dai-shi commented on #1572
<img width="551" alt="image" src="https://user-images.githubusercontent.com/490574/81523890-3b6d2500-938a-11ea-8972-cf8545ca66cf.png">

Any arrows seem to have this issue...

[2020-05-11 09:35] dwelle opened #1573 "Add support for sharp corners/lines"
If you want to draw some sharp-corner shape which we don't support, such as a triangle, it's pretty much impossible with our line tool right now. It'd be great to be able to disable bezier curves on specific shapes.

![image](https://user-images.githubusercontent.com/5153846/81547048-8e8bab80-937b-11ea-9a96-dd16b7b5222d.png)

[2020-05-11 14:19] mxstbr opened #1581 "Add "Show/hide UI" button to right-click menu (zen mode to context menu?)"
Figma has a "Show/Hide UI" button that triggers the entire UI being hidden which is very useful for demoing/screen sharing.

Would love to see that in Excalidraw!

[2020-05-11 14:26] dwelle commented on #1581
We already have Zen mode, which hides most (but not all) buttons. But it's accessible only by a hotkey at the moment --- `Alt + Z` (you can check the shortcut help dialog at the bottom right of the screen).

[2020-05-11 14:30] mxstbr commented on #1581
Ohh that's already super close, nice!

[2020-05-11 16:43] tusharf5 opened #1582 "The left and top menu region blinks on cursor movement"
First of all thank you for this amazing tool ❤️. I've been looking for something like this for months now and I saw a link to this on a newsletter. I got so excited after using it that I ordered a drawing tablet only to find out later that it doesn't support free hand drawing but I see it's a work in progress feature.

Now the issue. Take a look at the video which shows it.

The menu on the left a

[2020-05-11 16:57] dwelle commented on #1582
Hello. Thanks for your kind words.

What browser & version are you using? I have no clue what that could be, except something GPU-related. Chrome used to have similar issues on certain GPUs, but they fixed it.

[2020-05-11 18:23] Swarajsm commented on #1256
Can I try to solve this issue? I am new to github and programming but with a little guidance maybe I can do this?

[2020-05-11 18:37] tusharf5 commented on #1582
This is my system config

16 GB 2133 MHz LPDDR3
2.5 GHz Dual-Core Intel Core i7
MacBook Pro (13-inch, 2017, Two Thunderbolt 3 ports)

It doesn't happen on Firefox but happens consistently on Chrome (latest version).

[2020-05-11 18:45] dwelle commented on #1582
Hmm, the fact it only happens on Chrome suggests it might be related to that GPU bug. Checking google, its GPU (Intel Iris Plus Graphics 640) doesn't ring any bell, but that means absolutely nothing because I wasn't really involved in that previous GPU issue  (apart from being affected by it).

That said, I don't want us to stop considering any other possibilities --- except I have nothing else to

[2020-05-11 18:51] tusharf5 commented on #1582
Disabled it but it still blinks as shown in the video :( Let me know if you need any help debugging it. I wonder if it happens to everyone with the same config or is it just my machine.

[2020-05-11 18:54] dwelle commented on #1582
I'm on the same Chrome as you (81.0.4044.138). We haven't had any such reports, but if it's your GPU I'd be a bit surprised if no one experienced it (MacBook pro 2017 isn't that uncommon).

Either way, I'm out of ideas. If anyone else has any, let's chime in.

[2020-05-11 19:03] tusharf5 commented on #1582
Just installed Canary, the issue doesn't seem to happen there. I guess I'll wait for the next Chrome release and let you know if the issue still persists after that.

[2020-05-11 19:05] dwelle commented on #1582
Sweet, good to know. In my experience, it's usually the other way around (Canary breaking something from stable) :smile:.

[2020-05-11 19:11] tusharf5 commented on #1582
or it fixes something broken in stable 😇(my glass is just half full 😀)

[2020-05-11 23:38] pshihn commented on #760
This should be resolved by upgrading to roughjs 4.3.1

[2020-05-12 19:27] kbariotis commented on #25
Free draw landed on master. Closing this.

[2020-05-12 19:27] #25 closed

[2020-05-12 19:30] kbariotis commented on #1569
#25 is closed and we are working on #19 now. @JOEMAIER101 thank you for your suggestions, hopefully we will finish this really soon. If you want to track progress or be involved in any way, join us on #19.

I will close this.

[2020-05-12 19:30] #1569 closed

[2020-05-12 20:47] vjeux commented on #1542
If I understand correctly, your use case is that you are building an interview platform and you want people to be able to collaborate with a shared whiteboard. This means that you are very interested in live collaboration but not that much in terms of changing colors & co.

So based on this, you just need the drawing options at the top and not the side bar, nor exporting options. You want to be ab

[2020-05-12 21:00] ad1992 commented on #1542
@vjeux to give you more context I  am using zen mode, collaboration but not with socketio as we want the data to be saved to the backend so triggering callback here during broadcast will actually help, colors and username as well so as to show our color code and username and username can be changed by the user itself.

Prefilling is not needed as of now since we save the data to backend.
So the AP

[2020-05-12 22:50] vjeux commented on #1542
I'm curious, what do you mean by "not with socketio". Do you re-implement all of the synchronization primitives and do you run your own real time backend?

[2020-05-13 05:42] sbuettner opened #1584 "Can’t find undo when using Safari on iPad"
Undo functionality not visible in viewport when using Safari on an iPad. Neither in horizontal or vertical mode.

![image](https://user-images.githubusercontent.com/1607241/81775448-2957c780-94ed-11ea-91fb-710ac8dd0ebe.jpeg)

![image](https://user-images.githubusercontent.com/1607241/81775464-2f4da880-94ed-11ea-932f-e3164cc4c5a4.jpeg)

[2020-05-13 09:02] dwelle commented on #1584
Yea, we're using mobile UI scheme based on dimensions, not user-agent. Maybe we should reconsider? /cc @j-f1 @Fausto95

[2020-05-13 09:13] Simonboeuf1 opened #1585 "Export to svg discards leading spaces in new lines of text"
**How to reproduce :**

- Go to https://excalidraw.com/#json=6261816103534592,1Pp2oQp_kQvX7EQ3MS8ZZw

![image](https://user-images.githubusercontent.com/45355395/81794107-8d3cb900-950a-11ea-81bc-803e4f81216f.png)

- Select the text block, and export it as svg

**What happens**

- Leading spaces on every line of the text block are discarded in the exported svg
![image](https://user-images.githubuse

[2020-05-13 09:15] Simonboeuf1 commented on #1585
I have managed to get my text right by doing `text.textContent = lines[i].replace(/ /g, "\u2002");` during the svg export, but surely there is a more acceptable solution

[2020-05-13 09:30] bratsos opened #1586 "Free draw selection"
First of all, I'm really glad to see this project evolving that much and so quickly! Great job to everyone!

After using free draw on my laptop and on my iPad I found out that most of the time, when using free draw I don't want to select the shape I justed draw; I just want to continue with my drawing.

For example, this simple drawing requires 12 clicks (half of them are switching between selecti

[2020-05-13 09:37] Nopik commented on #1543
So, I'm a casual user which occasionally draws some small diagrams in the tool. I do like that whenever I go to excalidraw, it basically shows what I was drawing first. I do not really care if that is local storage or server side. But, I want to keep that diagrams handy in the tool (not in a tons of local json files), and still be able to draw new things. So, I ended up having one giant diagram wi

[2020-05-13 10:00] dwelle commented on #1586
That's what the lock is for:

![image](https://user-images.githubusercontent.com/5153846/81799181-44d4c980-9511-11ea-8ed0-91d5b2ff1517.png)

We need to make it more intuitive.

There's also an open proposal for making it the default https://github.com/excalidraw/excalidraw/issues/1206

[2020-05-13 10:03] bratsos commented on #1586
Wow I'd never thought about clicking that lock button for this. TIL 😅

Thanks, I guess there's nothing more to discuss here 🚀

[2020-05-13 10:03] #1586 closed

[2020-05-13 11:05] dwelle commented on #760
Thanks for the fix @pshihn, works great!

[2020-05-13 11:05] #760 closed

[2020-05-13 12:30] #1585 closed

[2020-05-13 14:02] ad1992 commented on #1542
@vjeux we are using firebase for collaboration. We sync the data to firebase whenever it gets broadcasted and similarly pull the data when any change in firebase.
That is why for updating the scene from a remote collab I had to move the `updateScene` method out of `initializeSocketClient` so that it can be reused.
But this is a very specific use case and not generic one so this can be discussed la

[2020-05-13 16:47] vjeux commented on #1586
@dwelle I think for free drawing, we should keep it enabled by default. For shapes, I very frequently want to move it around after drawing them but hasn't been my experience for free drawing. Thoughts?

[2020-05-13 16:58] dwelle commented on #1586
Maybe, although it will create a behavior inconsistency between shapes. Also, would you force it for free draw, or would you want to auto-lock with the ability for users to unlock if they wish to?

True. One thing I didn't mention in https://github.com/excalidraw/excalidraw/issues/1206#issuecomment-609011447 is that with the hybrid proposal, you can even move shapes by dragging their outline (not

[2020-05-14 02:17] tiensonqin opened #1590 "Is there a logo.svg"
First of all, thank you for this project, I have a lot of fun with this!

I'm working on an offline notes app, currently, I'm using an iframe to add excalidraw to the app,
and I want to show your logo on the page header instead of another draw icon.

[2020-05-14 02:21] Fausto95 commented on #1590
Hi there, we’re glad that you find the app interesting.
All the logos live here https://github.com/excalidraw/excalidraw-logo

[2020-05-14 02:22] tiensonqin commented on #1590
ah, my bad, :+1:

[2020-05-14 02:22] #1590 closed

[2020-05-14 02:25] Fausto95 commented on #1584
We should consider something hybrid

[2020-05-14 02:29] Fausto95 commented on #1543
In my opinion what we really need here is Artboards

[2020-05-14 05:39] tusharmath opened #1591 "Feature Request: Ability to provide a custom font-size"
Hi,

Is there a way we can add a custom font-size option. Sometimes `Very Large` isn't large enough. I guess, there should be a text box for it so that one can enter a custom value for the font.

[2020-05-14 08:45] dai-shi commented on #1591
In terms of simplicity, it would be nice to make texts resizable like other shapes. That would relates to #1218.

[2020-05-14 11:07] mohammadrabetian opened #1593 "TypeScript error in /usr/src/app/src/components/App.tsx(134,22): Could not find a declaration file for module 'lodash.throttle'."
I get this error when I try to build the container..
I cloned the project and tried to build it with `docker-compose up --build -d`

[code]

[2020-05-14 11:56] brijeshb42 commented on #1377
@jaredpalmer Basic implementation - https://marketplace.visualstudio.com/items?itemName=brijeshb42.vscode-excalidraw
More feature and fixes to be added. You can't edit multiple excalidraw files at once right now.

[2020-05-14 12:38] brijeshb42 commented on #1377
@kbariotis The marketplace has the link for the extension repo and the extension itself embeds a forked and slightly modified version of excalidraw which is also under my account on github.

[2020-05-14 12:54] brijeshb42 commented on #1377
Changes in the core itself would be best so that the hosted version of excalidraw can also be integrated as an option.

[2020-05-14 15:04] #1129 closed

[2020-05-14 15:12] erikras opened #1597 "Feature Request: Animated Drawing"
I really adore the hand-drawn effect you guys have created. I've already used some Exalidraw drawings in some keynote presentations. The other day I discovered a "Line Draw" build animation in Keynote and it made me think how cool it would be if Excalidraw could do something similar. It's unclear to me how deep Excalidraw would want to get into creating a "timeline", but maybe the drawing of some

[2020-05-14 15:20] strudra opened #1599 "iPad + Pencil Support: UX Improvements"
## Brief Intro

Excalidraw now supports drawing shapes, which is amazing! I thought of trying it out with my iPad + Pencil. I've noticed a couple of UX problems.

1. Discussion on UX of Selection/Exploration Modes on iPad

## Current Behavior
When using both fingers and a pencil to interact, it's very natural that the hand is used to move the canvas, and the pencil is used to draw things. Other no

[2020-05-14 16:20] dwelle commented on #1597
Thanks for issue.

I could see this go two ways:

1. Animate on screen, which could be used for #253 if that ever gets implemented. This implementation would have many open ended questions: when does the animation start/stop. How to add it to the UI etc.

2. On export, allow to export to GIF which would automatically animate everything on screen.

(2) feels like something that we could add with mi

[2020-05-14 16:32] dwelle commented on #1599
For the (2), this was discussed several times already, and we need to do something about current workflow and make it more intuitive --- you can already "lock" your shapes so they don't reset to back selection via the lock icon:

![image](https://user-images.githubusercontent.com/5153846/81960486-4f768800-9611-11ea-878e-75d3cec3a6a8.png)

[2020-05-14 17:17] Yuvashkenazi opened #1600 "live collaboration dialogue typo"
the warning says:
"you will loose the data unless you export it to a file or a shareable link."

loose should be lose

[2020-05-14 17:59] dwelle commented on #1600
Indeed! Up for a PR? :)

[2020-05-14 18:01] Yuvashkenazi commented on #1600
Yeah, i tried to do it through codesandbox but was having issues :(

I'll try again though

[2020-05-14 19:16] #1600 closed

[2020-05-14 21:52] dai-shi commented on #1597
I am interested (as a user).

[2020-05-14 22:06] dai-shi commented on #1218
@lipis Here's my plan for the remaining items.
- I should be able to work on two-point lines some time soon.
- I don't see good use cases of resize-to-negative (we can't create a mirror diagram), and its implementation will be very complicated to maintain (unless someone have good ideas/refactorings). I wouldn't do it in this iteration. Would you remove it from this issue and create a separate one

[2020-05-15 07:33] gregmuellegger commented on #345
I still think there are uses for a CLI that transforms scenes. Even SVG as an output might be useful already.

I would like to include software architecture drawings made by Excalidraw in documentation, and when building the HTML of the documentation it would be great to simply be able to convert the `.excalidraw` files into SVG/PNG for including in the docs.

[2020-05-15 09:04] kbariotis commented on #345
Thank you @joewood and @gregmuellegger, let me re-open this. It seems like the transformation is a bit different than the existing plugin.

I think bundling Excalidraw as is right now would be a bit overhead so we might need to look into splitting it into smaller modules.

[2020-05-15 09:42] dwelle commented on #1218
Agreed on all three points.

[2020-05-15 09:44] dwelle opened #1603 "Support resizing text"
Prerequisite of https://github.com/excalidraw/excalidraw/issues/1218.

There's also been some requests to support other text sizes than the 4 we currently support, and this would partially address that.

[2020-05-15 10:11] lipis commented on #1561
Just a friendly reminder @HerbCaudill

[2020-05-15 15:33] vjeux commented on #1603
The data model already supports arbitrary font sizes. We could allow resizing text with the handle to change the font size and show the left panel size as undefined if it doesn’t fit one of the preset.

[2020-05-15 15:42] dai-shi commented on #1603
Cool. The hard part is the bounding box, especially resizing from `nw`. I haven't looked into the code yet. I assume it's calculated somewhere. I'd tackle this, once I finished group-resizing of two-point lines.

[2020-05-15 15:58] guerby commented on #1176
js package for rendering math:

https://www.mathjax.org/

(not tested)

[2020-05-15 16:05] guerby commented on #1176
Didn't see that mathjax require a server part.

May be this one is simpler :

https://katex.org/

[2020-05-16 08:38] dahawk commented on #1593
Maybe this helps a little, it definitely confused me quite a bit.

Quickly to my background, I work with docker a lot but have no significant experience with development in nodejs or ts. I normally just run the builds and deployments, using docker. I was trying to deploy excalidraw when I encountered a road block in form of the error message mentioned in the message by mohammadrabetian.

When you

[2020-05-16 09:48] dwelle opened #1605 "Support editing existing lines/arrows"
We can support editing existing arrows on enter/double-click of an arrow, and then either:

1. **Non-bezier:** only display existing points, where you can select each and move it, or delete it. Adding new point could be done e.g. via `Cmd+click` anywhere (we would display hint).

    You can insert points in the middle of two points by hovering over the line between them, and click (or do what Fig

[2020-05-16 09:55] dai-shi commented on #1605
IMO, (2) is too much, but it doesn't hurt my usage anyway (I mean I'd ignore). It would be nice to delete points of "draws".

[2020-05-16 14:22] HerbCaudill commented on #1561
👍👍 done! I brought the other romance languages back up to 100% while I was at it.

![image](https://user-images.githubusercontent.com/2136620/82122030-54fadc00-9791-11ea-81a6-1c9b5de69a5e.png)

[2020-05-16 15:45] dai-shi commented on #1597
And actually, I'm interested in it as a developer. https://twitter.com/dai_shi/status/1261683775924105218

[2020-05-16 15:46] lipis commented on #1561
Thank you!! Live in few minutes..

[2020-05-16 17:40] dwelle commented on #1597
Also, since you both expressed interest, what was your intended use case? Having GIFs in blog posts, or on social media or something?

[2020-05-16 18:12] erikras commented on #1597
My interest: I was putting together [a talk](https://youtu.be/pn0pIgdQvhU) that involved the particular animation I included above. And I'm a huge fan of Excalidraw, looking for nails to hammer with it ever since learning of its existence, so I thought, "Wouldn't it be cool if the thing that looks like it was sketched, could be sketched before your eyes?" Sort of like what's cool about the [RSA An

[2020-05-16 18:40] vjeux commented on #1605
Agreed about (2), I wouldn't show it. Just displaying points and mid-points is what I would expect for this feature.

[2020-05-16 19:37] badabam commented on #1238
Great idea, I am missing that feature a lot.
I would suggest `alt+1`, `alt+2` and `alt+3` from top to bottom (canvas, stroke, background) with the alternatives `alt+c`, `alt+s` and `alt+b`. There is already a shortcut with the `alt`-key (toggle zen mode).

[2020-05-16 21:34] dai-shi commented on #1597
Almost all covered. I was imagining YouTube videos like RSA Animate. I personally don't do it though. My personal use case would be for Tweets. Manual animation doesn't work for me. I would like to have it ideally fully automated, even if it's not 100% intended.

[2020-05-17 00:48] lusingander opened #1606 "Resizing non-solid lines may change the position of the object"
Resizing non-solid lines (Lines, Arrows, Free draws) may change the position of the object.

![200517](https://user-images.githubusercontent.com/31386431/82133150-30e7db00-9823-11ea-90be-28558ffd7ef4.gif)

[2020-05-17 00:53] lusingander commented on #1606
In `resizeSingleElement`, I suppose that it is wrong that `[element.x, element.y]` and `[nextElementX, nextElementY]` have different values when `e`, `se`, and `s` are moved, but I didn't know any more...

[2020-05-17 01:05] dai-shi commented on #1606
Does this only happen with dashed and dotted? Interesting.

[2020-05-17 01:24] dai-shi commented on #1606
Hm, this simple one doesn't reproduce it.

![exdraw43](https://user-images.githubusercontent.com/490574/82133548-97bbc300-9828-11ea-952c-a2227cfb7ec5.gif)

[2020-05-17 09:06] dwelle commented on #1606
I can repro on dashed/dotted lines when resizing to the negative:

![excal_neg_resize_dotted](https://user-images.githubusercontent.com/5153846/82140214-62b26f00-982e-11ea-858f-4d4a7fbcedb8.gif)

I'll need to review the PR if there's something that could explain it.

[2020-05-17 09:10] stefanli commented on #1542
Hey folks. I have another specific use case that I thought I'd chime in with. I'm creating a flash card/note application and I'd like to allow users to embed excalidrawings into my editor. The way I imagine this to work is similar to how "Insert drawing" works in Google Docs or similar apps:

1. The user clicks "Insert drawing"
2. A modal pops up with the excalidraw UI.
3. User creates a drawing a

[2020-05-17 12:59] dwelle commented on #1606
It seems it's related to rough's `disableMultiStroke`. When set to `true`, this resize bug manifests.

Do we in any way depend on internal implementation of what roughjs renders?

[2020-05-17 13:11] dai-shi commented on #1606
`getResizedElementAbsoluteCoords` does the job. We need to calculate the accurate coords while resizing. Only the way possible is to render with roughjs. ref: https://github.com/excalidraw/excalidraw/issues/1275#issuecomment-613245201

[2020-05-17 13:18] dwelle commented on #1606
I'm not seeing where `getResizedElementAbsoluteCoords` handles two-path shapes differently than single-path elements. Nor am I seeing difference in output when logging it.

[2020-05-17 13:21] dai-shi commented on #1606
BTW, have you already checked #1608?

[2020-05-17 13:24] dwelle commented on #1606
No... damn :smile:

[2020-05-17 14:01] #1606 closed

[2020-05-17 15:27] kleinpetr opened #1609 "TIP: implement tabs as projects"
Hello,

it would be great to work with tabs inside excalidraw. I think its better way then using single projects.

I am implemented tabs in Vue.js here https://konfigurator.kmfire.cz which is configurator for electric cases, but the tabs are powerful I think.

In this project I also saving data to the browser Local storage, but I am saving it in the List and every object in list is presented like

[2020-05-17 16:03] dai-shi opened #1610 "Free draw with many points fails to filp"
It's probably because some of the point positions become too close to zero, and can't rescale properly.

![exdraw44](https://user-images.githubusercontent.com/490574/82153534-fc1b6880-98a2-11ea-8719-bf8c4542bf49.gif)

[2020-05-18 12:42] dwelle opened #1614 "multipoint curves hitbox detection incorrect"
I noticed that hitbox detection in certain cases is wrong. Seems this regression happened a long time ago in https://github.com/excalidraw/excalidraw/pull/1315

Target commit [`57bbc9f`](https://github.com/excalidraw/excalidraw/commit/57bbc9fe55bfaeb03e1cd703654c42c1de0bf9f7) (incorrect behavior): https://excalidraw-njm9grile.now.sh/
Commit before [`fe6f482`](https://github.com/excalidraw/excalidr

[2020-05-18 15:38] t6adev opened #1615 "Japanese handwritten font-family"
Hi there!
Currently, Virgil has been only adopted as handwritten font.

My mother language is Japanese. So I'd like to apply any handwritten Japanese font-family that is distinguished from Chinese traditional/simplified fonts. (Related to #1290 )

Is there any recommended way for applying other font-family?
If there is nothing in particular, I can send a PR to start discussion how to do it.
Now I

[2020-05-19 11:26] dwelle commented on #1609
Hello.

There's already feature request for tabs: https://github.com/excalidraw/excalidraw/issues/1543

The underlying implementation isn't so important right now, that will be figured out, but thanks for the suggestion.

[2020-05-19 11:26] #1609 closed

[2020-05-19 12:43] moritonal commented on #19
I've worked on this for a couple of hours and found it fairly simple to add a new component so that's kudos to neat code. I've noticed there's PR #1589 which is also implementing this, so will pivot to help that progress.

[2020-05-19 14:51] oerd opened #1618 "Request for albanian translation"
There should be an Albanian locale file (i.e. `sq_AL`) there are some nice people who'd like to translate 😄

[2020-05-19 15:08] lipis commented on #1618
Here you are! Ping here when it's all ready: https://crowdin.com/project/excalidraw

[2020-05-19 15:08] #1618 closed

[2020-05-19 18:12] vjeux commented on #1614
cc @pshihn

[2020-05-19 18:44] pshihn commented on #1614
I never quite understood the initial hit testing for curve was implemented - it was making some assumptions about what rough's generated output would be, which seemed wrong. I remember updating it to parse the roughjs output correctly without touching the hit-testing math. It's likely I broke it as a result.
I'll investigate this evening.

[2020-05-19 19:20] j-f1 commented on #1584
Or we could make the undo/redo always visible

[2020-05-19 20:02] vjeux commented on #1543
I like the gallery concept of Procreate
https://youtu.be/EI-ToB0tG9A

[2020-05-20 09:40] luc4leone commented on #1572
Would it be a good first issue? In case it's not, any suggestion for a good first issue? Thanks :)

[2020-05-20 12:48] guillaumebriday opened #1621 "Build to Docker hub"
Hey,

I think it would be great to publish this project on the [Docker Hub ](https://hub.docker.com/).

It already has a Dockerfile and it would be pretty easy to automated the build process with Github Action.

Would you accept a PR for this feature?

Thank you for your work! 🙏

[2020-05-21 08:19] sharmasha2nk opened #1623 "Option to provide a name to drawing"
When we click save currently it save as Untitled-{date}-{number}.excalidraw but in export, there is an option to provide a name to the exported file. There could be a global name field, which could be used for both save and export (prefill export name field) files.

Name field for export.
<img width="804" alt="Screenshot 2020-05-21 at 4 16 03 PM" src="https://user-images.githubusercontent.com/4423

[2020-05-21 08:33] dwelle commented on #1623
Hello.

We actually somewhat do that, but only for legacy fs API, not the one. It seems there's no open issue for this (or it's a recent regression), so I'll open one.

As for placement, in the beginning, it was in the place you suggested, but we've removed it's not a common case to name your projects so it would only add noise to the UI (and often you either save or export, not both at the same t

[2020-05-21 08:36] dwelle opened #1624 "Set name and extension when saving file via filesystem API"
Not sure if a regression, or never implemented (but I recall we've had this problem with the new API and extensions before), but when saving a file in Chrome via the new FS API, neither extension nor file name (to the project name) is set. At least on Windows.

[2020-05-21 10:29] sharmasha2nk commented on #1623
Hi,
The good part with the current save is, its fast. No popup. No windows. I prefer it remains the same. That's why suggested it to be there or somewhere with prefilled as "Untitled-{date}-{number}". Name field to be near the save option makes sense to me. And whose value could be reused in export as well, as pre-filled. For export to open a popup is fine, as there are other options as well to ch

[2020-05-21 19:57] #1614 closed

[2020-05-21 20:12] j-f1 commented on #1517
What about allowing people to manually enter custom colors, then saving the most recent 5 (or whatever) in the color picker?

[2020-05-21 20:20] dwelle commented on #1517
Not bad. It won't complicate the base UI because it won't even show until you paste custom color.

I'd maybe tweak the idea and show X recent color that are actually on the scene (if found), before showing X recent custom-picked colors, because you may play with a color before settling on it, and it would replace all your recent colors with shades of a single one.

[2020-05-22 01:42] mcchrish commented on #1550
For me this is what I experience. Other browsers seems fine. What's different in firefox's handling?

[2020-05-22 06:09] vincentfretin commented on #1593
Because of
`ENV NODE_ENV=production`
The command `npm install` doesn't install devDependencies declared in `package.json`.
You can remove the line `ENV NODE_ENV=production`
and define it inline like this:
`RUN NODE_ENV=production npm run build:app`

[2020-05-22 08:37] #1593 closed

[2020-05-22 08:40] dwelle commented on #1550
Firefox uses different browser & JS engine, so differences are expected. There's nothing we can really do to target Firefox performance directly. We'll need to address this in an ongoing effort to improve general performance.

[2020-05-22 10:04] mohammadrabetian commented on #1593
Thank you @vincentfretin

[2020-05-22 13:13] dai-shi commented on #1451
I just found diagrams.net uses 15-degree locking. So, at least it's another example to indicate the reasoning.

I'm OK with it. @lipis @dwelle ?

[2020-05-22 13:19] lipis commented on #1451
30, 45, 90 are there.. so I'm fine with it.

[2020-05-22 13:19] dwelle commented on #1451
I'm down too. Figma and Affinity uses 15deg, as well.

[2020-05-22 13:22] dai-shi commented on #1451
OK, I'll draft a PR.

[2020-05-22 17:05] lipis opened #1629 "Show the degrees when using rotation locking"

[2020-05-22 18:27] Shriram-Balaji commented on #1473
@j-f1 I've faced this issue in the past, I'll take a dig at it, and try to get a PR up soon.

[2020-05-22 18:40] Shriram-Balaji commented on #1280
@dwelle To continue the discussion further of adopting IndexDB, should a PR having an option to switch between localStorage and IndexDB work?

We might add some sort of an abstraction layer for the storage we use, and then completely switch to IndexDB if it fits our needs well?

[2020-05-22 18:52] dwelle commented on #1280
I think migrating directly should be fine. Almost every `localStorage` access is located in `src/data/localStorage.ts`. The consumers will need to be rewritten to be async, though.

[2020-05-22 18:54] Shriram-Balaji commented on #1148
This seems like a really cool feature, and personally using all things in Dark Mode, I'd love to also view Excalidraw that way.

[2020-05-22 18:54] dwelle commented on #1473
This will be non-trivial. IMO we should come up with a way to batch history updates and pause the actual writes until re-enabled (on pointerup in this specific case). Other ideas welcome.

[2020-05-22 20:01] Shriram-Balaji commented on #1473
@dwelle Batching history updates seems like a good solution. Would some sort of an intermediate queue, that holds history updates, which would be processed later either when a user action is complete, or after a set time duration (similar to debounce) work here?

[2020-05-22 21:30] dwelle commented on #1473
that's what we're doing currently, so that wouldn't help

that'd be just a hack that doesn't really solve this (and would result in problems down the line).

Easiest way is imperative API like `history.bufferUpdates()` which would then be cleared via `history.clearBuffer()`.

[2020-05-23 07:32] acowlikeobject commented on #1584
Just stumbled upon Excalidraw.  It looks fantastic!  But also happened to be on an Android tablet  and spent a good while looking for an undo.

Love the speed and minimalism of the site, but undo/redo may be sufficiently core to most people's workflows to merit a space on the toolbar, at least on phones/tablets.  Without them, usability suffers badly.

[2020-05-23 07:36] Shriram-Balaji commented on #1473
Right that makes sense. We would be storing deltas later down the line as per https://github.com/excalidraw/excalidraw/issues/1258, so I believe it should be written in such a way that we can later merge history updates also.

[2020-05-23 08:45] #1451 closed

[2020-05-23 19:07] #1258 closed

[2020-05-23 19:07] #1246 closed

[2020-05-23 19:07] dwelle commented on #1357
closing as part of https://github.com/excalidraw/excalidraw/pull/1632. If need be, let's reopen or create a new one.

[2020-05-23 19:14] petehunt opened #1633 "Canvas background color is not synced in collaborative mode"
Right now we only sync the elements in the drawing in collaborative mode. We also need to sync the background color from appState or figure out another way to do it.

[2020-05-23 19:28] dwelle opened #1634 "split font into fontSize & fontFamily"
And make `fontFamily` index-based.

To allow for https://github.com/excalidraw/excalidraw/pull/1628 and similar.

[2020-05-23 22:36] vjeux commented on #1246
@haikyuu we just merged big improvements related to memory usage. Could you try again and let us know if it helps?

[2020-05-24 09:22] sorodrigo opened #1636 "Import geographic geometries and or SVGs"
Hello there, bif fan here 👋 .

I was wondering if you would be interested in supporting importing geographic geometry files such as GeoJSON and TopoJSON. I made an experiment and already got it working:

You can see a video [here](https://twitter.com/sorodrigo/status/1264481839466586112?s=20).

<img width="1301" alt="Screen Shot 2020-05-24 at 11 15 05" src="https://user-images.githubusercontent.co

[2020-05-24 10:13] ad1992 opened #1637 "Support multiple instances of Excalidraw / One instance of Excalidraw shouldn't affect other."
Currently multiple instances of excalidraw are not supported. If I try to render two versions of Excalidraw, the changes made in one gets affected in other.
As far as I have debugged its due to the sharing of global scene and history .
I am not sure if there was some specific reason to not attach these to the instance itself rather than keeping it global.
But I think we should fix so that the App

[2020-05-24 11:24] lc3t35 commented on #1586
@bratsos hi, could you please state which ipad iOS version you have, are you using Safari or Chrome. Mine is 12.4.4 and I can't draw anything, the only thing that works is adding a text, but I can't select or move it. I'm updating to 12.4.7 to see if it fixes the problem.

[2020-05-24 13:53] lc3t35 commented on #1599
@d11r which version of iOS do you have on your ipad ? mine is 12.4.7 and I can't draw anything with Safari and Chrome, only add text but can't move it.

[2020-05-24 14:10] d11r commented on #1599
I’m using 13.5, iPad Pro. No clue why it wouldn’t work for 12.x. You mean with the pencil, or?

[2020-05-24 18:10] lc3t35 commented on #1599
no pencil, ipad2 air with my finger ;)

[2020-05-24 18:52] dwelle opened #1639 "remove versionNonce"
I propose we drop `versionNonce`, because it adds I believe unnecessary complexity that can only increase in time.

@petehunt you're right that my previous comment elsewhere about replacing `version` with `randomInteger()` was of course a nonsense. We indeed need it to be sequential so that we know which version is newer.

As for the reason for `versionNonce`, I understand we must deterministicall

[2020-05-24 18:56] dwelle commented on #1639
Actually, just as I posted this I realized we can't depend on `Date.now()` being sequential across machines.

[2020-05-24 19:29] dwelle commented on #1639
Mhm, I just realized one reason for why we need `versionNonce`: history. We need something to use as a key (and a quick discriminant) in case of conflict. While this could be worked around, it's probably not worth it at this point.

We need a document explaining this so people don't waste time in the future figuring out why we need `versionNonce`.

[2020-05-24 19:29] #1639 closed

[2020-05-24 19:33] dwelle commented on #1639
But here's a question: why do we use `version` anywhere except in collab syncing? We don't even need to use `version` anywhere in the history.

[2020-05-24 19:34] vjeux commented on #1639
version and versionNonce were added as a concept for collab syncing. They shouldn't be in use anywhere else.

[2020-05-24 19:36] dwelle commented on #1639
They must be used at least in history. But we don't need to use `version`. We care about uniquely differentiating two elements across machines, and `versionNonce` should be enough.

[2020-05-24 20:47] kbariotis commented on #1637
Tabs have also been requested on https://github.com/excalidraw/excalidraw/issues/1543.

Something to consider here is that currently the local storage comes handy when you close the tab and open it after a while. I'm not sure if that's the best approach but it is what is now and it will be altered if we removed the single local storage entry.

One way to go about this is every time you open Excali

[2020-05-24 20:49] kbariotis commented on #1621
Yes @guillaumebriday, that would be great. We talked about it before and it would be awesome for people that want to self-host their own Excalidraw. Please go on with a PR and I will assist you as well because I've done some experiments before.

Thank you :)

[2020-05-24 21:11] dwelle commented on #1637
I don't think we'll want to separate instances for each tab, but I haven't given it much thought yet.

[2020-05-24 21:42] ad1992 commented on #1637
@kbariotis I am not sure If you got the issue correctly.. right now it's not possible to render multiple independent instances of excalidraw as you can see above I tried to render the `App` twice in `index.tsx` and both are sharing the same global scene and history which ideally shouldn't happen as both should have their own history and global scene. Whether we add tabs in the future but it would

[2020-05-24 22:19] petehunt commented on #1637
big +1 to this! one of the annoying things to do will be to pass around references to the `globalAppState`. i wonder if we want to have a way to associate an `ExcalidrawElement` instance with it so we don't have to add an extra parameter anywhere...

[2020-05-25 08:49] ad1992 commented on #1637
Yup once it's an instance property we will have to pass the references for history and global scene. But I didn't get what you meant by `i wonder if we want to have a way to associate an `ExcalidrawElement` instance with it so we don't have to add an extra parameter anywhere...`. Could you explain more @petehunt ?

[2020-05-25 10:16] dwelle commented on #1637
Yea, DX will suffer. Not sure how to work around it. We can't store the instance reference on elements because we'd need to strip & renew on serialize/deserialize/clone/undo/redo. Similar for `WeakMap<element, instance>`.

[2020-05-25 11:44] petehunt commented on #1637
@dwelle i was gonna suggest that everywhere we create an element we store it in a `WeakMap<ExcalidrawElement, GlobalScene>` map. it's definitely a little questionable but it will make shipping this a lot easier :)

[2020-05-25 11:56] dwelle commented on #1637
In theory, it should work, but we'll need to be extra careful to populate WeakMap in all the right places (cloning elements before storing them to history, etc.).

[2020-05-25 13:29] dai-shi commented on #1603
From `se` without rotation is fairly easy. Looks like we should have 10px at minimum.

![exdraw46](https://user-images.githubusercontent.com/490574/82816936-02c76280-9ed7-11ea-9668-53d9b0771a24.gif)

[2020-05-25 16:21] TimoSta opened #1651 "Offer Grayscale font as additional hand-drawn option"
There is a new faux-handwriting font on the block: [Grayscale](https://twitter.com/charliprangley/status/1264906341908447237)!

![grayscale sample](https://pbs.twimg.com/media/EY3ZryRXQAA0R_Z?format=jpg&name=medium)

I believe it would fit in perfectly with Excalidraw, as a middle ground between the current _normal_ and _hand-drawn_ options. I hope that may be more legible than the current hand-dr

[2020-05-25 16:59] vjeux opened #1652 "Remove UI when printing"
My daugther did a drawing and wanted to print it. Unfortunately it printed the UI as well which is suboptimal.

![BFAFE07A-711B-4A5D-8EBB-855243C16AAF](https://user-images.githubusercontent.com/197597/82831870-6c5f5680-9e6e-11ea-917c-326b8a2f6a43.jpeg)

[2020-05-25 19:58] ad1992 commented on #1637
If I understood correctly you are saying to attach the global scene to every Excalidraw element right?
But do we need to attach the global scene to every element?
Instead won't it be easier to maintain global scene at the class level and pass the reference wherever needed?

[2020-05-25 20:10] ad1992 commented on #1542
@stefanli If I get you right, You basically need a callback that gets triggered when user hits the save button in excalidraw and sends the excalidraw elements as an image?
Prepopulatinng  excalidraw with existinng drawinng can be taken care with `initialData`.

[2020-05-26 07:21] ansumanshah commented on #1629
@lipis may I pick this up?

[2020-05-26 07:22] bratsos commented on #1586
Hey @lc3t35 sorry for the late reply. I'm on iPad 13.4.1 and Chrome 81.0.4044.124

[2020-05-26 08:28] dwelle commented on #1629
Actually, I'd maybe discuss this first.

This feature may be more suitable to an "architect" mode or something, when we later introduce grid/object snapping etc.

If we add this right now, people will also want to add things like `x`/`y` coord labels when moving elements, `width/`height` labels and similar, and soon drawing on excal won't feel like drawing on a whiteboard anymore.

[2020-05-26 14:22] Alex-Mann opened #1655 "Ability to connect blocks together"
This is a feature request, but it would be extremely awesome if you had a shortcut on the outside of each block where you could click and drag to connect it to another block.

After connecting to another block, it would then create an arrow or some sort of connector line. I know this is a lot of work, but it would seriously make excalidraw an even more awesome tool for things like brainstorming an

[2020-05-26 14:27] lipis commented on #1655
Possibly duplicate of #157

[2020-05-26 16:23] dwelle opened #1656 "[grouping] groups should have atomic z-index"
![](https://user-images.githubusercontent.com/490574/82852062-ba429000-9f3c-11ea-8fa2-2d953c7db2b9.gif)

via https://github.com/excalidraw/excalidraw/pull/1648#issuecomment-633764618

[2020-05-26 16:26] vjeux commented on #1656
Looks like Keynote groups don't have this issue. Ungrouping them doesn't restore the original zindex either.

[2020-05-26 16:26] dwelle opened #1657 "[grouping] selecting another group sibling shouldn't exit group"
When you're editing a group, selecting or shift+selecting another sibling shouldn't exit the group editor.

steps:

1. group 2 elements
2. double-click on an element to edit group
3. click on the 2nd element (or shift+click on the 2nd element)

In case of shift+click, it should select both so you can edit multiple group elements at once (e.g. move them, useful for groups consisting of many element

[2020-05-26 16:29] dwelle commented on #1656
Yes, Figma and Affinity doesn't retain original z-index either, so I reckon before we group elements we should simply sort the together in the globalScene array. Easy fix.

[2020-05-26 16:44] dwelle commented on #1656
Actually, it's not *that* easy a fix. We'll also need to account for z-index ordering within a group (when user edits the group and starts ordering). Maybe other considerations, so will probably leave for after the PR lands.

[2020-05-26 17:29] dwelle opened #1658 "guard against missing migrations"
We can do either (or both):

1. rewrite `restore()` to be fully typed (will likely need us to move to a switch case and each element type (group) will need to return a typed object
2. automate migration tests. The workflow would be: run migration tests, importing N-1 exported file (this file should not change across PRs unless data model changes).

    I'm not sure how we should do this. My idea i

[2020-05-26 19:47] vjeux commented on #1656
If we never get to fix it, I wouldn't be sad btw.

[2020-05-26 19:53] dwelle commented on #1656
Why. I can't think of a use case where current behavior makes sense, plut it's best to align with virtually everyone out there.

[2020-05-26 19:56] petehunt commented on #1658
heh, i was just about to open this issue. here's what i was thinking:

* create interfaces for each version of the saved elements we've had in the past. when we want to bump the file format, copy/paste the interface and make the requisite changes (i.e. we'll have `SavedExcalidrawElementV1`, `SavedExcalidrawElementV2` etc).
* modify `restore()` such that the input is the union of those types and ou

[2020-05-26 20:04] dwelle commented on #1658
(1) and (2) are overkill unless you really want to ensure the migration isn't written incorrectly --- but in the past this hasn't really been the case. What we have a problem with is forgetting to make the migration in the first place, for which (3) should be enough.

The first 2 steps make sense only if you think we'll accrue multiple conflicting changes to the same properties and writing migrati

[2020-05-26 20:25] petehunt commented on #1656
it's an easy fix, i have a diff for it already

[2020-05-26 20:56] petehunt opened #1661 "[grouping] selected and editing groups should be shared in collaborative mode"

[2020-05-26 22:32] dwelle commented on #1658
I've got somewhat solid solution for (1), will review and commit tomorrow. We should land #1634 before then.

[2020-05-27 12:30] jdestgermain commented on #1168
I wonder if this is any easier now that you all have implemented 1648

[2020-05-27 12:57] guillaumebriday commented on #1621
@kbariotis I opened a PR if you want to take a look 😃

[2020-05-27 13:01] dwelle commented on #1168
Sadly, no. The grouping mechanism is just an abstraction, but underneath we're still working with regular elements (and even if not, we'd still need to apply those transformations individually upon ungroup).

[2020-05-27 13:03] sbng commented on #1516
I forked the project and did a separate Makefile and Dockefile. Seems to be working fine. Feel free to try it.

[2020-05-27 13:14] #1634 closed

[2020-05-27 13:46] ad1992 opened #1662 "Scroll to content not working when elements out of view port"
![Excalidraw _ Hand-drawn look   feel • Collaborative • Secure (2)](https://user-images.githubusercontent.com/11256141/83027736-19dc9080-a04e-11ea-9e4e-0617d0664dc2.gif)

[2020-05-27 13:54] lipis commented on #1662
Duplicate of #1260

[2020-05-27 13:54] #1662 closed

[2020-05-27 14:03] nanot1m opened #1663 "Straight lines drawn by Free draw tool are turning in line elements"
If you draw a straight line using the "Free draw" tool simple line element will be creating.

![Screen Recording 2020-05-27 at 15 56 10](https://user-images.githubusercontent.com/9278185/83029679-3919f480-a033-11ea-82e8-50d540dbaf97.gif)

It's a little bit confusing because I'm able to rotate free drawn elements but not lines

[2020-05-27 14:06] dwelle commented on #1663
Took a while to repro with mouse. What's like going on: the simplification algorithm makes the line end up with 2 points, which many helpers then presume to be a line instead of a free-draw.

[2020-05-27 14:07] ad1992 commented on #1260
@lipis was there anything left in the https://github.com/excalidraw/excalidraw/pull/1415 as it was approved but closed without merging ?

[2020-05-27 14:15] lipis commented on #1260
To be honest.. not sure what happened to that :/

[2020-05-27 14:15] lipis commented on #1260
The OP decided to close it for some reason.

[2020-05-27 14:35] dwelle commented on #1658
Btw, ad the `SavedExcalidrawElementV1` interfaces --- we'd have to duplicate types for each element, for each version to be able to operate with each element as if it was an `ExcalidrawElement`.

[2020-05-27 14:43] ad1992 commented on #1260
Got it. Since the OP already deleted the branch so will create new PR and then we can merge if it looks fine.

[2020-05-27 14:45] lipis commented on #1260
Sure.. go for it

[2020-05-27 14:48] dwelle opened #1665 "version each release"
An autoincrementing id (or something) accessible from global object, so we can more easily debug problems. Also should be made to be reported to sentry..

Not sure how to automate it so it's persisted to release commit, preferably without us having to do anything (or commit anything). Is it doable?

[2020-05-27 16:33] ad1992 commented on #1665
Are you looking for something like https://docs.sentry.io/workflow/releases/?platform=browser#create-release?
Also can't we use the last commit hash as the build version as that will always be unique?

[2020-05-27 16:35] erikras commented on #1597
This project released today might be relevant here... [Rough Notation](https://roughnotation.com)

[2020-05-27 17:07] dwelle commented on #1597
That's made by one of our own, and none other than the creator of roughjs itself (the library we're building excalidraw on): @pshihn --- good job on that one!

[2020-05-27 18:34] mkozachok opened #1666 "Add Ukrainian translation"
I would like to add Ukrainian translation.
Please add it to Crowdin.

[2020-05-27 18:50] dwelle commented on #1665
Thanks for the link. I meant something exposed from our app itself so that you can check the version even if nothing was thrown and logged to sentry, but we can start with that, for sure.

[2020-05-27 22:17] #1603 closed

[2020-05-27 23:35] sompylasar opened #1668 ""Save As" feature"
My use case: I open an existing diagram file and use it as a template to create new ones.

Something changed recently, so when I save, it suggests to overwrite the template file instead of saving a new file with a new name that I made in the "export" dialog.

I understand this is useful when you're coming back to a file that you were editing before, but looks like now after I've opened and modifie

[2020-05-27 23:37] vjeux commented on #1668
@tomayac could you look into this? Thanks!

[2020-05-27 23:40] sompylasar commented on #1668
In the meantime, the workaround is to duplicate the template file via Finder / Explorer, and then save the changes (they will be saved as the original template name, which I can rename, then restore the template file from the duplicate).

[2020-05-28 03:18] mapbakery commented on #1651
I like the font, especially because the numbers are much more legible.

[2020-05-28 08:10] petehunt commented on #1665
+1 on using the latest commit hash

[2020-05-28 09:46] tomayac commented on #1668
The proper solution for this would be to introduce Excalidraw template files, just like Word has `.docx` for documents and `.dotx` for templates. In the current state, I would say this is working as intended.

Right now, when you open a file using the Native File System API, we [cache the file handle](https://github.com/excalidraw/excalidraw/blob/c427aa3cce801bef4dd9107e1044d3a4f61a201e/src/data/b

[2020-05-28 14:09] malekmakan opened #1671 "Adding Persian Translation"
I's like to add **Persian** translation. Please add it to Crowdin.

[2020-05-28 14:30] lipis commented on #1671
Here you go! https://crowdin.com/project/excalidraw/fa#

[2020-05-28 14:30] #1671 closed

[2020-05-28 21:07] brucou opened #1672 "Rewrite excalidraw with state machines"
@vjeux quick shoutout to ask you if you mind if I reimplement excalidraw (hopefully the exact same thing, but that will depend on how much time I can allocate to that effort) with my [state machine library](https://brucou.github.io/documentation/v1/tutorials/model-with-machines.html). I have no commercial intent whatsoever, or even thinking about reusing the brand, I can always call this <another

[2020-05-28 21:59] vjeux commented on #1672
Be my guest, feel free to play with the code as much as you want and see where it would be useful or the abstraction break down.

That said, right now excalidraw architecture is working well and we have no intention of doing any big refactors. So we're very unlikely going to use any of the work you'll be doing or even looking at PRs for this.

Bon courage :)

[2020-05-28 23:51] brucou commented on #1672
@vjeux sure, that wasn't the goal in any case. Great, thanks!

[2020-05-28 23:54] #1672 closed

[2020-05-29 03:42] sompylasar commented on #1668
But what if I want to use any previously drawn diagram as a template for the next one? "Save as" exists in most apps that can edit and save something.

[2020-05-29 03:44] sompylasar commented on #1668
I think an easy way would be to support "Save as" with shift+click, cmd/ctrl+click, or option/alt+click on the "Save" button. Not sure about touch devices, maybe long tap.

[2020-05-29 07:26] pjebs opened #1673 "Support rotating 2-point lines"
I copied an item and pasted it but I want to rotate it.

[2020-05-29 07:28] pjebs commented on #1673
I want to rotate a line that I drew. It doesn't seem to let you but you can rotate rectangles.

[2020-05-29 07:51] tomayac commented on #1668
Why not simply have two buttons, as almost all applications do? We can still support the hotkeys of course. So my plan of action suggestion to tackle this issue would be:

- Establish an Excalidraw template format.
- Add a separate "save as" apart from the "save" button.
  - The "save as" includes an option to save as an Excalidraw template file apart from just saving as a regular Excalidraw under

[2020-05-29 07:53] sompylasar commented on #1668
Just saving some screen space, tradeoff for discoverability. Can be two buttons if there's room for both of them.

[2020-05-29 07:58] sompylasar commented on #1668
I think this is unnecessary as long as we have "Save as" and "Open (from file)".

Also there are and will be more third-party tools that rely on excalidraw format (like excalidraw-animate), for now via copy-pasted code, but hopefully in the future it'll be some `@excalidraw/core` package that includes functions to parse/serialize, decrypt/encrypt. CC @dai-shi

Having a second format would make sim

[2020-05-29 08:00] tomayac commented on #1668
Just to make sure I get you right, you are in favor of keeping the current "Save" (that just over-saves if a file is open)?

[2020-05-29 08:26] sompylasar commented on #1668
Yes, "Save" isn't going anywhere, but it's not required to fulfill the template use case, "Save as" is more powerful, "Save" is more of a convenience (you can always "Save as" choosing the same existing file and confirming overwrite).

[2020-05-29 08:27] dwelle commented on #1673
For 2-point lines, you'll have to rotate by one of the corner handles for now.

[2020-05-29 08:28] pjebs commented on #1673
How do I doing that?

[2020-05-29 08:58] tomayac commented on #1668
Cool, so the final plan of action would simply be to add a "Save as" button, but not establish a template file format. Sounds good to me. [KISS](https://en.wikipedia.org/wiki/KISS_principle) :-)

[2020-05-29 09:06] sompylasar opened #1674 "Display the current filename somewhere in the UI"
RE: #1668 I just realized that to help the user decide whether they need to hit "Save" or "Save as" button, we might want to display the current filename somewhere in the UI if it's not there already -- I don't remember seeing it -- maybe browser tab title on desktop, not sure about mobile.

CC @tomayac

[2020-05-29 09:34] dwelle commented on #1673
I said rotate, but it's not really rotation. I agree it's suboptimal because it changes the shape.

![excal_2point-line-rotate](https://user-images.githubusercontent.com/5153846/83244895-4accda80-a1a0-11ea-932f-458884315daa.gif)

[2020-05-29 09:43] dai-shi commented on #1673
Related: #1663

[2020-05-29 11:07] saranshbarua opened #1675 "Faulty z-index in the toolbar section"
There's a slight issue with the canvas background colors toolbar. The # sign from stroke overlays the options. Not a major issue but if you want I can shoot a PR.

**Screenshot**
<img width="252" alt="Screenshot 2020-05-29 at 4 32 17 PM" src="https://user-images.githubusercontent.com/23500643/83253553-c8a5db80-a1ca-11ea-8184-fe17a6dd1ae1.png">

[2020-05-29 11:18] dwelle commented on #1675
Go for it, though I can't repro on Chrome or FF. Is that Safari?

[2020-05-29 13:51] ad1992 commented on #1675
Works fine in safari, Its firefox.

[2020-05-29 13:57] dwelle commented on #1675
Can't repro on FF 76 on Win:

![image](https://user-images.githubusercontent.com/5153846/83267562-af9a2c00-a1c4-11ea-906e-17664b35c360.png)

[2020-05-29 14:10] ad1992 commented on #1675
Ahh I am in firefox 76.0.1  mac and it's reproducible

[2020-05-29 15:14] saranshbarua commented on #1675
Yes, I'm using latest firefox on mac. I'll send a patch soon

[2020-05-29 17:24] sompylasar opened #1677 "Excalidraw scrappy font is hard to read"
Maybe it's easy for some people, but for me personally it's so hard to read that I always switch to Code font in my diagrams (thank you for this option!).

I understand it has to do with the scrappiness of the drawing, but can this scrappy font be more legible please? (I'm not asking to remove the scrappiness, rather tweak the scrappy font to also make it more legible.)

I'm struggling with:
- Low

[2020-05-29 19:15] pranavpr opened #1678 "Excalidraw always switches back to "Hand-drawn" font from other fonts"
Earlier after selecting a font, the font used to stay same across text boxes or session till a new font was chosen. But now the font always switches back to "Hand-drawn". This is a change from previous behaviour. Also if you select a font and then start a new text box, your choice is not honoured and it switches back to "Hand-drawn".

Can we please revert back to old behaviour?

[2020-05-29 19:16] pranavpr commented on #1678
I did some investigation and found that this issue started happening after #1635.

[2020-05-29 19:28] vjeux commented on #1678
cc @dwelle

[2020-05-29 19:59] #1678 closed

[2020-05-29 20:00] dwelle commented on #1678
@pranavpr fixed, sorry for the inconvenience :).

[2020-05-30 08:37] pranavpr commented on #1678
@dwelle No inconvenience at all. Really appreciate the great work you guys are doing. 👍

[2020-05-30 10:05] ad1992 commented on #1204
This works fine now AFAIK after [this](https://github.com/excalidraw/excalidraw/pull/1641). Then we can close this issue unless there is some corner case for which it's still not working!

[2020-05-30 11:11] lipis commented on #1666
Here you are: https://crowdin.com/project/excalidraw/uk

[2020-05-30 11:11] #1666 closed

[2020-05-30 12:02] #1260 closed

[2020-05-30 12:05] dwelle commented on #1204
Yep, seems fine now.

[2020-05-30 12:05] #1204 closed

[2020-05-30 13:24] lipis commented on #1651
How many languages does it support?

[2020-05-30 13:48] dwelle commented on #1658
@petehunt btw, if you think the `SavedExcalidrawElementV1` interfaces will add value and have an idea how to tie it with the `restore` rewrite I did, go ahead. Otherwise, feel free to close this.

[2020-05-30 13:54] dwelle opened #1682 "add test helpers for element manipulation"
Current issues for clicking (but applies in general):

1. clicking elements is currently too low-level (`mouse.down(coords); mouse.up(coords)`)
2. More importantly, it's not obvious such action actually clicked on the element because it may be covered by a menu. In that case, the test may not be written in a way that would discover that (e.g. testing whether an already selected element was selecte

[2020-05-30 14:04] dwelle opened #1683 "write more regression tests"
There's still many parts of the application we have zero tests for. Please add anything to the list below that comes to mind.

- [ ] updating scene properties
- [ ] element property updating (via menu)
- [ ] contextMenu
- [ ] dialogs
- [ ] comprehensive history tests

[2020-05-30 14:10] dwelle opened #1684 "fix test cases leaks/race conditions"
I'm not quite sure what's going on, but several times I've written a test case, it behaves differently when running it in isolation (`it.only`) as opposed to running all tests in file (`regressionTests.test.tsx`).

I'm not talking about snapshots. When the test was run in isolation, all passed, but when run with other tests, some DOM events started failing (or vice versa). 100% reproducible.

Will

[2020-05-30 16:37] TimoSta commented on #1651
@lipis -- Western European lanuages only at this point:

https://charlimarie.com/product/grayscale

[2020-05-30 17:30] FlorianLautenschlager opened #1685 "Thank you"
Just a thank you ticket. Awesome work. 👌Love it ❤️

[2020-05-30 17:35] dwelle commented on #1651
For those wondering, according to [this site](https://www.languagescientific.com/translation-and-localization-of-western-european-languages/), it includes:

[code]

[2020-05-30 20:38] dwelle commented on #1657
This seems to work already (even in the original commit) so not sure what I did wrong before.

[2020-05-30 20:38] #1657 closed

[2020-05-30 20:51] #1652 closed

[2020-05-31 05:28] xixixao commented on #1326
Agree this feels broken atm. Combining text alignment with text-block alignment would make more sense. Alternatively, there should be a separate "block align" control.

[2020-05-31 09:48] matt-l-w opened #1688 "copy element style shortcut conflicts with DevTools element inspector"
**Environment Info**
Firefox version: 76.0.1 (64-bit)
OS: Ubuntu 18.0.4

**Reproduction Steps**
1. Create a new document (or open an old one)
1. Select a node
1. Press `CTRL`+`SHIFT` + `C` to copy the styles of the selected node

**Expected**
Styles to be copied and paste-able.

**Actual**
Opens the "Element selector" in firefox dev tools.

**Notes**
See the [MDN page about firefox keyboard shortc

[2020-05-31 10:43] dwelle commented on #1688
I think it was me recently who made this regression because I didn't realize we have `Cmd/Ctrl + Shift + C` mapped to copy-styles action.

Not sure we want to override browser behavior here. Should we find a new shortcut for this or override? I realize this is a developer shortcut so it's not high-profile, but still (it's also useful in excal development itself).

/cc @lipis

[2020-05-31 14:25] lipis opened #1689 "Add Watercolor for the background as an option"
https://observablehq.com/@veltman/watercolor by @veltman

Or maybe as the default for the `solid`

<img width="988" alt="Screenshot 2020-05-31 at 5 24 53 PM" src="https://user-images.githubusercontent.com/125676/83354791-b0b58f80-a363-11ea-8c4d-ebeb112ed5a0.png">

--------

### Suggested options

<img width="316" alt="Screenshot 2020-05-31 at 5 25 01 PM" src="https://user-images.githubusercontent.

[2020-05-31 15:11] lipis commented on #1688
I'm not very happy overriding something that is doing completely different thing. Overriding Cmd+C for example is fine as we want to be more specific on what's going there, etc.. So for this case maybe we should find a new shortcut for styles.. It's also I believe not something that used so frequently anyways!

[2020-05-31 15:18] lipis commented on #1651
We also support some Asian characters so that's not compatible with our current font. But having said that in general I'm down to get a font that is actively supported even if it's paid, as we can get support in an easier way and incrementally adding more characters.

[2020-05-31 15:54] dai-shi commented on #1689
Would be nice. Those options are way too flexible. Just up to three preset options work for me. I'm fine with `solid` too, but some would want the current Architect+solid.

[2020-05-31 16:10] ad1992 commented on #1637
My initial approach was to attach the global scene and history to class and pass the reference wherever needed so it gets destroyed when the component unmounts as well.
I had to pass it to all the places where it was being used but this might be safe to do.

@dwelle @petehunt what do you think?

[2020-05-31 16:22] dwelle commented on #1637
If we use `WeakMap` it should work the same way (memory-wise). I wouldn't want to be passing it everywhere as it would complicate the codebase a lot.

[2020-05-31 18:29] lipis commented on #1689
Forth option would not be a big issue.. but of course we have to be very careful with that..

[2020-05-31 18:47] pshihn commented on #1689
While we are discussing alternatives to solid fill, using broad fill strokes horizontally or vertically  could be an option. Looks like felt pen filling
<img width="463" alt="Screen Shot 2020-05-31 at 11 43 34 AM" src="https://user-images.githubusercontent.com/833927/83360185-3ae5ff80-a334-11ea-9515-c7b220fc4f5f.png">

Live: https://glitch.com/~broad-stroke-fill

[2020-05-31 21:57] dai-shi commented on #1689
Yeah, it'd be ok if it's just one addition. This is hard. How about splitting into "Stroke sloppiness" and "Fill sloppiness"?

[2020-05-31 23:38] dai-shi commented on #1218
For the last but not least one, there's a serious issue with resizing texts.
As we found https://github.com/excalidraw/excalidraw/pull/1650#issuecomment-634324144, the width and height of an text element is discrete numbers changed by `1`.
This prevents resizing multiple elements with texts. I can think of a workaround if a selection has at most one text element, but if there's multiple of them, t

[2020-06-01 01:28] dai-shi commented on #1218
So, what I propose is when resizing, we make font size to fit in the bounding box, and not change width/height after measurement. We only change width/height from the measurement if the font size is explicitly changed. I think this would work without breaking anything (only we need to be careful that font size and width/height are not always in sync.)

[2020-06-01 05:53] pooran opened #1691 "Save is not working as expected"
Save takes forever. Earlier flow was simple.

Save flow can be as simple as, just ask a name 'HelloWorld' and save the file as HelloWorld.excalidraw

Asking for folder dialog is overkill.

Keep It Simple

[2020-06-01 06:11] vjeux opened #1692 "Exporting a rectangle has artifacts"
Not really sure what's going on. It only showed up like this for a single rectangle of my scene.

![image](https://user-images.githubusercontent.com/197597/83380852-e70b0300-a393-11ea-96dd-892b9d64c067.png)

https://excalidraw.com/#json=5657069742981120,_yDCE1snJ6GYCVSk-wpLWA

[2020-06-01 09:53] ad1992 commented on #1692
This works fine in firefox and safari though! Only reproducible in chrome.

[2020-06-01 10:49] dwelle commented on #1691
Hello @pooran. Removing unnecessary friction is something we're definitely interested in.

Related: https://github.com/excalidraw/excalidraw/issues/1668 --- if we add `Save as`, then `Save` could do without a save dialog, I think.

But, I'm not sure if it's possible using the new filesystem API. /cc @tomayac

[2020-06-01 13:19] lipis commented on #1692
Reproducable on Chrome mobile in Android as well

[2020-06-01 13:26] dwelle commented on #1637
Note that for the WeakMap workflow, we'll need to use workarounds for cases where we only work with `id` references, such as `LinearElementEditor.ts`. There we'll need to map it onto `appState.editingLinearElement` object (and ensure we renew on history undo/redo etc.). I'm sure there will be other cases.

So again, I want to ensure we're solving real problems here. AFAIK the only case we need thi

[2020-06-01 14:21] ad1992 commented on #1637
@dwelle it's true I found this issue when integrating excalidraw but irrespective of it I think we should solve it as later also If we plan to add any such feature where multiple instances are needed then this rewrite will be needed for sure. So this rewrite would be worth it as right now its a limitation to support only one instance.

[2020-06-01 15:19] vjeux commented on #1692
It only seems to be an issue with 2x. 1x and 3x are fine. Also, SVG export is fine.

[2020-06-01 20:11] dwelle commented on #1692
This can theoretically be hack-fixed by always enabling render optimizations (i.e. rendering from individual canvas elements), even on export (which we currently don't do), as I can't repro on that one. But it wouldn't get to the bottom of the issue and might manifest elsewhere.

[2020-06-01 20:20] dwelle opened #1698 "Weird flicker around edges on button click in dialogs"
There's this weird outline around dialog when clicking on buttons within.

I've been able to narrow it down to a UA `:focus` being applied to the `.Modal` div. Not quite sure why.

Can be fixed by

[code]

But not sure what's the right course of action, and maybe the root cause is elsewhere.

Reproducible on Chromium only.

![excal_dialog_blur_bug](https://user-images.githubusercontent.com/5153846

[2020-06-01 20:27] TimoSta commented on #1677
I see the same issue as you.

#1651 would resolve this!

[2020-06-01 22:47] sbng opened #1699 "multipoint lines without rounded corners?"
I find the multi-points line are a great feature. I normally use it to create odd shapes object and make it into a closed so I can fill it with different color. However, at time I like the corners of such shapes to be straight. Is this possible?
![Screenshot_2020-06-02 Excalidraw](https://user-images.githubusercontent.com/7722519/83461984-9fbc6980-a49c-11ea-8147-6d70afd39c6c.png)

[2020-06-02 08:53] dwelle commented on #1699
Hello, this feature request is already being tracked here: https://github.com/excalidraw/excalidraw/issues/1573

[2020-06-02 08:53] #1699 closed

[2020-06-02 11:14] tomayac commented on #1691
Let's close this issue and keep track of progress in #1668 instead indeed.

[2020-06-02 11:14] #1691 closed

[2020-06-02 12:01] dwelle commented on #1668
Repost from https://github.com/excalidraw/excalidraw/issues/1691#issuecomment-636780492:

Can we make `Save` button save the file without dialog prompt (using the new FS API)?

[2020-06-02 14:38] tomayac commented on #1668
Yes :-D

[2020-06-02 14:59] dwelle commented on #1668
Cool :). I couldn't find any docs on it on MDN. I assume the download folder would be the default one set in the browser settings.

[2020-06-02 16:52] #1328 closed

[2020-06-02 18:52] lipis opened #1701 "Add anonymous analytics events to monitor user actions"
Reopening the #851 as per this comment: https://github.com/excalidraw/excalidraw/issues/851#issuecomment-625765227

---

We already using [`gtag`](https://developers.google.com/analytics/devguides/collection/gtagjs) so it makes sence to use their events.

As per [`gtag` Events Documentation](https://developers.google.com/analytics/devguides/collection/gtagjs/events) we have the following:

- `<act

[2020-06-02 19:22] #1621 closed

[2020-06-03 09:07] gunar opened #1704 "Export SVG dislocates elements"
Hi folks,

I could not find any open issue about this. I'm having problems when exporting SVGs (happened once).

#### Desired output:
![free-email](https://user-images.githubusercontent.com/7684574/83617904-a7097300-a581-11ea-8d71-c717c1465a21.png)

#### Actual output:
![image](https://user-images.githubusercontent.com/7684574/83618150-f18aef80-a581-11ea-87c3-05c1e165265e.png)

#### Link:
https://

[2020-06-03 09:20] dwelle commented on #1704
Looks like the regression was introduced in https://github.com/excalidraw/excalidraw/pull/1687

/cc @lipis  @YounessFkhach

[2020-06-03 10:12] #1704 closed

[2020-06-03 10:12] dwelle commented on #1704
I'll revert the commit for the time being. Let's open the RTL PR again.

[2020-06-03 11:35] lipis commented on #1704
Thanks @dwelle for the quick fix... We need these tests :D

[2020-06-03 18:29] vishnuasklua opened #1707 "How to integrate with my own socket.io server instead of "excalidraw-socket""
I want to have my own server in middle instead of using excalidraw's for socket connection.

[2020-06-03 18:55] Yourownfont commented on #1350
Hi Thorn,
I am working on this now! Any more issues to address at once?

Best regards,
Ellinor

[2020-06-03 19:19] Yourownfont commented on #1350
[Virgil3YOFF.zip](https://github.com/excalidraw/excalidraw/files/4725741/Virgil3YOFF.zip)

[2020-06-03 19:22] Yourownfont commented on #1677
Constructive comments thank you - but hard to work with. Do you have any visual examples of your issues? I am working with the font right now so just add them and I'll change them as they come!

Thanks,
Ellinor

[2020-06-03 19:33] thorn0 commented on #1350
їм and їн still don't look good:
![image](https://user-images.githubusercontent.com/94334/83680875-39ddf800-a5ea-11ea-904b-0bb94f4ff02c.png)
BTW, note that ї is often preceded by an apostrophe.

[2020-06-03 19:45] thorn0 commented on #1350
Non-Cyrillic issues:

* The polish ł is now indistinguishable from t. See https://en.wikipedia.org/wiki/%C5%81#Glyph_shape
* To support the Azerbaijani language, the font lacks only two glyphs: ə and Ə.

[2020-06-03 20:39] sompylasar commented on #1677
Thank you Ellinor for looking into this. I cannot share specific diagrams and text from them that I found took too much time to parse, but I tried to come up with similar combinations of letters in the image below. I noticed that the readability is highly dependent on the familiarity with the specific terms. I wrote this feedback from looking at a large diagram with unfamiliar concepts for the fir

[2020-06-03 20:48] MehediH commented on #887
@j-f1 Would love to look into this and try to implement it if you'd like!

[2020-06-04 03:17] #1707 closed

[2020-06-04 03:21] vishnuasklua commented on #1707
Got the [repo](https://github.com/excalidraw/excalidraw-room). So closed the issue.

[2020-06-04 06:22] eendeego opened #1708 "Objects become ungrouped after copy-pasting"
After pasting a grouped object, the objects will become standalone.

Steps to reproduce:
1) Draw two objects
2) Select and group them
3) Copy
4) Paste
5) Select one of the "just pasted" objects

Expected behavior:
- Group is selected

Actual behavior:
- Individual component is selected

[2020-06-04 06:24] vjeux commented on #1708
cc @petehunt

[2020-06-04 08:57] dwelle commented on #1708
Cannot reproduce.

![excal_group_paste](https://user-images.githubusercontent.com/5153846/83736623-341bfd00-a652-11ea-899a-bb15858d97a3.gif)

[2020-06-04 12:38] tomayac commented on #1674
Please see [`/src/actions/actionExport.tsx`](https://github.com/excalidraw/excalidraw/blob/f415a52ee7631c04a7522aaa8fc0fa423e1c7061/src/actions/actionExport.tsx) from https://github.com/excalidraw/excalidraw/pull/1709. My idea was something along the lines of…

[code]

…but I'm too much of a React n00b 🙈 and this wouldn't compile. I made `ToolButton` aware of `onPointerOver`, but didn't know how t

[2020-06-04 14:02] HaSa1002 opened #1710 "TypeError "a is undefined" in production version"
TypeError "a is undefined" in production version
### Scene content

[code]

### Sentry Error ID

1ee2e5a6bb60493b9186a2adda80cf15

[2020-06-04 14:03] HaSa1002 commented on #1710
This happens, when I select something, my partner made

[2020-06-04 14:05] HaSa1002 commented on #1710
[code]

[2020-06-04 20:07] gregorybarros opened #1712 "Is not possible to move around the project using the arrows"
I believe it would be useful to move through the window using the arrows and on click into background dragging the mouse. :+1:

[2020-06-04 20:14] dwelle commented on #1712
Arrow keys are currently used to move elements around (when selected). While we could make arrows keys for moving around the scene, it might not be immediately obvious what is being moved (scene vs element).

Unclear what you mean by differentiating between "moving through the window" and "on click into background dragging the mouse".

[2020-06-04 20:24] gregorybarros commented on #1712
I mean, by clicking and holding on an empty space, it would be possible to move the scene to the right or left, without having to look for the scroll bar at the bottom of the window

[2020-06-04 20:28] dwelle commented on #1712
I see. You can already do so in two ways:

- Hold `Spacebar` and move mouse.
- Click-dragging with middle mouse button (mouse wheel).

We don't want to make click-dragging move the scene, because that would prevent selecting elements.

[2020-06-04 20:37] dwelle commented on #1710
Can this be the case of the remote client still using an older version (pre-groups)?

[2020-06-04 20:40] gregorybarros commented on #1712
Ahh perfect, that's right
Perhaps, it would be good to describe these two shortcuts together with others, it would make it easier for users :)

Congratulations for the app :+1:

[2020-06-04 20:43] dwelle commented on #1712
For sure. I thought we had it in our shortcut-dialog helper, but we don't. Will keep this issue open to track i t.

[2020-06-04 20:50] dwelle commented on #1710
@HaSa1002 if you can still reproduce it, can you post precise steps?

Note to others: we really need a `window`-exposed version. Mapping commits to sentry releases wouldn't work in this case as the error is coming from a client running the new version, while the cause is originating on remote client running older version --- (if my theory is correct (but we couldn't find out without someone on the

[2020-06-04 21:56] HaSa1002 commented on #1710
Ok I just tested it and I didn't get the issue. It was reproducible around 14:00 UTC constantly across multiple canvas' and I reloaded it once with Shift-F5 (if that still clears the cache, idk). It's not longer reproducibale now. What I did,
1. I opend a new Canvas,
2. started a collaboration session
3. Added a rect
4. duplicated the rect
5. modified the color to red or something
6. My partner jo

[2020-06-05 02:50] dai-shi commented on #1708
I thought I reproduced it, and then no, it's not copy-pasting, but text editing.

![exdraw54](https://user-images.githubusercontent.com/490574/83831524-93e1d900-a722-11ea-881f-d84b7597b68a.gif)

[2020-06-05 03:48] kyldvs opened #1714 "Excalidraw files are saved as empty files on first save to a Dropbox folder"
When saving excalidraw files under a certain file name they come out as 0 bytes (and obviously cannot be loaded). This caused me to lose work in a file before realizing this bug.

This is happening in windows/firefox

I can repro this 100% of the time right now. It always occurs on the first save of the file under a new name. Saving the files a second time with the same name works properly. (This

[2020-06-05 04:00] kyldvs commented on #1556
I would really like some padding options, I had to wrap my entire drawing in a box unnecessarily so that the image would not feel cramped when sharing. In particular when sharing an image directly with someone and it's viewed in some lightbox the padding is necessary for content around the edges to look decent

[2020-06-05 05:14] dai-shi commented on #1556
@kyldvs Do you need to change the padding size occasionally in your use cases, or just increasing works for most of your cases? Do you have a specific number in that case?

[2020-06-05 05:18] vjeux commented on #1556
This sounds like a reasonable change to increase the default padding. @kyldvs do you want to play with the padding and send a PR to what you feel is right?

[2020-06-05 05:19] vjeux commented on #1714
@tomayac could you look into this? Thanks!

[2020-06-05 05:38] kyldvs commented on #1556
I think the problem with a static size is that I drew a relatively large diagram, so when I send it and it is viewed in a lightbox it gets scaled down which makes the margins seem smaller. If I were to pick a fixed size appropriate for this large diagram I suspect it would be too large for smaller diagrams.

I think I would prefer it to be either a 3-state small/medium/large padding, or set a defa

[2020-06-05 05:40] vjeux commented on #1556
Can you think about reasonable thresholds for when to have smaller or larger paddings based on the situation?

[2020-06-05 05:45] kyldvs commented on #1556
It looks like I picked a margin of ~80px for my large diagram, when it is scaled down to the size of my screen it is ~16px.

An approach may be to have a default margin of some size (8px?) and then as the exported image grows increase (probably in increments of 4) up to a certain cap (64px? 128px?)

[2020-06-05 07:49] tomayac commented on #1714
Since this is Firefox, it's not using the Native File System API, but goes through [`file-save-legacy.mjs`](https://github.com/GoogleChromeLabs/browser-nativefs/blob/master/src/legacy/file-save-legacy.mjs). This implies that all files can *only* be saved to the designated Windows Downloads folder, and that there is *no way* to over-save (instead, you get file names with a growing number at the end

[2020-06-05 07:49] #1714 closed

[2020-06-05 07:50] dai-shi commented on #1298
We are almost there.

I will be working on #1218 sometime soon.

As for #1340, would someone take this? Cc @jquintozamora @dwelle

How about #690 and #1342? @enzoferey @quuu ?

[2020-06-05 08:23] kyldvs commented on #1714
I don't understand this part, when testing I picked a non Downloads folder to save the file as, and have free reign to rename it or pick a different folder during the save process. My dropbox and downloads folder are not related at all.

Having to just pick a different folder, is an unfortunate "solution". I save almost everything into dropbox because I have many different computers I work on regu

[2020-06-05 08:33] tomayac commented on #1714
Oh, interesting. Windows seems to give you more freedom then than macOS, where there is no option to change the folder:

<img width="486" alt="Screen Shot 2020-06-05 at 10 25 00" src="https://user-images.githubusercontent.com/145676/83854376-eb7a4780-a716-11ea-935f-c6d014a334e3.png">

Can you try this [demo](https://5509.github.io/demos/blob/) and see if it works? Just click the link and a JSON fi

[2020-06-05 08:39] dwelle commented on #1708
Thanks @dai-shi for the investigation, this PR should fix it https://github.com/excalidraw/excalidraw/pull/1715

[2020-06-05 11:16] lipis commented on #1685
Duplicate of #1531 😃 ❤️

[2020-06-05 11:18] lipis commented on #1591
This is fixed already! You can simply resize the text elements now.

[2020-06-05 11:18] #1591 closed

[2020-06-05 12:35] lipis opened #1716 "Copy/Paste style doesn't seem to get into the account the stroke style"

[2020-06-05 13:16] Hammster commented on #1148
Just to pick up https://twitter.com/fortysevenfx/status/1268884972875677697

This actually works astonishingly good, there are definitly some scenarios that need manual adjustment's like orange.

[2020-06-05 13:52] franky47 commented on #1148
Hah, I wanted to post it here, @Hammster beat me to it!

It's only a visual effect though, the export will still use black lines and white background, and it has issues with lightness and contrast on some colors (though the default ones in the Excalidraw palette seem to work OK). A better color inversion filter would be one proposed by @j-f1 in  https://github.com/excalidraw/excalidraw/issues/1148

[2020-06-05 15:15] j-f1 commented on #887
That would be great @MehediH!

[2020-06-05 16:00] vjeux commented on #1556
For anyone reading, I'm happy to accept a pull request if someone can come up with a heuristic for padding that seem reasonable.

[2020-06-05 16:17] lipis commented on #173
I think we are done with this one :)

[2020-06-05 16:17] #173 closed

[2020-06-05 16:30] xzab opened #1718 "Feature Request: Visually open saved projects"
Would be neat if there was a way to visually open saved projects.  I can never remember which drawing is which and I have to keep opening multiple until I find it.  Having a thumbnail to see them would be incredibly beneficial.  Have it save in the cloud would be an added benefit (I'd be fine with hooking up my google drive or something for storage too).  Just need that thumbnail to get back to th

[2020-06-05 16:35] vjeux commented on #1718
Agreed!

Do you know if Google Drive (or others) have APIs we can use to start saving files and reading them on-demand?

[2020-06-05 16:36] vjeux commented on #1718
I wonder if there's a way to get mac/windows preview to excalidraw files.

[2020-06-05 16:42] lipis commented on #1718
I think this is something for the Desktop app.. https://github.com/excalidraw/excalidraw-desktop/issues/136

[2020-06-05 16:52] xzab commented on #1718
Looks like it, using OAuth https://developers.google.com/drive

[2020-06-05 16:53] xzab commented on #1718
Here's how to do it on mac, but online would be even better
https://developer.apple.com/documentation/quicklookthumbnailing/providing_thumbnails_of_your_custom_file_types

[2020-06-05 17:21] oliverbenns opened #1721 "Feature Request: Follow user's view"
Problem: When my teammate is talking about something on a board over a call, I have to continually move the board around to find where their pointer is to understand the context. This breaks the flow of conversation. To get around this, we sometimes screenshare, but then this creates a new problem where I have to keep exiting slack/zoom full screen mode and change applications.

Solution request:

[2020-06-05 17:47] kyldvs commented on #1714
This works just fine.

![image](https://user-images.githubusercontent.com/1830497/83907250-fb475b00-a719-11ea-979c-f62fa8490434.png)

[2020-06-05 17:50] tomayac commented on #1714
🤔 It’s probably just small enough.

[2020-06-05 17:53] kyldvs commented on #1714
Perhaps, but the issue still happens for excalidraw at 788 bytes:

![image](https://user-images.githubusercontent.com/1830497/83907772-d30c2c00-a71a-11ea-828f-29e5d80e2676.png)

[2020-06-05 18:38] dwelle commented on #1556
I'll repost my sentiment from the PR: I think the case for adaptive padding isn't a good fit when embedding images in blog posts and similar (Medium, Twitter etc.). It'll make the image smaller to fit on screen/tweet, and thus harder to read bigger diagrams.

We should think about what's the most common case for PNG exporting, and tailor to that case first.

I'm not against customization in this r

[2020-06-05 18:48] dwelle commented on #1721
Also:
- What about multiple users. Which one to follow?
- Does it mean you won't be able to scroll yourself (when you need to when drawing)?
- What if you don't want that. We'd need a separate UI for that.

[2020-06-05 19:24] tomayac commented on #1714
Have you brought this to the attention of the Dropbox support team? It really seems like not an issue with Excalidraw.

[2020-06-05 20:44] kyldvs commented on #1714
I could try, but I feel like they would see it as an Excalidraw issue since it is the only website that I am able to reproduce this issue on. Even your example that is the same method excalidraw uses does not have the issue.

[2020-06-05 21:04] thorn0 commented on #1651
@dwelle What does that site have to do with this font? 🤔

[2020-06-05 21:12] thorn0 commented on #1677
I disagree on this point for Latin letters, but this is pretty much the case for Cyrillic.

Agree, it's not very readable on its own in captions like "Group 1". Captions like "Group 10" or "2019" are fine though.

[2020-06-06 01:19] pA1nD commented on #1428
It could be a valuable feature if the text resizes automatically to fit in the post-it.

[2020-06-06 09:08] dwelle commented on #1651
Not sure what you mean. I simply listed what languages belong to Western European languages. Whether Grayscale really includes characters for all those languages is unclear.

[2020-06-06 11:32] #1708 closed

[2020-06-06 11:37] dai-shi commented on #1708
@eendeego Your description seems you have experienced something different. If you are able to reproduce the weird behavior, please reopen the issue preferably with a screencast.

[2020-06-07 00:14] eendeego commented on #1708
The screencast is very similar to what I was experiencing. I'll recheck.

[2020-06-07 01:56] sg1705 commented on #1721
This feature is available in Figma and very useful. I'll describe how it works in Figma (apologies if you folks already know that).

1. Presence of users (who's in the diagram) need to be explicitly stated. Kinda like user avatars that show up when a user opens a doc in Google Doc.

2. In Figma, if you double click on an avatar, then you are indicating that you want to follow that user.

3. So, th

[2020-06-07 02:47] vjeux commented on #1721
This is a good idea to show a list of all the connected users. I’ve always wanted to see who is there.

[2020-06-07 13:09] marcoscannabrava opened #1725 "Copying external image and pasting it doesn't work"
I tried copying (ctrl + c) an image from another website and pasting it onto the canvas (ctrl + v) and it didn't work.

Tests:
- the tab had permission
- checked the clipboard
- tested right-click instead of shortcut

[2020-06-07 13:21] #1725 closed

[2020-06-07 13:34] oliverbenns commented on #1721
Yes I remember using a tool that implemented the feature I described, but can't for the life of me remember what. It could very well may have been Figma.

I think you detached yourself from the user whenever you made some form of interaction like editing the canvas, click to drag viewport etc. You could still move your cursor, mind.

Once a 'detaching action' occurred, you would then need to 'refo

[2020-06-07 13:41] dwelle commented on #1721
Right. Note that since we don't have authentication, the avatars would just be colored icons with initials. And since we don't require users to pick names, lot of the time we couldn't even show any initials.

[2020-06-07 20:35] sorodrigo commented on #1636
@Fausto95 @vjeux @dai-shi Hello, so have you had some time to consider this? I know the app is growing a lot in features and it might be sensible to not bloat it with niche stuff. So if you think this could be part of a plugin system I'm happy to help build it.

I've given some though about how could we add this feature without it being too niche, and this is what I came up with:

- `geoJSON` and

[2020-06-07 20:53] sg1705 commented on #1721
I think the issue of avatars and initials goes back to first principles.

Is this tool meant for collaborating and discussing as much as it is for
creating. If it is for collaborating then what is the best way to identify
collaborators? Initials? Gravatar? Full name? Profile pic? And if P2P
collab design will support such a system? Identity is pretty crucial to
collab products.

On Sun, Jun 7, 202

[2020-06-08 03:54] eendeego opened #1727 "Can't rotate groups"
Repro

* Create multiple objects
* Rotate individually works
* Group objects
* Try to rotate

Expected behavior

* Handles for rotation show up and can be used for rotation

Actual behavior

* Handles for rotation do not show up

![Screen Recording 2020-06-07 at 8 46 25 PM](https://user-images.githubusercontent.com/101878/83991239-027c8d80-a901-11ea-970e-1d9224140ee0.gif)

[2020-06-08 03:56] eendeego opened #1728 "Can't rotate or resize groups with text"
Repro

* Create multiple objects including text
* Rotate individually works
* Group objects
* Try to rotate

Expected behavior

* Handles for rotation and resize show up and can be used

Actual behavior

* No handles show up at all

![Screen Recording 2020-06-07 at 8 47 17 PM](https://user-images.githubusercontent.com/101878/83991358-61da9d80-a901-11ea-991c-add8b6783425.gif)

[2020-06-08 03:59] vjeux commented on #1728
Probably going to be fixed by #1726

[2020-06-08 04:39] dai-shi commented on #1168
It would require a lot of coding and I don't feel like implementing it at the moment, but this is something possible with our current data structure.

![excalidraw-group-rotate-demo](https://user-images.githubusercontent.com/490574/83992798-787a0680-a98c-11ea-9444-65e51b5f51b7.gif)

(Animation created with [excalidraw-claymate](https://github.com/dai-shi/excalidraw-claymate).)

[2020-06-08 08:51] lipis commented on #1727
Duplicate of #1168

[2020-06-08 08:51] #1727 closed

[2020-06-08 08:53] lipis commented on #1721
The fact that we don't have avatars or initials it's OK.. I think once the list of participants will be visible, people will start editing their names.. For now we can just do colors and it's fine!

[2020-06-08 09:25] dwelle commented on #1728
Resize, yes. Rotation won't be.

[2020-06-08 09:25] #1218 closed

[2020-06-08 09:26] #1728 closed

[2020-06-08 16:25] pA1nD opened #1737 "Feature Request: Mindmap"
Problem
---
When I'm writing down my ideas in excalidraw as mindmap, each thought takes me quite a while to write: Write text, add circle around, make an arrow. This breaks my flow and I end up doing it on paper because I constantly loose my track of thoughts.

Solution request
---
Have a "MindMap" mode, where from every node I can add a next node that is connected via arrow and has a text and a c

[2020-06-08 18:29] petehunt commented on #1091
I have a working prototype of this locally, but I'm not happy about the UX I came up with.

Here's a sketch of how it currently works. Definitely looking for feedback on how it could be better.

https://excalidraw.com/#json=4859963037974528,ZVR_UO8h1E-fRBM2wGX19g

[2020-06-08 18:35] dwelle commented on #1091
I think the popup menu should open to the right, similar to our shape-properties menu that opens to the left. This way, you can keep it open while you arrange/modify the components you drop on the canvas.

For the same reason, it might also be a good idea not to make the asset into another tool, so that you can keep the menu open for a longer period of time (that is, if your prototype currently wo

[2020-06-08 18:47] petehunt opened #1738 "Group / ungroup should not always be present in the context menu"
* Group should only show up when multiple elements are selected
* Ungroup should only show up when a group is selected

[2020-06-08 19:01] ryanmr opened #1739 "Error with export"
### Scene content

[code]

### Sentry Error ID

dfe8a578b82e4358a92ca5123a72732b

### Other notes

* this happened when opening the export dialog
* originally it was with a drawing with many more elements / with private data, but this is the stripped down version and the error persists (sometimes? see below)
* I was able to save as .excalidraw file and then reimport it, and it would let me export

[2020-06-08 22:55] Terkwood commented on #1087
Reprodiced. Firefox 68.8.1. Android 10.

[2020-06-09 05:59] saranshbarua commented on #1675
Closing this since it is fixed in #1711

[2020-06-09 05:59] #1675 closed

[2020-06-09 08:44] aberba opened #1740 "Text box expansion"
When entering a text, the text box should only expand to the right... respecting the original x,y position. This feels natural. Similar behavior is implemented in other products.

[2020-06-09 09:41] dwelle commented on #1740
Tracked in https://github.com/excalidraw/excalidraw/issues/1326 & https://github.com/excalidraw/excalidraw/issues/1327.

I'll take it on when my time clears up.

[2020-06-09 09:41] #1740 closed

[2020-06-09 09:57] dwelle commented on #1739
Ok, I know what this is and will push a fix shortly.

[2020-06-09 11:16] lusingander opened #1742 "Can’t undo when duplicate editing line"
When I duplicate the editing line, I could not be able to undo it.

![200609](https://user-images.githubusercontent.com/31386431/84140636-e3ab0200-aa8c-11ea-89a4-bc79e233de41.gif)

If I try to undo, it seems to blink for a second.

[2020-06-09 11:36] TeddyDD opened #1743 "Non breaking space in text breaks SVG output"
&nbsp produces broken SVG.

Example output from svg validator:

[code]

[2020-06-09 15:36] #1739 closed

[2020-06-10 01:29] sg1705 commented on #1721
I'd love to contribute by building this feature; at least the first part, which is to show user avatars with colored icons.

I looked at the contributing guidelines and saw that only an issue needs to be open.

Any advice on the process of contributing such a feature. Just send pull requests or should I share beforehand how I am planning to implement first?

[2020-06-10 04:27] #1087 closed

[2020-06-10 08:28] oliverbenns commented on #1721
I just started on this work @sg1705 - literally only a few hours before your comment! I was going to get something up over the next couple of days, at least as a draft for us to review (especially design)

[2020-06-10 10:23] medoer opened #1744 "If you can support the Chinese hand-drawn like font ?"
If you can support the Chinese hand-drawn like font ?

[2020-06-10 11:49] lipis commented on #1721
@sg1705 There are plenty of open issues if you would like to contribute with something else.. That was kind of a bit unusual and unlucky.. it's good that you asked :D

[2020-06-10 14:45] MGHonor opened #1746 "Great Work! Starting Canvas?"
Hello,

first i appreciate the work and adore using it. Thanks for that!
I would like to know, if there is a possibility to set up some kind of starting canvas.
Like some example texts and shapes which appear with the scene.

Thanks

[2020-06-11 10:43] MGHonor commented on #1746
Great Idea!
I launched Excalidraw in my Cloud but there the shareable link wouldnt work (firefox and chrome). Would you have a solution for that?

[2020-06-11 11:01] dwelle commented on #1746
You mean you've self-hosted Excalidraw, which means the sharelink doesn't work because the domain isn't whitelisted?

Mhm, then you're right that #1090 is the only option at this point (loading the example scene from a JSON file isn't really an option I'd say). Unless you want to roll out your own backend for link sharing (which you'll need to do eventually if you want that functionality on self-h

[2020-06-11 11:17] MGHonor commented on #1746
Exactly.
To be honest i dont have much experience related to programming and everything.. but the white list could be the problem. At the moment everything seems working, even the collaboration link which will be generated correctly.

[2020-06-11 11:22] dwelle commented on #1746
On our backend server, we're only whitelisting our own domains + localhosts, so sharelink (and collaboration AFAIK) won't work on self-hosted instances.

[2020-06-11 16:52] eggei opened #1750 "Saving the session saves the file without the extension"
Steps to reproduce:
1. Draw something
2. Save it to your local disk
3. Observe the saved file is without extension (.json)
4. Try to load the file in Excalidraw (It wont, because it doesn't see the file extension)

Browser: Chrome 83.0.4103.97

[2020-06-11 16:59] lipis commented on #1750
Can confirm.. (the extension should be `.excalidraw`)

[2020-06-11 18:58] dwelle commented on #1750
Duplicate of https://github.com/excalidraw/excalidraw/issues/1750 --- I assume we're talking about the new FS API since you're on CH 83. That said, I thought this bug was resolved in recent PR. I'm getting lost in the FS issues lately :).

[2020-06-11 18:58] #1750 closed

[2020-06-11 21:01] eggei commented on #1750
Thanks for the response!

[2020-06-11 23:43] sbng opened #1751 "self host instance: How to check version or release?"
I am running a self host instance of excalidraw. I do regular pull to make the docker image and subsequently deploy it in my cloud. Is there a knob that I verify or check the version of excalidraw that I am currently deploying?

[2020-06-12 00:53] sg1705 commented on #1721
Thanks @lipis . Is there any issue that you think I can pick that would be good for someone just starting out in this project.

[2020-06-12 05:17] pA1nD commented on #1091
A easier way to handle component imports would be amazing.

I see this feature has two aspects which would make it useful:
1) Allow the community to create and share polished templates (probably there would be a page or multiple with excalidraw components very soon) e.g. there is https://tailwindcomponents.com/ and https://www.tailwindtoolbox.com/ for community made resources for tailwindcss.

Mir

[2020-06-12 06:11] pA1nD commented on #1542
I believe an excalidraw component would be incredible useful but also very tricky to realize.
We're completely hooked with exclidraw and are using it all over the place so we are looking currently into using it in a number of tools. I'm trying to outline it here one use case:

### Internal Project Management Tool
We have an internal project management tool where we track projects and work on issue

[2020-06-12 06:29] ad1992 commented on #1542
@pA1nD I am working on exporting it as a component [here](https://github.com/excalidraw/excalidraw-embed). There are some pending things left and then will release the first version of it very soon. Then we can discuss what more features can be added to it.

[2020-06-12 06:47] pA1nD commented on #1542
A little offtopic, but we are currently in the very early stage of creating an open source (video) call tool (WebRTC based). The same interface as above would make sense... and it would work perfectly together.

I imagine a chat would also work in a similar fashion.
I am wondering if there are more tools that follow such a API design - and / or if that is an emerging pattern.

[2020-06-12 07:03] ad1992 commented on #1542
You will have to import the `excalidraw.min.css` file in your component itself for styling.
it will be scoped so won't affect anything outside excalidraw app.

Does that answer your question?

[2020-06-12 07:21] dai-shi commented on #1091
For @pA1nD and someone interested, I made an experimental external tool for this purpose in mind (but not yet really usable for this purpose).
Repo: https://github.com/dai-shi/excalidraw-gallery
Tool: https://dai-shi.github.io/excalidraw-gallery/
How to use: https://twitter.com/dai_shi/status/1266309261316943873

[2020-06-12 11:03] oliverbenns commented on #1751
You can get the version from `build/version.json`. However this seems to be just be time-based on the build and not semver.
See: https://github.com/excalidraw/excalidraw/blob/master/scripts/build-version.js#L30

[2020-06-12 13:19] andreadellacorte commented on #1026
+1 on this - I (clumsily) lost a file while trying the sharing function. This feature might take inspirations from apps https://stackedit.io/app# and https://dillinger.io/ - I might try my hand at it.

[2020-06-12 13:26] dwelle commented on #1751
tangentially related: https://github.com/excalidraw/excalidraw/issues/1665

[2020-06-12 16:35] #1668 closed

[2020-06-12 16:57] sparkingdark commented on #1742
Can i work on it? @dwelle

[2020-06-12 18:15] dwelle commented on #1742
I actually looked at it the day this issue was filed but I've hit some react state problems, apart from the fact that our history workflow doesn't account for for cases like this.

Don't have time to explain, but will write up notes tomorrow.

[2020-06-13 13:30] franky47 commented on #1537
Not if you are using one in private browsing, that's usually how I open Excalidraw links to avoid erasing my local sketch.

Having the option to copy/paste from other sketches would open lots of interesting use-cases. I use Excalidraw to do UI mockups, this feature could let me copy/paste my [mobile frames](https://francoisbest.com/posts/2020/mobile-device-frames-for-excalidraw) and other UI eleme

[2020-06-13 14:16] dwelle commented on #1537
@franky47 That's a good use case I wasn't even aware of. Either way, as per https://github.com/excalidraw/excalidraw/issues/859, supporting this is indeed under consideration. I'll investigate when I get some time.

[2020-06-14 10:58] kvasimon opened #1754 "Add Norwegian Nynorsk (nn-NO) translation"
Hi! I finished adding it through the JSON files before reading the readme (🤦), so I'm now opening an issue instead:

I would like to translate Excalidraw into Norwegian Nynorsk (`nn-NO`) 😄

In addition, the current locale code for Norwegian Bokmål is incorrect. It should be `nb-NO`, not `no-NO` which it currently is.

[2020-06-14 11:08] kvasimon commented on #1754
So to add, the languages should be called "Norsk bokmål" and "Norsk nynorsk", just like this.

[2020-06-14 11:35] dwelle commented on #1754
Without digging deep, it seems that Nynorsk accounts roughly for 12% of 5.32 million Norwegian speakers. It's also not clear whether all of those 12% can also fluently speak Bokmål. If so, do you feel it necessary to add the Nynorsk dialect?

I've looked at our analytics, and while there are 30 total `nb-NO`, we've had zero visits from `nn-NO`.

[2020-06-14 11:48] dwelle commented on #1754
As  for the `no-NO` code. Not sure where we got that from. It seems i18next [uses the correct code](https://github.com/i18next/i18next/issues/1321#issuecomment-529827782). @lipis can we change that? How does it tie into Crowdin?

[2020-06-14 13:09] kvasimon commented on #1754
@dwelle Nynorsk is a language, just like Bokmål, not a dialect :)

Norwegians also have virtually no problems with Danish or Swedish (or English for that matter), which could easily be an argument for not having Norwegian at all – but I think we should.

Regarding the analytics, many computers also come with Bokmål preinstalled even though users prefer Nynorsk. And I've visited using `nn-NO`, so t

[2020-06-14 13:46] kvasimon commented on #1754
I've got the necessary changes running in a fork that I'd be happy to open a PR for too :)

[2020-06-14 20:52] j-f1 commented on #1655
Duplicate of #157

[2020-06-14 20:52] #1655 closed

[2020-06-15 01:21] cszwdy opened #1755 "Please adding hand-write CJK fonts."
Excalidraw is awesome and may be can add default hand-write CJK fonts?  such as HanZiPen: https://hk.maisfontes.com/hanzipen-sc-regular and Chihaya Jun: https://www.freejapanesefont.com/chihaya-jun-download/

[2020-06-15 13:48] danvenn commented on #1599
@dwelle What was the reasoning behind having things revert to the select tool?
I think that might be a superfluous feature - standard UX for basically every drawing tool is to remain on the tool you select. Running counter to norms can be frustrating to users. Personally, it immediately put me off using the app.

[2020-06-15 14:14] zicklag opened #1764 "Is getexcalidraw/excalidraw on DockerHub Your Official Builds?"
Hey there, I found `getexcalidraw/excalidraw` on DockerHub and I was curious whether those were your guys's official builds or whether it was just somebody random hosting them. The build's aren't automated on DockerHub so I can't verify which repo they came from and I wanted to make sure I knew who I was pulling the containers from.

[2020-06-15 14:32] dwelle commented on #1764
/cc @kbariotis

[2020-06-15 14:36] dwelle commented on #1764
Apparently yes: https://github.com/excalidraw/excalidraw/blob/master/.github/workflows/publish-docker.yml#L18

But I haven't worked with DockerHub, so best wait for @kbariotis to confirm

[2020-06-15 14:44] dwelle commented on #1764
@kbariotis: if we renamed the docker org to `getexcalidraw`, we should update readme to reflect that. (I haven't followed the PRs, so forgive me if it was already discussed.)

[2020-06-15 14:53] ericsampson commented on #1189
This would be killer!

[2020-06-15 15:04] kbariotis commented on #1764
Oh I was not aware that we had that in the README, I thought we haven't announced it yet.

@zicklag we are stuck with Docker registry as we are trying to get the `excalidraw` organization name back. I wouldn't use that image yet in case we rename it. We should be ready very shortly though and I will let you know on this issue. :)

@dwelle I will remove that from the readme.

[2020-06-15 15:08] zicklag commented on #1764
Thanks for the prompt response! :)

I'll stay tuned. :+1:

[2020-06-15 15:14] jose-donato opened #1765 "Suggestion - e2e encryption icon"
Use some icon more illustrative of encryption. I feel like the one use right now does not suggest "encryption".

Codesandbox link: https://codesandbox.io/s/excalidraw-encrypted-icon-ev87e
Before:
![image](https://user-images.githubusercontent.com/43375532/84674437-d1b0df80-af22-11ea-9b48-4a930bc5d3e5.png)

After (only a suggestion):
![image](https://user-images.githubusercontent.com/43375532/84674

[2020-06-15 15:51] GeorgeNance opened #1767 "Allow Rotation by hover near corner"
The best example I can think of is Figma. If you hover near a corner (but not directly on it), it will let you rotate the image.

[2020-06-15 17:37] tim-krieger opened #1768 "Prevent connection to google / amazon"
We have installed excalidraw on our server via docker. Nethertheless I can see that a connection to google (googletagmanager) and amazon (amazonaws.com) is established. Is there a possibility to prevent this behaviour for privacy reasons?

[2020-06-15 17:41] MehediH commented on #887
@j-f1 Hey! please check out #1769, let me know what you think! I ended up not using Pressure.js, and added basic support instead so it at least triggers the context menu on long-press on iPhones. The context menu also seems to be resulting in the satisfying haptic feedback you get w/ Taptic Engine on the modern iPhones.

[2020-06-15 17:52] dwelle commented on #1768
Indeed I don't think we should bundle our analytics in the docker image.

As for the amazon thing, that's a new thing for me. I checked the codebase, and lo and behold, we're pulling an icon image from amazon :man_facepalming:

https://github.com/excalidraw/excalidraw/blob/60973f6dc5a3d9c9090fb493a126223e6e60d2c0/src/css/styles.scss#L371

[2020-06-15 17:56] dwelle commented on #1767
Not sure if we're gonna support this any time soon. In the meantime, you can rotate via the circle (unclear from the issue if you are aware of this or not):

![image](https://user-images.githubusercontent.com/5153846/84690116-447d8300-af42-11ea-8a59-51b4bcea40e7.png)

[2020-06-15 18:01] kbariotis commented on #1768
Definitely, it's an absolutely reasonable request. I will see if I can remove the script completely when built inside the Docker image and moving forward we will assume that the Docker image will only be used for self-hosting, since `excalidraw.com` is deployed on Now.

[2020-06-15 18:03] vjeux commented on #1599
@danvenn if you look at Keynote, you are by default in the selection mode and then need to select a shape for drawing it, very similar to excalidraw.

Not saying it's the best but that's the rationale behind excalidraw's behavior.

[2020-06-15 19:41] coreysimons opened #1770 "Text align not behaving as expected"
Text position behaves the same regardless of the alignment chosen.

This recording is from Excalidraw
![text-align](https://user-images.githubusercontent.com/28794556/84698547-d070ba00-af04-11ea-800e-d10a97c72487.gif)

 The following recording is how I expect the text position to behave. This recording is from Sketch.
![text-align-sketch](https://user-images.githubusercontent.com/28794556/84698811

[2020-06-15 19:43] vjeux commented on #1770
Right now the alignment only works for multiline. The behavior you described is the expected one for excalidraw but no one actually implemented yet. If you would like to, that would be highly impactful!

[2020-06-15 19:49] coreysimons commented on #1770
Thanks for the speedy reply. I am new to excalidraw after a colleague recently recommended it. It has quickly become my go-to tool for quick diagramming. I am impressed with so much of the UX and interface decisions. Big thank you and respect to everyone involved.

This text behavior is the only thing so far that I have come across that is causing me issues.

I work on the design side so sadly I c

[2020-06-15 19:52] dwelle commented on #1770
Duplicate of https://github.com/excalidraw/excalidraw/issues/1326 & https://github.com/excalidraw/excalidraw/issues/1327 unless I misunderstand.

Will fix this when I'm available.

[2020-06-15 19:52] #1770 closed

[2020-06-15 19:59] dwelle commented on #1755
https://hk.maisfontes.com/hanzipen-sc-regular is only for personal use. https://www.freejapanesefont.com/chihaya-jun-download/ is a Japanese font. If you can find a suitable font for Chinese characters and post it in https://github.com/excalidraw/excalidraw/issues/1290, that would be great.

Closing as duplicate of https://github.com/excalidraw/excalidraw/issues/1290

[2020-06-15 19:59] #1755 closed

[2020-06-15 19:59] dwelle commented on #1744
duplicate of https://github.com/excalidraw/excalidraw/issues/1290

[2020-06-15 19:59] #1744 closed

[2020-06-15 22:21] kbariotis opened #1772 "Self hosting Excalidraw - Umbrella issue"
So I'm opening the self-hosting thread.

## Current architecture
First an architecture overview. Excalidraw is made of three main parts at the moment.

- The client, what you see when you visit `excalidraw.com` which is this repo
- The sockets server, which powers the collaboration feature, [it's this repo](https://github.com/excalidraw/excalidraw-room), a Node.js server running `socket.io`
- The

[2020-06-15 22:30] kbariotis commented on #1772
Worth mentioning that atm:

- socket server [allows all domains](http://localhost:3000/#json=6323886937341952,otHeakoayx2yp5AEqxQ-6w)
- storing server has an [allowlist of domains](https://github.com/excalidraw/excalidraw-json/blob/master/main/main.py#L36)

[2020-06-16 05:12] sparkingdark commented on #1742
Ok

[2020-06-16 11:49] dwelle opened #1773 "History updating race conditions"
1. Right now, if we resume recording via `history.resumeRecording()` via an update scheduled from `componentDidUpdate` (or an update that is scheduled for next event loop frame), the previous update will reset that flag (and if that update wasn't meant to be persisted to history, it will be instead of the intended one).

2. Also, due to update batching, when we schedule two updates --- one that's

[2020-06-16 11:59] dwelle commented on #1742
Sorry for not-tomorrow-reply.

First, to describe the problem at hand. When you duplicate while editing a line, it does:

1. call `duplicateSelection` action. This duplicates the element, selects it, and creates a new history entry (let's call it `N+1`) which still tracks previous element as being edited.
2. In the ensuing `componentDidUpdate` it checks whether the currently-editing-line (`state.e

[2020-06-16 12:56] cdcharlebois opened #1775 "As a user with a shared Excalidraw room, it would be great to see the names of the others who are currently in the room, so that I can keep tabs on who's viewing my content"
Hello,

First, I love this tool! I've been giving a workshop where one of the activities is to wireframe a nwe application, and I asked all participants to use this tool after seeing it on HN yesterday morning. The feedback from the participants was great! Super easy to use, way more powerful than it might first appear, and secure handling of the drawn contents. Thank you for creating this!

One r

[2020-06-16 13:54] sparkingdark commented on #1742
Is it possible to split the actions in functions and call them when required ?
As you said it done the work in n+2 after finishing goes to n+1.

[2020-06-16 18:37] Ahmed-Ali opened #1778 "Mouse cursor on tablets and touch devices"
I noticed that touch devices still show mouse cursor.
It would be better if we tweak the UX for touch devices to feel more native

[2020-06-16 18:39] vjeux commented on #1778
Agreed, we should likely use a semi transparent filled circle instead of the arrow. Should be easy, we just need to send the fact that it's a touch event in the network.

[2020-06-16 19:12] courtedwar1 opened #1779 "Unable to select other collaborator's drawings"
### Scene content

[code]

### Sentry Error ID

35e6a30851604274abf5165cfba24e4a

[2020-06-16 19:30] dwelle commented on #1779
This is functionally identical to https://github.com/excalidraw/excalidraw/issues/1710 --- right now we don't know the true cause, thus don't know how to fix :(

[2020-06-16 19:30] dwelle commented on #1710
Note: sentry id `35e6a30851604274abf5165cfba24e4a` is the same issue

[2020-06-16 19:31] #1779 closed

[2020-06-16 19:41] dwelle commented on #1779
To elaborate, current hypothesis is the remote client is running on older version of Excalidraw for some reason.

If you can still reproduce this error, you can help us in determining if our hypothesis is correct by asking your collaborators whether they have the following feature: grouping. To find that out, try selecting a few elements and right-click on them. If the conxteMenu contains `group s

[2020-06-16 19:44] dwelle commented on #1710
@HaSa1002 I forgot to get back to you. The solution you describe, Shift-F5 suggests our hypothesis was correct and one of the clients was running on old version.

[2020-06-16 20:11] HaSa1002 commented on #1710
I guess it got somehow reloaded on his side. I don't remember if I told him to hard reload.

[2020-06-17 14:44] tommywalkie commented on #1261
Hello there, I'm currently trying to implement it in the following repo : [`tommywalkie/excalidraw-cli`](https://github.com/tommywalkie/excalidraw-cli).
A lot of CLI key features / refactoring / testing are still _work-in-progress_ but it already works for directories with `*.excalidraw` files.
#### Early concept demo
![demo](https://raw.githubusercontent.com/tommywalkie/excalidraw-cli/master/.git

[2020-06-17 15:19] tommywalkie opened #1780 "Export drawElementOnCanvas() renderer method"
Hi, I would like to thank you for this amazing tool ! ❤️

As mentionned in https://github.com/excalidraw/excalidraw/issues/1261, I'm looking for some _not-exported-yet_ Excalidraw renderer methods and constants for an experimental Excalidraw CLI project.

_At first glance_, [`drawElementOnCanvas()`](https://github.com/excalidraw/excalidraw/blob/046c0818c5b39b78c70646b5f9a1c28f31787694/src/renderer

[2020-06-17 16:56] j-f1 commented on #1261
Awesome @tommywalkie! When you feel like it’s more polished, would you be willing to perhaps collab with @MichaelDeBoey to use it for `gatsby-remark-embedder`? PR here: https://github.com/MichaelDeBoey/gatsby-remark-embedder/pull/122

[2020-06-17 17:12] tommywalkie commented on #1261
Hi @MichaelDeBoey @j-f1, thanks for your response, I would be glad to collab once I polished the CLI. Initially, I was planning to make it work for Rollup (for a Sapper/Svelte blog) but implementing it as a Gatsby plugin would be awesome!

[2020-06-17 20:12] kvasimon commented on #1754
Any updates to this? Not in a hurry, just making sure.

[2020-06-17 20:31] dwelle commented on #1742
Everything can be hacked in one way or another. Whether it's a good idea to add that complexity is another matter. Would rather do some more thinking and try to fix in a different way.

We also need to handle the related history issues I mentioned in the linked issue.

[2020-06-17 22:46] tommywalkie commented on #1261
For reference : the experimental `excalidraw-cli` is now available for testing on npm as [`@tommywalkie/excalidraw-cli`](https://www.npmjs.com/package/@tommywalkie/excalidraw-cli) (this is scoped with my username, so you can still opt for your own implementation, if needed)
[code]
#### Features :
- Process **file** as entry, export as PNG (defaults to `${cwd}/${inputFileName}.png` if `<OUTPUT>` is

[2020-06-18 04:22] daddydanny73 commented on #1764
Hi Krysta kay bitch thank u for everything Jenny is gonna be my wife in 3 wks

[2020-06-18 05:36] tusharf5 commented on #1582
This was happening because of a hardware issue on my macbook pro's display. Once I got it replaced it stopped.

[2020-06-18 05:36] #1582 closed

[2020-06-18 08:38] dwelle commented on #1582
Good it was resolved!

[2020-06-18 09:51] kbariotis commented on #1764
Official Docker image @zicklag https://hub.docker.com/r/excalidraw/excalidraw. Try it out and let us know of any feedback. :)

[2020-06-18 09:51] #1764 closed

[2020-06-18 11:35] kbariotis commented on #1768
Thank you @tim-krieger ! We've removed both Google analytics and Sentry from our Docker container. AWS asset is left now.

[2020-06-18 11:40] kbariotis commented on #1751
@sbng we include a tag with GIT SHA of the deployed commit on the Docker image, unfortunately that's the only thing we have now.

[2020-06-18 11:42] kbariotis commented on #1665
@dwelle @petehunt  Sentry is already reporting the SHA where the issue was first introduced. :)

![image](https://user-images.githubusercontent.com/605742/85016151-0d38ed00-b161-11ea-9cf4-faafbe64643b.png)

[2020-06-18 14:20] zicklag commented on #1764
Awesome thanks!

[2020-06-18 15:14] pA1nD commented on #1542
Yes! That's perfect.

[2020-06-18 15:34] ad1992 commented on #1542
@pA1nD and everyone interested, you can try out https://github.com/excalidraw/excalidraw-embed :)

[2020-06-18 17:47] tim-krieger commented on #1768
Thank you!

[2020-06-18 17:47] #1768 closed

[2020-06-18 18:30] pA1nD commented on #1542
@ad1992 Awesome! Tested it out and it looks great :)

2 Questions:

1) It's currently using the excalidraw backend. Are there plans / is there already work going on to release a server package as well?
2) I think it would be awesome to have additional config options (think hide / show / overwrite buttons. E.g. the save button.) and `editable={false}`.

[2020-06-18 19:51] ad1992 commented on #1542
@pA1nD there is currently no working going on this. If I understand it right you want callback for events like `client-broadcast`, `first-in-room` ?
Could you explain more o how exposing the server would help?

Do you mind creating two separate issues for `options` like hide/show buttons and `editable` in
 https://github.com/excalidraw/excalidraw-embed ? And we can discuss the use case there then.